<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH6-F3-fedcat</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH6-F3-fedcat</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0375c94cc8554a5b915d513e09e0b75b.png" alt="doc1-CH6-F3-fedcat" usemap="#id-0375c94cc8554a5b915d513e09e0b75bmap"/>
			   <map name="id-0375c94cc8554a5b915d513e09e0b75bmap">
				          <area shape="rect" coords="884,10,917,42" href="../objects/id-bc382a738a634bb1bf1b741802aeaae8.html" target="element" >
				          <area shape="rect" coords="429,29,462,61" href="../objects/id-fb2c6667a73a4e108d07f9e452e55a59.html" target="element" >
				          <area shape="rect" coords="10,274,430,370" href="../objects/id-2345d0f2516b496ca6d0a8557955aae6.html" target="element" >
				  		        <area shape="rect" coords="22,187,55,219" href="../objects/id-d9b48650e16e4f5fbdc1e8abfedbad84.html" target="element" >
				  				<area shape="rect" coords="260,34,382,56" href="../elements/id-d4604f9ef55f427f8cb284c00425c09d.html"  target="element">
				  				<area shape="rect" coords="173,33,237,57" href="../elements/id-6a72f5c73c444578b83e9e85cce18bd7.html"  target="element">
				  				<area shape="rect" coords="276,130,377,152" href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html"  target="element">
				  				<area shape="rect" coords="172,129,256,153" href="../elements/id-d6e21f52c062498dac867b93da3e4271.html"  target="element">
				  				<area shape="rect" coords="22,34,139,56" href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html"  target="element">
				  				<area shape="rect" coords="276,166,377,188" href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html"  target="element">
				  				<area shape="rect" coords="165,165,249,189" href="../elements/id-d6e21f52c062498dac867b93da3e4271.html"  target="element">
				  				<area shape="rect" coords="276,92,377,114" href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html"  target="element">
				  		        <area shape="rect" coords="352,190,389,228" href="../objects/id-89c032f106a940b38a0d6859e389b089.html" target="element" >
				  				<area shape="rect" coords="173,91,255,115" href="../elements/id-d6e21f52c062498dac867b93da3e4271.html"  target="element">
				  				<area shape="rect" coords="173,60,229,84" href="../elements/id-530c5273df1a4873a8a17255e69ed772.html"  target="element">
				  				<area shape="rect" coords="245,61,389,83" href="../elements/id-4f91b857e64a486d9e93368936a70837.html"  target="element">
				  		        <area shape="rect" coords="143,12,383,35" href="../objects/id-66c37c26826e43afbaecc31cf001070a.html" target="element" >

				          <area shape="rect" coords="10,10,405,229" href="../objects/id-bcec58745fcb416aa3fda6af452d0986.html" target="element" >
				  		        <area shape="rect" coords="840,392,877,430" href="../objects/id-8c360fda48df4102af6eb15c8b754e94.html" target="element" >
				  				<area shape="rect" coords="630,369,702,393" href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html"  target="element">
				  				<area shape="rect" coords="514,372,605,394" href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html"  target="element">
				  				<area shape="rect" coords="630,319,702,343" href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html"  target="element">
				  				<area shape="rect" coords="630,342,702,366" href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html"  target="element">
				  				<area shape="rect" coords="726,342,834,364" href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html"  target="element">
				  				<area shape="rect" coords="629,394,701,418" href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html"  target="element">
				  				<area shape="rect" coords="726,394,828,416" href="../elements/id-f3e60abbb01d467dbae36445127406b7.html"  target="element">
				  				<area shape="rect" coords="726,370,858,392" href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html"  target="element">
				  				<area shape="rect" coords="514,320,605,342" href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html"  target="element">
				  				<area shape="rect" coords="726,318,858,340" href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html"  target="element">
				  		        <area shape="rect" coords="623,300,863,323" href="../objects/id-b90b0a132003488ab65f6c39d6cae2cc.html" target="element" >

				          <area shape="rect" coords="490,298,885,430" href="../objects/id-d45791e49fd940fe8b95b29670c7b669.html" target="element" >
				  		        <area shape="rect" coords="840,248,877,286" href="../objects/id-70c3ca6a8bb0492d9587d06e21e92e65.html" target="element" >
				  				<area shape="rect" coords="630,225,702,249" href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html"  target="element">
				  				<area shape="rect" coords="514,228,605,250" href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html"  target="element">
				  				<area shape="rect" coords="630,175,702,199" href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html"  target="element">
				  				<area shape="rect" coords="630,198,702,222" href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html"  target="element">
				  				<area shape="rect" coords="726,198,834,220" href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html"  target="element">
				  				<area shape="rect" coords="629,250,701,274" href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html"  target="element">
				  				<area shape="rect" coords="726,250,834,272" href="../elements/id-f3e60abbb01d467dbae36445127406b7.html"  target="element">
				  				<area shape="rect" coords="726,226,858,248" href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html"  target="element">
				  				<area shape="rect" coords="514,176,605,198" href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html"  target="element">
				  				<area shape="rect" coords="726,174,858,196" href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html"  target="element">
				  		        <area shape="rect" coords="623,156,863,179" href="../objects/id-bb43f9c02b0a450da6da520de364449e.html" target="element" >

				          <area shape="rect" coords="490,154,885,286" href="../objects/id-4c224cbfd629478687d0a29d924086c4.html" target="element" >
				  		        <area shape="rect" coords="840,104,877,142" href="../objects/id-43ba1070093f4de0a10fd89d46c9417d.html" target="element" >
				  				<area shape="rect" coords="630,81,702,105" href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html"  target="element">
				  				<area shape="rect" coords="514,84,605,106" href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html"  target="element">
				  				<area shape="rect" coords="630,31,702,55" href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html"  target="element">
				  				<area shape="rect" coords="630,54,702,78" href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html"  target="element">
				  				<area shape="rect" coords="726,54,834,76" href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html"  target="element">
				  				<area shape="rect" coords="629,106,701,130" href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html"  target="element">
				  				<area shape="rect" coords="726,106,828,128" href="../elements/id-f3e60abbb01d467dbae36445127406b7.html"  target="element">
				  				<area shape="rect" coords="726,82,858,104" href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html"  target="element">
				  				<area shape="rect" coords="514,32,605,54" href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html"  target="element">
				  				<area shape="rect" coords="726,30,858,52" href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html"  target="element">
				  		        <area shape="rect" coords="623,12,863,35" href="../objects/id-1c9f03af8524453bb2288a435b306c6e.html" target="element" >

				          <area shape="rect" coords="490,10,885,142" href="../objects/id-f52d5e52c2fe4131a3e9160613a9e0e0.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f52d5e52c2fe4131a3e9160613a9e0e0.html" target="element"> License Catalog </a> </td>
									           <td> <a href="../objects/id-f52d5e52c2fe4131a3e9160613a9e0e0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-1c9f03af8524453bb2288a435b306c6e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1c9f03af8524453bb2288a435b306c6e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
													    <td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element"> "Permission Two" </a> </td>
													    <td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element"> "Permission One" </a> </td>
													    <td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
													    <td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-43ba1070093f4de0a10fd89d46c9417d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-43ba1070093f4de0a10fd89d46c9417d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-4c224cbfd629478687d0a29d924086c4.html" target="element"> License Catalog </a> </td>
									           <td> <a href="../objects/id-4c224cbfd629478687d0a29d924086c4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-bb43f9c02b0a450da6da520de364449e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bb43f9c02b0a450da6da520de364449e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
													    <td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element"> "Permission Two" </a> </td>
													    <td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element"> "Permission One" </a> </td>
													    <td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
													    <td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-70c3ca6a8bb0492d9587d06e21e92e65.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-70c3ca6a8bb0492d9587d06e21e92e65.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-d45791e49fd940fe8b95b29670c7b669.html" target="element"> License Catalog </a> </td>
									           <td> <a href="../objects/id-d45791e49fd940fe8b95b29670c7b669.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-b90b0a132003488ab65f6c39d6cae2cc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b90b0a132003488ab65f6c39d6cae2cc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
													    <td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
													    <td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element"> "Permission Two" </a> </td>
													    <td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element"> "Permission One" </a> </td>
													    <td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
													    <td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
													    <td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
													    <td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-8c360fda48df4102af6eb15c8b754e94.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8c360fda48df4102af6eb15c8b754e94.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-bcec58745fcb416aa3fda6af452d0986.html" target="element"> Federated Catalog </a> </td>
									           <td> <a href="../objects/id-bcec58745fcb416aa3fda6af452d0986.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-66c37c26826e43afbaecc31cf001070a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-66c37c26826e43afbaecc31cf001070a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4f91b857e64a486d9e93368936a70837.html" target="element"> "DoBiz Feferated Catalog" </a> </td>
													    <td> <a href="../elements/id-4f91b857e64a486d9e93368936a70837.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-530c5273df1a4873a8a17255e69ed772.html" target="element"> dct:title (copy) </a> </td>
													    <td> <a href="../elements/id-530c5273df1a4873a8a17255e69ed772.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
													    <td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-89c032f106a940b38a0d6859e389b089.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-89c032f106a940b38a0d6859e389b089.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element"> o1:CatalogOne </a> </td>
													    <td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
													    <td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element"> o1:CatalogOne </a> </td>
													    <td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html" target="element"> o:DoBizCatalog </a> </td>
													    <td> <a href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
													    <td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element"> o1:CatalogOne </a> </td>
													    <td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a72f5c73c444578b83e9e85cce18bd7.html" target="element"> rdf:type </a> </td>
													    <td> <a href="../elements/id-6a72f5c73c444578b83e9e85cce18bd7.html" target="element" class="i18n-elementtype-TechnologyProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d4604f9ef55f427f8cb284c00425c09d.html" target="element"> dcat:Catalog </a> </td>
													    <td> <a href="../elements/id-d4604f9ef55f427f8cb284c00425c09d.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-d9b48650e16e4f5fbdc1e8abfedbad84.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d9b48650e16e4f5fbdc1e8abfedbad84.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-2345d0f2516b496ca6d0a8557955aae6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2345d0f2516b496ca6d0a8557955aae6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fb2c6667a73a4e108d07f9e452e55a59.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fb2c6667a73a4e108d07f9e452e55a59.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bc382a738a634bb1bf1b741802aeaae8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bc382a738a634bb1bf1b741802aeaae8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312773c952c14085b59b1eb93e8254fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312773c952c14085b59b1eb93e8254fb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-063f43c5c1084d69b40df05ac649d12e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-063f43c5c1084d69b40df05ac649d12e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-440efba4a6b0480484b491da61591e21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-440efba4a6b0480484b491da61591e21.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																				<td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element"> "Permission Two" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eac6690a3e90413782de83cd9c6ba227.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eac6690a3e90413782de83cd9c6ba227.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																				<td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element"> "Permission One" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c61665876ab94c5e9bb8e169bdb54b88.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c61665876ab94c5e9bb8e169bdb54b88.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																				<td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6473ad7459b84f83be0229508ee134ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6473ad7459b84f83be0229508ee134ee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c0b37458884944969c4d9464aa18c884.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0b37458884944969c4d9464aa18c884.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-059e3cf7c18b41b7a7fbe2baa964f33d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-059e3cf7c18b41b7a7fbe2baa964f33d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																				<td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312773c952c14085b59b1eb93e8254fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312773c952c14085b59b1eb93e8254fb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-063f43c5c1084d69b40df05ac649d12e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-063f43c5c1084d69b40df05ac649d12e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-440efba4a6b0480484b491da61591e21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-440efba4a6b0480484b491da61591e21.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																				<td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element"> "Permission Two" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eac6690a3e90413782de83cd9c6ba227.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eac6690a3e90413782de83cd9c6ba227.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																				<td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element"> "Permission One" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c61665876ab94c5e9bb8e169bdb54b88.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c61665876ab94c5e9bb8e169bdb54b88.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																				<td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6473ad7459b84f83be0229508ee134ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6473ad7459b84f83be0229508ee134ee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c0b37458884944969c4d9464aa18c884.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0b37458884944969c4d9464aa18c884.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-059e3cf7c18b41b7a7fbe2baa964f33d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-059e3cf7c18b41b7a7fbe2baa964f33d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																				<td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312773c952c14085b59b1eb93e8254fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312773c952c14085b59b1eb93e8254fb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-063f43c5c1084d69b40df05ac649d12e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-063f43c5c1084d69b40df05ac649d12e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-876625506d0c414b9e2d2f28bfa2f5bc.html" target="element"> o:License1 </a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-440efba4a6b0480484b491da61591e21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-440efba4a6b0480484b491da61591e21.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																				<td> <a href="../elements/id-f3e60abbb01d467dbae36445127406b7.html" target="element"> "Permission Two" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eac6690a3e90413782de83cd9c6ba227.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eac6690a3e90413782de83cd9c6ba227.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																				<td> <a href="../elements/id-7ae4c8cb08a445369eb91ad7387170d9.html" target="element"> "Permission One" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c61665876ab94c5e9bb8e169bdb54b88.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c61665876ab94c5e9bb8e169bdb54b88.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																				<td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6473ad7459b84f83be0229508ee134ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6473ad7459b84f83be0229508ee134ee.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
																				<td> <a href="../elements/id-fe0127e151094ccb89222fefc537fa7c.html" target="element"> dct:title </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c0b37458884944969c4d9464aa18c884.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0b37458884944969c4d9464aa18c884.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-50f2deab1d334bcf988765fd6e48241c.html" target="element"> o:License2 </a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-059e3cf7c18b41b7a7fbe2baa964f33d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-059e3cf7c18b41b7a7fbe2baa964f33d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c229eecc4e564e208db4bcd6622afd43.html" target="element"> rdf:theme </a> </td>
																				<td> <a href="../elements/id-8e77750f2cc547f7aba3431cdb735e34.html" target="element"> dct:LicenseDocument </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-509df5d76c7849e89c81282e02ec62de.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-509df5d76c7849e89c81282e02ec62de.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-530c5273df1a4873a8a17255e69ed772.html" target="element"> dct:title (copy) </a> </td>
																				<td> <a href="../elements/id-4f91b857e64a486d9e93368936a70837.html" target="element"> "DoBiz Feferated Catalog" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-202975b70df04fb88931b8863adca71c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-202975b70df04fb88931b8863adca71c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
																				<td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element"> o1:CatalogOne </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-202975b70df04fb88931b8863adca71c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-202975b70df04fb88931b8863adca71c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
																				<td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element"> o1:CatalogOne </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c8478b81a8874daa9b2fc02352790497.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8478b81a8874daa9b2fc02352790497.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html" target="element"> o:DoBizCatalog </a> </td>
																				<td> <a href="../elements/id-6a72f5c73c444578b83e9e85cce18bd7.html" target="element"> rdf:type </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-14d8cf8691734d4c9b9770040f908e33.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14d8cf8691734d4c9b9770040f908e33.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html" target="element"> o:DoBizCatalog </a> </td>
																				<td> <a href="../elements/id-530c5273df1a4873a8a17255e69ed772.html" target="element"> dct:title (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e8c5d7beb187418196549f8e40738646.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e8c5d7beb187418196549f8e40738646.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html" target="element"> o:DoBizCatalog </a> </td>
																				<td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e8c5d7beb187418196549f8e40738646.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e8c5d7beb187418196549f8e40738646.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html" target="element"> o:DoBizCatalog </a> </td>
																				<td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e8c5d7beb187418196549f8e40738646.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e8c5d7beb187418196549f8e40738646.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-546b220ea9e0467aae94421f7d8a3f65.html" target="element"> o:DoBizCatalog </a> </td>
																				<td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-202975b70df04fb88931b8863adca71c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-202975b70df04fb88931b8863adca71c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d6e21f52c062498dac867b93da3e4271.html" target="element"> dcat:catalog </a> </td>
																				<td> <a href="../elements/id-cd1a3c53ada24239a7e38c0b3411d5e4.html" target="element"> o1:CatalogOne </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1cb6b1338d2e4f4984cb58d38c0b2e5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1cb6b1338d2e4f4984cb58d38c0b2e5a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6a72f5c73c444578b83e9e85cce18bd7.html" target="element"> rdf:type </a> </td>
																				<td> <a href="../elements/id-d4604f9ef55f427f8cb284c00425c09d.html" target="element"> dcat:Catalog </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>