<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH3-pic3-auto</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH3-pic3-auto</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-089a438625ce496ab9b97c120de8b0c4.png" alt="doc1-CH3-pic3-auto" usemap="#id-089a438625ce496ab9b97c120de8b0c4map"/>
			   <map name="id-089a438625ce496ab9b97c120de8b0c4map">
				          <area shape="rect" coords="238,442,271,474" href="../objects/id-4ef1486123d648159f7672c371447f06.html" target="element" >
				          <area shape="rect" coords="346,346,379,378" href="../objects/id-fd748317a4204cf3b7c4f79a39d054f9.html" target="element" >
				  		        <area shape="rect" coords="490,462,533,508" href="../objects/id-ad519d6d7a38457494e28172e1677531.html" target="element" >
				  				<area shape="rect" coords="405,460,480,509" href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html"  target="element">
				  				<area shape="rect" coords="301,460,389,509" href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html"  target="element">
				  				<area shape="rect" coords="464,430,533,450" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">

				  		<area shape="rect" coords="286,430,539,527" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				  				        <area shape="rect" coords="755,346,816,399" href="../objects/id-96b638586b9e4b43a17a349a051002af.html" target="element" >
				  				        <area shape="rect" coords="695,350,742,399" href="../objects/id-8a339d3cfc5c4956b19bf34c3ea48bde.html" target="element" >
				  				        <area shape="rect" coords="687,438,746,499" href="../objects/id-e73d9af18b214a749a0523548a41a7b7.html" target="element" >
				  						<area shape="rect" coords="754,475,815,499" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="753,400,819,424" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="686,400,752,424" href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html"  target="element">
				  				        <area shape="rect" coords="759,432,805,475" href="../objects/id-abbc6f24da064201bf77a67c7f949d81.html" target="element" >

				  				<area shape="rect" coords="677,327,825,509" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  				        <area shape="rect" coords="592,445,662,501" href="../objects/id-1e70e2e49ebe4de096c970ceb7a7980b.html" target="element" >

				  				<area shape="rect" coords="590,424,667,505" href="../elements/id-d31add076d09487b899b460185c2a7f3.html"  target="element">
				  				<area shape="rect" coords="591,376,668,419" href="../elements/id-5d300362def54c16874e73ad142f9939.html"  target="element">
				  				<area shape="rect" coords="592,328,668,371" href="../elements/id-2ac055142727495ca00381bb15e7c942.html"  target="element">

				  		<area shape="rect" coords="574,316,851,527" href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html"  target="element">
				  				        <area shape="rect" coords="33,462,103,509" href="../objects/id-f87dc238d4cb49889098e4642d39dd16.html" target="element" >

				  				<area shape="rect" coords="18,429,115,518" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="39,363,93,419" href="../objects/id-be68fc293d4344e5a8351063f4402fa6.html" target="element" >

				  				<area shape="rect" coords="20,337,112,423" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="147,363,201,419" href="../objects/id-67658ccac4d4486d9abe078f1250d379.html" target="element" >

				  				<area shape="rect" coords="126,337,220,423" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  				        <area shape="rect" coords="130,460,216,505" href="../objects/id-79af325772064598b25aea06e2226130.html" target="element" >

				  				<area shape="rect" coords="127,430,219,516" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">

				  		<area shape="rect" coords="10,326,232,528" href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html"  target="element">
				  				        <area shape="rect" coords="1181,42,1384,71" href="../objects/id-b9224a49da1d4b00a31ea49c6dd9a012.html" target="element" >

				  				<area shape="rect" coords="889,39,1116,88" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  				<area shape="rect" coords="889,94,1116,143" href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html"  target="element">
				  				        <area shape="rect" coords="888,267,958,323" href="../objects/id-00dfc183f132491f89256fe9f4db5bd3.html" target="element" >

				  				<area shape="rect" coords="886,246,963,327" href="../elements/id-d31add076d09487b899b460185c2a7f3.html"  target="element">
				  				<area shape="rect" coords="887,198,964,241" href="../elements/id-5d300362def54c16874e73ad142f9939.html"  target="element">
				  				<area shape="rect" coords="888,150,964,193" href="../elements/id-2ac055142727495ca00381bb15e7c942.html"  target="element">
				  				        <area shape="rect" coords="981,248,1044,320" href="../objects/id-c6176716334d48d991db2d6687d01355.html" target="element" >
				  						<area shape="rect" coords="1048,296,1109,320" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="1047,221,1113,245" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="980,221,1046,245" href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html"  target="element">
				  				        <area shape="rect" coords="1053,253,1099,296" href="../objects/id-65d922f26ff94095a5a3ea042d9852c9.html" target="element" >
				  				        <area shape="rect" coords="986,170,1033,219" href="../objects/id-1e6433844fdb429c8d1f17e8524b4c10.html" target="element" >
				  				        <area shape="rect" coords="1046,166,1107,219" href="../objects/id-b59365e1958c418d965260147a741276.html" target="element" >

				  				<area shape="rect" coords="971,148,1119,330" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">

				  		<area shape="rect" coords="874,10,1130,342" href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html"  target="element">
				  		        <area shape="rect" coords="838,202,871,234" href="../objects/id-2a9d4b2ce3b545e3a4d58a49a7a780b4.html" target="element" >
				  				        <area shape="rect" coords="313,38,516,67" href="../objects/id-5610d6cae4084f0b845c07125cc6295c.html" target="element" >
				  				        <area shape="rect" coords="541,69,602,125" href="../objects/id-6ec0eae1ec8647c0a0781ada4bd5ed1f.html" target="element" >
				  				        <area shape="rect" coords="637,69,698,125" href="../objects/id-85c98fe94cb94f17b9629cc0d058480f.html" target="element" >
				  				        <area shape="rect" coords="157,69,218,125" href="../objects/id-f0f9192cfe6942f196346238db6aa3b1.html" target="element" >
				  				        <area shape="rect" coords="730,126,791,155" href="../objects/id-dcdc8163f3ca4b12acbb814638dfdcc7.html" target="element" >
				  				        <area shape="rect" coords="149,126,238,155" href="../objects/id-0c7f0e7b77cf44e9a3acf2e6fd254f99.html" target="element" >
				  				        <area shape="rect" coords="244,126,333,155" href="../objects/id-af74c87dc6294dc0856ad30fcb546c4c.html" target="element" >
				  				        <area shape="rect" coords="438,126,527,155" href="../objects/id-c276c96f2b734116a7fb5d40d13e2da6.html" target="element" >
				  				        <area shape="rect" coords="619,126,723,155" href="../objects/id-3ab094bfecd14b6293b707b691c527d6.html" target="element" >
				  				        <area shape="rect" coords="357,69,418,125" href="../objects/id-cd904d8f0e5c4b69b3ddafc76b56fb96.html" target="element" >
				  				        <area shape="rect" coords="339,126,428,155" href="../objects/id-4884680e07754eeea3d333fc2cf2ca14.html" target="element" >
				  				        <area shape="rect" coords="457,69,518,125" href="../objects/id-178c72d7bce04d0eaf09674049f18d8d.html" target="element" >
				  				        <area shape="rect" coords="36,126,133,155" href="../objects/id-a705d914be814595897d7b2380fb88d3.html" target="element" >
				  				        <area shape="rect" coords="55,69,116,125" href="../objects/id-e236d4758f47448fb9d1472ab504d533.html" target="element" >
				  				        <area shape="rect" coords="260,69,321,125" href="../objects/id-ade12ffba5b84f0395e7ad7c9914be87.html" target="element" >
				  				        <area shape="rect" coords="733,69,794,125" href="../objects/id-cd6cf5d5f1c747a6ad8ee90ee3a7db0b.html" target="element" >
				  				        <area shape="rect" coords="534,126,614,155" href="../objects/id-6510ef444afa4398a5e421216f55a085.html" target="element" >

				  				<area shape="rect" coords="21,35,824,161" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  				        <area shape="rect" coords="543,211,604,275" href="../objects/id-ab23aca9b87247088e2b9dcdc4135fc9.html" target="element" >
				  				        <area shape="rect" coords="639,211,700,273" href="../objects/id-55ae0a12bfe545dfa2a054d2faf148d9.html" target="element" >
				  				        <area shape="rect" coords="159,211,220,274" href="../objects/id-ef11a95be2c64f7fa64f21346172c39b.html" target="element" >
				  				        <area shape="rect" coords="732,268,793,297" href="../objects/id-255c8e3c79564382b8c18e756e8ad738.html" target="element" >
				  				        <area shape="rect" coords="151,268,240,297" href="../objects/id-b58d5ad4bc4a4cd48c898df626321a32.html" target="element" >
				  				        <area shape="rect" coords="246,268,335,297" href="../objects/id-69796059626f494283de902b1c35f4df.html" target="element" >
				  				        <area shape="rect" coords="440,268,529,297" href="../objects/id-977018dbaf754882a2112cdeb2ac13c0.html" target="element" >
				  				        <area shape="rect" coords="621,268,725,297" href="../objects/id-59dec00bbdb94da7aba6113f61ce2610.html" target="element" >
				  				        <area shape="rect" coords="359,211,420,267" href="../objects/id-cddfa802dbfc451a8234611c5c1ef7d6.html" target="element" >
				  				        <area shape="rect" coords="341,268,430,297" href="../objects/id-351ca515592f4d01b5007bcfde819541.html" target="element" >
				  				        <area shape="rect" coords="459,211,520,267" href="../objects/id-b0e120a8ec86416b919c4b5115456b7b.html" target="element" >
				  				        <area shape="rect" coords="38,268,135,297" href="../objects/id-4e687b6f4e8d4f9189ca7e0d0421c72f.html" target="element" >
				  				        <area shape="rect" coords="57,211,118,267" href="../objects/id-094130cc8f7b4f25818e430b9d05bda0.html" target="element" >
				  				        <area shape="rect" coords="262,211,323,267" href="../objects/id-7c0285dc5fdc4a62a43e7239ce77db0f.html" target="element" >
				  				        <area shape="rect" coords="735,211,796,272" href="../objects/id-aa97fe386b4248e88973a4eadb50900a.html" target="element" >
				  				        <area shape="rect" coords="536,268,616,297" href="../objects/id-72a93fbf5481437e8cad92689a233995.html" target="element" >
				  				        <area shape="rect" coords="314,182,545,211" href="../objects/id-7a47ca43767e4bb0a6280908b532c8fe.html" target="element" >

				  				<area shape="rect" coords="20,180,823,301" href="../elements/id-95b6420343404cf2b5e6019114d46234.html"  target="element">

				  		<area shape="rect" coords="10,10,851,317" href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
													    <td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-7a47ca43767e4bb0a6280908b532c8fe.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7a47ca43767e4bb0a6280908b532c8fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-72a93fbf5481437e8cad92689a233995.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-72a93fbf5481437e8cad92689a233995.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-aa97fe386b4248e88973a4eadb50900a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-aa97fe386b4248e88973a4eadb50900a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7c0285dc5fdc4a62a43e7239ce77db0f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7c0285dc5fdc4a62a43e7239ce77db0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-094130cc8f7b4f25818e430b9d05bda0.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-094130cc8f7b4f25818e430b9d05bda0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-4e687b6f4e8d4f9189ca7e0d0421c72f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4e687b6f4e8d4f9189ca7e0d0421c72f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b0e120a8ec86416b919c4b5115456b7b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b0e120a8ec86416b919c4b5115456b7b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-351ca515592f4d01b5007bcfde819541.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-351ca515592f4d01b5007bcfde819541.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-cddfa802dbfc451a8234611c5c1ef7d6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cddfa802dbfc451a8234611c5c1ef7d6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-59dec00bbdb94da7aba6113f61ce2610.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-59dec00bbdb94da7aba6113f61ce2610.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-977018dbaf754882a2112cdeb2ac13c0.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-977018dbaf754882a2112cdeb2ac13c0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-69796059626f494283de902b1c35f4df.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-69796059626f494283de902b1c35f4df.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b58d5ad4bc4a4cd48c898df626321a32.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b58d5ad4bc4a4cd48c898df626321a32.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-255c8e3c79564382b8c18e756e8ad738.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-255c8e3c79564382b8c18e756e8ad738.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ef11a95be2c64f7fa64f21346172c39b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ef11a95be2c64f7fa64f21346172c39b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-55ae0a12bfe545dfa2a054d2faf148d9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-55ae0a12bfe545dfa2a054d2faf148d9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ab23aca9b87247088e2b9dcdc4135fc9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ab23aca9b87247088e2b9dcdc4135fc9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-6510ef444afa4398a5e421216f55a085.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6510ef444afa4398a5e421216f55a085.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-cd6cf5d5f1c747a6ad8ee90ee3a7db0b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cd6cf5d5f1c747a6ad8ee90ee3a7db0b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ade12ffba5b84f0395e7ad7c9914be87.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ade12ffba5b84f0395e7ad7c9914be87.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e236d4758f47448fb9d1472ab504d533.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e236d4758f47448fb9d1472ab504d533.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a705d914be814595897d7b2380fb88d3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a705d914be814595897d7b2380fb88d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-178c72d7bce04d0eaf09674049f18d8d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-178c72d7bce04d0eaf09674049f18d8d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-4884680e07754eeea3d333fc2cf2ca14.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4884680e07754eeea3d333fc2cf2ca14.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-cd904d8f0e5c4b69b3ddafc76b56fb96.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cd904d8f0e5c4b69b3ddafc76b56fb96.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-3ab094bfecd14b6293b707b691c527d6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3ab094bfecd14b6293b707b691c527d6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-c276c96f2b734116a7fb5d40d13e2da6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c276c96f2b734116a7fb5d40d13e2da6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-af74c87dc6294dc0856ad30fcb546c4c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-af74c87dc6294dc0856ad30fcb546c4c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0c7f0e7b77cf44e9a3acf2e6fd254f99.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0c7f0e7b77cf44e9a3acf2e6fd254f99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dcdc8163f3ca4b12acbb814638dfdcc7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dcdc8163f3ca4b12acbb814638dfdcc7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f0f9192cfe6942f196346238db6aa3b1.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f0f9192cfe6942f196346238db6aa3b1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-85c98fe94cb94f17b9629cc0d058480f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-85c98fe94cb94f17b9629cc0d058480f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-6ec0eae1ec8647c0a0781ada4bd5ed1f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6ec0eae1ec8647c0a0781ada4bd5ed1f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5610d6cae4084f0b845c07125cc6295c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5610d6cae4084f0b845c07125cc6295c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-2a9d4b2ce3b545e3a4d58a49a7a780b4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2a9d4b2ce3b545e3a4d58a49a7a780b4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-b59365e1958c418d965260147a741276.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b59365e1958c418d965260147a741276.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1e6433844fdb429c8d1f17e8524b4c10.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1e6433844fdb429c8d1f17e8524b4c10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-65d922f26ff94095a5a3ea042d9852c9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-65d922f26ff94095a5a3ea042d9852c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-c6176716334d48d991db2d6687d01355.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c6176716334d48d991db2d6687d01355.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-00dfc183f132491f89256fe9f4db5bd3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-00dfc183f132491f89256fe9f4db5bd3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; </a> </td>
													    <td> <a href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-b9224a49da1d4b00a31ea49c6dd9a012.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b9224a49da1d4b00a31ea49c6dd9a012.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-79af325772064598b25aea06e2226130.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-79af325772064598b25aea06e2226130.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-67658ccac4d4486d9abe078f1250d379.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-67658ccac4d4486d9abe078f1250d379.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-be68fc293d4344e5a8351063f4402fa6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-be68fc293d4344e5a8351063f4402fa6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-f87dc238d4cb49889098e4642d39dd16.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f87dc238d4cb49889098e4642d39dd16.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-1e70e2e49ebe4de096c970ceb7a7980b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1e70e2e49ebe4de096c970ceb7a7980b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-abbc6f24da064201bf77a67c7f949d81.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-abbc6f24da064201bf77a67c7f949d81.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-e73d9af18b214a749a0523548a41a7b7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e73d9af18b214a749a0523548a41a7b7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8a339d3cfc5c4956b19bf34c3ea48bde.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8a339d3cfc5c4956b19bf34c3ea48bde.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-96b638586b9e4b43a17a349a051002af.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-96b638586b9e4b43a17a349a051002af.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-ad519d6d7a38457494e28172e1677531.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ad519d6d7a38457494e28172e1677531.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-fd748317a4204cf3b7c4f79a39d054f9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fd748317a4204cf3b7c4f79a39d054f9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4ef1486123d648159f7672c371447f06.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4ef1486123d648159f7672c371447f06.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-297f4ab87256450cb6a2c6dee790bc87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-297f4ab87256450cb6a2c6dee790bc87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-24cd11d396074bb0bde31f36c546a525.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24cd11d396074bb0bde31f36c546a525.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e5b2b78b9a41460c8540daf191d7b333.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5b2b78b9a41460c8540daf191d7b333.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cd7f7feca2b840b897de792669475d36.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cd7f7feca2b840b897de792669475d36.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0a74e3f397b44fce8ceeaa328674d19f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a74e3f397b44fce8ceeaa328674d19f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/id-0fbb8442440d41f9bebe45050514ea8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fbb8442440d41f9bebe45050514ea8e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																			<tr>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fc5b68d822f34d29bd17b3337508c916.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc5b68d822f34d29bd17b3337508c916.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>