<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig04-ToBe2-xID-L2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig04-ToBe2-xID-L2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0ae301ab32d2407d92d980461c708682.png" alt="Fig04-ToBe2-xID-L2" usemap="#id-0ae301ab32d2407d92d980461c708682map"/>
			   <map name="id-0ae301ab32d2407d92d980461c708682map">
				          <area shape="rect" coords="410,536,443,568" href="../objects/id-f17206a421574d8082d46962e4756b7e.html" target="element" >
				          <area shape="rect" coords="482,284,515,316" href="../objects/id-ee280538cdc048a3817d6f6ba837ae3b.html" target="element" >
				          <area shape="rect" coords="206,200,239,232" href="../objects/id-ba84cd0e2b024fe9b6cf2a1dc1ef3054.html" target="element" >
				  		<area shape="rect" coords="160,307,280,428" href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html"  target="element">
				          <area shape="rect" coords="10,106,143,239" href="../objects/id-2691d18fc97a4bb2a35a6ea549b2e25e.html" target="element" >
				  		<area shape="rect" coords="304,190,399,287" href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html"  target="element">
				  		<area shape="rect" coords="79,586,197,719" href="../elements/id-6550a94cca9041209501940e08e6e9db.html"  target="element">
				  		<area shape="rect" coords="556,586,677,719" href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html"  target="element">
				  				<area shape="rect" coords="184,58,302,179" href="../elements/id-6c9865c1ba034590a98743c6edcd958a.html"  target="element">

				  		<area shape="rect" coords="172,10,389,191" href="../elements/id-1d5d1e565d0a47688a614d7a146c8169.html"  target="element">
				  				<area shape="rect" coords="400,574,521,695" href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html"  target="element">
				  				<area shape="rect" coords="256,574,377,695" href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html"  target="element">

				  		<area shape="rect" coords="232,550,533,707" href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html"  target="element">
				  		<area shape="rect" coords="604,316,699,419" href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html"  target="element">
				  		<area shape="rect" coords="496,178,591,275" href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html"  target="element">
				  		<area shape="rect" coords="904,70,1025,191" href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html"  target="element">
				  				<area shape="rect" coords="676,442,785,561" href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html"  target="element">

				  		<area shape="rect" coords="664,418,893,575" href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html"  target="element">
				  				<area shape="rect" coords="676,250,797,371" href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html"  target="element">

				  		<area shape="rect" coords="664,226,905,383" href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html"  target="element">
				  				<area shape="rect" coords="568,70,686,191" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">

				  		<area shape="rect" coords="556,34,785,203" href="../elements/id-76ec01fd324745999cf771f82d764fef.html"  target="element">
				  		<area shape="rect" coords="16,298,137,419" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">
				          <area shape="rect" coords="273,286,591,551" href="../objects/id-bbec1714e9634c8db0561ac1d32b6898.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-bbec1714e9634c8db0561ac1d32b6898.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bbec1714e9634c8db0561ac1d32b6898.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element"> Org type 1 </a> </td>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element"> Org type 2 </a> </td>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element"> Org type 3 </a> </td>
											    <td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
													    <td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element"> Other org </a> </td>
											    <td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1d5d1e565d0a47688a614d7a146c8169.html" target="element"> Digital ID </a> </td>
											    <td> <a href="../elements/id-1d5d1e565d0a47688a614d7a146c8169.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6c9865c1ba034590a98743c6edcd958a.html" target="element"> IdM system </a> </td>
													    <td> <a href="../elements/id-6c9865c1ba034590a98743c6edcd958a.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2691d18fc97a4bb2a35a6ea549b2e25e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2691d18fc97a4bb2a35a6ea549b2e25e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ba84cd0e2b024fe9b6cf2a1dc1ef3054.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ba84cd0e2b024fe9b6cf2a1dc1ef3054.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ee280538cdc048a3817d6f6ba837ae3b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ee280538cdc048a3817d6f6ba837ae3b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f17206a421574d8082d46962e4756b7e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f17206a421574d8082d46962e4756b7e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-14746e904bb94fea816593bd67106177.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14746e904bb94fea816593bd67106177.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
																		<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c5072897d2ac4ef59412397119e23a20.html" target="element"> connect </a> </td>
																				<td> <a href="../elements/id-c5072897d2ac4ef59412397119e23a20.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																				<td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element"> Other org </a> </td>
																			</tr>

											
											
																	<tr>
																		<td> <a href="../elements/id-197597e34e8d4220b5d6e36dcca77616.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-197597e34e8d4220b5d6e36dcca77616.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element"> Org type 3 </a> </td>
																		<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d88f1c44162a4d2890d4ef3790d1d8b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d88f1c44162a4d2890d4ef3790d1d8b0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																				<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
																		<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
																			</tr>

											
											
																	<tr>
																		<td> <a href="../elements/id-87699f49982247fe8e2f830602abb373.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-87699f49982247fe8e2f830602abb373.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-31146bdcf9814c46b216cd1a73d19043.html" target="element"> Authen </a> </td>
																		<td> <a href="../elements/id-31146bdcf9814c46b216cd1a73d19043.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																		<td> <a href="../elements/id-6c9865c1ba034590a98743c6edcd958a.html" target="element"> IdM system </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>