<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig05-ToBe3-xPay-L2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig05-ToBe3-xPay-L2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0825249b9db54566a9f025b4b230702f.png" alt="Fig05-ToBe3-xPay-L2" usemap="#id-0825249b9db54566a9f025b4b230702fmap"/>
			   <map name="id-0825249b9db54566a9f025b4b230702fmap">
				          <area shape="rect" coords="600,537,633,569" href="../objects/id-fda11a0df54d45d89f53356d94743c61.html" target="element" >
				          <area shape="rect" coords="502,286,535,318" href="../objects/id-fead925918634c5b8df20b56c3d40ef9.html" target="element" >
				          <area shape="rect" coords="226,202,259,234" href="../objects/id-59b969085aab472ab99db308162ca75f.html" target="element" >
				  		<area shape="rect" coords="184,262,304,383" href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html"  target="element">
				          <area shape="rect" coords="10,40,143,149" href="../objects/id-34bcbfa994bb4ed5840f82e9320c2d7f.html" target="element" >
				  		<area shape="rect" coords="76,556,194,677" href="../elements/id-6550a94cca9041209501940e08e6e9db.html"  target="element">
				  		<area shape="rect" coords="556,568,677,689" href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html"  target="element">
				  		<area shape="rect" coords="316,160,413,257" href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html"  target="element">
				  				<area shape="rect" coords="208,58,326,179" href="../elements/id-508fda9733204cc2adc9c7eeca45e3ca.html"  target="element">

				  		<area shape="rect" coords="196,10,413,191" href="../elements/id-4529869ed2a44443910f5715ac92fcb9.html"  target="element">
				  				<area shape="rect" coords="388,556,509,677" href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html"  target="element">
				  				<area shape="rect" coords="244,556,365,677" href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html"  target="element">

				  		<area shape="rect" coords="220,532,521,689" href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html"  target="element">
				  		<area shape="rect" coords="604,298,699,401" href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html"  target="element">
				  		<area shape="rect" coords="496,160,591,257" href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html"  target="element">
				  		<area shape="rect" coords="904,52,1025,173" href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html"  target="element">
				  				<area shape="rect" coords="676,424,785,543" href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html"  target="element">

				  		<area shape="rect" coords="664,400,893,557" href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html"  target="element">
				  				<area shape="rect" coords="676,232,797,353" href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html"  target="element">

				  		<area shape="rect" coords="664,208,905,365" href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html"  target="element">
				  				<area shape="rect" coords="568,52,686,173" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">

				  		<area shape="rect" coords="556,16,797,185" href="../elements/id-76ec01fd324745999cf771f82d764fef.html"  target="element">
				  		<area shape="rect" coords="16,262,137,383" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">
				          <area shape="rect" coords="287,244,605,509" href="../objects/id-9b35ff1be6f340ac9a7a81f3cd44185c.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-9b35ff1be6f340ac9a7a81f3cd44185c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9b35ff1be6f340ac9a7a81f3cd44185c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element"> Org type 1 </a> </td>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element"> Org type 2 </a> </td>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element"> Org type 3 </a> </td>
											    <td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
													    <td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element"> Other org </a> </td>
											    <td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4529869ed2a44443910f5715ac92fcb9.html" target="element"> Payment </a> </td>
											    <td> <a href="../elements/id-4529869ed2a44443910f5715ac92fcb9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-508fda9733204cc2adc9c7eeca45e3ca.html" target="element"> ePay system </a> </td>
													    <td> <a href="../elements/id-508fda9733204cc2adc9c7eeca45e3ca.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-34bcbfa994bb4ed5840f82e9320c2d7f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-34bcbfa994bb4ed5840f82e9320c2d7f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-59b969085aab472ab99db308162ca75f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-59b969085aab472ab99db308162ca75f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fead925918634c5b8df20b56c3d40ef9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fead925918634c5b8df20b56c3d40ef9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fda11a0df54d45d89f53356d94743c61.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fda11a0df54d45d89f53356d94743c61.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-14746e904bb94fea816593bd67106177.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14746e904bb94fea816593bd67106177.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
																		<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c5072897d2ac4ef59412397119e23a20.html" target="element"> connect </a> </td>
																				<td> <a href="../elements/id-c5072897d2ac4ef59412397119e23a20.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																				<td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element"> Other org </a> </td>
																			</tr>

											
											
																	<tr>
																		<td> <a href="../elements/id-197597e34e8d4220b5d6e36dcca77616.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-197597e34e8d4220b5d6e36dcca77616.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element"> Org type 3 </a> </td>
																		<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d88f1c44162a4d2890d4ef3790d1d8b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d88f1c44162a4d2890d4ef3790d1d8b0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																				<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
																		<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
																			</tr>

											
											
																	<tr>
																		<td> <a href="../elements/id-87699f49982247fe8e2f830602abb373.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-87699f49982247fe8e2f830602abb373.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-5bff2ad5532644648fc736c035d7a2ce.html" target="element"> Pay </a> </td>
																		<td> <a href="../elements/id-5bff2ad5532644648fc736c035d7a2ce.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																		<td> <a href="../elements/id-508fda9733204cc2adc9c7eeca45e3ca.html" target="element"> ePay system </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>