<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH4-pic2-auth</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH4-pic2-auth</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0627563affc840a6b3c4a34bc4209e33.png" alt="doc1-CH4-pic2-auth" usemap="#id-0627563affc840a6b3c4a34bc4209e33map"/>
			   <map name="id-0627563affc840a6b3c4a34bc4209e33map">
				          <area shape="rect" coords="262,166,295,198" href="../objects/id-42f8d9210ac7479abf7fee643b4daeeb.html" target="element" >
				  		        <area shape="rect" coords="314,41,357,87" href="../objects/id-2786154b684e40e2bd4b1cc121df1408.html" target="element" >
				  				<area shape="rect" coords="310,14,367,34" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">

				  		<area shape="rect" coords="286,10,627,93" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				  				<area shape="rect" coords="298,181,343,244" href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html"  target="element">
				  		        <area shape="rect" coords="403,184,461,241" href="../objects/id-3f748afd5fa1407a99211c3c390c646a.html" target="element" >
				  				<area shape="rect" coords="348,181,392,244" href="../elements/id-834234aab888451f91c4fa3d4087c5f5.html"  target="element">
				  				<area shape="rect" coords="298,249,455,343" href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html"  target="element">
				  		        <area shape="rect" coords="430,131,617,158" href="../objects/id-596756967fd449e684fc1150d8087ed8.html" target="element" >
				  				        <area shape="rect" coords="478,271,535,334" href="../objects/id-b3c65d46c1e24bd6881c41978beea694.html" target="element" >
				  						<area shape="rect" coords="544,314,605,338" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="541,230,607,254" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="474,230,540,254" href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html"  target="element">
				  				        <area shape="rect" coords="549,271,595,314" href="../objects/id-e0247e78cdc8442ea24f794838d26fdd.html" target="element" >
				  				        <area shape="rect" coords="480,179,527,228" href="../objects/id-1692170e304a4e4dac968eeb5165f4d9.html" target="element" >
				  				        <area shape="rect" coords="540,175,601,228" href="../objects/id-7b5f16da7676451e897165220eccc4bb.html" target="element" >

				  				<area shape="rect" coords="468,157,613,347" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  				<area shape="rect" coords="301,137,407,153" href="../elements/id-4c08992fe5f046c29b8a4a01bb2c086c.html"  target="element">

				  		<area shape="rect" coords="286,130,627,359" href="../elements/id-68bbb9051ad5414fa688d7de798d60f1.html"  target="element">
				  		        <area shape="rect" coords="189,130,222,162" href="../objects/id-db78d9515a874f6c806f9397acb613df.html" target="element" >
				  				        <area shape="rect" coords="149,192,203,248" href="../objects/id-1f6a0f53ab214d8796eb331bb6eb164c.html" target="element" >

				  				<area shape="rect" coords="130,166,222,252" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="36,283,97,339" href="../objects/id-7f824ca15c04491780d687d881f3b318.html" target="element" >

				  				<area shape="rect" coords="18,259,115,345" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="25,196,111,241" href="../objects/id-e0df1b17a3e84deb9c6dd71dd70954e3.html" target="element" >

				  				<area shape="rect" coords="22,166,114,252" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">
				  				<area shape="rect" coords="30,137,131,161" href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html"  target="element">

				  		<area shape="rect" coords="10,130,239,359" href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element"> &#3626;&#3656;&#3623;&#3609;&#3585;&#3621;&#3634;&#3591; </a> </td>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-e0df1b17a3e84deb9c6dd71dd70954e3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e0df1b17a3e84deb9c6dd71dd70954e3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-7f824ca15c04491780d687d881f3b318.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7f824ca15c04491780d687d881f3b318.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-1f6a0f53ab214d8796eb331bb6eb164c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1f6a0f53ab214d8796eb331bb6eb164c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-db78d9515a874f6c806f9397acb613df.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-db78d9515a874f6c806f9397acb613df.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-68bbb9051ad5414fa688d7de798d60f1.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-68bbb9051ad5414fa688d7de798d60f1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4c08992fe5f046c29b8a4a01bb2c086c.html" target="element"> Tier  2 </a> </td>
													    <td> <a href="../elements/id-4c08992fe5f046c29b8a4a01bb2c086c.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-7b5f16da7676451e897165220eccc4bb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7b5f16da7676451e897165220eccc4bb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1692170e304a4e4dac968eeb5165f4d9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1692170e304a4e4dac968eeb5165f4d9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e0247e78cdc8442ea24f794838d26fdd.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e0247e78cdc8442ea24f794838d26fdd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-b3c65d46c1e24bd6881c41978beea694.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b3c65d46c1e24bd6881c41978beea694.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-596756967fd449e684fc1150d8087ed8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-596756967fd449e684fc1150d8087ed8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-834234aab888451f91c4fa3d4087c5f5.html" target="element"> API  </a> </td>
													    <td> <a href="../elements/id-834234aab888451f91c4fa3d4087c5f5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-3f748afd5fa1407a99211c3c390c646a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3f748afd5fa1407a99211c3c390c646a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-2786154b684e40e2bd4b1cc121df1408.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2786154b684e40e2bd4b1cc121df1408.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-42f8d9210ac7479abf7fee643b4daeeb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-42f8d9210ac7479abf7fee643b4daeeb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-746a3b3119254d66bf951a2741ccd55c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-746a3b3119254d66bf951a2741ccd55c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																				<td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-78524598a3f54b28a3f003f885b91c8f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-78524598a3f54b28a3f003f885b91c8f.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																				<td> <a href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html" target="element"> Web </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-7cee350c682f4939afadabad8cd99e81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7cee350c682f4939afadabad8cd99e81.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html" target="element"> Web </a> </td>
																				<td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
																			</tr>

											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>