<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>dobiz2-2-gap-asis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>dobiz2-2-gap-asis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-06572da67ad3483f864e1b06e908dbea.png" alt="dobiz2-2-gap-asis" usemap="#id-06572da67ad3483f864e1b06e908dbeamap"/>
			   <map name="id-06572da67ad3483f864e1b06e908dbeamap">
				          <area shape="rect" coords="381,518,469,608" href="../objects/id-70d5c9c735f1454ab7630bcec801942a.html" target="element" >
				          <area shape="rect" coords="172,380,260,470" href="../objects/id-59ba74b7ee814512b95c4ab1f307efaf.html" target="element" >
				          <area shape="rect" coords="370,383,466,476" href="../objects/id-64fad20df0fa4e2692f963568dc4955e.html" target="element" >
				          <area shape="rect" coords="172,504,270,598" href="../objects/id-e766bcfd59764c15ba62cbe962f76269.html" target="element" >
				          <area shape="rect" coords="386,196,474,286" href="../objects/id-5af5a567203e44c4a0ad42ae193fbe40.html" target="element" >
				          <area shape="rect" coords="192,196,280,286" href="../objects/id-b2e42dd3aeb246d0819e616844d45360.html" target="element" >
				          <area shape="rect" coords="378,63,474,156" href="../objects/id-03f863550e014447a5f3ab050bcc5091.html" target="element" >
				          <area shape="rect" coords="185,65,283,159" href="../objects/id-f68d9a74b5024eaa903df92fb071c424.html" target="element" >
				          <area shape="rect" coords="18,456,103,505" href="../objects/id-2269276c36d9406b9e9091247ed91d57.html" target="element" >
				          <area shape="rect" coords="18,131,103,167" href="../objects/id-6b9c2ceed75647a3b122bbba4130d830.html" target="element" >
				          <area shape="rect" coords="10,354,114,457" href="../objects/id-6988aa2604484a9ea56c7fd38492289d.html" target="element" >
				          <area shape="rect" coords="133,515,166,547" href="../objects/id-a1270704840f454cbc5e00717a3081b2.html" target="element" >
				          <area shape="rect" coords="323,515,356,547" href="../objects/id-29d815f269d54e2dbe98754b157d5044.html" target="element" >
				          <area shape="rect" coords="317,376,350,408" href="../objects/id-9096d684d6804e3ab987e0fa8bb4d2b5.html" target="element" >
				          <area shape="rect" coords="133,375,166,407" href="../objects/id-f3a213c0ac97459aa852b8a990c7169f.html" target="element" >
				          <area shape="rect" coords="354,602,555,651" href="../objects/id-894149cc81a04f249f1f15a3d7aa8037.html" target="element" >
				          <area shape="rect" coords="136,462,331,511" href="../objects/id-d12fdfc5137f4276bb9b5d098b2724a1.html" target="element" >
				          <area shape="rect" coords="354,470,547,519" href="../objects/id-372245c8ca0446a4950edd5ccaa10505.html" target="element" >
				          <area shape="rect" coords="130,597,338,640" href="../objects/id-13f61281f3b54dab8e644167f5fd8ddf.html" target="element" >
				          <area shape="rect" coords="146,206,179,238" href="../objects/id-b2f1c7ab25c744e2b8dcdf6c53bdb7c2.html" target="element" >
				  		<area shape="rect" coords="133,338,470,375" href="../elements/id-151290ea177e46bd818ec4e0b332ec87.html"  target="element">
				          <area shape="rect" coords="351,278,541,327" href="../objects/id-645b14a4c171484d9946efe9f99ea042.html" target="element" >
				          <area shape="rect" coords="140,278,346,327" href="../objects/id-78d0dc867ecb4e10a6c2b5a998e5481e.html" target="element" >
				          <area shape="rect" coords="346,155,553,204" href="../objects/id-a9182b6cc77a4b7bb619f7f28074388d.html" target="element" >
				          <area shape="rect" coords="336,206,369,238" href="../objects/id-4a55c7a1c8084f81b3ad34128ea93226.html" target="element" >
				          <area shape="rect" coords="331,52,364,84" href="../objects/id-60040e72112544b88f952d39db55f7a2.html" target="element" >
				          <area shape="rect" coords="147,51,180,83" href="../objects/id-ed5d0f792f7e465a9cf0d78da0a626f2.html" target="element" >
				  		<area shape="rect" coords="133,14,470,51" href="../elements/id-d5bfc1a5f05e4705a2f185dc3883baee.html"  target="element">
				          <area shape="rect" coords="149,154,346,197" href="../objects/id-422fea8aa3354a93a5dc9d622fc352d1.html" target="element" >
				          <area shape="rect" coords="120,14,565,327" href="../objects/id-97ac6458c28141aca6fd5eae09169bf7.html" target="element" >
				          <area shape="rect" coords="120,338,565,651" href="../objects/id-0be55420d14f44ce99b67791b0a1c72f.html" target="element" >
				  		        <area shape="rect" coords="839,198,924,283" href="../objects/id-77cbd6a4260b44cfae35c609e1556bbb.html" target="element" >
				  		        <area shape="rect" coords="647,197,732,282" href="../objects/id-697cec3011764d3e9a0be91b9aeb2687.html" target="element" >
				  		        <area shape="rect" coords="838,78,923,163" href="../objects/id-ef170ce2dbc94980ae6322a12e29ca10.html" target="element" >
				  		        <area shape="rect" coords="646,70,731,155" href="../objects/id-ed1cbeb05bc3449b8bdff1eea2e29824.html" target="element" >
				  		        <area shape="rect" coords="597,154,803,203" href="../objects/id-6d97b3dfe7d94c75a493a5500522c1ba.html" target="element" >
				  		        <area shape="rect" coords="610,274,790,323" href="../objects/id-928b089dfad84794873fded71ffe8ef3.html" target="element" >
				  		        <area shape="rect" coords="598,202,631,234" href="../objects/id-aa7b7b4d42ac42388f96a09bc0492bf3.html" target="element" >
				  		        <area shape="rect" coords="818,159,968,208" href="../objects/id-f774360b826b405db50f9c2daed0138d.html" target="element" >
				  		        <area shape="rect" coords="817,274,974,323" href="../objects/id-113cd3f04b7d4f769e30a3fd379d65a1.html" target="element" >
				  		        <area shape="rect" coords="790,202,823,234" href="../objects/id-6d2181b1f3f74dcbacddc0c473d4b2f0.html" target="element" >
				  		        <area shape="rect" coords="789,47,822,79" href="../objects/id-2b6b9e62f9cf4322bbf72a20fa10ea49.html" target="element" >
				  		        <area shape="rect" coords="597,47,630,79" href="../objects/id-583f7b9e5b014b0b8cfab4f1c0762fb1.html" target="element" >
				  				<area shape="rect" coords="586,11,911,48" href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html"  target="element">

				  		<area shape="rect" coords="586,10,995,323" href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html"  target="element">
				  		        <area shape="rect" coords="778,598,971,647" href="../objects/id-4387c6aa40b646a9bdb7df30b1f75e87.html" target="element" >
				  		        <area shape="rect" coords="838,517,911,596" href="../objects/id-756365357e854f3db657e2e0148049d2.html" target="element" >
				  		        <area shape="rect" coords="646,382,731,467" href="../objects/id-52b0e62850ab4412aa888c7ecae180a5.html" target="element" >
				  		        <area shape="rect" coords="646,514,731,599" href="../objects/id-33c4d03e93fd48c2bcf9c7f27374ecce.html" target="element" >
				  		        <area shape="rect" coords="821,382,906,467" href="../objects/id-f53f8c9fa9af48eb84cc20379f66e914.html" target="element" >
				  		        <area shape="rect" coords="604,466,785,515" href="../objects/id-b98ca6ce514a4a27b8f19cfe4435b18c.html" target="element" >
				  		        <area shape="rect" coords="598,598,779,647" href="../objects/id-e35dd279635f4d5fbabb04b52b979753.html" target="element" >
				  		        <area shape="rect" coords="790,466,983,515" href="../objects/id-f6c110629cde456ebccf514ad940e43e.html" target="element" >
				  		        <area shape="rect" coords="598,526,631,558" href="../objects/id-a4c8d6c1ae9c41abb28ff02b909c1177.html" target="element" >
				  		        <area shape="rect" coords="784,526,817,558" href="../objects/id-7b1bb5a6797445f7902313eabc19b1e6.html" target="element" >
				  		        <area shape="rect" coords="784,371,817,403" href="../objects/id-b4375dbe1da74500942b634208e8a7c4.html" target="element" >
				  		        <area shape="rect" coords="597,371,630,403" href="../objects/id-86d4253c2db3447d88f2fa106f0b89cc.html" target="element" >
				  				<area shape="rect" coords="586,334,899,371" href="../elements/id-0941ef60437040ec8e688767967f8c7e.html"  target="element">

				  		<area shape="rect" coords="586,334,995,647" href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html"  target="element">
				          <area shape="rect" coords="10,29,114,132" href="../objects/id-87d0cdeac39646b99dfd160efa70b5e6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-87d0cdeac39646b99dfd160efa70b5e6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-87d0cdeac39646b99dfd160efa70b5e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0941ef60437040ec8e688767967f8c7e.html" target="element"> &#3626;&#3636;&#3656;&#3591;&#3607;&#3637;&#3656;&#3592;&#3632;&#3594;&#3656;&#3623;&#3618;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; (Gain Point)     </a> </td>
													    <td> <a href="../elements/id-0941ef60437040ec8e688767967f8c7e.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-86d4253c2db3447d88f2fa106f0b89cc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-86d4253c2db3447d88f2fa106f0b89cc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b4375dbe1da74500942b634208e8a7c4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b4375dbe1da74500942b634208e8a7c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7b1bb5a6797445f7902313eabc19b1e6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7b1bb5a6797445f7902313eabc19b1e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a4c8d6c1ae9c41abb28ff02b909c1177.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a4c8d6c1ae9c41abb28ff02b909c1177.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f6c110629cde456ebccf514ad940e43e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f6c110629cde456ebccf514ad940e43e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e35dd279635f4d5fbabb04b52b979753.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e35dd279635f4d5fbabb04b52b979753.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b98ca6ce514a4a27b8f19cfe4435b18c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b98ca6ce514a4a27b8f19cfe4435b18c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f53f8c9fa9af48eb84cc20379f66e914.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f53f8c9fa9af48eb84cc20379f66e914.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-33c4d03e93fd48c2bcf9c7f27374ecce.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-33c4d03e93fd48c2bcf9c7f27374ecce.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-52b0e62850ab4412aa888c7ecae180a5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-52b0e62850ab4412aa888c7ecae180a5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-756365357e854f3db657e2e0148049d2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-756365357e854f3db657e2e0148049d2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4387c6aa40b646a9bdb7df30b1f75e87.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4387c6aa40b646a9bdb7df30b1f75e87.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3607;&#3637;&#3656;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; (Gain Point) </a> </td>
													    <td> <a href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-583f7b9e5b014b0b8cfab4f1c0762fb1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-583f7b9e5b014b0b8cfab4f1c0762fb1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2b6b9e62f9cf4322bbf72a20fa10ea49.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2b6b9e62f9cf4322bbf72a20fa10ea49.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6d2181b1f3f74dcbacddc0c473d4b2f0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6d2181b1f3f74dcbacddc0c473d4b2f0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-113cd3f04b7d4f769e30a3fd379d65a1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-113cd3f04b7d4f769e30a3fd379d65a1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f774360b826b405db50f9c2daed0138d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f774360b826b405db50f9c2daed0138d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-aa7b7b4d42ac42388f96a09bc0492bf3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-aa7b7b4d42ac42388f96a09bc0492bf3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-928b089dfad84794873fded71ffe8ef3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-928b089dfad84794873fded71ffe8ef3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6d97b3dfe7d94c75a493a5500522c1ba.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6d97b3dfe7d94c75a493a5500522c1ba.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ed1cbeb05bc3449b8bdff1eea2e29824.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ed1cbeb05bc3449b8bdff1eea2e29824.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ef170ce2dbc94980ae6322a12e29ca10.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ef170ce2dbc94980ae6322a12e29ca10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-697cec3011764d3e9a0be91b9aeb2687.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-697cec3011764d3e9a0be91b9aeb2687.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-77cbd6a4260b44cfae35c609e1556bbb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-77cbd6a4260b44cfae35c609e1556bbb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-0be55420d14f44ce99b67791b0a1c72f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0be55420d14f44ce99b67791b0a1c72f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-97ac6458c28141aca6fd5eae09169bf7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-97ac6458c28141aca6fd5eae09169bf7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-422fea8aa3354a93a5dc9d622fc352d1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-422fea8aa3354a93a5dc9d622fc352d1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d5bfc1a5f05e4705a2f185dc3883baee.html" target="element"> &#3611;&#3633;&#3597;&#3627;&#3634;&#3607;&#3637;&#3656;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592;&#3605;&#3657;&#3629;&#3591;&#3611;&#3619;&#3632;&#3626;&#3610; (Pain Point)      </a> </td>
											    <td> <a href="../elements/id-d5bfc1a5f05e4705a2f185dc3883baee.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ed5d0f792f7e465a9cf0d78da0a626f2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ed5d0f792f7e465a9cf0d78da0a626f2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-60040e72112544b88f952d39db55f7a2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-60040e72112544b88f952d39db55f7a2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4a55c7a1c8084f81b3ad34128ea93226.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4a55c7a1c8084f81b3ad34128ea93226.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a9182b6cc77a4b7bb619f7f28074388d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a9182b6cc77a4b7bb619f7f28074388d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-78d0dc867ecb4e10a6c2b5a998e5481e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-78d0dc867ecb4e10a6c2b5a998e5481e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-645b14a4c171484d9946efe9f99ea042.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-645b14a4c171484d9946efe9f99ea042.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-151290ea177e46bd818ec4e0b332ec87.html" target="element"> &#3629;&#3640;&#3611;&#3626;&#3619;&#3619;&#3588;&#3586;&#3629;&#3591;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; (Pain Point)      </a> </td>
											    <td> <a href="../elements/id-151290ea177e46bd818ec4e0b332ec87.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b2f1c7ab25c744e2b8dcdf6c53bdb7c2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b2f1c7ab25c744e2b8dcdf6c53bdb7c2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-13f61281f3b54dab8e644167f5fd8ddf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-13f61281f3b54dab8e644167f5fd8ddf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-372245c8ca0446a4950edd5ccaa10505.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-372245c8ca0446a4950edd5ccaa10505.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d12fdfc5137f4276bb9b5d098b2724a1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d12fdfc5137f4276bb9b5d098b2724a1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-894149cc81a04f249f1f15a3d7aa8037.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-894149cc81a04f249f1f15a3d7aa8037.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f3a213c0ac97459aa852b8a990c7169f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f3a213c0ac97459aa852b8a990c7169f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9096d684d6804e3ab987e0fa8bb4d2b5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9096d684d6804e3ab987e0fa8bb4d2b5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-29d815f269d54e2dbe98754b157d5044.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-29d815f269d54e2dbe98754b157d5044.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a1270704840f454cbc5e00717a3081b2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a1270704840f454cbc5e00717a3081b2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6988aa2604484a9ea56c7fd38492289d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6988aa2604484a9ea56c7fd38492289d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6b9c2ceed75647a3b122bbba4130d830.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6b9c2ceed75647a3b122bbba4130d830.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2269276c36d9406b9e9091247ed91d57.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2269276c36d9406b9e9091247ed91d57.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f68d9a74b5024eaa903df92fb071c424.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f68d9a74b5024eaa903df92fb071c424.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-03f863550e014447a5f3ab050bcc5091.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-03f863550e014447a5f3ab050bcc5091.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b2e42dd3aeb246d0819e616844d45360.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b2e42dd3aeb246d0819e616844d45360.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5af5a567203e44c4a0ad42ae193fbe40.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5af5a567203e44c4a0ad42ae193fbe40.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e766bcfd59764c15ba62cbe962f76269.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e766bcfd59764c15ba62cbe962f76269.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-64fad20df0fa4e2692f963568dc4955e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-64fad20df0fa4e2692f963568dc4955e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-59ba74b7ee814512b95c4ab1f307efaf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-59ba74b7ee814512b95c4ab1f307efaf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-70d5c9c735f1454ab7630bcec801942a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-70d5c9c735f1454ab7630bcec801942a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-5bc633810ee641bd8eccf621dd51aeb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bc633810ee641bd8eccf621dd51aeb4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0941ef60437040ec8e688767967f8c7e.html" target="element"> &#3626;&#3636;&#3656;&#3591;&#3607;&#3637;&#3656;&#3592;&#3632;&#3594;&#3656;&#3623;&#3618;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; (Gain Point)     </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-7e5122dca8c34a38831a7fb2fa6ee808.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e5122dca8c34a38831a7fb2fa6ee808.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3607;&#3637;&#3656;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; (Gain Point) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>