<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>dobiz2-1-overview-asis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>dobiz2-1-overview-asis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0c3d425ba8254e66922faba913a0cb12.png" alt="dobiz2-1-overview-asis" usemap="#id-0c3d425ba8254e66922faba913a0cb12map"/>
			   <map name="id-0c3d425ba8254e66922faba913a0cb12map">
				  		        <area shape="rect" coords="561,310,636,336" href="../objects/id-29fe797c638a4ab8a61d23da8f49ded2.html" target="element" >
				  		        <area shape="rect" coords="513,337,617,359" href="../objects/id-ee9725ed3791455a98a83edd1ac2cdb5.html" target="element" >
				  		        <area shape="rect" coords="489,253,549,296" href="../objects/id-bfedcc6598214f1a966273362205999d.html" target="element" >
				  		        <area shape="rect" coords="561,253,638,305" href="../objects/id-a87ee6db389440f28a79c6a3bc3b0556.html" target="element" >
				  		        <area shape="rect" coords="487,299,552,338" href="../objects/id-3c333c58a2d9455880e5eea4fc859125.html" target="element" >

				  		<area shape="rect" coords="477,246,649,360" href="../elements/id-2399c3e0049a493495afa0db9e5cc624.html"  target="element">
				  		        <area shape="rect" coords="304,337,408,359" href="../objects/id-9678a4e456d14223964cdd1dcccab86a.html" target="element" >
				  		        <area shape="rect" coords="391,298,449,334" href="../objects/id-22aeb34c55394944b7a02bf9560e955f.html" target="element" >
				  		        <area shape="rect" coords="395,253,445,288" href="../objects/id-cdfb9356bfd2451bb693572d52951ca2.html" target="element" >
				  		        <area shape="rect" coords="263,303,371,343" href="../objects/id-6bf74be033ae4bd79e8ce550e8f98f59.html" target="element" >
				  		        <area shape="rect" coords="329,255,383,294" href="../objects/id-b9c5ed865b7045898ba4daeea308dfee.html" target="element" >
				  		        <area shape="rect" coords="263,253,320,297" href="../objects/id-2edfaf84e93f4d6fbf0b840af2b6d694.html" target="element" >

				  		<area shape="rect" coords="249,246,465,360" href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html"  target="element">
				  		        <area shape="rect" coords="114,339,218,361" href="../objects/id-3bf0d59eb7bb47c5bbb23557c9188988.html" target="element" >
				  		        <area shape="rect" coords="175,299,225,341" href="../objects/id-36771f64d30847c781bf6de1a0fc87e7.html" target="element" >
				  		        <area shape="rect" coords="109,300,167,339" href="../objects/id-57209ce713684dcf9940a452674557c5.html" target="element" >
				  		        <area shape="rect" coords="169,255,230,297" href="../objects/id-bb2dc1755e4842cab641c75e2a35b7db.html" target="element" >
				  		        <area shape="rect" coords="109,257,155,296" href="../objects/id-3dce744ffa8d45ca9649e56082f8ba9f.html" target="element" >

				  		<area shape="rect" coords="96,246,241,360" href="../elements/id-5bcb9efd001f49289b8896ec9af72099.html"  target="element">
				  		<area shape="rect" coords="12,367,85,493" href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html"  target="element">
				  		<area shape="rect" coords="12,246,85,358" href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html"  target="element">
				  		<area shape="rect" coords="10,81,83,183" href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html"  target="element">
				  		<area shape="rect" coords="11,186,84,242" href="../elements/id-064b4513af0d470eb727775c55541f5c.html"  target="element">
				  		<area shape="rect" coords="10,11,83,75" href="../elements/id-8a560d80ba674419b127602532fe7b58.html"  target="element">
				  		<area shape="rect" coords="713,10,774,492" href="../elements/id-61fca7296b7f413a983a42549447be95.html"  target="element">
				  		<area shape="rect" coords="655,11,710,493" href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html"  target="element">
				          <area shape="rect" coords="156,450,201,487" href="../objects/id-788058d60dfe48d081b07f9525b6804f.html" target="element" >
				  		        <area shape="rect" coords="179,190,217,226" href="../objects/id-56df9d0a72ec41c8bf422e2637b664d6.html" target="element" >
				  		        <area shape="rect" coords="174,222,243,242" href="../objects/id-7a110331c9d34656a52ea43dec20647a.html" target="element" >
				  		        <area shape="rect" coords="512,222,592,242" href="../objects/id-c3cb1161bf164bddb47c12b3cd1d2385.html" target="element" >
				  		        <area shape="rect" coords="591,221,632,241" href="../objects/id-f97ec40dba20419d86984dc77b9cec3a.html" target="element" >
				  		        <area shape="rect" coords="593,189,628,224" href="../objects/id-1cb2feca6cbd45369a7509133c5daf7d.html" target="element" >
				  		        <area shape="rect" coords="103,220,172,240" href="../objects/id-72ce10e9628144ba8f0df8904e54ed47.html" target="element" >
				  		        <area shape="rect" coords="321,190,359,226" href="../objects/id-454f0c16c9a845dcbb6c8baaff4dbb12.html" target="element" >
				  		        <area shape="rect" coords="390,190,428,226" href="../objects/id-bab65f03dac841a3a9390b8d6532eefb.html" target="element" >
				  		        <area shape="rect" coords="449,222,509,242" href="../objects/id-2f54a20c9c99468c8af906acc9cf1894.html" target="element" >
				  		        <area shape="rect" coords="107,190,145,226" href="../objects/id-9a80365ab2e3431e8152b6327eb28383.html" target="element" >
				  		        <area shape="rect" coords="372,222,441,242" href="../objects/id-33e2c6045e16450f91834e3539be5edd.html" target="element" >
				  		        <area shape="rect" coords="304,222,373,242" href="../objects/id-9e89517409324251b8eac9751d029890.html" target="element" >
				  		        <area shape="rect" coords="255,190,293,226" href="../objects/id-fafcb6450e5c4aa2b9050892e72a9280.html" target="element" >
				  		        <area shape="rect" coords="237,222,306,242" href="../objects/id-ef19ad559788426c9d9ab99da7dd468c.html" target="element" >
				  		        <area shape="rect" coords="526,190,564,227" href="../objects/id-dc7d4fc2c7ed40d7ae7dad0fdb1c3837.html" target="element" >
				  		        <area shape="rect" coords="457,190,495,226" href="../objects/id-1d64369062cb49aa985e41bba0930854.html" target="element" >

				  		<area shape="rect" coords="95,184,651,242" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  		        <area shape="rect" coords="102,19,644,71" href="../objects/id-4621ef85f7394f14b8d85190de99f288.html" target="element" >

				  		<area shape="rect" coords="94,12,650,77" href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html"  target="element">
				  		        <area shape="rect" coords="580,137,618,173" href="../objects/id-995458cf1b4640b692ce95ad83819c13.html" target="element" >
				  		        <area shape="rect" coords="528,138,566,174" href="../objects/id-f72efe0d7391460a9af70dc696e858fe.html" target="element" >
				  		        <area shape="rect" coords="475,138,513,174" href="../objects/id-f32738209f274e75a37e91066727a92d.html" target="element" >
				  		        <area shape="rect" coords="429,140,461,172" href="../objects/id-8207b386bf884b9196c8084466f860a0.html" target="element" >
				  		        <area shape="rect" coords="373,138,411,174" href="../objects/id-b8e1e85d0ce54472bbe4c5899f23650e.html" target="element" >
				  		        <area shape="rect" coords="322,139,360,175" href="../objects/id-e72afe3e3e7f47babce8a700d2a786ae.html" target="element" >
				  		        <area shape="rect" coords="272,140,310,176" href="../objects/id-d9fcb1915d29465d8e1e512bc7cd0f27.html" target="element" >
				  		        <area shape="rect" coords="221,136,259,172" href="../objects/id-7a646d93d00d4f009945bdfb9db16b39.html" target="element" >
				  		        <area shape="rect" coords="165,138,203,174" href="../objects/id-cb9573cb05374f2b877cf9aa1b6d685f.html" target="element" >
				  		        <area shape="rect" coords="111,139,149,175" href="../objects/id-c0b31dba378c4fbc8db971e60f62b1a0.html" target="element" >
				  		        <area shape="rect" coords="523,117,569,141" href="../objects/id-95d0d022db024ee3bd0e76e172b13b9c.html" target="element" >
				  		        <area shape="rect" coords="423,117,465,141" href="../objects/id-03811adcbb154eda8617b22d58425db6.html" target="element" >
				  		        <area shape="rect" coords="367,117,409,141" href="../objects/id-5007b860e6444ac1a08087bebf892c53.html" target="element" >
				  		        <area shape="rect" coords="109,117,151,141" href="../objects/id-86d4c69828ba4fcc82487c2b1daa9cc4.html" target="element" >
				  		        <area shape="rect" coords="576,117,628,141" href="../objects/id-c7f4a90fae3a4fd8952f1d168dc7436f.html" target="element" >
				  		        <area shape="rect" coords="213,117,255,141" href="../objects/id-06d4d1417b7e4061b85f980e23a86de6.html" target="element" >
				  		        <area shape="rect" coords="314,117,356,141" href="../objects/id-a1cc19c5c7534405ac5d8dc1228cd24a.html" target="element" >
				  		        <area shape="rect" coords="471,117,517,141" href="../objects/id-6ea0dc98f9f1439aa4117c6b9ede1085.html" target="element" >
				  		        <area shape="rect" coords="264,117,306,141" href="../objects/id-677e9cf2efdd4cbc8845107de6f2357e.html" target="element" >
				  		        <area shape="rect" coords="159,117,201,141" href="../objects/id-5accc0edf835408da7f56072b5c33b8d.html" target="element" >
				  		        <area shape="rect" coords="104,87,632,123" href="../objects/id-307847f5b31d47b0a509823047fd5479.html" target="element" >

				  		<area shape="rect" coords="93,81,651,180" href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html"  target="element">
				          <area shape="rect" coords="338,444,579,481" href="../objects/id-fd86ba46e97b42a8aa2a2b7d2c962218.html" target="element" >
				          <area shape="rect" coords="218,444,327,493" href="../objects/id-8a970bd4d1f24c86b352aaac647f72a6.html" target="element" >
				          <area shape="rect" coords="338,367,627,440" href="../objects/id-49845492d7644e31af067b4680c5f67d.html" target="element" >
				          <area shape="rect" coords="178,382,267,426" href="../objects/id-0fdb61be8a88421589112256abb2a1b6.html" target="element" >
				          <area shape="rect" coords="98,444,651,493" href="../objects/id-178fd90e48ff4444bc4cec799bfa676b.html" target="element" >
				          <area shape="rect" coords="98,367,651,440" href="../objects/id-52e3e4c14d8143bc9ca834338e743151.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-52e3e4c14d8143bc9ca834338e743151.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-52e3e4c14d8143bc9ca834338e743151.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-178fd90e48ff4444bc4cec799bfa676b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-178fd90e48ff4444bc4cec799bfa676b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0fdb61be8a88421589112256abb2a1b6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0fdb61be8a88421589112256abb2a1b6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-49845492d7644e31af067b4680c5f67d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-49845492d7644e31af067b4680c5f67d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8a970bd4d1f24c86b352aaac647f72a6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8a970bd4d1f24c86b352aaac647f72a6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fd86ba46e97b42a8aa2a2b7d2c962218.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fd86ba46e97b42a8aa2a2b7d2c962218.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-307847f5b31d47b0a509823047fd5479.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-307847f5b31d47b0a509823047fd5479.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5accc0edf835408da7f56072b5c33b8d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5accc0edf835408da7f56072b5c33b8d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-677e9cf2efdd4cbc8845107de6f2357e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-677e9cf2efdd4cbc8845107de6f2357e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6ea0dc98f9f1439aa4117c6b9ede1085.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6ea0dc98f9f1439aa4117c6b9ede1085.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a1cc19c5c7534405ac5d8dc1228cd24a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a1cc19c5c7534405ac5d8dc1228cd24a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-06d4d1417b7e4061b85f980e23a86de6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-06d4d1417b7e4061b85f980e23a86de6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c7f4a90fae3a4fd8952f1d168dc7436f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c7f4a90fae3a4fd8952f1d168dc7436f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-86d4c69828ba4fcc82487c2b1daa9cc4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-86d4c69828ba4fcc82487c2b1daa9cc4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5007b860e6444ac1a08087bebf892c53.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5007b860e6444ac1a08087bebf892c53.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-03811adcbb154eda8617b22d58425db6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-03811adcbb154eda8617b22d58425db6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-95d0d022db024ee3bd0e76e172b13b9c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-95d0d022db024ee3bd0e76e172b13b9c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c0b31dba378c4fbc8db971e60f62b1a0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c0b31dba378c4fbc8db971e60f62b1a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cb9573cb05374f2b877cf9aa1b6d685f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cb9573cb05374f2b877cf9aa1b6d685f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7a646d93d00d4f009945bdfb9db16b39.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7a646d93d00d4f009945bdfb9db16b39.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d9fcb1915d29465d8e1e512bc7cd0f27.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d9fcb1915d29465d8e1e512bc7cd0f27.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e72afe3e3e7f47babce8a700d2a786ae.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e72afe3e3e7f47babce8a700d2a786ae.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b8e1e85d0ce54472bbe4c5899f23650e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b8e1e85d0ce54472bbe4c5899f23650e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8207b386bf884b9196c8084466f860a0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8207b386bf884b9196c8084466f860a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f32738209f274e75a37e91066727a92d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f32738209f274e75a37e91066727a92d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f72efe0d7391460a9af70dc696e858fe.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f72efe0d7391460a9af70dc696e858fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-995458cf1b4640b692ce95ad83819c13.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-995458cf1b4640b692ce95ad83819c13.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-4621ef85f7394f14b8d85190de99f288.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4621ef85f7394f14b8d85190de99f288.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-1d64369062cb49aa985e41bba0930854.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1d64369062cb49aa985e41bba0930854.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-dc7d4fc2c7ed40d7ae7dad0fdb1c3837.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-dc7d4fc2c7ed40d7ae7dad0fdb1c3837.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ef19ad559788426c9d9ab99da7dd468c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ef19ad559788426c9d9ab99da7dd468c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fafcb6450e5c4aa2b9050892e72a9280.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fafcb6450e5c4aa2b9050892e72a9280.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9e89517409324251b8eac9751d029890.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9e89517409324251b8eac9751d029890.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-33e2c6045e16450f91834e3539be5edd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-33e2c6045e16450f91834e3539be5edd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9a80365ab2e3431e8152b6327eb28383.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9a80365ab2e3431e8152b6327eb28383.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2f54a20c9c99468c8af906acc9cf1894.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2f54a20c9c99468c8af906acc9cf1894.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-bab65f03dac841a3a9390b8d6532eefb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bab65f03dac841a3a9390b8d6532eefb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-454f0c16c9a845dcbb6c8baaff4dbb12.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-454f0c16c9a845dcbb6c8baaff4dbb12.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-72ce10e9628144ba8f0df8904e54ed47.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-72ce10e9628144ba8f0df8904e54ed47.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1cb2feca6cbd45369a7509133c5daf7d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1cb2feca6cbd45369a7509133c5daf7d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f97ec40dba20419d86984dc77b9cec3a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f97ec40dba20419d86984dc77b9cec3a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c3cb1161bf164bddb47c12b3cd1d2385.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c3cb1161bf164bddb47c12b3cd1d2385.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7a110331c9d34656a52ea43dec20647a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7a110331c9d34656a52ea43dec20647a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-56df9d0a72ec41c8bf422e2637b664d6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-56df9d0a72ec41c8bf422e2637b664d6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-788058d60dfe48d081b07f9525b6804f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-788058d60dfe48d081b07f9525b6804f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element"> Legal </a> </td>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element"> Security </a> </td>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element"> Service Channel </a> </td>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element"> Service Process </a> </td>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element"> Service Category </a> </td>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element"> Single Platform </a> </td>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element"> Service Support  Taskforce </a> </td>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5bcb9efd001f49289b8896ec9af72099.html" target="element"> Business Function </a> </td>
											    <td> <a href="../elements/id-5bcb9efd001f49289b8896ec9af72099.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-3dce744ffa8d45ca9649e56082f8ba9f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3dce744ffa8d45ca9649e56082f8ba9f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-bb2dc1755e4842cab641c75e2a35b7db.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bb2dc1755e4842cab641c75e2a35b7db.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-57209ce713684dcf9940a452674557c5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-57209ce713684dcf9940a452674557c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-36771f64d30847c781bf6de1a0fc87e7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-36771f64d30847c781bf6de1a0fc87e7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3bf0d59eb7bb47c5bbb23557c9188988.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3bf0d59eb7bb47c5bbb23557c9188988.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html" target="element"> Business Function (copy) </a> </td>
											    <td> <a href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-2edfaf84e93f4d6fbf0b840af2b6d694.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2edfaf84e93f4d6fbf0b840af2b6d694.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b9c5ed865b7045898ba4daeea308dfee.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b9c5ed865b7045898ba4daeea308dfee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6bf74be033ae4bd79e8ce550e8f98f59.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6bf74be033ae4bd79e8ce550e8f98f59.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cdfb9356bfd2451bb693572d52951ca2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cdfb9356bfd2451bb693572d52951ca2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-22aeb34c55394944b7a02bf9560e955f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-22aeb34c55394944b7a02bf9560e955f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9678a4e456d14223964cdd1dcccab86a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9678a4e456d14223964cdd1dcccab86a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-2399c3e0049a493495afa0db9e5cc624.html" target="element"> Business Function (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-2399c3e0049a493495afa0db9e5cc624.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-3c333c58a2d9455880e5eea4fc859125.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3c333c58a2d9455880e5eea4fc859125.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a87ee6db389440f28a79c6a3bc3b0556.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a87ee6db389440f28a79c6a3bc3b0556.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-bfedcc6598214f1a966273362205999d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bfedcc6598214f1a966273362205999d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ee9725ed3791455a98a83edd1ac2cdb5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ee9725ed3791455a98a83edd1ac2cdb5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-29fe797c638a4ab8a61d23da8f49ded2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-29fe797c638a4ab8a61d23da8f49ded2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>