<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-CH1-F1-uk</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-CH1-F1-uk</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1302c6154c94431e878dddfc33b99e61.png" alt="doc3-CH1-F1-uk" usemap="#id-1302c6154c94431e878dddfc33b99e61map"/>
			   <map name="id-1302c6154c94431e878dddfc33b99e61map">
				  		<area shape="rect" coords="778,205,889,242" href="../elements/id-878ca6deb84b4bd9892969a46726d443.html"  target="element">
				          <area shape="rect" coords="694,265,1055,470" href="../objects/id-9e05d3d68494455380fa202c87058889.html" target="element" >
				  		<area shape="rect" coords="538,205,649,242" href="../elements/id-2ad23aa572184a18853020e0e306d1c9.html"  target="element">
				  		<area shape="rect" coords="538,157,649,194" href="../elements/id-caab971f9cab40e1b132fe3771a7e82a.html"  target="element">
				  		<area shape="rect" coords="538,109,649,146" href="../elements/id-878ca6deb84b4bd9892969a46726d443.html"  target="element">
				  		<area shape="rect" coords="538,61,649,98" href="../elements/id-cdb61bca6d2f4e0fac611cc031aa8277.html"  target="element">
				  		<area shape="rect" coords="538,13,649,50" href="../elements/id-608dc17c040a47c4b1d67bdcf26c83b1.html"  target="element">
				  		<area shape="rect" coords="370,13,481,50" href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html"  target="element">
				          <area shape="rect" coords="346,265,683,470" href="../objects/id-b6db441a110f4d1e9400ad51bc5623cb.html" target="element" >
				  		<area shape="rect" coords="202,205,313,242" href="../elements/id-9a9d5f32dccc48fe8e9288bdf52c5946.html"  target="element">
				  		<area shape="rect" coords="202,157,313,194" href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html"  target="element">
				  		<area shape="rect" coords="202,109,313,146" href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html"  target="element">
				  		<area shape="rect" coords="202,61,313,98" href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html"  target="element">
				  		<area shape="rect" coords="202,13,313,50" href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html"  target="element">
				  		<area shape="rect" coords="22,13,119,62" href="../elements/id-f5167938da8146359d6e415eac0beb6f.html"  target="element">
				          <area shape="rect" coords="10,265,337,470" href="../objects/id-81b49cf62e824ac4bf2e0bf73ec8aae3.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-81b49cf62e824ac4bf2e0bf73ec8aae3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-81b49cf62e824ac4bf2e0bf73ec8aae3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
											    <td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html" target="element"> search </a> </td>
											    <td> <a href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
											    <td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html" target="element"> &#3592;&#3657;&#3634;&#3591;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
											    <td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a9d5f32dccc48fe8e9288bdf52c5946.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3618;&#3640;&#3605;&#3636;&#3608;&#3619;&#3619;&#3617; </a> </td>
											    <td> <a href="../elements/id-9a9d5f32dccc48fe8e9288bdf52c5946.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-b6db441a110f4d1e9400ad51bc5623cb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b6db441a110f4d1e9400ad51bc5623cb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
											    <td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-608dc17c040a47c4b1d67bdcf26c83b1.html" target="element"> &#3592;&#3633;&#3604;&#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
											    <td> <a href="../elements/id-608dc17c040a47c4b1d67bdcf26c83b1.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdb61bca6d2f4e0fac611cc031aa8277.html" target="element"> &#3616;&#3634;&#3625;&#3637; </a> </td>
											    <td> <a href="../elements/id-cdb61bca6d2f4e0fac611cc031aa8277.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-878ca6deb84b4bd9892969a46726d443.html" target="element"> &#3649;&#3627;&#3621;&#3656;&#3591;&#3607;&#3640;&#3609; </a> </td>
											    <td> <a href="../elements/id-878ca6deb84b4bd9892969a46726d443.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-caab971f9cab40e1b132fe3771a7e82a.html" target="element"> &#3610;&#3619;&#3636;&#3625;&#3633;&#3607;&#3592;&#3635;&#3585;&#3633;&#3604; </a> </td>
											    <td> <a href="../elements/id-caab971f9cab40e1b132fe3771a7e82a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ad23aa572184a18853020e0e306d1c9.html" target="element"> &#3621;&#3641;&#3585;&#3592;&#3657;&#3634;&#3591; </a> </td>
											    <td> <a href="../elements/id-2ad23aa572184a18853020e0e306d1c9.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9e05d3d68494455380fa202c87058889.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9e05d3d68494455380fa202c87058889.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-878ca6deb84b4bd9892969a46726d443.html" target="element"> &#3649;&#3627;&#3621;&#3656;&#3591;&#3607;&#3640;&#3609; </a> </td>
											    <td> <a href="../elements/id-878ca6deb84b4bd9892969a46726d443.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-afc49543176845e88ac6c9b1bf854fc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afc49543176845e88ac6c9b1bf854fc9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html" target="element"> search </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bbce504b7fd4792aa537b725fe25147.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bbce504b7fd4792aa537b725fe25147.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f074b6870281441cb35308e1a21fb982.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f074b6870281441cb35308e1a21fb982.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html" target="element"> &#3592;&#3657;&#3634;&#3591;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc316f94596b4fb4b8eadae3a5549d82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc316f94596b4fb4b8eadae3a5549d82.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94f820102d174b5a9c5401e27c1827df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94f820102d174b5a9c5401e27c1827df.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-9a9d5f32dccc48fe8e9288bdf52c5946.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3618;&#3640;&#3605;&#3636;&#3608;&#3619;&#3619;&#3617; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-03701e8e27c641fbab580811d9268fb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03701e8e27c641fbab580811d9268fb4.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-9465939997194178a2bcefdc5844d5d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9465939997194178a2bcefdc5844d5d1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																		<td> <a href="../elements/id-608dc17c040a47c4b1d67bdcf26c83b1.html" target="element"> &#3592;&#3633;&#3604;&#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0075379c2da24bacb51f886d3f299911.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0075379c2da24bacb51f886d3f299911.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																		<td> <a href="../elements/id-cdb61bca6d2f4e0fac611cc031aa8277.html" target="element"> &#3616;&#3634;&#3625;&#3637; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad14985114e241a7aefb13f661a80531.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad14985114e241a7aefb13f661a80531.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																		<td> <a href="../elements/id-878ca6deb84b4bd9892969a46726d443.html" target="element"> &#3649;&#3627;&#3621;&#3656;&#3591;&#3607;&#3640;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09a1a7a098124e5d96dd469b6c1176dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09a1a7a098124e5d96dd469b6c1176dc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																		<td> <a href="../elements/id-caab971f9cab40e1b132fe3771a7e82a.html" target="element"> &#3610;&#3619;&#3636;&#3625;&#3633;&#3607;&#3592;&#3635;&#3585;&#3633;&#3604; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aaef7d86315d4031a09c18f5adb9cfba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aaef7d86315d4031a09c18f5adb9cfba.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6db44c24e5f43969f9cf5f538a743f6.html" target="element"> &#3605;&#3633;&#3657;&#3591;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592; </a> </td>
																		<td> <a href="../elements/id-2ad23aa572184a18853020e0e306d1c9.html" target="element"> &#3621;&#3641;&#3585;&#3592;&#3657;&#3634;&#3591; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-92cfc3bcaa024a7a86f61cd92ec01d59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92cfc3bcaa024a7a86f61cd92ec01d59.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-878ca6deb84b4bd9892969a46726d443.html" target="element"> &#3649;&#3627;&#3621;&#3656;&#3591;&#3607;&#3640;&#3609; </a> </td>
																		<td> <a href="../elements/id-878ca6deb84b4bd9892969a46726d443.html" target="element"> &#3649;&#3627;&#3621;&#3656;&#3591;&#3607;&#3640;&#3609; </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>