<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>basic-LWE</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>basic-LWE</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-163350f731684ece8251598623d504a1.png" alt="basic-LWE" usemap="#id-163350f731684ece8251598623d504a1map"/>
			   <map name="id-163350f731684ece8251598623d504a1map">
				  		<area shape="rect" coords="10,10,143,131" href="../elements/id-f5b8cac059d2433b8f891bb3316d2e96.html"  target="element">
				  		<area shape="rect" coords="862,310,971,419" href="../elements/id-b73ee800b7684ccba33134b1e8dc492a.html"  target="element">
				  		<area shape="rect" coords="718,442,827,551" href="../elements/id-a562caa90e47478ab487c8f43682e2a4.html"  target="element">
				  		<area shape="rect" coords="574,442,683,551" href="../elements/id-4967ee11476b4f90bd316de5b6f38283.html"  target="element">
				  		<area shape="rect" coords="430,442,539,551" href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html"  target="element">
				  		<area shape="rect" coords="286,442,395,551" href="../elements/id-fbcc564478164e018b92c16ed6573382.html"  target="element">
				  		<area shape="rect" coords="862,442,971,551" href="../elements/id-783765ccda304f919a3ba494b46da225.html"  target="element">
				  		<area shape="rect" coords="862,178,971,287" href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html"  target="element">
				  		<area shape="rect" coords="718,310,827,419" href="../elements/id-0c7e400649d64198b5292cad8456e758.html"  target="element">
				  		<area shape="rect" coords="718,178,827,287" href="../elements/id-6def7cacc633400ebb706187f7e53b49.html"  target="element">
				  		<area shape="rect" coords="574,310,683,419" href="../elements/id-c73817e79507429cb69e46937b27b8a0.html"  target="element">
				  		<area shape="rect" coords="574,178,683,287" href="../elements/id-5d6484484b924113ad8533bcd38f579c.html"  target="element">
				  		<area shape="rect" coords="430,310,539,419" href="../elements/id-cb93b13d2ba84b2992983e6b03d44255.html"  target="element">
				  		<area shape="rect" coords="430,178,539,287" href="../elements/id-a9050cd514334416beb3c5cc6207ff6b.html"  target="element">
				  		<area shape="rect" coords="286,310,395,419" href="../elements/id-6fea89c1da20407e8a4f155b1d550478.html"  target="element">
				  		<area shape="rect" coords="286,178,395,287" href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html"  target="element">
				  		<area shape="rect" coords="142,310,251,419" href="../elements/id-4fe9f51eb32d4cb7b1fb10c55cc00e7a.html"  target="element">
				  		<area shape="rect" coords="10,178,119,287" href="../elements/id-f91b61c0bec14ed4a80cbdc52412407d.html"  target="element">
				  		<area shape="rect" coords="10,310,119,419" href="../elements/id-512efe26219946fbba1a124e9444acba.html"  target="element">
				  		<area shape="rect" coords="142,178,251,287" href="../elements/id-9a4c207165b043729ae64796adfa3466.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9a4c207165b043729ae64796adfa3466.html" target="element"> LW-22 </a> </td>
											    <td> <a href="../elements/id-9a4c207165b043729ae64796adfa3466.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-512efe26219946fbba1a124e9444acba.html" target="element"> LW-19 </a> </td>
											    <td> <a href="../elements/id-512efe26219946fbba1a124e9444acba.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f91b61c0bec14ed4a80cbdc52412407d.html" target="element"> LW-6 </a> </td>
											    <td> <a href="../elements/id-f91b61c0bec14ed4a80cbdc52412407d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4fe9f51eb32d4cb7b1fb10c55cc00e7a.html" target="element"> LW-23 </a> </td>
											    <td> <a href="../elements/id-4fe9f51eb32d4cb7b1fb10c55cc00e7a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html" target="element"> LW-7 </a> </td>
											    <td> <a href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6fea89c1da20407e8a4f155b1d550478.html" target="element"> LW-12 </a> </td>
											    <td> <a href="../elements/id-6fea89c1da20407e8a4f155b1d550478.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9050cd514334416beb3c5cc6207ff6b.html" target="element"> LW-8 </a> </td>
											    <td> <a href="../elements/id-a9050cd514334416beb3c5cc6207ff6b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb93b13d2ba84b2992983e6b03d44255.html" target="element"> LW-9 </a> </td>
											    <td> <a href="../elements/id-cb93b13d2ba84b2992983e6b03d44255.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d6484484b924113ad8533bcd38f579c.html" target="element"> LW-10 </a> </td>
											    <td> <a href="../elements/id-5d6484484b924113ad8533bcd38f579c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c73817e79507429cb69e46937b27b8a0.html" target="element"> LW-11 </a> </td>
											    <td> <a href="../elements/id-c73817e79507429cb69e46937b27b8a0.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6def7cacc633400ebb706187f7e53b49.html" target="element"> LW-12 </a> </td>
											    <td> <a href="../elements/id-6def7cacc633400ebb706187f7e53b49.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c7e400649d64198b5292cad8456e758.html" target="element"> LW-13 </a> </td>
											    <td> <a href="../elements/id-0c7e400649d64198b5292cad8456e758.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html" target="element"> LW-14 </a> </td>
											    <td> <a href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-783765ccda304f919a3ba494b46da225.html" target="element"> LW-15 </a> </td>
											    <td> <a href="../elements/id-783765ccda304f919a3ba494b46da225.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fbcc564478164e018b92c16ed6573382.html" target="element"> LW-16 </a> </td>
											    <td> <a href="../elements/id-fbcc564478164e018b92c16ed6573382.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html" target="element"> LW-17 </a> </td>
											    <td> <a href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4967ee11476b4f90bd316de5b6f38283.html" target="element"> LW-18 </a> </td>
											    <td> <a href="../elements/id-4967ee11476b4f90bd316de5b6f38283.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a562caa90e47478ab487c8f43682e2a4.html" target="element"> LW-20 </a> </td>
											    <td> <a href="../elements/id-a562caa90e47478ab487c8f43682e2a4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b73ee800b7684ccba33134b1e8dc492a.html" target="element"> LW-21 </a> </td>
											    <td> <a href="../elements/id-b73ee800b7684ccba33134b1e8dc492a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5b8cac059d2433b8f891bb3316d2e96.html" target="element"> Law-Wk-Elec </a> </td>
											    <td> <a href="../elements/id-f5b8cac059d2433b8f891bb3316d2e96.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>