<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-CH2-F5-issue-flow</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-CH2-F5-issue-flow</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1d2ffd036d194b6b9b8fd4a2f83bcfcb.png" alt="doc3-CH2-F5-issue-flow" usemap="#id-1d2ffd036d194b6b9b8fd4a2f83bcfcbmap"/>
			   <map name="id-1d2ffd036d194b6b9b8fd4a2f83bcfcbmap">
				  		        <area shape="rect" coords="22,61,86,124" href="../objects/id-7598b5c8e82e4e4997499f6863e29006.html" target="element" >
				  		        <area shape="rect" coords="13,33,95,63" href="../objects/id-f1b426421f6a454da2fcbb6087b53740.html" target="element" >

				  		<area shape="rect" coords="10,31,99,132" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				          <area shape="rect" coords="264,315,300,351" href="../objects/id-e3eb7f88d66647d2b4103c45af6631f7.html" target="element" >
				  				        <area shape="rect" coords="121,319,199,350" href="../objects/id-e94a0ea26ad34a14925536c32f37d1e8.html" target="element" >

				  				<area shape="rect" coords="118,271,202,354" href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html"  target="element">
				  		        <area shape="rect" coords="31,309,86,352" href="../objects/id-67d0ac11c13c4c34a6ffaefb4fea24ee.html" target="element" >
				  				        <area shape="rect" coords="552,312,592,351" href="../objects/id-fe80eac015184308b9826f1a68e729a9.html" target="element" >

				  				<area shape="rect" coords="529,273,613,356" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  		        <area shape="rect" coords="547,312,587,351" href="../objects/id-766c14a082c24308aaef1b91c4b93d39.html" target="element" >
				  				        <area shape="rect" coords="466,316,503,353" href="../objects/id-f1b1b67facff4573b923aa9ff2e70a3c.html" target="element" >
				  				        <area shape="rect" coords="431,312,468,355" href="../objects/id-e0a5d4dbc5484d77a741645aa3dd7949.html" target="element" >

				  				<area shape="rect" coords="425,274,509,357" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="649,311,689,353" href="../objects/id-4e55fc34ee2d4af58a4658b1a2f9ac4b.html" target="element" >

				  				<area shape="rect" coords="631,273,715,356" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="879,311,913,349" href="../objects/id-7e5fa1510f464eadbfb1add1ebef7585.html" target="element" >
				  				        <area shape="rect" coords="347,313,382,350" href="../objects/id-a1673e8f02904a53b0114d6d6f80abdc.html" target="element" >

				  				<area shape="rect" coords="323,273,407,356" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="230,317,262,351" href="../objects/id-6b248d0b358641f4a7ed25b2d7241084.html" target="element" >
				  				<area shape="rect" coords="20,271,104,354" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  		        <area shape="rect" coords="470,316,507,353" href="../objects/id-25b0c1b417994200ac42be9735514ee8.html" target="element" >
				  				        <area shape="rect" coords="837,313,876,350" href="../objects/id-9befe4bc37654a419c672fa76ec99b74.html" target="element" >

				  				<area shape="rect" coords="834,272,918,355" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				<area shape="rect" coords="221,272,305,355" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="268,316,305,353" href="../objects/id-d48f2d65e9fc4a9fbc35667d281ea379.html" target="element" >

				  		<area shape="rect" coords="10,263,926,364" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="842,40,893,83" href="../objects/id-615e0ac309244098963946183e403452.html" target="element" >
				  		        <area shape="rect" coords="844,85,884,123" href="../objects/id-8eaf7e64bc2d46d3a6c821019a246183.html" target="element" >

				  		<area shape="rect" coords="824,19,916,129" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				          <area shape="rect" coords="548,195,588,234" href="../objects/id-d51e74c261b64bf08c2e1948cf753d7a.html" target="element" >
				  		        <area shape="rect" coords="30,191,85,234" href="../objects/id-d729890a74ce44a99b0def8b2decff5b.html" target="element" >
				  				<area shape="rect" coords="528,155,612,238" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="752,194,792,233" href="../objects/id-5c8488b467e842188509c39da2daa45b.html" target="element" >

				  				<area shape="rect" coords="731,154,815,237" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="546,194,586,233" href="../objects/id-5ed8a696cb884b1d81c6ef2ae2089b1d.html" target="element" >
				  				        <area shape="rect" coords="465,198,502,235" href="../objects/id-8c736f1b292a45d1b8ef6737c9e1f5aa.html" target="element" >
				  				        <area shape="rect" coords="430,194,467,237" href="../objects/id-26d951486ef6417690b350cfc4368e01.html" target="element" >

				  				<area shape="rect" coords="424,156,508,239" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="648,193,688,235" href="../objects/id-620e5f53f14044039b265687beb17a00.html" target="element" >

				  				<area shape="rect" coords="630,155,714,238" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="878,193,912,231" href="../objects/id-1d3476b95e8b4f2fb1216f8556014b32.html" target="element" >
				  		        <area shape="rect" coords="229,199,261,233" href="../objects/id-0719ef4f41184886ac5e74d5cf83aaca.html" target="element" >
				  				<area shape="rect" coords="19,153,103,236" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  				        <area shape="rect" coords="138,195,181,232" href="../objects/id-d339dc2a684f407e9b3edf757fb2aeed.html" target="element" >

				  				<area shape="rect" coords="119,153,203,236" href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html"  target="element">
				  		        <area shape="rect" coords="469,198,506,235" href="../objects/id-06d1757cffab4a8ca665139b84cf13f7.html" target="element" >
				  				        <area shape="rect" coords="836,195,875,232" href="../objects/id-4e6d72c4eed3422988bbb8bcb7a24473.html" target="element" >

				  				<area shape="rect" coords="833,154,917,237" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				        <area shape="rect" coords="263,197,299,233" href="../objects/id-19e2e9093be545ffb6de485400d47bf9.html" target="element" >

				  				<area shape="rect" coords="220,154,304,237" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="267,198,304,235" href="../objects/id-b05964312e034bc2bd541854a8bcc78f.html" target="element" >
				  						        <area shape="rect" coords="343,195,378,232" href="../objects/id-e9aee3913e714240abf7ee999b79b6f2.html" target="element" >

				  						<area shape="rect" coords="319,155,403,238" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">

				  				<area shape="rect" coords="212,146,411,244" href="../elements/id-e7f45fc109a04221b2a7599ba286acd1.html"  target="element">

				  		<area shape="rect" coords="10,131,926,252" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  				        <area shape="rect" coords="436,39,501,97" href="../objects/id-66ed319d273d4605811344d311a177a6.html" target="element" >

				  				<area shape="rect" coords="425,17,509,100" href="../elements/id-f951601176154364bd65167a519fe01b.html"  target="element">
				  				        <area shape="rect" coords="540,39,605,97" href="../objects/id-68944d1486094349b3a31117969b465b.html" target="element" >

				  				<area shape="rect" coords="529,17,613,100" href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html"  target="element">
				  				        <area shape="rect" coords="743,39,808,97" href="../objects/id-0cbebeb62b91491b9a3f123e62f8db99.html" target="element" >

				  				<area shape="rect" coords="732,17,816,100" href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html"  target="element">
				  		        <area shape="rect" coords="416,94,549,128" href="../objects/id-d0312ff12c2c46c4906d3a35e87b42a8.html" target="element" >
				  				<area shape="rect" coords="627,22,715,68" href="../elements/id-3daf932eb03546b98473dabd7af046bc.html"  target="element">
				  				<area shape="rect" coords="627,77,713,126" href="../elements/id-c6ad9846c39642fe840a144042cdd386.html"  target="element">

				  		<area shape="rect" coords="404,10,926,132" href="../elements/id-8eacebf025d743c19f4105b183fd746f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8eacebf025d743c19f4105b183fd746f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8eacebf025d743c19f4105b183fd746f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c6ad9846c39642fe840a144042cdd386.html" target="element"> Link </a> </td>
													    <td> <a href="../elements/id-c6ad9846c39642fe840a144042cdd386.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3daf932eb03546b98473dabd7af046bc.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-3daf932eb03546b98473dabd7af046bc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-d0312ff12c2c46c4906d3a35e87b42a8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d0312ff12c2c46c4906d3a35e87b42a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-0cbebeb62b91491b9a3f123e62f8db99.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0cbebeb62b91491b9a3f123e62f8db99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-68944d1486094349b3a31117969b465b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-68944d1486094349b3a31117969b465b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-66ed319d273d4605811344d311a177a6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-66ed319d273d4605811344d311a177a6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e7f45fc109a04221b2a7599ba286acd1.html" target="element"> Business Service </a> </td>
													    <td> <a href="../elements/id-e7f45fc109a04221b2a7599ba286acd1.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
															    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															        <tr>
															           <td> <a href="../objects/id-e9aee3913e714240abf7ee999b79b6f2.html" target="element">  </a> </td>
															           <td> <a href="../objects/id-e9aee3913e714240abf7ee999b79b6f2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
															        </tr>

															
													
											        <tr>
											           <td> <a href="../objects/id-b05964312e034bc2bd541854a8bcc78f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b05964312e034bc2bd541854a8bcc78f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-19e2e9093be545ffb6de485400d47bf9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-19e2e9093be545ffb6de485400d47bf9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-4e6d72c4eed3422988bbb8bcb7a24473.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4e6d72c4eed3422988bbb8bcb7a24473.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-06d1757cffab4a8ca665139b84cf13f7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-06d1757cffab4a8ca665139b84cf13f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-d339dc2a684f407e9b3edf757fb2aeed.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d339dc2a684f407e9b3edf757fb2aeed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-0719ef4f41184886ac5e74d5cf83aaca.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0719ef4f41184886ac5e74d5cf83aaca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1d3476b95e8b4f2fb1216f8556014b32.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1d3476b95e8b4f2fb1216f8556014b32.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-620e5f53f14044039b265687beb17a00.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-620e5f53f14044039b265687beb17a00.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-26d951486ef6417690b350cfc4368e01.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-26d951486ef6417690b350cfc4368e01.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8c736f1b292a45d1b8ef6737c9e1f5aa.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8c736f1b292a45d1b8ef6737c9e1f5aa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-5ed8a696cb884b1d81c6ef2ae2089b1d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5ed8a696cb884b1d81c6ef2ae2089b1d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5c8488b467e842188509c39da2daa45b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5c8488b467e842188509c39da2daa45b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-d729890a74ce44a99b0def8b2decff5b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d729890a74ce44a99b0def8b2decff5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-d51e74c261b64bf08c2e1948cf753d7a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d51e74c261b64bf08c2e1948cf753d7a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
											    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-8eaf7e64bc2d46d3a6c821019a246183.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8eaf7e64bc2d46d3a6c821019a246183.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-615e0ac309244098963946183e403452.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-615e0ac309244098963946183e403452.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-d48f2d65e9fc4a9fbc35667d281ea379.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d48f2d65e9fc4a9fbc35667d281ea379.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9befe4bc37654a419c672fa76ec99b74.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9befe4bc37654a419c672fa76ec99b74.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-25b0c1b417994200ac42be9735514ee8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-25b0c1b417994200ac42be9735514ee8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-6b248d0b358641f4a7ed25b2d7241084.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6b248d0b358641f4a7ed25b2d7241084.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-a1673e8f02904a53b0114d6d6f80abdc.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a1673e8f02904a53b0114d6d6f80abdc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-7e5fa1510f464eadbfb1add1ebef7585.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7e5fa1510f464eadbfb1add1ebef7585.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-4e55fc34ee2d4af58a4658b1a2f9ac4b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4e55fc34ee2d4af58a4658b1a2f9ac4b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-e0a5d4dbc5484d77a741645aa3dd7949.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e0a5d4dbc5484d77a741645aa3dd7949.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f1b1b67facff4573b923aa9ff2e70a3c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f1b1b67facff4573b923aa9ff2e70a3c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-766c14a082c24308aaef1b91c4b93d39.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-766c14a082c24308aaef1b91c4b93d39.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-fe80eac015184308b9826f1a68e729a9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-fe80eac015184308b9826f1a68e729a9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-67d0ac11c13c4c34a6ffaefb4fea24ee.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-67d0ac11c13c4c34a6ffaefb4fea24ee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-e94a0ea26ad34a14925536c32f37d1e8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e94a0ea26ad34a14925536c32f37d1e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-e3eb7f88d66647d2b4103c45af6631f7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e3eb7f88d66647d2b4103c45af6631f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-f1b426421f6a454da2fcbb6087b53740.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f1b426421f6a454da2fcbb6087b53740.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7598b5c8e82e4e4997499f6863e29006.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7598b5c8e82e4e4997499f6863e29006.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-42772ed6eab04b4d88596f8a14056939.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42772ed6eab04b4d88596f8a14056939.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-26c677d80016430c8494c60121a70fd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26c677d80016430c8494c60121a70fd0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-2e6063b6cd864e66b814d92a766bb892.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6063b6cd864e66b814d92a766bb892.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a42d5eeff504de481c3c99e4b8978d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a42d5eeff504de481c3c99e4b8978d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7f45fc109a04221b2a7599ba286acd1.html" target="element"> Business Service </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																						<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																					</tr>

																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cc319405c2c04e7287b7b05d56c4ae0c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cc319405c2c04e7287b7b05d56c4ae0c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-f258f176143b49fe8dbb44d3900fc33f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f258f176143b49fe8dbb44d3900fc33f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b0147bbd1fc949c680f3bbc2176f2a81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b0147bbd1fc949c680f3bbc2176f2a81.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23f125ce4cb2403bbd64bd0d050cd707.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23f125ce4cb2403bbd64bd0d050cd707.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-8ebb5c174fa04f75941157a03509bb68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ebb5c174fa04f75941157a03509bb68.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-cf84d8dde6fd476fa4e47fc27b6fe1c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf84d8dde6fd476fa4e47fc27b6fe1c4.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-be166331a27f48f485201d74186bcc8e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-be166331a27f48f485201d74186bcc8e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-6d07ff394375458b806808a5aae152e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6d07ff394375458b806808a5aae152e8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-8d46f45d67764eddbf605aaf4fbc6c76.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d46f45d67764eddbf605aaf4fbc6c76.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-375775724dea4a079cff76ab9abb6206.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-375775724dea4a079cff76ab9abb6206.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-651ed85fab314c94aa40dc432daf8159.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-651ed85fab314c94aa40dc432daf8159.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>