<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Law Electronic Service Providing</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Law Electronic Service Providing</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1e09026c77434f058aa4ab89dea313c3.png" alt="Law Electronic Service Providing" usemap="#id-1e09026c77434f058aa4ab89dea313c3map"/>
			   <map name="id-1e09026c77434f058aa4ab89dea313c3map">
				  				<area shape="rect" coords="730,304,850,359" href="../elements/id-a9a7236a9d024c1c97ce22accd460208.html"  target="element">
				  				<area shape="rect" coords="334,304,454,359" href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html"  target="element">
				  				<area shape="rect" coords="22,304,155,359" href="../elements/id-2a27549aac964ed49ae49d118852966f.html"  target="element">
				  				<area shape="rect" coords="598,304,718,359" href="../elements/id-96b2431d2524432da24f5feadf33ac30.html"  target="element">
				  				<area shape="rect" coords="202,304,310,359" href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html"  target="element">
				  				<area shape="rect" coords="466,304,586,359" href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html"  target="element">

				  		<area shape="rect" coords="10,280,862,371" href="../elements/id-0fcbd31e.html"  target="element">
				          <area shape="rect" coords="209,388,305,431" href="../objects/id-93da0c5d9ef94f0aa66508bfe135e2fd.html" target="element" >
				          <area shape="rect" coords="731,443,862,486" href="../objects/id-f5ba497e961d471ca23b3ed46e9a0c3d.html" target="element" >
				          <area shape="rect" coords="767,388,898,431" href="../objects/id-705084a042f94d3aae3186af363d05eb.html" target="element" >
				          <area shape="rect" coords="335,388,455,444" href="../objects/id-3c886b424ccb4c1da9be52d3e3abb8b5.html" target="element" >
				  		<area shape="rect" coords="599,400,719,479" href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html"  target="element">
				  		<area shape="rect" coords="467,400,587,479" href="../elements/id-8215d13b4aa440a784b5b8c322c834f8.html"  target="element">
				  				<area shape="rect" coords="514,46,611,101" href="../elements/id-7236f37ffaeb47d8b90a0e1f40f7073f.html"  target="element">
				  				<area shape="rect" coords="406,46,503,101" href="../elements/id-b41aeb1516cd42b594705f5bb7672cfe.html"  target="element">
				  				<area shape="rect" coords="298,46,395,101" href="../elements/id-0854a0e8a26a428e9cdfe54955e9be70.html"  target="element">
				  				<area shape="rect" coords="34,46,131,101" href="../elements/id-ad4b59233e92474688718aa8419c983a.html"  target="element">
				  				<area shape="rect" coords="142,118,239,173" href="../elements/id-d14a98ecd9ae459cbee163b87aeb04c2.html"  target="element">
				  				<area shape="rect" coords="142,46,239,101" href="../elements/id-872d6bd5d7764c219941dbc37b8a8b9d.html"  target="element">
				  				<area shape="rect" coords="622,190,719,245" href="../elements/id-1331ca2b30c24115b2e5d5f383ec9fca.html"  target="element">
				  				<area shape="rect" coords="514,190,611,245" href="../elements/id-c91379de2e5e415f981268598ede487a.html"  target="element">
				  				<area shape="rect" coords="34,118,131,173" href="../elements/id-7956bd75ff864b9bba856a934d69d485.html"  target="element">
				  				<area shape="rect" coords="407,190,504,245" href="../elements/id-56dd53f2e491418f844542d5ab992977.html"  target="element">
				  				<area shape="rect" coords="298,190,395,245" href="../elements/id-8993eac9999a4dd4bb0b9fc12bd64852.html"  target="element">
				  				<area shape="rect" coords="729,118,826,173" href="../elements/id-95c69aa721384dd1a910bbe2ea1f1b10.html"  target="element">
				  				<area shape="rect" coords="622,118,719,173" href="../elements/id-7cc3e29a09fa478b94fb373856f15529.html"  target="element">
				  				<area shape="rect" coords="514,118,611,173" href="../elements/id-cbf4a184096d4dd490cf18dc87a5505f.html"  target="element">
				  				<area shape="rect" coords="406,118,504,173" href="../elements/id-52d6ad85de604dc88197f35c31defbf0.html"  target="element">
				  				<area shape="rect" coords="298,118,395,173" href="../elements/id-a764472d20b34add89a3609aefde6949.html"  target="element">
				  				<area shape="rect" coords="729,46,826,101" href="../elements/id-04daa5ff80874c2bbb6d04d449725951.html"  target="element">
				  				<area shape="rect" coords="622,46,719,101" href="../elements/id-9977fcb2504b4250a9870ec51fb84ea0.html"  target="element">

				  		<area shape="rect" coords="10,10,852,257" href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
											    <td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9977fcb2504b4250a9870ec51fb84ea0.html" target="element"> 10 &#3626;&#3656;&#3591;&#3588;&#3635;&#3586;&#3629; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3652;&#3604;&#3657; </a> </td>
													    <td> <a href="../elements/id-9977fcb2504b4250a9870ec51fb84ea0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-04daa5ff80874c2bbb6d04d449725951.html" target="element"> 11 &#3605;&#3629;&#3610;&#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585; </a> </td>
													    <td> <a href="../elements/id-04daa5ff80874c2bbb6d04d449725951.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a764472d20b34add89a3609aefde6949.html" target="element"> 12 &#3649;&#3626;&#3604;&#3591;&#3627;&#3621;&#3633;&#3585;&#3600;&#3634;&#3609; &#3652;&#3617;&#3656;&#3605;&#3657;&#3629;&#3591;&#3626;&#3635;&#3648;&#3609;&#3634; </a> </td>
													    <td> <a href="../elements/id-a764472d20b34add89a3609aefde6949.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52d6ad85de604dc88197f35c31defbf0.html" target="element"> 13 &#3649;&#3626;&#3604;&#3591;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; &#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; &#3652;&#3604;&#3657; </a> </td>
													    <td> <a href="../elements/id-52d6ad85de604dc88197f35c31defbf0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cbf4a184096d4dd490cf18dc87a5505f.html" target="element"> 14 &#3649;&#3626;&#3604;&#3591;&#3627;&#3621;&#3633;&#3585;&#3600;&#3634;&#3609; &#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; &#3652;&#3604;&#3657; </a> </td>
													    <td> <a href="../elements/id-cbf4a184096d4dd490cf18dc87a5505f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7cc3e29a09fa478b94fb373856f15529.html" target="element"> 15 &#3605;&#3636;&#3604;&#3605;&#3656;&#3629;&#3619;&#3632;&#3627;&#3623;&#3656;&#3634;&#3591; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3604;&#3657;&#3623;&#3618;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585; </a> </td>
													    <td> <a href="../elements/id-7cc3e29a09fa478b94fb373856f15529.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-95c69aa721384dd1a910bbe2ea1f1b10.html" target="element"> 16 &#3606;&#3639;&#3629;&#3652;&#3604;&#3657;&#3623;&#3656;&#3634;&#3648;&#3611;&#3655;&#3609; &#3621;&#3634;&#3618;&#3621;&#3633;&#3585;&#3625;&#3603;&#3660;&#3629;&#3633;&#3585;&#3625;&#3619; </a> </td>
													    <td> <a href="../elements/id-95c69aa721384dd1a910bbe2ea1f1b10.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8993eac9999a4dd4bb0b9fc12bd64852.html" target="element"> 17 &#3592;&#3633;&#3604;&#3648;&#3585;&#3655;&#3610;&#3648;&#3629;&#3585;&#3626;&#3634;&#3619; &#3648;&#3611;&#3655;&#3609;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; &#3652;&#3604;&#3657; </a> </td>
													    <td> <a href="../elements/id-8993eac9999a4dd4bb0b9fc12bd64852.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-56dd53f2e491418f844542d5ab992977.html" target="element"> 18 &#3648;&#3612;&#3618;&#3649;&#3614;&#3619;&#3656; &#3649;&#3610;&#3610;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3652;&#3604;&#3657; </a> </td>
													    <td> <a href="../elements/id-56dd53f2e491418f844542d5ab992977.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7956bd75ff864b9bba856a934d69d485.html" target="element"> 19 &#3592;&#3633;&#3604;&#3607;&#3635;&#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; </a> </td>
													    <td> <a href="../elements/id-7956bd75ff864b9bba856a934d69d485.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c91379de2e5e415f981268598ede487a.html" target="element"> 20 &#3611;&#3619;&#3632;&#3585;&#3634;&#3624;&#3594;&#3656;&#3629;&#3591;&#3607;&#3634;&#3591; &#3605;&#3636;&#3604;&#3605;&#3656;&#3629;&#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585; </a> </td>
													    <td> <a href="../elements/id-c91379de2e5e415f981268598ede487a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1331ca2b30c24115b2e5d5f383ec9fca.html" target="element"> 21 &#3649;&#3626;&#3604;&#3591;&#3651;&#3610; &#3629;&#3609;&#3640;&#3597;&#3634;&#3605; &#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631;&#3652;&#3604;&#3657; </a> </td>
													    <td> <a href="../elements/id-1331ca2b30c24115b2e5d5f383ec9fca.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-872d6bd5d7764c219941dbc37b8a8b9d.html" target="element"> 22 &#3605;&#3636;&#3604;&#3605;&#3634;&#3617;&#3648;&#3619;&#3656;&#3591;&#3619;&#3633;&#3604; &#3651;&#3627;&#3657;&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619; </a> </td>
													    <td> <a href="../elements/id-872d6bd5d7764c219941dbc37b8a8b9d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d14a98ecd9ae459cbee163b87aeb04c2.html" target="element"> 23 &#3607;&#3635;&#3651;&#3627;&#3657; &#3611;&#3619;&#3632;&#3594;&#3634;&#3594;&#3609;&#3648;&#3586;&#3657;&#3634;&#3651;&#3592; </a> </td>
													    <td> <a href="../elements/id-d14a98ecd9ae459cbee163b87aeb04c2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad4b59233e92474688718aa8419c983a.html" target="element"> 6 &#3585;&#3635;&#3627;&#3609;&#3604; &#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3617;&#3634;&#3605;&#3619;&#3600;&#3634;&#3609; </a> </td>
													    <td> <a href="../elements/id-ad4b59233e92474688718aa8419c983a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0854a0e8a26a428e9cdfe54955e9be70.html" target="element"> 7 &#3651;&#3594;&#3657;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3652;&#3604;&#3657; &#3626;&#3635;&#3648;&#3609;&#3634;&#3652;&#3617;&#3656;&#3605;&#3657;&#3629;&#3591;&#3619;&#3633;&#3610;&#3619;&#3629;&#3591; </a> </td>
													    <td> <a href="../elements/id-0854a0e8a26a428e9cdfe54955e9be70.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b41aeb1516cd42b594705f5bb7672cfe.html" target="element"> 8 &#3585;&#3635;&#3627;&#3609;&#3604;&#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619; &#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3648;&#3614;&#3636;&#3656;&#3617;&#3648;&#3605;&#3636;&#3617;&#3652;&#3604;&#3657; </a> </td>
													    <td> <a href="../elements/id-b41aeb1516cd42b594705f5bb7672cfe.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7236f37ffaeb47d8b90a0e1f40f7073f.html" target="element"> 9 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610; &#3610;&#3633;&#3605;&#3619;&#3611;&#3619;&#3632;&#3594;&#3634;&#3594;&#3609; </a> </td>
													    <td> <a href="../elements/id-7236f37ffaeb47d8b90a0e1f40f7073f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8215d13b4aa440a784b5b8c322c834f8.html" target="element"> Identifiable Interoperable Document </a> </td>
											    <td> <a href="../elements/id-8215d13b4aa440a784b5b8c322c834f8.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
											    <td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-3c886b424ccb4c1da9be52d3e3abb8b5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3c886b424ccb4c1da9be52d3e3abb8b5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-705084a042f94d3aae3186af363d05eb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-705084a042f94d3aae3186af363d05eb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f5ba497e961d471ca23b3ed46e9a0c3d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f5ba497e961d471ca23b3ed46e9a0c3d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-93da0c5d9ef94f0aa66508bfe135e2fd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-93da0c5d9ef94f0aa66508bfe135e2fd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
											    <td> <a href="../elements/id-0fcbd31e.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element"> Identifiable Interoperable Document </a> </td>
													    <td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html" target="element"> Once Only </a> </td>
													    <td> <a href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element"> DoBiz Electronically Interoperable System </a> </td>
													    <td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a27549aac964ed49ae49d118852966f.html" target="element"> DoBiz Interoperability Enabling </a> </td>
													    <td> <a href="../elements/id-2a27549aac964ed49ae49d118852966f.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html" target="element"> Technology Nutral Data Portability </a> </td>
													    <td> <a href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a9a7236a9d024c1c97ce22accd460208.html" target="element"> Selective Architecture Solutions </a> </td>
													    <td> <a href="../elements/id-a9a7236a9d024c1c97ce22accd460208.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-04a569c6570f4440aee1f4a0b8eeb6f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04a569c6570f4440aee1f4a0b8eeb6f6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-9977fcb2504b4250a9870ec51fb84ea0.html" target="element"> 10 &#3626;&#3656;&#3591;&#3588;&#3635;&#3586;&#3629; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3652;&#3604;&#3657; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87763e373b214d948028a67cb4fb3f33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87763e373b214d948028a67cb4fb3f33.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-04daa5ff80874c2bbb6d04d449725951.html" target="element"> 11 &#3605;&#3629;&#3610;&#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6fa948c8bb24c7fb255cb6f248e495b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6fa948c8bb24c7fb255cb6f248e495b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-a764472d20b34add89a3609aefde6949.html" target="element"> 12 &#3649;&#3626;&#3604;&#3591;&#3627;&#3621;&#3633;&#3585;&#3600;&#3634;&#3609; &#3652;&#3617;&#3656;&#3605;&#3657;&#3629;&#3591;&#3626;&#3635;&#3648;&#3609;&#3634; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcbf957594ff4c3d92bc497e32650810.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcbf957594ff4c3d92bc497e32650810.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-52d6ad85de604dc88197f35c31defbf0.html" target="element"> 13 &#3649;&#3626;&#3604;&#3591;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; &#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; &#3652;&#3604;&#3657; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e8e99b6a7cf4cd19f0871d5c2299f65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e8e99b6a7cf4cd19f0871d5c2299f65.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-cbf4a184096d4dd490cf18dc87a5505f.html" target="element"> 14 &#3649;&#3626;&#3604;&#3591;&#3627;&#3621;&#3633;&#3585;&#3600;&#3634;&#3609; &#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; &#3652;&#3604;&#3657; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a418c4d1a4464944bd4266d6de6824d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a418c4d1a4464944bd4266d6de6824d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-7cc3e29a09fa478b94fb373856f15529.html" target="element"> 15 &#3605;&#3636;&#3604;&#3605;&#3656;&#3629;&#3619;&#3632;&#3627;&#3623;&#3656;&#3634;&#3591; &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3604;&#3657;&#3623;&#3618;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53b27cc0f2d94b1ba0fe9be0b72d4a7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53b27cc0f2d94b1ba0fe9be0b72d4a7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-95c69aa721384dd1a910bbe2ea1f1b10.html" target="element"> 16 &#3606;&#3639;&#3629;&#3652;&#3604;&#3657;&#3623;&#3656;&#3634;&#3648;&#3611;&#3655;&#3609; &#3621;&#3634;&#3618;&#3621;&#3633;&#3585;&#3625;&#3603;&#3660;&#3629;&#3633;&#3585;&#3625;&#3619; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-427119878d6141c0bcaf5d23f6d5c28c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-427119878d6141c0bcaf5d23f6d5c28c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-8993eac9999a4dd4bb0b9fc12bd64852.html" target="element"> 17 &#3592;&#3633;&#3604;&#3648;&#3585;&#3655;&#3610;&#3648;&#3629;&#3585;&#3626;&#3634;&#3619; &#3648;&#3611;&#3655;&#3609;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; &#3652;&#3604;&#3657; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-89ff931206bf42caacff263875cf4593.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89ff931206bf42caacff263875cf4593.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-56dd53f2e491418f844542d5ab992977.html" target="element"> 18 &#3648;&#3612;&#3618;&#3649;&#3614;&#3619;&#3656; &#3649;&#3610;&#3610;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3652;&#3604;&#3657; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-076c787257a040bb9bf2710eb7cae80c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-076c787257a040bb9bf2710eb7cae80c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-7956bd75ff864b9bba856a934d69d485.html" target="element"> 19 &#3592;&#3633;&#3604;&#3607;&#3635;&#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2626933528d4dcc85e026a74cfee039.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2626933528d4dcc85e026a74cfee039.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-c91379de2e5e415f981268598ede487a.html" target="element"> 20 &#3611;&#3619;&#3632;&#3585;&#3634;&#3624;&#3594;&#3656;&#3629;&#3591;&#3607;&#3634;&#3591; &#3605;&#3636;&#3604;&#3605;&#3656;&#3629;&#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f212141f4a03467fa42fc46ec0bd82ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f212141f4a03467fa42fc46ec0bd82ab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-1331ca2b30c24115b2e5d5f383ec9fca.html" target="element"> 21 &#3649;&#3626;&#3604;&#3591;&#3651;&#3610; &#3629;&#3609;&#3640;&#3597;&#3634;&#3605; &#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3631;&#3652;&#3604;&#3657; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4206e81341bc41f180286afb21f8100b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4206e81341bc41f180286afb21f8100b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-872d6bd5d7764c219941dbc37b8a8b9d.html" target="element"> 22 &#3605;&#3636;&#3604;&#3605;&#3634;&#3617;&#3648;&#3619;&#3656;&#3591;&#3619;&#3633;&#3604; &#3651;&#3627;&#3657;&#3604;&#3635;&#3648;&#3609;&#3636;&#3609;&#3585;&#3634;&#3619; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bffc2301152d423bbb59f93c26f3ecb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bffc2301152d423bbb59f93c26f3ecb5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-d14a98ecd9ae459cbee163b87aeb04c2.html" target="element"> 23 &#3607;&#3635;&#3651;&#3627;&#3657; &#3611;&#3619;&#3632;&#3594;&#3634;&#3594;&#3609;&#3648;&#3586;&#3657;&#3634;&#3651;&#3592; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebb40b55c1934abbbe7fd4d064a087e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebb40b55c1934abbbe7fd4d064a087e7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-ad4b59233e92474688718aa8419c983a.html" target="element"> 6 &#3585;&#3635;&#3627;&#3609;&#3604; &#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619;&#3649;&#3621;&#3632;&#3617;&#3634;&#3605;&#3619;&#3600;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8995eddd24e4a47911f757c29e34b6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8995eddd24e4a47911f757c29e34b6c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-0854a0e8a26a428e9cdfe54955e9be70.html" target="element"> 7 &#3651;&#3594;&#3657;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3652;&#3604;&#3657; &#3626;&#3635;&#3648;&#3609;&#3634;&#3652;&#3617;&#3656;&#3605;&#3657;&#3629;&#3591;&#3619;&#3633;&#3610;&#3619;&#3629;&#3591; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca2eeb0d12f94feab783a2ac3b56cd7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca2eeb0d12f94feab783a2ac3b56cd7f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-b41aeb1516cd42b594705f5bb7672cfe.html" target="element"> 8 &#3585;&#3635;&#3627;&#3609;&#3604;&#3623;&#3636;&#3608;&#3637;&#3585;&#3634;&#3619; &#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3648;&#3614;&#3636;&#3656;&#3617;&#3648;&#3605;&#3636;&#3617;&#3652;&#3604;&#3657; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6a9e7e19fe64b38bc79c9309d24f094.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6a9e7e19fe64b38bc79c9309d24f094.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-7236f37ffaeb47d8b90a0e1f40f7073f.html" target="element"> 9 &#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610; &#3610;&#3633;&#3605;&#3619;&#3611;&#3619;&#3632;&#3594;&#3634;&#3594;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9000f6faf454697b6d70000394c3576.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9000f6faf454697b6d70000394c3576.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element"> Identifiable Interoperable Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-989954dfc9b24ea9b380009bf9cc1222.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-989954dfc9b24ea9b380009bf9cc1222.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element"> DoBiz Electronically Interoperable System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8386afffa68d406589714bb60dd43b22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8386afffa68d406589714bb60dd43b22.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-2a27549aac964ed49ae49d118852966f.html" target="element"> DoBiz Interoperability Enabling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-986d2a72f9424152a967aafd87559bf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-986d2a72f9424152a967aafd87559bf1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html" target="element"> Technology Nutral Data Portability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7340a2a4a2524d4eab499988af6b38aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7340a2a4a2524d4eab499988af6b38aa.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-a9a7236a9d024c1c97ce22accd460208.html" target="element"> Selective Architecture Solutions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40f04f82b091458b8af01da4baec42e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40f04f82b091458b8af01da4baec42e0.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd963999b68e400f97ec6cbb5d80fb3c.html" target="element"> &#3614;&#3619;&#3610;.&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3619;&#3634;&#3594;&#3585;&#3634;&#3619; &#3607;&#3634;&#3591;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; </a> </td>
																		<td> <a href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html" target="element"> Once Only </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e5a27ce5699a4da7a58e5bb46d5babb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5a27ce5699a4da7a58e5bb46d5babb6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8215d13b4aa440a784b5b8c322c834f8.html" target="element"> Identifiable Interoperable Document </a> </td>
																		<td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element"> Identifiable Interoperable Document </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2e126d9918054db697494d77d5dcbe66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e126d9918054db697494d77d5dcbe66.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																		<td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element"> DoBiz Electronically Interoperable System </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-e39f73b890a94af19819b27ce7c0d0ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e39f73b890a94af19819b27ce7c0d0ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element"> Identifiable Interoperable Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c34f267b1ff4a858f3a46355ed09e89.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c34f267b1ff4a858f3a46355ed09e89.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html" target="element"> Technology Nutral Data Portability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c207d554663435f84524bf9b61224e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c207d554663435f84524bf9b61224e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-2a27549aac964ed49ae49d118852966f.html" target="element"> DoBiz Interoperability Enabling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f1989964a38421da785c705e670c2b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f1989964a38421da785c705e670c2b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html" target="element"> Once Only </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6048363495c342d2aae32b59a3df6450.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6048363495c342d2aae32b59a3df6450.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element"> DoBiz Electronically Interoperable System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02a4372c527145af84184db33863bef8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02a4372c527145af84184db33863bef8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-a9a7236a9d024c1c97ce22accd460208.html" target="element"> Selective Architecture Solutions </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>