<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH5-F4-8-Linked</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH5-F4-8-Linked</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-25811179340d4c4c94c05bb3b4401b64.png" alt="doc1-CH5-F4-8-Linked" usemap="#id-25811179340d4c4c94c05bb3b4401b64map"/>
			   <map name="id-25811179340d4c4c94c05bb3b4401b64map">
				          <area shape="rect" coords="466,10,959,38" href="../objects/id-b6ce2ef98b6c4d39a8f2af12ce2f145d.html" target="element" >
				          <area shape="rect" coords="954,275,1008,326" href="../objects/id-9769b193c2754900bbcc580d2571f108.html" target="element" >
				          <area shape="rect" coords="953,216,1007,269" href="../objects/id-88f1558f07f540b5a219175e81d065fa.html" target="element" >
				          <area shape="rect" coords="958,45,998,96" href="../objects/id-817aed7ad943478a9fcc4e63575dd517.html" target="element" >
				          <area shape="rect" coords="952,101,1006,152" href="../objects/id-9834df5b65dc435180ba2ca7410bdbb8.html" target="element" >
				          <area shape="rect" coords="952,157,1006,208" href="../objects/id-275458810b1c477d94196261bfbff6f6.html" target="element" >
				          <area shape="rect" coords="10,119,155,140" href="../objects/id-d9650b3f431847138ef19ede1fb7a00e.html" target="element" >
				          <area shape="rect" coords="137,357,170,389" href="../objects/id-e045fda5e3c64ba38075ef26714a18f7.html" target="element" >
				          <area shape="rect" coords="370,156,403,188" href="../objects/id-423bda35805f4a2e9e17292a155615a2.html" target="element" >
				          <area shape="rect" coords="262,14,295,46" href="../objects/id-737a88fa1631430885c421c9ee6be8f4.html" target="element" >
				          <area shape="rect" coords="814,225,933,258" href="../objects/id-7449111616fb4ad49abad4e8a9346f96.html" target="element" >
				          <area shape="rect" coords="814,46,934,95" href="../objects/id-d0bc145652d449d79133a3bb1885f3ac.html" target="element" >
				          <area shape="rect" coords="814,286,934,316" href="../objects/id-cbf6372578bd40af8452044ed4a893b6.html" target="element" >
				          <area shape="rect" coords="814,169,934,205" href="../objects/id-159e528ad7b9407cb0bc509f2b8bdae5.html" target="element" >
				          <area shape="rect" coords="814,106,946,148" href="../objects/id-b30f16327ef248239c59d40f1095acc4.html" target="element" >
				          <area shape="rect" coords="382,21,437,63" href="../objects/id-2ace7d37707445a2810ef0039feb8038.html" target="element" >
				          <area shape="rect" coords="169,357,934,429" href="../objects/id-efa77cbfd039478bb3eb9b0c0d989d5d.html" target="element" >
				  		<area shape="rect" coords="682,276,803,320" href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html"  target="element">
				          <area shape="rect" coords="22,20,107,114" href="../objects/id-8448d44418d741d99e803cfd07bd77b5.html" target="element" >
				          <area shape="rect" coords="316,10,377,69" href="../objects/id-ac90820b095c4b4085241a014e798149.html" target="element" >
				          <area shape="rect" coords="400,139,587,205" href="../objects/id-4cd57c79c4cc47bd9e045acd9a46df09.html" target="element" >
				          <area shape="rect" coords="343,274,635,340" href="../objects/id-2632b41ea4fb4c0e8a977ed82ba6fad4.html" target="element" >
				  		<area shape="rect" coords="22,195,143,316" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">
				  		        <area shape="rect" coords="196,303,291,327" href="../objects/id-37777df0b8004e0e8b2f8563963695fd.html" target="element" >

				  		<area shape="rect" coords="166,285,311,329" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		<area shape="rect" coords="685,220,806,264" href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html"  target="element">
				  		<area shape="rect" coords="684,161,805,205" href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html"  target="element">
				  		<area shape="rect" coords="682,105,803,149" href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html"  target="element">
				  		<area shape="rect" coords="682,45,803,89" href="../elements/id-56fb716883b44a01913c52f37deac968.html"  target="element">
				  		        <area shape="rect" coords="434,62,544,102" href="../objects/id-e4b15b57a358422d8869ef4c8f31175b.html" target="element" >

				  		<area shape="rect" coords="430,57,551,130" href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html"  target="element">
				  		        <area shape="rect" coords="196,243,291,267" href="../objects/id-85a358be6baf4c85ab9ba4e7543b54c7.html" target="element" >

				  		<area shape="rect" coords="166,225,311,269" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="204,63,271,87" href="../objects/id-fcb22a75a2e74dec86dd9105ea4843a0.html" target="element" >

				  		<area shape="rect" coords="166,45,311,89" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="196,183,291,207" href="../objects/id-e6576b16799b49709b83e0bbc1280cc0.html" target="element" >

				  		<area shape="rect" coords="166,165,311,209" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="196,123,291,147" href="../objects/id-9e6e24856c474d24b9561749954d10c9.html" target="element" >

				  		<area shape="rect" coords="166,105,311,149" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				          <area shape="rect" coords="358,161,623,328" href="../objects/id-56c1224da9ac4f778ec39b7cd5ab1399.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-56c1224da9ac4f778ec39b7cd5ab1399.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-56c1224da9ac4f778ec39b7cd5ab1399.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-9e6e24856c474d24b9561749954d10c9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9e6e24856c474d24b9561749954d10c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e6576b16799b49709b83e0bbc1280cc0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e6576b16799b49709b83e0bbc1280cc0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-fcb22a75a2e74dec86dd9105ea4843a0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fcb22a75a2e74dec86dd9105ea4843a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-85a358be6baf4c85ab9ba4e7543b54c7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-85a358be6baf4c85ab9ba4e7543b54c7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
											    <td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e4b15b57a358422d8869ef4c8f31175b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e4b15b57a358422d8869ef4c8f31175b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element"> HTML+RDFa </a> </td>
											    <td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element"> RDF/XML </a> </td>
											    <td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element"> RDF/JSON-LD </a> </td>
											    <td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element"> RFDF/N3    </a> </td>
											    <td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-37777df0b8004e0e8b2f8563963695fd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-37777df0b8004e0e8b2f8563963695fd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2632b41ea4fb4c0e8a977ed82ba6fad4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2632b41ea4fb4c0e8a977ed82ba6fad4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4cd57c79c4cc47bd9e045acd9a46df09.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4cd57c79c4cc47bd9e045acd9a46df09.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ac90820b095c4b4085241a014e798149.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ac90820b095c4b4085241a014e798149.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8448d44418d741d99e803cfd07bd77b5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8448d44418d741d99e803cfd07bd77b5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element"> RFDF/TTL  </a> </td>
											    <td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-efa77cbfd039478bb3eb9b0c0d989d5d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-efa77cbfd039478bb3eb9b0c0d989d5d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2ace7d37707445a2810ef0039feb8038.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2ace7d37707445a2810ef0039feb8038.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b30f16327ef248239c59d40f1095acc4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b30f16327ef248239c59d40f1095acc4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-159e528ad7b9407cb0bc509f2b8bdae5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-159e528ad7b9407cb0bc509f2b8bdae5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cbf6372578bd40af8452044ed4a893b6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cbf6372578bd40af8452044ed4a893b6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d0bc145652d449d79133a3bb1885f3ac.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d0bc145652d449d79133a3bb1885f3ac.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7449111616fb4ad49abad4e8a9346f96.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7449111616fb4ad49abad4e8a9346f96.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-737a88fa1631430885c421c9ee6be8f4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-737a88fa1631430885c421c9ee6be8f4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-423bda35805f4a2e9e17292a155615a2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-423bda35805f4a2e9e17292a155615a2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e045fda5e3c64ba38075ef26714a18f7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e045fda5e3c64ba38075ef26714a18f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d9650b3f431847138ef19ede1fb7a00e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d9650b3f431847138ef19ede1fb7a00e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-275458810b1c477d94196261bfbff6f6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-275458810b1c477d94196261bfbff6f6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9834df5b65dc435180ba2ca7410bdbb8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9834df5b65dc435180ba2ca7410bdbb8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-817aed7ad943478a9fcc4e63575dd517.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-817aed7ad943478a9fcc4e63575dd517.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-88f1558f07f540b5a219175e81d065fa.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-88f1558f07f540b5a219175e81d065fa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9769b193c2754900bbcc580d2571f108.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9769b193c2754900bbcc580d2571f108.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b6ce2ef98b6c4d39a8f2af12ce2f145d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b6ce2ef98b6c4d39a8f2af12ce2f145d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-718ac4b3eb7946508d8fc5aa443e9eed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-718ac4b3eb7946508d8fc5aa443e9eed.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element"> HTML+RDFa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7d9ae0d57b149ea967a6891fc6ee924.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7d9ae0d57b149ea967a6891fc6ee924.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element"> RDF/XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ca683c4693743ccb2885b1fa95dee7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ca683c4693743ccb2885b1fa95dee7a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element"> RDF/JSON-LD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80dc2964e6104ef4b8e2facc9e1003e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80dc2964e6104ef4b8e2facc9e1003e0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element"> RFDF/N3    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-698f3d8f99204b86bdb47259f6dbc675.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698f3d8f99204b86bdb47259f6dbc675.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element"> RFDF/TTL  </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>