<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH6-F1-8-http-LDP</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH6-F1-8-http-LDP</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-20fe23c5f9434fa88b124b1bff2db78f.png" alt="doc1-CH6-F1-8-http-LDP" usemap="#id-20fe23c5f9434fa88b124b1bff2db78fmap"/>
			   <map name="id-20fe23c5f9434fa88b124b1bff2db78fmap">
				          <area shape="rect" coords="125,353,158,385" href="../objects/id-c587733a2ad44ac687fcbebc9a377d82.html" target="element" >
				          <area shape="rect" coords="358,152,391,184" href="../objects/id-cee3911779964e99b7447a82babdce26.html" target="element" >
				          <area shape="rect" coords="250,10,283,42" href="../objects/id-f20f1d891f254cf7b6ff5b29f8929fc3.html" target="element" >
				          <area shape="rect" coords="802,221,921,254" href="../objects/id-f1fe4dc7a326448ab05b993fd1e1070c.html" target="element" >
				          <area shape="rect" coords="802,42,922,91" href="../objects/id-37f00057cec7461aad4c5a716214499b.html" target="element" >
				          <area shape="rect" coords="802,282,922,312" href="../objects/id-73e93a56878e436ca91e4e0e6be0da62.html" target="element" >
				          <area shape="rect" coords="802,165,922,201" href="../objects/id-17c16982c8a143d69dd1f9203e07d13c.html" target="element" >
				          <area shape="rect" coords="802,102,934,144" href="../objects/id-023dc693c2584df9b8ef600b5f96b696.html" target="element" >
				          <area shape="rect" coords="365,21,420,63" href="../objects/id-bc1ed1a5263a40e5b5ecb2e56978b0dd.html" target="element" >
				          <area shape="rect" coords="157,353,922,425" href="../objects/id-45c1002351f94c1bae19227fd00f9765.html" target="element" >
				  		<area shape="rect" coords="670,272,791,316" href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html"  target="element">
				          <area shape="rect" coords="10,50,66,111" href="../objects/id-9895630bb57d4d36b1f53d2b971ac7e3.html" target="element" >
				          <area shape="rect" coords="58,14,155,70" href="../objects/id-7620f72ca30c44469a25a447d244c665.html" target="element" >
				          <area shape="rect" coords="298,10,359,59" href="../objects/id-0c84f4bc5d35447d8f82cbab09607577.html" target="element" >
				          <area shape="rect" coords="68,65,145,96" href="../objects/id-b52baafb80c3460e8bb70eadaab97fbc.html" target="element" >
				          <area shape="rect" coords="388,135,575,201" href="../objects/id-b6a84cf1ef834aa094ae75c9b8c077b0.html" target="element" >
				          <area shape="rect" coords="331,270,623,336" href="../objects/id-bfbb55506bd24242948408556a1efda6.html" target="element" >
				  		<area shape="rect" coords="10,107,131,228" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">
				  		<area shape="rect" coords="10,221,131,337" href="../elements/id-cd6046ca6af942ddb7703b5254446368.html"  target="element">
				  		        <area shape="rect" coords="184,299,279,323" href="../objects/id-b1e9028fb3574d359380eb424aa3770f.html" target="element" >

				  		<area shape="rect" coords="154,281,299,325" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		<area shape="rect" coords="673,216,794,260" href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html"  target="element">
				  		<area shape="rect" coords="672,157,793,201" href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html"  target="element">
				  		<area shape="rect" coords="670,101,791,145" href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html"  target="element">
				  		<area shape="rect" coords="670,41,791,85" href="../elements/id-56fb716883b44a01913c52f37deac968.html"  target="element">
				  		        <area shape="rect" coords="422,58,532,98" href="../objects/id-1a38919004fd4f85bc44221db16ee5bb.html" target="element" >

				  		<area shape="rect" coords="418,53,539,126" href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html"  target="element">
				  		        <area shape="rect" coords="184,239,279,263" href="../objects/id-927c7d63437e44d2a986e6682d3ab7e0.html" target="element" >

				  		<area shape="rect" coords="154,221,299,265" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="192,59,259,83" href="../objects/id-6c172d7015874e92bccbd3f1fe26f1b5.html" target="element" >

				  		<area shape="rect" coords="154,41,299,85" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="184,179,279,203" href="../objects/id-f3611039e30a4922b3368f7a384905e4.html" target="element" >

				  		<area shape="rect" coords="154,161,299,205" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="184,119,279,143" href="../objects/id-86b4c6f98092456aaa0743eff73dce76.html" target="element" >

				  		<area shape="rect" coords="154,101,299,145" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				          <area shape="rect" coords="346,157,611,324" href="../objects/id-10afa7df66ac4c378b59e7743961d2f0.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-10afa7df66ac4c378b59e7743961d2f0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-10afa7df66ac4c378b59e7743961d2f0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-86b4c6f98092456aaa0743eff73dce76.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-86b4c6f98092456aaa0743eff73dce76.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-f3611039e30a4922b3368f7a384905e4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f3611039e30a4922b3368f7a384905e4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-6c172d7015874e92bccbd3f1fe26f1b5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6c172d7015874e92bccbd3f1fe26f1b5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-927c7d63437e44d2a986e6682d3ab7e0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-927c7d63437e44d2a986e6682d3ab7e0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
											    <td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-1a38919004fd4f85bc44221db16ee5bb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1a38919004fd4f85bc44221db16ee5bb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element"> HTML+RDFa </a> </td>
											    <td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element"> RDF/XML </a> </td>
											    <td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element"> RDF/JSON-LD </a> </td>
											    <td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element"> RFDF/N3    </a> </td>
											    <td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-b1e9028fb3574d359380eb424aa3770f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b1e9028fb3574d359380eb424aa3770f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-cd6046ca6af942ddb7703b5254446368.html" target="element"> Biz API users </a> </td>
											    <td> <a href="../elements/id-cd6046ca6af942ddb7703b5254446368.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-bfbb55506bd24242948408556a1efda6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bfbb55506bd24242948408556a1efda6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b6a84cf1ef834aa094ae75c9b8c077b0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b6a84cf1ef834aa094ae75c9b8c077b0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b52baafb80c3460e8bb70eadaab97fbc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b52baafb80c3460e8bb70eadaab97fbc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0c84f4bc5d35447d8f82cbab09607577.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0c84f4bc5d35447d8f82cbab09607577.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7620f72ca30c44469a25a447d244c665.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7620f72ca30c44469a25a447d244c665.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9895630bb57d4d36b1f53d2b971ac7e3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9895630bb57d4d36b1f53d2b971ac7e3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element"> RFDF/TTL  </a> </td>
											    <td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-45c1002351f94c1bae19227fd00f9765.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-45c1002351f94c1bae19227fd00f9765.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bc1ed1a5263a40e5b5ecb2e56978b0dd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bc1ed1a5263a40e5b5ecb2e56978b0dd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-023dc693c2584df9b8ef600b5f96b696.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-023dc693c2584df9b8ef600b5f96b696.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-17c16982c8a143d69dd1f9203e07d13c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-17c16982c8a143d69dd1f9203e07d13c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-73e93a56878e436ca91e4e0e6be0da62.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-73e93a56878e436ca91e4e0e6be0da62.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-37f00057cec7461aad4c5a716214499b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-37f00057cec7461aad4c5a716214499b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f1fe4dc7a326448ab05b993fd1e1070c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f1fe4dc7a326448ab05b993fd1e1070c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f20f1d891f254cf7b6ff5b29f8929fc3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f20f1d891f254cf7b6ff5b29f8929fc3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cee3911779964e99b7447a82babdce26.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cee3911779964e99b7447a82babdce26.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c587733a2ad44ac687fcbebc9a377d82.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c587733a2ad44ac687fcbebc9a377d82.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-718ac4b3eb7946508d8fc5aa443e9eed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-718ac4b3eb7946508d8fc5aa443e9eed.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element"> HTML+RDFa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7d9ae0d57b149ea967a6891fc6ee924.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7d9ae0d57b149ea967a6891fc6ee924.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element"> RDF/XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ca683c4693743ccb2885b1fa95dee7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ca683c4693743ccb2885b1fa95dee7a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element"> RDF/JSON-LD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80dc2964e6104ef4b8e2facc9e1003e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80dc2964e6104ef4b8e2facc9e1003e0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element"> RFDF/N3    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-698f3d8f99204b86bdb47259f6dbc675.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698f3d8f99204b86bdb47259f6dbc675.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element"> RFDF/TTL  </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>