<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc2-CH1-F2-capa</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc2-CH1-F2-capa</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2c765e34f7d847738c4d7d2c0bb39c6f.png" alt="doc2-CH1-F2-capa" usemap="#id-2c765e34f7d847738c4d7d2c0bb39c6fmap"/>
			   <map name="id-2c765e34f7d847738c4d7d2c0bb39c6fmap">
				  		        <area shape="rect" coords="779,218,812,250" href="../objects/id-434b180dc7ac443ab52c1745d45499c6.html" target="element" >
				  		        <area shape="rect" coords="515,218,548,250" href="../objects/id-01e231eb4581434786b76e8852add5ec.html" target="element" >
				  		        <area shape="rect" coords="243,220,276,252" href="../objects/id-73d3820b67214e2fb452af30e1a6ce9c.html" target="element" >
				  				<area shape="rect" coords="923,296,1033,344" href="../elements/id-8c2422ee0fb64412a79f11834c7fce4d.html"  target="element">
				  		        <area shape="rect" coords="804,218,1032,252" href="../objects/id-2a32c5e58f7b4cd29f2df0038471c50d.html" target="element" >
				  		        <area shape="rect" coords="922,354,1019,427" href="../objects/id-de6dd23fdc5547e38ff95f1b7c0fa4d8.html" target="element" >
				  				<area shape="rect" coords="803,298,913,346" href="../elements/id-b35efef36ae94dd4a64aee63b8229aec.html"  target="element">
				  		        <area shape="rect" coords="677,354,766,435" href="../objects/id-2ab91db0d60f45f2b94e26e0334eecbb.html" target="element" >
				  		        <area shape="rect" coords="407,345,504,434" href="../objects/id-6a21839710944bd79a9244878dc148f8.html" target="element" >
				  		        <area shape="rect" coords="779,354,923,434" href="../objects/id-fb46b975c14f442d920372ec7e46ab9d.html" target="element" >
				  		        <area shape="rect" coords="515,368,671,434" href="../objects/id-5bf3e98df94b4f4e98e85cc40f9fe5b3.html" target="element" >
				  		        <area shape="rect" coords="287,354,413,410" href="../objects/id-d60618c9970f4c16a9aff8b0cb5d7a4c.html" target="element" >
				  		        <area shape="rect" coords="539,218,766,252" href="../objects/id-01ab0315f4fc4629ab90f91ec405cf3d.html" target="element" >
				  				<area shape="rect" coords="923,252,1033,292" href="../elements/id-d569657e4d654a41a42111b77a35c9a8.html"  target="element">
				  				<area shape="rect" coords="395,303,503,343" href="../elements/id-575de2fbfee94ebcb89696cd61c6f809.html"  target="element">
				  				<area shape="rect" coords="395,252,503,295" href="../elements/id-48772745a1f34d059b71a66615423167.html"  target="element">
				  				<area shape="rect" coords="275,303,383,343" href="../elements/id-ba0c69fd049e43f7bb6b713ac20b7fdf.html"  target="element">
				  		        <area shape="rect" coords="101,338,155,377" href="../objects/id-1b0c7a0e4d0f484282ad403fd3222610.html" target="element" >
				  		        <area shape="rect" coords="154,376,288,427" href="../objects/id-2736859f09254b2f8155688f5a82abcc.html" target="element" >
				  		        <area shape="rect" coords="89,282,163,330" href="../objects/id-9006f2879dcc46dfbabfd972f379aa2d.html" target="element" >
				  		        <area shape="rect" coords="177,338,235,377" href="../objects/id-c2af65ab5f7d4e45993a56f788cb7ef9.html" target="element" >
				  		        <area shape="rect" coords="12,338,84,377" href="../objects/id-1a54d5488fcf4a668fb0f95fe49bcbff.html" target="element" >
				  		        <area shape="rect" coords="19,386,76,430" href="../objects/id-fbc185d9e5ed4cc7ab15940704a69c1a.html" target="element" >
				  		        <area shape="rect" coords="89,387,139,429" href="../objects/id-60d2ece7e8434515bd1a22d63a493b58.html" target="element" >
				  		        <area shape="rect" coords="177,282,235,330" href="../objects/id-422a0a34fbcd4972a1cb239fb617d00f.html" target="element" >
				  		        <area shape="rect" coords="17,282,78,331" href="../objects/id-63bc00d978eb4378825f079ce0434ed5.html" target="element" >
				  				<area shape="rect" coords="659,252,767,292" href="../elements/id-83b93e0141634c75bfad34056a386701.html"  target="element">
				  				<area shape="rect" coords="658,303,766,346" href="../elements/id-633685818fc54ea68b0fd4c9465ae95c.html"  target="element">
				  				<area shape="rect" coords="539,252,647,292" href="../elements/id-d3ab8734a74245958ee734fca07663ee.html"  target="element">
				  				<area shape="rect" coords="803,252,913,292" href="../elements/id-1ed8cd832dd248d6900ff2f0982cd8d5.html"  target="element">
				  				<area shape="rect" coords="538,303,646,346" href="../elements/id-db251cb26a1042aa8563067fa97cfb82.html"  target="element">
				  				<area shape="rect" coords="275,252,383,295" href="../elements/id-4cf216e8d5b94d34b4f551790b5dabbd.html"  target="element">
				  		        <area shape="rect" coords="263,219,503,253" href="../objects/id-1423efb74c7e46c797b042944cfbc4d1.html" target="element" >
				  		        <area shape="rect" coords="15,219,175,268" href="../objects/id-a2b5c889c5b34ab3baf5b285c31377f7.html" target="element" >

				  		<area shape="rect" coords="11,214,1051,443" href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html"  target="element">
				  		        <area shape="rect" coords="682,37,802,86" href="../objects/id-6dea6e8b4b1648068d99f12449093db1.html" target="element" >
				  		        <area shape="rect" coords="394,42,498,91" href="../objects/id-6ec321d6a8d34bf88fc2ea5e760955a3.html" target="element" >
				  		        <area shape="rect" coords="58,46,210,91" href="../objects/id-feaea15fe593497aa97c864a0a7c75d3.html" target="element" >
				  				<area shape="rect" coords="802,32,983,92" href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html"  target="element">
				  				<area shape="rect" coords="214,32,387,92" href="../elements/id-bc753559364841c9b2af8261604cc8ae.html"  target="element">
				  				<area shape="rect" coords="928,92,1023,176" href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html"  target="element">
				  				<area shape="rect" coords="502,32,675,92" href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html"  target="element">
				  				        <area shape="rect" coords="664,101,827,164" href="../objects/id-104b5707c2384939b897a75da2097a81.html" target="element" >

				  				<area shape="rect" coords="622,92,863,177" href="../elements/id-d81d43599998477c8ddf01aaab647bec.html"  target="element">
				  				        <area shape="rect" coords="378,102,541,167" href="../objects/id-74be2e635ce04bf8a71b83a5b4adfd58.html" target="element" >

				  				<area shape="rect" coords="334,92,575,177" href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html"  target="element">
				  				        <area shape="rect" coords="90,101,250,166" href="../objects/id-9b68870a823a46579188cb3590edc3f7.html" target="element" >

				  				<area shape="rect" coords="46,92,287,177" href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html"  target="element">
				  		        <area shape="rect" coords="13,10,116,47" href="../objects/id-4b68f059d3014b3ba0e635b0868e42a0.html" target="element" >

				  		<area shape="rect" coords="10,10,1052,203" href="../elements/id-0599b8a492774633af0f5614743b0fe7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-4b68f059d3014b3ba0e635b0868e42a0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4b68f059d3014b3ba0e635b0868e42a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9b68870a823a46579188cb3590edc3f7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9b68870a823a46579188cb3590edc3f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-74be2e635ce04bf8a71b83a5b4adfd58.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-74be2e635ce04bf8a71b83a5b4adfd58.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-104b5707c2384939b897a75da2097a81.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-104b5707c2384939b897a75da2097a81.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html" target="element"> License Interoperability </a> </td>
													    <td> <a href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc753559364841c9b2af8261604cc8ae.html" target="element"> License Accessibility </a> </td>
													    <td> <a href="../elements/id-bc753559364841c9b2af8261604cc8ae.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html" target="element"> Interoperable License Process </a> </td>
													    <td> <a href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-feaea15fe593497aa97c864a0a7c75d3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-feaea15fe593497aa97c864a0a7c75d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6ec321d6a8d34bf88fc2ea5e760955a3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6ec321d6a8d34bf88fc2ea5e760955a3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6dea6e8b4b1648068d99f12449093db1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6dea6e8b4b1648068d99f12449093db1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-a2b5c889c5b34ab3baf5b285c31377f7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a2b5c889c5b34ab3baf5b285c31377f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1423efb74c7e46c797b042944cfbc4d1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1423efb74c7e46c797b042944cfbc4d1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4cf216e8d5b94d34b4f551790b5dabbd.html" target="element"> License Catalog </a> </td>
													    <td> <a href="../elements/id-4cf216e8d5b94d34b4f551790b5dabbd.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db251cb26a1042aa8563067fa97cfb82.html" target="element"> Timestamp Service </a> </td>
													    <td> <a href="../elements/id-db251cb26a1042aa8563067fa97cfb82.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ed8cd832dd248d6900ff2f0982cd8d5.html" target="element"> License System </a> </td>
													    <td> <a href="../elements/id-1ed8cd832dd248d6900ff2f0982cd8d5.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d3ab8734a74245958ee734fca07663ee.html" target="element"> API Service Catalog </a> </td>
													    <td> <a href="../elements/id-d3ab8734a74245958ee734fca07663ee.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-633685818fc54ea68b0fd4c9465ae95c.html" target="element"> Monitoring System </a> </td>
													    <td> <a href="../elements/id-633685818fc54ea68b0fd4c9465ae95c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-83b93e0141634c75bfad34056a386701.html" target="element"> Security Service </a> </td>
													    <td> <a href="../elements/id-83b93e0141634c75bfad34056a386701.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-63bc00d978eb4378825f079ce0434ed5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-63bc00d978eb4378825f079ce0434ed5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-422a0a34fbcd4972a1cb239fb617d00f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-422a0a34fbcd4972a1cb239fb617d00f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-60d2ece7e8434515bd1a22d63a493b58.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-60d2ece7e8434515bd1a22d63a493b58.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fbc185d9e5ed4cc7ab15940704a69c1a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fbc185d9e5ed4cc7ab15940704a69c1a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1a54d5488fcf4a668fb0f95fe49bcbff.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1a54d5488fcf4a668fb0f95fe49bcbff.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c2af65ab5f7d4e45993a56f788cb7ef9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c2af65ab5f7d4e45993a56f788cb7ef9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9006f2879dcc46dfbabfd972f379aa2d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9006f2879dcc46dfbabfd972f379aa2d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2736859f09254b2f8155688f5a82abcc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2736859f09254b2f8155688f5a82abcc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1b0c7a0e4d0f484282ad403fd3222610.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1b0c7a0e4d0f484282ad403fd3222610.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-ba0c69fd049e43f7bb6b713ac20b7fdf.html" target="element"> Service Catalog </a> </td>
													    <td> <a href="../elements/id-ba0c69fd049e43f7bb6b713ac20b7fdf.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-48772745a1f34d059b71a66615423167.html" target="element"> Semantic Catalog </a> </td>
													    <td> <a href="../elements/id-48772745a1f34d059b71a66615423167.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-575de2fbfee94ebcb89696cd61c6f809.html" target="element"> Format Catalog </a> </td>
													    <td> <a href="../elements/id-575de2fbfee94ebcb89696cd61c6f809.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d569657e4d654a41a42111b77a35c9a8.html" target="element"> API gateway </a> </td>
													    <td> <a href="../elements/id-d569657e4d654a41a42111b77a35c9a8.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-01ab0315f4fc4629ab90f91ec405cf3d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-01ab0315f4fc4629ab90f91ec405cf3d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d60618c9970f4c16a9aff8b0cb5d7a4c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d60618c9970f4c16a9aff8b0cb5d7a4c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5bf3e98df94b4f4e98e85cc40f9fe5b3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5bf3e98df94b4f4e98e85cc40f9fe5b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fb46b975c14f442d920372ec7e46ab9d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fb46b975c14f442d920372ec7e46ab9d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6a21839710944bd79a9244878dc148f8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6a21839710944bd79a9244878dc148f8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2ab91db0d60f45f2b94e26e0334eecbb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2ab91db0d60f45f2b94e26e0334eecbb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-b35efef36ae94dd4a64aee63b8229aec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;    &#3651;&#3627;&#3657;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619; </a> </td>
													    <td> <a href="../elements/id-b35efef36ae94dd4a64aee63b8229aec.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-de6dd23fdc5547e38ff95f1b7c0fa4d8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-de6dd23fdc5547e38ff95f1b7c0fa4d8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2a32c5e58f7b4cd29f2df0038471c50d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2a32c5e58f7b4cd29f2df0038471c50d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-8c2422ee0fb64412a79f11834c7fce4d.html" target="element"> &#3610;&#3640;&#3588;&#3621;&#3634;&#3585;&#3619;    &#3612;&#3641;&#3657;&#3651;&#3627;&#3657;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;       </a> </td>
													    <td> <a href="../elements/id-8c2422ee0fb64412a79f11834c7fce4d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-73d3820b67214e2fb452af30e1a6ce9c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-73d3820b67214e2fb452af30e1a6ce9c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-01e231eb4581434786b76e8852add5ec.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-01e231eb4581434786b76e8852add5ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-434b180dc7ac443ab52c1745d45499c6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-434b180dc7ac443ab52c1745d45499c6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f41647d71d63438896760569c4832c41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f41647d71d63438896760569c4832c41.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8915da22e6fa402daab32b6fe2f95778.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8915da22e6fa402daab32b6fe2f95778.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84670537632a4f83b2b56f8ec836fa23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84670537632a4f83b2b56f8ec836fa23.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-695ab372281d4041b7d3643fe85186ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-695ab372281d4041b7d3643fe85186ac.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element">  </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-bedd8e36eea249b18f691b7ee40e6e75.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bedd8e36eea249b18f691b7ee40e6e75.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-717ad247dc7442f182ba4af2a6ea7bfe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-717ad247dc7442f182ba4af2a6ea7bfe.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-ea6f7447b0c14127bebe138e2d17d4d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea6f7447b0c14127bebe138e2d17d4d8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-50c3cca49ed344649e6190fa8e6ff1ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50c3cca49ed344649e6190fa8e6ff1ce.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html" target="element"> License Interoperability </a> </td>
																				<td> <a href="../elements/id-717ad247dc7442f182ba4af2a6ea7bfe.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-47bc3bdbae554e96a514667edb7a3c91.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47bc3bdbae554e96a514667edb7a3c91.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc753559364841c9b2af8261604cc8ae.html" target="element"> License Accessibility </a> </td>
																				<td> <a href="../elements/id-bedd8e36eea249b18f691b7ee40e6e75.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e47a86134289438a853ffdd7d8679e5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e47a86134289438a853ffdd7d8679e5c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html" target="element"> Interoperable License Process </a> </td>
																				<td> <a href="../elements/id-ea6f7447b0c14127bebe138e2d17d4d8.html" target="element">  </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-8b199fef0c3142909201de339e541392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b199fef0c3142909201de339e541392.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cf216e8d5b94d34b4f551790b5dabbd.html" target="element"> License Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-077b6d73b66d47c28455d989e2074e0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-077b6d73b66d47c28455d989e2074e0d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db251cb26a1042aa8563067fa97cfb82.html" target="element"> Timestamp Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-855ca4c402294fb3910f24c35cf8be4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-855ca4c402294fb3910f24c35cf8be4c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ed8cd832dd248d6900ff2f0982cd8d5.html" target="element"> License System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78e012d537d54f2ca8715a7546e6cffd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78e012d537d54f2ca8715a7546e6cffd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3ab8734a74245958ee734fca07663ee.html" target="element"> API Service Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-49f7dde4d3e744d789a5ea5b2f837fcc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49f7dde4d3e744d789a5ea5b2f837fcc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-633685818fc54ea68b0fd4c9465ae95c.html" target="element"> Monitoring System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b8c6a20bfdf44e4a9e69cedc825fd11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b8c6a20bfdf44e4a9e69cedc825fd11.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83b93e0141634c75bfad34056a386701.html" target="element"> Security Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e98d5e6d7c6549fbbc0c3abcc3cfbadd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e98d5e6d7c6549fbbc0c3abcc3cfbadd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba0c69fd049e43f7bb6b713ac20b7fdf.html" target="element"> Service Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70ab724a8b3346048db6493d5bbf7e00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70ab724a8b3346048db6493d5bbf7e00.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48772745a1f34d059b71a66615423167.html" target="element"> Semantic Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b6b68a960a7d47cc9352d000f60ae6bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6b68a960a7d47cc9352d000f60ae6bf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-575de2fbfee94ebcb89696cd61c6f809.html" target="element"> Format Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db6e927aa95940df9473042b007ff9f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db6e927aa95940df9473042b007ff9f8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d569657e4d654a41a42111b77a35c9a8.html" target="element"> API gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bebfc6796ea43e98f32d24c818a6b2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bebfc6796ea43e98f32d24c818a6b2e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b35efef36ae94dd4a64aee63b8229aec.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;    &#3651;&#3627;&#3657;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3b716a97cccb415b949202e97641a022.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b716a97cccb415b949202e97641a022.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c2422ee0fb64412a79f11834c7fce4d.html" target="element"> &#3610;&#3640;&#3588;&#3621;&#3634;&#3585;&#3619;    &#3612;&#3641;&#3657;&#3651;&#3627;&#3657;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;       </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-676c140779a642b7bbb1e98399220269.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-676c140779a642b7bbb1e98399220269.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-390f4fbdb248470899f95b389096ad22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-390f4fbdb248470899f95b389096ad22.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-396efa73b11f4e13abe5be297e38c10c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-396efa73b11f4e13abe5be297e38c10c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>