<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig06-ToBe5-OutSrc-L2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig06-ToBe5-OutSrc-L2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2e98895425824a61a4b75aedae78fd00.png" alt="Fig06-ToBe5-OutSrc-L2" usemap="#id-2e98895425824a61a4b75aedae78fd00map"/>
			   <map name="id-2e98895425824a61a4b75aedae78fd00map">
				  		<area shape="rect" coords="173,262,293,383" href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html"  target="element">
				  		        <area shape="rect" coords="574,568,607,600" href="../objects/id-5c91518bf8ae4aa7b143aa5bb9fbee70.html" target="element" >
				  				<area shape="rect" coords="586,460,707,581" href="../elements/id-2bae20b9f22946b68db588c6e58cfd10.html"  target="element">
				  				<area shape="rect" coords="730,460,851,581" href="../elements/id-8adee8dfb7514cdeb7563c3fbd2d00cd.html"  target="element">

				  		<area shape="rect" coords="562,424,875,605" href="../elements/id-eb6365555e8c4024910c63eccec978f8.html"  target="element">
				          <area shape="rect" coords="10,82,143,191" href="../objects/id-e30d878bc43343db8c391590953d2ecd.html" target="element" >
				  		<area shape="rect" coords="56,412,174,533" href="../elements/id-6550a94cca9041209501940e08e6e9db.html"  target="element">
				  		<area shape="rect" coords="54,544,175,665" href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html"  target="element">
				  		<area shape="rect" coords="322,172,419,269" href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html"  target="element">
				  				<area shape="rect" coords="370,520,491,641" href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html"  target="element">
				  				<area shape="rect" coords="226,520,347,641" href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html"  target="element">

				  		<area shape="rect" coords="202,496,503,653" href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html"  target="element">
				  		<area shape="rect" coords="598,280,693,383" href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html"  target="element">
				  		<area shape="rect" coords="490,160,585,257" href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html"  target="element">
				  				<area shape="rect" coords="670,232,791,353" href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html"  target="element">

				  		<area shape="rect" coords="658,208,899,365" href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html"  target="element">
				  				<area shape="rect" coords="562,52,680,173" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">

				  		<area shape="rect" coords="550,16,791,185" href="../elements/id-76ec01fd324745999cf771f82d764fef.html"  target="element">
				  		<area shape="rect" coords="22,262,143,383" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">
				  		        <area shape="rect" coords="341,130,374,162" href="../objects/id-de28b2f318684481b6ee2f96735ebb78.html" target="element" >
				  				<area shape="rect" coords="185,58,303,179" href="../elements/id-43c128c891594d31b29a6031f66ace85.html"  target="element">

				  		<area shape="rect" coords="173,10,390,191" href="../elements/id-6955bdbf701649109bbadb6b9dc5adc8.html"  target="element">
				          <area shape="rect" coords="281,232,599,497" href="../objects/id-c3d535c3bd1c454e8f191a7866e83c49.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c3d535c3bd1c454e8f191a7866e83c49.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c3d535c3bd1c454e8f191a7866e83c49.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-6955bdbf701649109bbadb6b9dc5adc8.html" target="element"> OUTSOURCING </a> </td>
											    <td> <a href="../elements/id-6955bdbf701649109bbadb6b9dc5adc8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-43c128c891594d31b29a6031f66ace85.html" target="element"> License </a> </td>
													    <td> <a href="../elements/id-43c128c891594d31b29a6031f66ace85.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-de28b2f318684481b6ee2f96735ebb78.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-de28b2f318684481b6ee2f96735ebb78.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element"> Org type 1 </a> </td>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element"> Org type 2 </a> </td>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-e30d878bc43343db8c391590953d2ecd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e30d878bc43343db8c391590953d2ecd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-eb6365555e8c4024910c63eccec978f8.html" target="element"> OUTSOURCING </a> </td>
											    <td> <a href="../elements/id-eb6365555e8c4024910c63eccec978f8.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8adee8dfb7514cdeb7563c3fbd2d00cd.html" target="element"> DoBiz Support </a> </td>
													    <td> <a href="../elements/id-8adee8dfb7514cdeb7563c3fbd2d00cd.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2bae20b9f22946b68db588c6e58cfd10.html" target="element"> DoBiz-Portal </a> </td>
													    <td> <a href="../elements/id-2bae20b9f22946b68db588c6e58cfd10.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-5c91518bf8ae4aa7b143aa5bb9fbee70.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5c91518bf8ae4aa7b143aa5bb9fbee70.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																	</tr>

											
											
																	<tr>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
																		<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-7400492843af4f708fc06be619c7102f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7400492843af4f708fc06be619c7102f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb6365555e8c4024910c63eccec978f8.html" target="element"> OUTSOURCING </a> </td>
																		<td> <a href="../elements/id-8adee8dfb7514cdeb7563c3fbd2d00cd.html" target="element"> DoBiz Support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9d526fa1df44056b2c6a96e80ff3118.html" target="element"> outsource </a> </td>
																		<td> <a href="../elements/id-c9d526fa1df44056b2c6a96e80ff3118.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb6365555e8c4024910c63eccec978f8.html" target="element"> OUTSOURCING </a> </td>
																		<td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-5bf1cbe74a384cd7a3722d44ad810fb6.html" target="element"> request </a> </td>
																		<td> <a href="../elements/id-5bf1cbe74a384cd7a3722d44ad810fb6.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																		<td> <a href="../elements/id-43c128c891594d31b29a6031f66ace85.html" target="element"> License </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>