<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>z-stock1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>z-stock1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-340a90a650274c419f34c01b965e5aba.png" alt="z-stock1" usemap="#id-340a90a650274c419f34c01b965e5abamap"/>
			   <map name="id-340a90a650274c419f34c01b965e5abamap">
				          <area shape="rect" coords="916,10,989,87" href="../objects/id-b8e9e3d60d21457f903255e00b37115f.html" target="element" >
				          <area shape="rect" coords="788,10,881,69" href="../objects/id-e9e655d233d14fdab1dbf7a6911e48e2.html" target="element" >
				          <area shape="rect" coords="423,519,447,542" href="../objects/id-49f5de779a584893900643571c4c2892.html" target="element" >
				          <area shape="rect" coords="375,519,399,542" href="../objects/id-affb5a6b08e448448dc55b64d79f92c3.html" target="element" >
				          <area shape="rect" coords="327,519,351,542" href="../objects/id-4095c70e9a1043cb886972e67f5b87be.html" target="element" >
				          <area shape="rect" coords="279,519,303,542" href="../objects/id-bc5f428072014bf3b833ce22b7fbc19a.html" target="element" >
				          <area shape="rect" coords="231,519,255,542" href="../objects/id-71280f11a3064d56bfc4879b7f4949df.html" target="element" >
				          <area shape="rect" coords="183,519,207,542" href="../objects/id-f01e94e755a14d91a5bd62f6f465a72b.html" target="element" >
				          <area shape="rect" coords="135,519,159,542" href="../objects/id-b4000991aec24af78def5867382bb9d5.html" target="element" >
				          <area shape="rect" coords="84,519,108,542" href="../objects/id-4d6f987c4d8d4424ad393ec2dedbf49c.html" target="element" >
				          <area shape="rect" coords="27,519,51,542" href="../objects/id-7fa5d77e54bc44ecaf731cd3facf7af6.html" target="element" >
				          <area shape="rect" coords="601,283,752,332" href="../objects/id-8fcacfb1c10c4b7b8c5ef5dd5e8434a3.html" target="element" >
				          <area shape="rect" coords="493,289,596,326" href="../objects/id-91c1f019f3ea47209cb4c5c82131fb2c.html" target="element" >
				          <area shape="rect" coords="497,364,573,398" href="../objects/id-cfc8f94fa5ba4aa5bc7152ea96196b5f.html" target="element" >
				          <area shape="rect" coords="493,428,576,504" href="../objects/id-1a59d430b1494a69b54c03e2827c47f4.html" target="element" >
				          <area shape="rect" coords="849,460,1006,509" href="../objects/id-785abc25761c40deb77f4d28ba29deef.html" target="element" >
				          <area shape="rect" coords="873,400,946,461" href="../objects/id-bd392b3f99534e8fbb07f0504cf7a3e0.html" target="element" >
				  		<area shape="rect" coords="625,544,794,675" href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html"  target="element">
				          <area shape="rect" coords="601,364,818,485" href="../objects/id-23d41debac01476aa01db61a6f0a9b0a.html" target="element" >
				  		<area shape="rect" coords="421,544,590,675" href="../elements/id-1d220ee4c266430797fe3a08c4d7fe08.html"  target="element">
				  		<area shape="rect" coords="817,544,1002,675" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="49,544,121,617" href="../objects/id-ec5912e259fc4c87b23d93579cf102a5.html" target="element" >
				  		        <area shape="rect" coords="14,616,155,665" href="../objects/id-67b0e67dcd824e47a7d46062cab1a82d.html" target="element" >
				  		        <area shape="rect" coords="217,808,374,857" href="../objects/id-cc2af5680ac240f9b907012b4f65bc55.html" target="element" >

				  		<area shape="rect" coords="10,544,166,675" href="../elements/id-aabd91762a4449cdb9397fe0f37d999f.html"  target="element">
				          <area shape="rect" coords="421,472,454,504" href="../objects/id-ff294c4e8eed4293aa30cdb205bb0c2f.html" target="element" >
				          <area shape="rect" coords="373,472,406,504" href="../objects/id-11efa8c03a9c4445a5369f4ea67c9dcd.html" target="element" >
				          <area shape="rect" coords="325,472,358,504" href="../objects/id-cebf91ad10b14382add9d54745b5ff2d.html" target="element" >
				          <area shape="rect" coords="277,472,310,504" href="../objects/id-7832a4d4785c4753998a1050dcfc3ff5.html" target="element" >
				          <area shape="rect" coords="229,472,262,504" href="../objects/id-d91691891e5b4639a324e330c66b6879.html" target="element" >
				          <area shape="rect" coords="133,472,166,504" href="../objects/id-71f659e8b3f34142bd6b70c47c223864.html" target="element" >
				          <area shape="rect" coords="181,472,214,504" href="../objects/id-d618611cbed048ef8825c0df3317c021.html" target="element" >
				          <area shape="rect" coords="82,472,115,504" href="../objects/id-791e6c8dc6da4c6abe6e258974477ea2.html" target="element" >
				          <area shape="rect" coords="25,472,58,504" href="../objects/id-3c7b7abac2d64009a0d86cca71447dfc.html" target="element" >
				          <area shape="rect" coords="421,412,454,444" href="../objects/id-b745f9455ec44bb0a8bc4d694d4f99e8.html" target="element" >
				          <area shape="rect" coords="373,412,406,444" href="../objects/id-1a266c05e9c54558b25080eba4e864cc.html" target="element" >
				          <area shape="rect" coords="325,412,358,444" href="../objects/id-88b4be61ac0a4275afbdf6478893a0f9.html" target="element" >
				          <area shape="rect" coords="277,412,310,444" href="../objects/id-9ef2ca2059864ad59a9f543749581756.html" target="element" >
				          <area shape="rect" coords="229,412,262,444" href="../objects/id-10a8ef917d9d4d5699c5213fbf915a67.html" target="element" >
				          <area shape="rect" coords="133,412,166,444" href="../objects/id-f1e6d384e35e4ffb867c054115ad6d92.html" target="element" >
				          <area shape="rect" coords="181,412,214,444" href="../objects/id-43820dca6dc746ec968b16c404880877.html" target="element" >
				          <area shape="rect" coords="82,412,115,444" href="../objects/id-30ce1d7c087044cfa7349324e9dc8539.html" target="element" >
				          <area shape="rect" coords="25,412,58,444" href="../objects/id-8fbbf5027c684b68b15d07af7ecd300b.html" target="element" >
				          <area shape="rect" coords="421,352,454,384" href="../objects/id-78e37d6df5e64bb0a91ccf8c9c14e6ca.html" target="element" >
				          <area shape="rect" coords="373,352,406,384" href="../objects/id-aace9c1ba3e847318b91c2edcf3eb6b3.html" target="element" >
				          <area shape="rect" coords="325,352,358,384" href="../objects/id-5b5cf4aab7584273b16ffb2a6682d496.html" target="element" >
				          <area shape="rect" coords="277,352,310,384" href="../objects/id-3f4d069abbaf4c6292f91095f24e30d6.html" target="element" >
				          <area shape="rect" coords="229,352,262,384" href="../objects/id-12127ed915464a2a84d7103db84738ee.html" target="element" >
				          <area shape="rect" coords="181,352,214,384" href="../objects/id-8c9871db912546c8ac626cf00a523515.html" target="element" >
				          <area shape="rect" coords="133,352,166,384" href="../objects/id-f446231f74164ec8aee7ddc5dd1c2091.html" target="element" >
				          <area shape="rect" coords="82,352,115,384" href="../objects/id-521e7a98e62247729dcaf4c4ab1822b6.html" target="element" >
				          <area shape="rect" coords="25,352,58,384" href="../objects/id-debe3fecc34542059a9c441940f63e76.html" target="element" >
				          <area shape="rect" coords="421,292,450,320" href="../objects/id-6a6904f3105b457386d4cc9fe9d51583.html" target="element" >
				          <area shape="rect" coords="373,292,402,320" href="../objects/id-54f9c4ea535d4729b1ed57775048633d.html" target="element" >
				          <area shape="rect" coords="325,292,354,320" href="../objects/id-4720a52480934e56a0a4b51a864188fe.html" target="element" >
				          <area shape="rect" coords="277,292,306,320" href="../objects/id-2287821ecc834345ae894a485aefa307.html" target="element" >
				          <area shape="rect" coords="229,292,258,320" href="../objects/id-852abfc61ee74ae89f40fcfe5bd9837f.html" target="element" >
				          <area shape="rect" coords="181,292,210,320" href="../objects/id-c03a68fd671d4174a4e9722832b47be9.html" target="element" >
				          <area shape="rect" coords="133,292,162,320" href="../objects/id-7ba2cdf894244dcca9d29f1fff32805e.html" target="element" >
				          <area shape="rect" coords="82,292,111,320" href="../objects/id-210fda85cae24e459059308b616b9cac.html" target="element" >
				          <area shape="rect" coords="25,292,54,320" href="../objects/id-fa56103ddada489e9caea9d7a655aded.html" target="element" >
				          <area shape="rect" coords="193,220,350,269" href="../objects/id-bc52a1a58674475ebcdc610821b99cf3.html" target="element" >
				          <area shape="rect" coords="529,160,686,209" href="../objects/id-d877507e79fc42509d73e7e8fc425ce5.html" target="element" >
				          <area shape="rect" coords="529,100,686,149" href="../objects/id-210add55977f4e55ba94e433ae4a4afe.html" target="element" >
				          <area shape="rect" coords="361,160,518,209" href="../objects/id-de41218abb794a0fb33b6e6068b21528.html" target="element" >
				          <area shape="rect" coords="361,100,518,149" href="../objects/id-c1330370777f4fb7839c1ccd40daae90.html" target="element" >
				          <area shape="rect" coords="529,220,686,269" href="../objects/id-8a1e2292ffc846298b2ec172acbaa8eb.html" target="element" >
				          <area shape="rect" coords="193,160,350,209" href="../objects/id-cdc0ce6385b7428bbade7ae86654df49.html" target="element" >
				          <area shape="rect" coords="193,100,350,149" href="../objects/id-65fdd05f82fb4500849fa54da3de2fa1.html" target="element" >
				          <area shape="rect" coords="361,220,518,269" href="../objects/id-6d6d5cbb470e4d01a20d7980d7b3442d.html" target="element" >
				          <area shape="rect" coords="25,220,182,269" href="../objects/id-152f94f6057b44dcb7337a45744d1afc.html" target="element" >
				          <area shape="rect" coords="25,160,182,209" href="../objects/id-c8282c8332ed474199d3220d8703ec81.html" target="element" >
				          <area shape="rect" coords="25,100,182,149" href="../objects/id-848ba0eadfd74db3a7c4b9896c64bdbf.html" target="element" >
				          <area shape="rect" coords="25,28,182,77" href="../objects/id-13a98ee607fa4f92bafe5aef3698ffc4.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-13a98ee607fa4f92bafe5aef3698ffc4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-13a98ee607fa4f92bafe5aef3698ffc4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-848ba0eadfd74db3a7c4b9896c64bdbf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-848ba0eadfd74db3a7c4b9896c64bdbf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c8282c8332ed474199d3220d8703ec81.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c8282c8332ed474199d3220d8703ec81.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-152f94f6057b44dcb7337a45744d1afc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-152f94f6057b44dcb7337a45744d1afc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6d6d5cbb470e4d01a20d7980d7b3442d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6d6d5cbb470e4d01a20d7980d7b3442d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-65fdd05f82fb4500849fa54da3de2fa1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-65fdd05f82fb4500849fa54da3de2fa1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cdc0ce6385b7428bbade7ae86654df49.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cdc0ce6385b7428bbade7ae86654df49.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8a1e2292ffc846298b2ec172acbaa8eb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8a1e2292ffc846298b2ec172acbaa8eb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c1330370777f4fb7839c1ccd40daae90.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c1330370777f4fb7839c1ccd40daae90.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-de41218abb794a0fb33b6e6068b21528.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-de41218abb794a0fb33b6e6068b21528.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-210add55977f4e55ba94e433ae4a4afe.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-210add55977f4e55ba94e433ae4a4afe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d877507e79fc42509d73e7e8fc425ce5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d877507e79fc42509d73e7e8fc425ce5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bc52a1a58674475ebcdc610821b99cf3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bc52a1a58674475ebcdc610821b99cf3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fa56103ddada489e9caea9d7a655aded.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fa56103ddada489e9caea9d7a655aded.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-210fda85cae24e459059308b616b9cac.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-210fda85cae24e459059308b616b9cac.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7ba2cdf894244dcca9d29f1fff32805e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7ba2cdf894244dcca9d29f1fff32805e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c03a68fd671d4174a4e9722832b47be9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c03a68fd671d4174a4e9722832b47be9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-852abfc61ee74ae89f40fcfe5bd9837f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-852abfc61ee74ae89f40fcfe5bd9837f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2287821ecc834345ae894a485aefa307.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2287821ecc834345ae894a485aefa307.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4720a52480934e56a0a4b51a864188fe.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4720a52480934e56a0a4b51a864188fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-54f9c4ea535d4729b1ed57775048633d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-54f9c4ea535d4729b1ed57775048633d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6a6904f3105b457386d4cc9fe9d51583.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6a6904f3105b457386d4cc9fe9d51583.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-debe3fecc34542059a9c441940f63e76.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-debe3fecc34542059a9c441940f63e76.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-521e7a98e62247729dcaf4c4ab1822b6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-521e7a98e62247729dcaf4c4ab1822b6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f446231f74164ec8aee7ddc5dd1c2091.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f446231f74164ec8aee7ddc5dd1c2091.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8c9871db912546c8ac626cf00a523515.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8c9871db912546c8ac626cf00a523515.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-12127ed915464a2a84d7103db84738ee.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-12127ed915464a2a84d7103db84738ee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3f4d069abbaf4c6292f91095f24e30d6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3f4d069abbaf4c6292f91095f24e30d6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5b5cf4aab7584273b16ffb2a6682d496.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5b5cf4aab7584273b16ffb2a6682d496.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-aace9c1ba3e847318b91c2edcf3eb6b3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-aace9c1ba3e847318b91c2edcf3eb6b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-78e37d6df5e64bb0a91ccf8c9c14e6ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-78e37d6df5e64bb0a91ccf8c9c14e6ca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8fbbf5027c684b68b15d07af7ecd300b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8fbbf5027c684b68b15d07af7ecd300b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-30ce1d7c087044cfa7349324e9dc8539.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-30ce1d7c087044cfa7349324e9dc8539.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-43820dca6dc746ec968b16c404880877.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-43820dca6dc746ec968b16c404880877.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f1e6d384e35e4ffb867c054115ad6d92.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f1e6d384e35e4ffb867c054115ad6d92.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-10a8ef917d9d4d5699c5213fbf915a67.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-10a8ef917d9d4d5699c5213fbf915a67.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9ef2ca2059864ad59a9f543749581756.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9ef2ca2059864ad59a9f543749581756.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-88b4be61ac0a4275afbdf6478893a0f9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-88b4be61ac0a4275afbdf6478893a0f9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1a266c05e9c54558b25080eba4e864cc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1a266c05e9c54558b25080eba4e864cc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b745f9455ec44bb0a8bc4d694d4f99e8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b745f9455ec44bb0a8bc4d694d4f99e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3c7b7abac2d64009a0d86cca71447dfc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3c7b7abac2d64009a0d86cca71447dfc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-791e6c8dc6da4c6abe6e258974477ea2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-791e6c8dc6da4c6abe6e258974477ea2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d618611cbed048ef8825c0df3317c021.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d618611cbed048ef8825c0df3317c021.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-71f659e8b3f34142bd6b70c47c223864.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-71f659e8b3f34142bd6b70c47c223864.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d91691891e5b4639a324e330c66b6879.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d91691891e5b4639a324e330c66b6879.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7832a4d4785c4753998a1050dcfc3ff5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7832a4d4785c4753998a1050dcfc3ff5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cebf91ad10b14382add9d54745b5ff2d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cebf91ad10b14382add9d54745b5ff2d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-11efa8c03a9c4445a5369f4ea67c9dcd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-11efa8c03a9c4445a5369f4ea67c9dcd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ff294c4e8eed4293aa30cdb205bb0c2f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ff294c4e8eed4293aa30cdb205bb0c2f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-aabd91762a4449cdb9397fe0f37d999f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-aabd91762a4449cdb9397fe0f37d999f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-cc2af5680ac240f9b907012b4f65bc55.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cc2af5680ac240f9b907012b4f65bc55.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-67b0e67dcd824e47a7d46062cab1a82d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-67b0e67dcd824e47a7d46062cab1a82d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ec5912e259fc4c87b23d93579cf102a5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ec5912e259fc4c87b23d93579cf102a5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d220ee4c266430797fe3a08c4d7fe08.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-1d220ee4c266430797fe3a08c4d7fe08.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-23d41debac01476aa01db61a6f0a9b0a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-23d41debac01476aa01db61a6f0a9b0a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-e3672958ef4a49268cd1b58e077ec7db.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-bd392b3f99534e8fbb07f0504cf7a3e0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bd392b3f99534e8fbb07f0504cf7a3e0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-785abc25761c40deb77f4d28ba29deef.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-785abc25761c40deb77f4d28ba29deef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1a59d430b1494a69b54c03e2827c47f4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1a59d430b1494a69b54c03e2827c47f4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cfc8f94fa5ba4aa5bc7152ea96196b5f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cfc8f94fa5ba4aa5bc7152ea96196b5f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-91c1f019f3ea47209cb4c5c82131fb2c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-91c1f019f3ea47209cb4c5c82131fb2c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8fcacfb1c10c4b7b8c5ef5dd5e8434a3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8fcacfb1c10c4b7b8c5ef5dd5e8434a3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7fa5d77e54bc44ecaf731cd3facf7af6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7fa5d77e54bc44ecaf731cd3facf7af6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4d6f987c4d8d4424ad393ec2dedbf49c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4d6f987c4d8d4424ad393ec2dedbf49c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b4000991aec24af78def5867382bb9d5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b4000991aec24af78def5867382bb9d5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f01e94e755a14d91a5bd62f6f465a72b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f01e94e755a14d91a5bd62f6f465a72b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-71280f11a3064d56bfc4879b7f4949df.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-71280f11a3064d56bfc4879b7f4949df.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bc5f428072014bf3b833ce22b7fbc19a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bc5f428072014bf3b833ce22b7fbc19a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4095c70e9a1043cb886972e67f5b87be.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4095c70e9a1043cb886972e67f5b87be.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-affb5a6b08e448448dc55b64d79f92c3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-affb5a6b08e448448dc55b64d79f92c3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-49f5de779a584893900643571c4c2892.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-49f5de779a584893900643571c4c2892.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e9e655d233d14fdab1dbf7a6911e48e2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e9e655d233d14fdab1dbf7a6911e48e2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b8e9e3d60d21457f903255e00b37115f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b8e9e3d60d21457f903255e00b37115f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>