<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IOP Principles</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IOP Principles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3f0c5512365f41cd93406af35b25d705.png" alt="IOP Principles" usemap="#id-3f0c5512365f41cd93406af35b25d705map"/>
			   <map name="id-3f0c5512365f41cd93406af35b25d705map">
				  				<area shape="rect" coords="647,562,767,654" href="../elements/id-8f87d84a1ce64e3aa0a101253e90df86.html"  target="element">
				  				<area shape="rect" coords="502,562,622,654" href="../elements/id-c32abf3a82e4441780159c9e337243ef.html"  target="element">
				  				<area shape="rect" coords="202,562,322,654" href="../elements/id-c6099717539841ea9dbb1585c402a1f1.html"  target="element">
				  				<area shape="rect" coords="353,562,473,654" href="../elements/id-4b60bef1d8714304a434d0f352f35a08.html"  target="element">
				  				<area shape="rect" coords="46,562,166,654" href="../elements/id-13271e2df5c74bd3aea3e9e168e07e58.html"  target="element">

				  		<area shape="rect" coords="10,526,935,683" href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html"  target="element">
				  				<area shape="rect" coords="790,742,910,834" href="../elements/id-ca0a45b9a6f74a75a1687a821356bbce.html"  target="element">
				  				<area shape="rect" coords="635,742,755,834" href="../elements/id-3ece87395a304f49aa9f33120b88d6f9.html"  target="element">
				  				<area shape="rect" coords="341,742,461,834" href="../elements/id-8dbe03d614ea46f5b1ba36a965e07c16.html"  target="element">
				  				<area shape="rect" coords="190,742,310,834" href="../elements/id-3e7062de7b2f481286e95720cddec717.html"  target="element">
				  				<area shape="rect" coords="34,742,154,834" href="../elements/id-7eb2aba375d3421c86a747de9a05e054.html"  target="element">
				  				<area shape="rect" coords="490,742,610,834" href="../elements/id-5165f98c53d24e328c59a2419ce39814.html"  target="element">

				  		<area shape="rect" coords="10,706,935,863" href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html"  target="element">
				  				<area shape="rect" coords="562,370,682,455" href="../elements/id-6af235176c9448afa0acd8ded887b4df.html"  target="element">
				  				<area shape="rect" coords="214,370,334,455" href="../elements/id-17f8ced38263419c99710f2521293fd7.html"  target="element">
				  				<area shape="rect" coords="382,370,502,455" href="../elements/id-cbc83f573c234b2faf70d6ccda918ff6.html"  target="element">
				  				<area shape="rect" coords="46,370,166,455" href="../elements/id-6b01d0e293314cba987710d9a54dc111.html"  target="element">

				  		<area shape="rect" coords="10,322,731,503" href="../elements/id-511e94d7.html"  target="element">
				  				<area shape="rect" coords="562,130,707,185" href="../elements/id-3037c23d-21da-4906-898e-cd9ecf3203f7.html"  target="element">
				  				<area shape="rect" coords="382,46,527,101" href="../elements/id-61e292b8.html"  target="element">
				  				<area shape="rect" coords="33,130,178,185" href="../elements/id-f2ae5321-8870-4676-a69c-c74676b2dbbf.html"  target="element">
				  				<area shape="rect" coords="202,130,347,185" href="../elements/id-cd45bb55.html"  target="element">
				  				<area shape="rect" coords="562,46,707,101" href="../elements/id-4144599a-773c-4873-9e60-0ceef344e4e2.html"  target="element">
				  				<area shape="rect" coords="33,46,178,101" href="../elements/id-66c849a4-2944-4e3f-92c6-54f9fd1210b7.html"  target="element">
				  				<area shape="rect" coords="202,214,347,269" href="../elements/id-5f29b476c4c3487d9259025517bb6b6a.html"  target="element">
				  				<area shape="rect" coords="562,214,707,269" href="../elements/id-50fe1ee9.html"  target="element">
				  				<area shape="rect" coords="382,214,527,269" href="../elements/id-995a36b0-96f3-40e8-94f4-784e8d13352b.html"  target="element">
				  				<area shape="rect" coords="202,46,347,101" href="../elements/id-7908e73e-9acf-432c-8138-e5b7456b32a6.html"  target="element">
				  				<area shape="rect" coords="382,130,527,185" href="../elements/id-438856abc39a4572a98b443ca7e40385.html"  target="element">
				  				<area shape="rect" coords="33,214,178,269" href="../elements/id-0e1e38ca-a829-4548-b633-e62147270ae6.html"  target="element">

				  		<area shape="rect" coords="10,10,743,299" href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
											    <td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0e1e38ca-a829-4548-b633-e62147270ae6.html" target="element"> Transparency </a> </td>
													    <td> <a href="../elements/id-0e1e38ca-a829-4548-b633-e62147270ae6.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-438856abc39a4572a98b443ca7e40385.html" target="element"> Security and privacy </a> </td>
													    <td> <a href="../elements/id-438856abc39a4572a98b443ca7e40385.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7908e73e-9acf-432c-8138-e5b7456b32a6.html" target="element"> Reusability </a> </td>
													    <td> <a href="../elements/id-7908e73e-9acf-432c-8138-e5b7456b32a6.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-995a36b0-96f3-40e8-94f4-784e8d13352b.html" target="element"> Multilingualism </a> </td>
													    <td> <a href="../elements/id-995a36b0-96f3-40e8-94f4-784e8d13352b.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-50fe1ee9.html" target="element"> Assessment of Effectiveness and Efficiency </a> </td>
													    <td> <a href="../elements/id-50fe1ee9.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5f29b476c4c3487d9259025517bb6b6a.html" target="element"> User centricity </a> </td>
													    <td> <a href="../elements/id-5f29b476c4c3487d9259025517bb6b6a.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-66c849a4-2944-4e3f-92c6-54f9fd1210b7.html" target="element"> Subsidiarity and proportionality </a> </td>
													    <td> <a href="../elements/id-66c849a4-2944-4e3f-92c6-54f9fd1210b7.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4144599a-773c-4873-9e60-0ceef344e4e2.html" target="element"> Administrative Simplification </a> </td>
													    <td> <a href="../elements/id-4144599a-773c-4873-9e60-0ceef344e4e2.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd45bb55.html" target="element"> Technological neutrality and data portability </a> </td>
													    <td> <a href="../elements/id-cd45bb55.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f2ae5321-8870-4676-a69c-c74676b2dbbf.html" target="element"> Openness </a> </td>
													    <td> <a href="../elements/id-f2ae5321-8870-4676-a69c-c74676b2dbbf.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-61e292b8.html" target="element"> Inclusion and accessibility </a> </td>
													    <td> <a href="../elements/id-61e292b8.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3037c23d-21da-4906-898e-cd9ecf3203f7.html" target="element"> Preservation of information </a> </td>
													    <td> <a href="../elements/id-3037c23d-21da-4906-898e-cd9ecf3203f7.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-511e94d7.html" target="element"> Interoperability Governance </a> </td>
											    <td> <a href="../elements/id-511e94d7.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6b01d0e293314cba987710d9a54dc111.html" target="element"> Interoperability Governance models </a> </td>
													    <td> <a href="../elements/id-6b01d0e293314cba987710d9a54dc111.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cbc83f573c234b2faf70d6ccda918ff6.html" target="element"> CAMSS Assessments library </a> </td>
													    <td> <a href="../elements/id-cbc83f573c234b2faf70d6ccda918ff6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17f8ced38263419c99710f2521293fd7.html" target="element"> Asset Description Metadata Schema (ADMS) </a> </td>
													    <td> <a href="../elements/id-17f8ced38263419c99710f2521293fd7.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6af235176c9448afa0acd8ded887b4df.html" target="element"> Statistical Production Reference Architecture V1.0 and subsequent </a> </td>
													    <td> <a href="../elements/id-6af235176c9448afa0acd8ded887b4df.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element"> Basic Components </a> </td>
											    <td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5165f98c53d24e328c59a2419ce39814.html" target="element"> Catalogues </a> </td>
													    <td> <a href="../elements/id-5165f98c53d24e328c59a2419ce39814.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7eb2aba375d3421c86a747de9a05e054.html" target="element"> Internal information sources and services </a> </td>
													    <td> <a href="../elements/id-7eb2aba375d3421c86a747de9a05e054.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e7062de7b2f481286e95720cddec717.html" target="element"> Base registries </a> </td>
													    <td> <a href="../elements/id-3e7062de7b2f481286e95720cddec717.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8dbe03d614ea46f5b1ba36a965e07c16.html" target="element"> Open data </a> </td>
													    <td> <a href="../elements/id-8dbe03d614ea46f5b1ba36a965e07c16.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3ece87395a304f49aa9f33120b88d6f9.html" target="element"> External information sources and services </a> </td>
													    <td> <a href="../elements/id-3ece87395a304f49aa9f33120b88d6f9.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca0a45b9a6f74a75a1687a821356bbce.html" target="element"> Security and privacy </a> </td>
													    <td> <a href="../elements/id-ca0a45b9a6f74a75a1687a821356bbce.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html" target="element"> Interoperability Layers </a> </td>
											    <td> <a href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-13271e2df5c74bd3aea3e9e168e07e58.html" target="element"> Integrated public service governance </a> </td>
													    <td> <a href="../elements/id-13271e2df5c74bd3aea3e9e168e07e58.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b60bef1d8714304a434d0f352f35a08.html" target="element"> Organisational interoperability </a> </td>
													    <td> <a href="../elements/id-4b60bef1d8714304a434d0f352f35a08.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c6099717539841ea9dbb1585c402a1f1.html" target="element"> Legal interoperability </a> </td>
													    <td> <a href="../elements/id-c6099717539841ea9dbb1585c402a1f1.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c32abf3a82e4441780159c9e337243ef.html" target="element"> Semantic interoperability </a> </td>
													    <td> <a href="../elements/id-c32abf3a82e4441780159c9e337243ef.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8f87d84a1ce64e3aa0a101253e90df86.html" target="element"> Technical interoperability </a> </td>
													    <td> <a href="../elements/id-8f87d84a1ce64e3aa0a101253e90df86.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-436cba2380e8429184a3f582d2562dba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-436cba2380e8429184a3f582d2562dba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-0e1e38ca-a829-4548-b633-e62147270ae6.html" target="element"> Transparency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f7395df8eeae42c9baa638a0463d4f8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f7395df8eeae42c9baa638a0463d4f8b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-438856abc39a4572a98b443ca7e40385.html" target="element"> Security and privacy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4bfc40e030c4f669ba4b8052d0ab0de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4bfc40e030c4f669ba4b8052d0ab0de.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-7908e73e-9acf-432c-8138-e5b7456b32a6.html" target="element"> Reusability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e42c7a8c0f24d0dad8ce4494249b996.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e42c7a8c0f24d0dad8ce4494249b996.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-995a36b0-96f3-40e8-94f4-784e8d13352b.html" target="element"> Multilingualism </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0837e0e0b3743a3bd391f2b598eb157.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0837e0e0b3743a3bd391f2b598eb157.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-50fe1ee9.html" target="element"> Assessment of Effectiveness and Efficiency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f32ebad707a405b8810b5c1c55d15a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f32ebad707a405b8810b5c1c55d15a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-5f29b476c4c3487d9259025517bb6b6a.html" target="element"> User centricity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-835b5ec7e7574735b3006f01765e969b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-835b5ec7e7574735b3006f01765e969b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-66c849a4-2944-4e3f-92c6-54f9fd1210b7.html" target="element"> Subsidiarity and proportionality </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60fd524dabf44d7e85963c23d90fdb5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60fd524dabf44d7e85963c23d90fdb5f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-4144599a-773c-4873-9e60-0ceef344e4e2.html" target="element"> Administrative Simplification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b79b2775474e4fe9aa3a0b8011d115ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b79b2775474e4fe9aa3a0b8011d115ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-cd45bb55.html" target="element"> Technological neutrality and data portability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5098d6f29bb845f68e1dc35475a83897.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5098d6f29bb845f68e1dc35475a83897.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-f2ae5321-8870-4676-a69c-c74676b2dbbf.html" target="element"> Openness </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1185ff4f7ff947febd20fc3a0773b04b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1185ff4f7ff947febd20fc3a0773b04b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-61e292b8.html" target="element"> Inclusion and accessibility </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc3cf95c8f8d438f802ba110078adb37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc3cf95c8f8d438f802ba110078adb37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce0b3d54dee945d18deeeb9cab098c51.html" target="element"> EIF Principles </a> </td>
																		<td> <a href="../elements/id-3037c23d-21da-4906-898e-cd9ecf3203f7.html" target="element"> Preservation of information </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e8b97ec5fe644119af823eb46d30d582.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8b97ec5fe644119af823eb46d30d582.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-511e94d7.html" target="element"> Interoperability Governance </a> </td>
																		<td> <a href="../elements/id-6b01d0e293314cba987710d9a54dc111.html" target="element"> Interoperability Governance models </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8373e2cd9e7c43d4b75930e387e876dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8373e2cd9e7c43d4b75930e387e876dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-511e94d7.html" target="element"> Interoperability Governance </a> </td>
																		<td> <a href="../elements/id-cbc83f573c234b2faf70d6ccda918ff6.html" target="element"> CAMSS Assessments library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ff4f5f58f014538aefc4f47da85bc33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ff4f5f58f014538aefc4f47da85bc33.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-511e94d7.html" target="element"> Interoperability Governance </a> </td>
																		<td> <a href="../elements/id-17f8ced38263419c99710f2521293fd7.html" target="element"> Asset Description Metadata Schema (ADMS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd4b81ac934b4235a78cf41a807739a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd4b81ac934b4235a78cf41a807739a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-511e94d7.html" target="element"> Interoperability Governance </a> </td>
																		<td> <a href="../elements/id-6af235176c9448afa0acd8ded887b4df.html" target="element"> Statistical Production Reference Architecture V1.0 and subsequent </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-daade2a3e1394773b6c437e4b462126f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-daade2a3e1394773b6c437e4b462126f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element"> Basic Components </a> </td>
																		<td> <a href="../elements/id-5165f98c53d24e328c59a2419ce39814.html" target="element"> Catalogues </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-91d4a09cf3dd452c9467f3e311efbed1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91d4a09cf3dd452c9467f3e311efbed1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element"> Basic Components </a> </td>
																		<td> <a href="../elements/id-7eb2aba375d3421c86a747de9a05e054.html" target="element"> Internal information sources and services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6de67f7edb34ba190bce5a1ac6c891b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6de67f7edb34ba190bce5a1ac6c891b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element"> Basic Components </a> </td>
																		<td> <a href="../elements/id-3e7062de7b2f481286e95720cddec717.html" target="element"> Base registries </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2eabf576c83d4cae9c610efdef07b876.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2eabf576c83d4cae9c610efdef07b876.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element"> Basic Components </a> </td>
																		<td> <a href="../elements/id-8dbe03d614ea46f5b1ba36a965e07c16.html" target="element"> Open data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b9217fbb5fe4dfb91cab8852ceeb47e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b9217fbb5fe4dfb91cab8852ceeb47e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element"> Basic Components </a> </td>
																		<td> <a href="../elements/id-3ece87395a304f49aa9f33120b88d6f9.html" target="element"> External information sources and services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80cef0cbb697401bba431e48e13eeb0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80cef0cbb697401bba431e48e13eeb0c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a41c4ba0544f4eeb889d6958b4a5bd53.html" target="element"> Basic Components </a> </td>
																		<td> <a href="../elements/id-ca0a45b9a6f74a75a1687a821356bbce.html" target="element"> Security and privacy </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e48eec7e1a404c988ace33a5f83cd5cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e48eec7e1a404c988ace33a5f83cd5cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html" target="element"> Interoperability Layers </a> </td>
																		<td> <a href="../elements/id-13271e2df5c74bd3aea3e9e168e07e58.html" target="element"> Integrated public service governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c7f77ac21eb24b0e84c5cd44331a5ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c7f77ac21eb24b0e84c5cd44331a5ff6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html" target="element"> Interoperability Layers </a> </td>
																		<td> <a href="../elements/id-4b60bef1d8714304a434d0f352f35a08.html" target="element"> Organisational interoperability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a00c94bea47436b9a1d72d0d3742535.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a00c94bea47436b9a1d72d0d3742535.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html" target="element"> Interoperability Layers </a> </td>
																		<td> <a href="../elements/id-c6099717539841ea9dbb1585c402a1f1.html" target="element"> Legal interoperability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-712842c4232744c1b20432b87d6af664.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-712842c4232744c1b20432b87d6af664.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html" target="element"> Interoperability Layers </a> </td>
																		<td> <a href="../elements/id-c32abf3a82e4441780159c9e337243ef.html" target="element"> Semantic interoperability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8cadfabaf5ee4f49b53bbb39182279e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cadfabaf5ee4f49b53bbb39182279e9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2013cf3e41a94a2cae5f0ee52efff958.html" target="element"> Interoperability Layers </a> </td>
																		<td> <a href="../elements/id-8f87d84a1ce64e3aa0a101253e90df86.html" target="element"> Technical interoperability </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>