<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Service Process Baseline - Technology Solution</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Service Process Baseline - Technology Solution</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-476ab3f11dd6429c8dc81ddc860b8cc6.png" alt="Service Process Baseline - Technology Solution" usemap="#id-476ab3f11dd6429c8dc81ddc860b8cc6map"/>
			   <map name="id-476ab3f11dd6429c8dc81ddc860b8cc6map">
				  		<area shape="rect" coords="567,109,687,164" href="../elements/id-f74f0159e3b047368339119b11701bd2.html"  target="element">
				  		<area shape="rect" coords="166,10,286,65" href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html"  target="element">
				  		<area shape="rect" coords="496,214,616,269" href="../elements/id-74194c3f756b47baa9aa65bf7617a0cd.html"  target="element">
				  		<area shape="rect" coords="340,214,460,269" href="../elements/id-50c02201bf6142aca1e57837fb2b76b2.html"  target="element">
				  		<area shape="rect" coords="184,214,304,269" href="../elements/id-1e32515b7cce473f8f66a3cec6f7818e.html"  target="element">
				  		<area shape="rect" coords="340,106,460,161" href="../elements/id-26f525505a954bcda9be84fa5890420d.html"  target="element">
				  		<area shape="rect" coords="334,10,454,65" href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
											    <td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26f525505a954bcda9be84fa5890420d.html" target="element"> Solution Specification </a> </td>
											    <td> <a href="../elements/id-26f525505a954bcda9be84fa5890420d.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e32515b7cce473f8f66a3cec6f7818e.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #1  </a> </td>
											    <td> <a href="../elements/id-1e32515b7cce473f8f66a3cec6f7818e.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-50c02201bf6142aca1e57837fb2b76b2.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #2    </a> </td>
											    <td> <a href="../elements/id-50c02201bf6142aca1e57837fb2b76b2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74194c3f756b47baa9aa65bf7617a0cd.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #3    </a> </td>
											    <td> <a href="../elements/id-74194c3f756b47baa9aa65bf7617a0cd.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element"> Service Request Agent </a> </td>
											    <td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
											    <td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f74f0159e3b047368339119b11701bd2.html" target="element"> Technology Specific Framework </a> </td>
											    <td> <a href="../elements/id-f74f0159e3b047368339119b11701bd2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c135e651ee244fb2afdf8581761d2e74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c135e651ee244fb2afdf8581761d2e74.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e360318cbeec4c4b91d036f368922473.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e360318cbeec4c4b91d036f368922473.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-26f525505a954bcda9be84fa5890420d.html" target="element"> Solution Specification </a> </td>
																		<td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da610f3f243a4972b2ff5e12cff4b5b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da610f3f243a4972b2ff5e12cff4b5b0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1e32515b7cce473f8f66a3cec6f7818e.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #1  </a> </td>
																		<td> <a href="../elements/id-26f525505a954bcda9be84fa5890420d.html" target="element"> Solution Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4790075139e8432491ce8feced615928.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4790075139e8432491ce8feced615928.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-50c02201bf6142aca1e57837fb2b76b2.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #2    </a> </td>
																		<td> <a href="../elements/id-26f525505a954bcda9be84fa5890420d.html" target="element"> Solution Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a8d7c2a99f68479886bb94a914c629e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8d7c2a99f68479886bb94a914c629e7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74194c3f756b47baa9aa65bf7617a0cd.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #3    </a> </td>
																		<td> <a href="../elements/id-26f525505a954bcda9be84fa5890420d.html" target="element"> Solution Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-55ce52a112ce48de91f090e1e0a68d84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55ce52a112ce48de91f090e1e0a68d84.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																		<td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element"> Service Request Agent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-584f4f53778d468e96b54bff1ae4918b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-584f4f53778d468e96b54bff1ae4918b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f74f0159e3b047368339119b11701bd2.html" target="element"> Technology Specific Framework </a> </td>
																		<td> <a href="../elements/id-26f525505a954bcda9be84fa5890420d.html" target="element"> Solution Specification </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>