<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig01-WhyFail</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig01-WhyFail</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-47e8dcf6d5784f3fb0785113fe200e9d.png" alt="Fig01-WhyFail" usemap="#id-47e8dcf6d5784f3fb0785113fe200e9dmap"/>
			   <map name="id-47e8dcf6d5784f3fb0785113fe200e9dmap">
				          <area shape="rect" coords="265,10,299,51" href="../objects/id-ea6ce58a07ea4fcdb2eda16e872dce6e.html" target="element" >
				          <area shape="rect" coords="71,526,105,567" href="../objects/id-cdd97045d79248c9b88aa678229c5213.html" target="element" >
				          <area shape="rect" coords="71,113,105,154" href="../objects/id-4a98c19b792e46fc8f6ea02758764342.html" target="element" >
				          <area shape="rect" coords="10,270,44,311" href="../objects/id-0f0993014ec042ca819bae69dab5591c.html" target="element" >
				          <area shape="rect" coords="466,332,500,373" href="../objects/id-9a4bf57fe6654e75a7cb767c8c6459a2.html" target="element" >
				          <area shape="rect" coords="718,430,752,471" href="../objects/id-641428b5b0824bb180fff1955d297297.html" target="element" >
				          <area shape="rect" coords="852,202,886,243" href="../objects/id-e60a42c11e674e40b927f1bc42c46eae.html" target="element" >
				          <area shape="rect" coords="658,498,692,539" href="../objects/id-6000093e367f4e5f939b4af83494df9c.html" target="element" >
				  		<area shape="rect" coords="718,202,838,323" href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html"  target="element">
				          <area shape="rect" coords="730,532,1007,665" href="../objects/id-ce459a339d324e95a8d911643c470bd9.html" target="element" >
				  		<area shape="rect" coords="22,310,119,395" href="../elements/id-f3adb8748bb041edb127f727125b86c9.html"  target="element">
				  		<area shape="rect" coords="106,77,224,191" href="../elements/id-6550a94cca9041209501940e08e6e9db.html"  target="element">
				  		<area shape="rect" coords="104,538,225,659" href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html"  target="element">
				  		<area shape="rect" coords="886,202,1007,323" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">
				  				<area shape="rect" coords="490,550,611,671" href="../elements/id-b7ec9b0d01ca40b58456f0a7564b240a.html"  target="element">
				  				<area shape="rect" coords="322,550,435,671" href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html"  target="element">
				  				<area shape="rect" coords="490,394,611,515" href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html"  target="element">

				  		<area shape="rect" coords="298,370,647,695" href="../elements/id-2c9b452b9dd9438790e916711b84dfbe.html"  target="element">
				  				<area shape="rect" coords="490,46,608,167" href="../elements/id-2a71d92d1ab74ae988104774aa76b772.html"  target="element">
				  				<area shape="rect" coords="322,46,440,167" href="../elements/id-76ec01fd324745999cf771f82d764fef.html"  target="element">
				  				<area shape="rect" coords="490,202,608,323" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">

				  		<area shape="rect" coords="298,22,635,335" href="../elements/id-b92d4179cb4548ba9d84c1b6e428cdfe.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b92d4179cb4548ba9d84c1b6e428cdfe.html" target="element"> License Service 1 </a> </td>
											    <td> <a href="../elements/id-b92d4179cb4548ba9d84c1b6e428cdfe.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element"> Org type 1 </a> </td>
													    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a71d92d1ab74ae988104774aa76b772.html" target="element"> Developer 1 </a> </td>
													    <td> <a href="../elements/id-2a71d92d1ab74ae988104774aa76b772.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2c9b452b9dd9438790e916711b84dfbe.html" target="element"> License Service  2 </a> </td>
											    <td> <a href="../elements/id-2c9b452b9dd9438790e916711b84dfbe.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element"> Org type 2 </a> </td>
													    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7ec9b0d01ca40b58456f0a7564b240a.html" target="element"> Developer 2 </a> </td>
													    <td> <a href="../elements/id-b7ec9b0d01ca40b58456f0a7564b240a.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3adb8748bb041edb127f727125b86c9.html" target="element"> Data Standard </a> </td>
											    <td> <a href="../elements/id-f3adb8748bb041edb127f727125b86c9.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ce459a339d324e95a8d911643c470bd9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ce459a339d324e95a8d911643c470bd9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-6000093e367f4e5f939b4af83494df9c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6000093e367f4e5f939b4af83494df9c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e60a42c11e674e40b927f1bc42c46eae.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e60a42c11e674e40b927f1bc42c46eae.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-641428b5b0824bb180fff1955d297297.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-641428b5b0824bb180fff1955d297297.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9a4bf57fe6654e75a7cb767c8c6459a2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9a4bf57fe6654e75a7cb767c8c6459a2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0f0993014ec042ca819bae69dab5591c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0f0993014ec042ca819bae69dab5591c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4a98c19b792e46fc8f6ea02758764342.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4a98c19b792e46fc8f6ea02758764342.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cdd97045d79248c9b88aa678229c5213.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cdd97045d79248c9b88aa678229c5213.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ea6ce58a07ea4fcdb2eda16e872dce6e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ea6ce58a07ea4fcdb2eda16e872dce6e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d6e871d45e46438f9d347e478dbf7f10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6e871d45e46438f9d347e478dbf7f10.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b92d4179cb4548ba9d84c1b6e428cdfe.html" target="element"> License Service 1 </a> </td>
																		<td> <a href="../elements/id-f3adb8748bb041edb127f727125b86c9.html" target="element"> Data Standard </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2102c9d1474a46d89c91afb6f160d3a5.html" target="element"> Data Exchange </a> </td>
																				<td> <a href="../elements/id-2102c9d1474a46d89c91afb6f160d3a5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																				<td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6c4e6fcf29f84d1591eb9581146e0478.html" target="element"> assign </a> </td>
																				<td> <a href="../elements/id-6c4e6fcf29f84d1591eb9581146e0478.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element"> Org type 1 </a> </td>
																				<td> <a href="../elements/id-2a71d92d1ab74ae988104774aa76b772.html" target="element"> Developer 1 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-acdebf7c7305485b973f62f47372ad1c.html" target="element"> develop </a> </td>
																				<td> <a href="../elements/id-acdebf7c7305485b973f62f47372ad1c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a71d92d1ab74ae988104774aa76b772.html" target="element"> Developer 1 </a> </td>
																				<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-450d5208be74413fada6148d33032e50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-450d5208be74413fada6148d33032e50.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c9b452b9dd9438790e916711b84dfbe.html" target="element"> License Service  2 </a> </td>
																		<td> <a href="../elements/id-f3adb8748bb041edb127f727125b86c9.html" target="element"> Data Standard </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-37b9fb65d38549f6860c64b13a773d18.html" target="element"> assign </a> </td>
																				<td> <a href="../elements/id-37b9fb65d38549f6860c64b13a773d18.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element"> Org type 2 </a> </td>
																				<td> <a href="../elements/id-b7ec9b0d01ca40b58456f0a7564b240a.html" target="element"> Developer 2 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fac872f12c66422e8a70e00ae122d5c0.html" target="element"> develop </a> </td>
																				<td> <a href="../elements/id-fac872f12c66422e8a70e00ae122d5c0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7ec9b0d01ca40b58456f0a7564b240a.html" target="element"> Developer 2 </a> </td>
																				<td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ec9a86890a9a471d87033306088dd433.html" target="element"> support </a> </td>
																		<td> <a href="../elements/id-ec9a86890a9a471d87033306088dd433.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
																		<td> <a href="../elements/id-b92d4179cb4548ba9d84c1b6e428cdfe.html" target="element"> License Service 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c35620ca8eec4f828773d6d1a90ce331.html" target="element"> support </a> </td>
																		<td> <a href="../elements/id-c35620ca8eec4f828773d6d1a90ce331.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
																		<td> <a href="../elements/id-2c9b452b9dd9438790e916711b84dfbe.html" target="element"> License Service  2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5800f6a8a4de4217a39f8fcfd99f64c2.html" target="element"> govern </a> </td>
																		<td> <a href="../elements/id-5800f6a8a4de4217a39f8fcfd99f64c2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
																		<td> <a href="../elements/id-b92d4179cb4548ba9d84c1b6e428cdfe.html" target="element"> License Service 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c694037676d4bb8807bec4e3671b155.html" target="element"> govern </a> </td>
																		<td> <a href="../elements/id-4c694037676d4bb8807bec4e3671b155.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
																		<td> <a href="../elements/id-2c9b452b9dd9438790e916711b84dfbe.html" target="element"> License Service  2 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-1e3db35e38024c9089fd1e96c8ff60b8.html" target="element"> access </a> </td>
																		<td> <a href="../elements/id-1e3db35e38024c9089fd1e96c8ff60b8.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																		<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e4b3df49d5341c19f521e118204de30.html" target="element"> access extra </a> </td>
																		<td> <a href="../elements/id-5e4b3df49d5341c19f521e118204de30.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																		<td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>