<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc2-CH1-F1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc2-CH1-F1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4adf067f4f9545eab5649c530e9048e6.png" alt="doc2-CH1-F1" usemap="#id-4adf067f4f9545eab5649c530e9048e6map"/>
			   <map name="id-4adf067f4f9545eab5649c530e9048e6map">
				          <area shape="rect" coords="842,202,875,234" href="../objects/id-2efabea781934a0b8092283ad2c7dd54.html" target="element" >
				          <area shape="rect" coords="425,346,458,378" href="../objects/id-0faa5ca99d4c4389bacb944791d348ed.html" target="element" >
				          <area shape="rect" coords="262,454,295,486" href="../objects/id-fe10eaee211747a8bb3b5f33a07fb066.html" target="element" >
				  				        <area shape="rect" coords="755,346,816,399" href="../objects/id-7270a236174a4b71bf456f6b3740fffe.html" target="element" >
				  				        <area shape="rect" coords="695,350,742,399" href="../objects/id-c4cfd27f9ccd46b4955817497e3c914f.html" target="element" >
				  				        <area shape="rect" coords="691,441,745,499" href="../objects/id-ed20cdb3e88742c0a106da378e415595.html" target="element" >
				  						<area shape="rect" coords="754,475,815,499" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="753,400,819,424" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="686,400,752,424" href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html"  target="element">
				  				        <area shape="rect" coords="759,432,805,475" href="../objects/id-c55ce1ae90f24c2f8888d2e9c4e30bc4.html" target="element" >

				  				<area shape="rect" coords="677,327,825,509" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  				        <area shape="rect" coords="592,445,662,501" href="../objects/id-ac925908eddf47d695012411df25d0e7.html" target="element" >

				  				<area shape="rect" coords="590,424,667,505" href="../elements/id-d31add076d09487b899b460185c2a7f3.html"  target="element">
				  				<area shape="rect" coords="591,376,668,419" href="../elements/id-5d300362def54c16874e73ad142f9939.html"  target="element">
				  				<area shape="rect" coords="592,328,668,371" href="../elements/id-2ac055142727495ca00381bb15e7c942.html"  target="element">

				  		<area shape="rect" coords="574,316,843,527" href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html"  target="element">
				  				        <area shape="rect" coords="33,462,103,509" href="../objects/id-6e45a25e62a247d6b7434300cb150256.html" target="element" >

				  				<area shape="rect" coords="18,429,115,518" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="39,363,93,419" href="../objects/id-564719a144464e1b8e6af5b1ddfa3422.html" target="element" >

				  				<area shape="rect" coords="20,337,112,423" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="147,363,201,419" href="../objects/id-d82390aa47714723b4545421ea636dc9.html" target="element" >

				  				<area shape="rect" coords="126,337,220,423" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  				        <area shape="rect" coords="130,460,216,505" href="../objects/id-79d1556b17e4454986fb626a9b9a2ba9.html" target="element" >

				  				<area shape="rect" coords="127,430,219,516" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">

				  		<area shape="rect" coords="10,326,232,528" href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html"  target="element">
				  				<area shape="rect" coords="387,400,444,420" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">
				  		        <area shape="rect" coords="382,430,446,496" href="../objects/id-e30b81b4a92e46e7a855ba20bddaa339.html" target="element" >

				  		<area shape="rect" coords="370,394,458,506" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				  				        <area shape="rect" coords="1181,42,1384,71" href="../objects/id-a960dca99bd84d3d86e149a654efe6a5.html" target="element" >

				  				<area shape="rect" coords="889,39,1116,88" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  				<area shape="rect" coords="889,94,1116,143" href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html"  target="element">
				  				        <area shape="rect" coords="888,267,958,323" href="../objects/id-1b455a259bc149d6a673a2353d58c5b3.html" target="element" >

				  				<area shape="rect" coords="886,246,963,327" href="../elements/id-d31add076d09487b899b460185c2a7f3.html"  target="element">
				  				<area shape="rect" coords="887,198,964,241" href="../elements/id-5d300362def54c16874e73ad142f9939.html"  target="element">
				  				<area shape="rect" coords="888,150,964,193" href="../elements/id-2ac055142727495ca00381bb15e7c942.html"  target="element">
				  				        <area shape="rect" coords="981,248,1044,320" href="../objects/id-ec5713d68f2d42b6a49e0c01a3e40cfa.html" target="element" >
				  						<area shape="rect" coords="1048,296,1109,320" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="1047,221,1113,245" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="980,221,1046,245" href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html"  target="element">
				  				        <area shape="rect" coords="1053,253,1099,296" href="../objects/id-b1279ef061234f32858677461e16f08a.html" target="element" >
				  				        <area shape="rect" coords="986,170,1033,219" href="../objects/id-bc5da8e235e04a4ebfe590bca9ba6f1a.html" target="element" >
				  				        <area shape="rect" coords="1046,166,1107,219" href="../objects/id-5bf36b7f41fb4d828f2758bbed60f2d7.html" target="element" >

				  				<area shape="rect" coords="971,148,1119,330" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">

				  		<area shape="rect" coords="874,10,1130,342" href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html"  target="element">
				  				        <area shape="rect" coords="313,38,516,67" href="../objects/id-fb8212b930914d4881496046bc5f0991.html" target="element" >
				  				        <area shape="rect" coords="541,69,602,125" href="../objects/id-021286b6db3349d685b1f821c83dee59.html" target="element" >
				  				        <area shape="rect" coords="637,69,698,125" href="../objects/id-1de1e85318b842f08a3753a79f9df48c.html" target="element" >
				  				        <area shape="rect" coords="157,69,218,125" href="../objects/id-464b6550420648dfaa1f0e1c96009393.html" target="element" >
				  				        <area shape="rect" coords="730,126,791,155" href="../objects/id-5a7e4f66e5214bd3aaeeb99fa7b67569.html" target="element" >
				  				        <area shape="rect" coords="149,126,238,155" href="../objects/id-eace5664adc749f29a1df1f71d9f6d43.html" target="element" >
				  				        <area shape="rect" coords="244,126,333,155" href="../objects/id-a726f21898f143418a0a217d65d14afa.html" target="element" >
				  				        <area shape="rect" coords="438,126,527,155" href="../objects/id-8af1f8fb47684a86994ff20a7f863995.html" target="element" >
				  				        <area shape="rect" coords="619,126,723,155" href="../objects/id-4b04acc7d3744058af3d0bbd4c0a0e09.html" target="element" >
				  				        <area shape="rect" coords="357,69,418,125" href="../objects/id-1e220d773dfe410483f92403dfad9c0b.html" target="element" >
				  				        <area shape="rect" coords="339,126,428,155" href="../objects/id-d8d076d2105d419999f5f6fd0f7ae783.html" target="element" >
				  				        <area shape="rect" coords="457,69,518,125" href="../objects/id-173eb77ba62049b1bce1d01ad66fac07.html" target="element" >
				  				        <area shape="rect" coords="36,126,133,155" href="../objects/id-89170ab803ea45b6beebf9cf44db3a0a.html" target="element" >
				  				        <area shape="rect" coords="55,69,116,125" href="../objects/id-cc4a419346b0457ea31cd90f89f3ebeb.html" target="element" >
				  				        <area shape="rect" coords="260,69,321,125" href="../objects/id-7745ff82b8104e5faa50b8e393c8dd80.html" target="element" >
				  				        <area shape="rect" coords="733,69,794,125" href="../objects/id-6a5ac3c9d2334f07b1da6e4b6816a504.html" target="element" >
				  				        <area shape="rect" coords="534,126,614,155" href="../objects/id-39297df2fe8c4c96aa731f1796478e43.html" target="element" >

				  				<area shape="rect" coords="21,35,824,161" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  				        <area shape="rect" coords="543,211,604,275" href="../objects/id-9d765b90b4784e5286c89c826c7bf6dd.html" target="element" >
				  				        <area shape="rect" coords="639,211,700,273" href="../objects/id-6c5aa4de0b4c483c958aab778efccbd4.html" target="element" >
				  				        <area shape="rect" coords="159,211,220,274" href="../objects/id-30be6afc96f4440f9696f8477f9d1d4b.html" target="element" >
				  				        <area shape="rect" coords="732,268,793,297" href="../objects/id-dd7456fe902d4fe198be45b2bc0eb76d.html" target="element" >
				  				        <area shape="rect" coords="151,268,240,297" href="../objects/id-e2ba2a5c3af04ebd9f500da7d16041bf.html" target="element" >
				  				        <area shape="rect" coords="246,268,335,297" href="../objects/id-3f23ba28d015428081756f4b48f94bd7.html" target="element" >
				  				        <area shape="rect" coords="440,268,529,297" href="../objects/id-0c10b36473504d4db4304c29dff07f87.html" target="element" >
				  				        <area shape="rect" coords="621,268,725,297" href="../objects/id-338fa26cffda4da19eb1f7d4b5f71140.html" target="element" >
				  				        <area shape="rect" coords="359,211,420,267" href="../objects/id-85716075c5c64003987938cdc6a7849a.html" target="element" >
				  				        <area shape="rect" coords="341,268,430,297" href="../objects/id-5ce8b4114ab647359e2b0f669f2ccc48.html" target="element" >
				  				        <area shape="rect" coords="459,211,520,267" href="../objects/id-ae8cd2ea1ce54871a0069e09ed0d9151.html" target="element" >
				  				        <area shape="rect" coords="38,268,135,297" href="../objects/id-afd2b011c6884d55bcdbab03c8499011.html" target="element" >
				  				        <area shape="rect" coords="57,211,118,267" href="../objects/id-96ca378587f74b1f957893f8f9d89697.html" target="element" >
				  				        <area shape="rect" coords="262,211,323,267" href="../objects/id-39ea852cfd3f44399078d41c95a26a9e.html" target="element" >
				  				        <area shape="rect" coords="735,211,796,272" href="../objects/id-e5de943626424ad892226e519e7cc7d5.html" target="element" >
				  				        <area shape="rect" coords="536,268,616,297" href="../objects/id-8fb54de621544df69276ad392c1dfbe0.html" target="element" >
				  				        <area shape="rect" coords="314,182,545,211" href="../objects/id-85a5815745d04b46b5f133026198ee33.html" target="element" >

				  				<area shape="rect" coords="20,180,823,301" href="../elements/id-95b6420343404cf2b5e6019114d46234.html"  target="element">

				  		<area shape="rect" coords="10,10,843,317" href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
													    <td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-85a5815745d04b46b5f133026198ee33.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-85a5815745d04b46b5f133026198ee33.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8fb54de621544df69276ad392c1dfbe0.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8fb54de621544df69276ad392c1dfbe0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e5de943626424ad892226e519e7cc7d5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e5de943626424ad892226e519e7cc7d5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-39ea852cfd3f44399078d41c95a26a9e.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-39ea852cfd3f44399078d41c95a26a9e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-96ca378587f74b1f957893f8f9d89697.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-96ca378587f74b1f957893f8f9d89697.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-afd2b011c6884d55bcdbab03c8499011.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-afd2b011c6884d55bcdbab03c8499011.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ae8cd2ea1ce54871a0069e09ed0d9151.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ae8cd2ea1ce54871a0069e09ed0d9151.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5ce8b4114ab647359e2b0f669f2ccc48.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5ce8b4114ab647359e2b0f669f2ccc48.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-85716075c5c64003987938cdc6a7849a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-85716075c5c64003987938cdc6a7849a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-338fa26cffda4da19eb1f7d4b5f71140.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-338fa26cffda4da19eb1f7d4b5f71140.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0c10b36473504d4db4304c29dff07f87.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0c10b36473504d4db4304c29dff07f87.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-3f23ba28d015428081756f4b48f94bd7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3f23ba28d015428081756f4b48f94bd7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e2ba2a5c3af04ebd9f500da7d16041bf.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e2ba2a5c3af04ebd9f500da7d16041bf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dd7456fe902d4fe198be45b2bc0eb76d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dd7456fe902d4fe198be45b2bc0eb76d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-30be6afc96f4440f9696f8477f9d1d4b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-30be6afc96f4440f9696f8477f9d1d4b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-6c5aa4de0b4c483c958aab778efccbd4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6c5aa4de0b4c483c958aab778efccbd4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9d765b90b4784e5286c89c826c7bf6dd.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9d765b90b4784e5286c89c826c7bf6dd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-39297df2fe8c4c96aa731f1796478e43.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-39297df2fe8c4c96aa731f1796478e43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-6a5ac3c9d2334f07b1da6e4b6816a504.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6a5ac3c9d2334f07b1da6e4b6816a504.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7745ff82b8104e5faa50b8e393c8dd80.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7745ff82b8104e5faa50b8e393c8dd80.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-cc4a419346b0457ea31cd90f89f3ebeb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cc4a419346b0457ea31cd90f89f3ebeb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-89170ab803ea45b6beebf9cf44db3a0a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-89170ab803ea45b6beebf9cf44db3a0a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-173eb77ba62049b1bce1d01ad66fac07.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-173eb77ba62049b1bce1d01ad66fac07.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-d8d076d2105d419999f5f6fd0f7ae783.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d8d076d2105d419999f5f6fd0f7ae783.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1e220d773dfe410483f92403dfad9c0b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1e220d773dfe410483f92403dfad9c0b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-4b04acc7d3744058af3d0bbd4c0a0e09.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4b04acc7d3744058af3d0bbd4c0a0e09.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8af1f8fb47684a86994ff20a7f863995.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8af1f8fb47684a86994ff20a7f863995.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a726f21898f143418a0a217d65d14afa.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a726f21898f143418a0a217d65d14afa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-eace5664adc749f29a1df1f71d9f6d43.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-eace5664adc749f29a1df1f71d9f6d43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5a7e4f66e5214bd3aaeeb99fa7b67569.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5a7e4f66e5214bd3aaeeb99fa7b67569.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-464b6550420648dfaa1f0e1c96009393.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-464b6550420648dfaa1f0e1c96009393.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1de1e85318b842f08a3753a79f9df48c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1de1e85318b842f08a3753a79f9df48c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-021286b6db3349d685b1f821c83dee59.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-021286b6db3349d685b1f821c83dee59.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-fb8212b930914d4881496046bc5f0991.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-fb8212b930914d4881496046bc5f0991.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5bf36b7f41fb4d828f2758bbed60f2d7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5bf36b7f41fb4d828f2758bbed60f2d7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-bc5da8e235e04a4ebfe590bca9ba6f1a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-bc5da8e235e04a4ebfe590bca9ba6f1a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b1279ef061234f32858677461e16f08a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b1279ef061234f32858677461e16f08a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-ec5713d68f2d42b6a49e0c01a3e40cfa.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ec5713d68f2d42b6a49e0c01a3e40cfa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-1b455a259bc149d6a673a2353d58c5b3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1b455a259bc149d6a673a2353d58c5b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; </a> </td>
													    <td> <a href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-a960dca99bd84d3d86e149a654efe6a5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a960dca99bd84d3d86e149a654efe6a5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e30b81b4a92e46e7a855ba20bddaa339.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e30b81b4a92e46e7a855ba20bddaa339.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-79d1556b17e4454986fb626a9b9a2ba9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-79d1556b17e4454986fb626a9b9a2ba9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-d82390aa47714723b4545421ea636dc9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d82390aa47714723b4545421ea636dc9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-564719a144464e1b8e6af5b1ddfa3422.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-564719a144464e1b8e6af5b1ddfa3422.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-6e45a25e62a247d6b7434300cb150256.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6e45a25e62a247d6b7434300cb150256.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-ac925908eddf47d695012411df25d0e7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ac925908eddf47d695012411df25d0e7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-c55ce1ae90f24c2f8888d2e9c4e30bc4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c55ce1ae90f24c2f8888d2e9c4e30bc4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-ed20cdb3e88742c0a106da378e415595.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ed20cdb3e88742c0a106da378e415595.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-c4cfd27f9ccd46b4955817497e3c914f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c4cfd27f9ccd46b4955817497e3c914f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7270a236174a4b71bf456f6b3740fffe.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7270a236174a4b71bf456f6b3740fffe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-fe10eaee211747a8bb3b5f33a07fb066.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fe10eaee211747a8bb3b5f33a07fb066.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0faa5ca99d4c4389bacb944791d348ed.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0faa5ca99d4c4389bacb944791d348ed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2efabea781934a0b8092283ad2c7dd54.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2efabea781934a0b8092283ad2c7dd54.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-297f4ab87256450cb6a2c6dee790bc87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-297f4ab87256450cb6a2c6dee790bc87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-24cd11d396074bb0bde31f36c546a525.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24cd11d396074bb0bde31f36c546a525.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e5b2b78b9a41460c8540daf191d7b333.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5b2b78b9a41460c8540daf191d7b333.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c18c9a61d3fb41dfa98c15767f20f26d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c18c9a61d3fb41dfa98c15767f20f26d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/id-0a74e3f397b44fce8ceeaa328674d19f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a74e3f397b44fce8ceeaa328674d19f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-054bf6452b334296acb058274a93949f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-054bf6452b334296acb058274a93949f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																			<tr>
																				<td> <a href="../elements/id-efcc9c7d2b1340bdb6db23ddf2efe902.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-efcc9c7d2b1340bdb6db23ddf2efe902.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
																				<td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>