<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH5-F1--2-Law-IID</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH5-F1--2-Law-IID</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-52ff6f3b25cb4964aff1369debf2884b.png" alt="doc1-CH5-F1--2-Law-IID" usemap="#id-52ff6f3b25cb4964aff1369debf2884bmap"/>
			   <map name="id-52ff6f3b25cb4964aff1369debf2884bmap">
				          <area shape="rect" coords="670,22,875,101" href="../objects/id-0bd0b258e28b4ecd994594b6d04fe1aa.html" target="element" >
				          <area shape="rect" coords="442,22,647,98" href="../objects/id-5a35df64367443dc941b250559b28b17.html" target="element" >
				          <area shape="rect" coords="586,334,779,455" href="../objects/id-d332ae3e49ea4f66aa2500202d7c83b5.html" target="element" >
				  		<area shape="rect" coords="706,149,839,318" href="../elements/id-425f2a699d564a9a8e967e9a962d7e1b.html"  target="element">
				  		<area shape="rect" coords="490,154,623,314" href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html"  target="element">
				  				<area shape="rect" coords="298,298,407,407" href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html"  target="element">
				  				<area shape="rect" coords="34,310,143,419" href="../elements/id-5d6484484b924113ad8533bcd38f579c.html"  target="element">
				  				<area shape="rect" coords="34,175,143,284" href="../elements/id-fbcc564478164e018b92c16ed6573382.html"  target="element">
				  				<area shape="rect" coords="178,139,287,248" href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html"  target="element">
				  				<area shape="rect" coords="298,67,407,176" href="../elements/id-6def7cacc633400ebb706187f7e53b49.html"  target="element">
				  				<area shape="rect" coords="108,19,217,128" href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html"  target="element">
				  				<area shape="rect" coords="166,346,275,455" href="../elements/id-c73817e79507429cb69e46937b27b8a0.html"  target="element">

				  		<area shape="rect" coords="10,10,419,467" href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c73817e79507429cb69e46937b27b8a0.html" target="element"> LW-11 </a> </td>
													    <td> <a href="../elements/id-c73817e79507429cb69e46937b27b8a0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html" target="element"> LW-7 </a> </td>
													    <td> <a href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6def7cacc633400ebb706187f7e53b49.html" target="element"> LW-12 </a> </td>
													    <td> <a href="../elements/id-6def7cacc633400ebb706187f7e53b49.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html" target="element"> LW-14 </a> </td>
													    <td> <a href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fbcc564478164e018b92c16ed6573382.html" target="element"> LW-16 </a> </td>
													    <td> <a href="../elements/id-fbcc564478164e018b92c16ed6573382.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d6484484b924113ad8533bcd38f579c.html" target="element"> LW-10 </a> </td>
													    <td> <a href="../elements/id-5d6484484b924113ad8533bcd38f579c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html" target="element"> LW-17 </a> </td>
													    <td> <a href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
											    <td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-425f2a699d564a9a8e967e9a962d7e1b.html" target="element"> 1. Identifiable  Interoperable Document : IID </a> </td>
											    <td> <a href="../elements/id-425f2a699d564a9a8e967e9a962d7e1b.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d332ae3e49ea4f66aa2500202d7c83b5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d332ae3e49ea4f66aa2500202d7c83b5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5a35df64367443dc941b250559b28b17.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5a35df64367443dc941b250559b28b17.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0bd0b258e28b4ecd994594b6d04fe1aa.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0bd0b258e28b4ecd994594b6d04fe1aa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-451ddd8d82d94123b8e6bbe5945a7747.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-451ddd8d82d94123b8e6bbe5945a7747.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-c73817e79507429cb69e46937b27b8a0.html" target="element"> LW-11 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da0ee12bc244446c8809235a97e061e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da0ee12bc244446c8809235a97e061e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html" target="element"> LW-7 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d4556b3ad544572ba8d98f2a1180fb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d4556b3ad544572ba8d98f2a1180fb6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-6def7cacc633400ebb706187f7e53b49.html" target="element"> LW-12 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5f48333f49c4fb2a257021f03e99414.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5f48333f49c4fb2a257021f03e99414.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html" target="element"> LW-14 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a53b57d8e1043308bad7f18727e6585.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a53b57d8e1043308bad7f18727e6585.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-fbcc564478164e018b92c16ed6573382.html" target="element"> LW-16 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-769a573e57b043f38aa4c3f62af8f689.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-769a573e57b043f38aa4c3f62af8f689.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-5d6484484b924113ad8533bcd38f579c.html" target="element"> LW-10 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a99b3ad80c64cb0a262e6eac9dade61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a99b3ad80c64cb0a262e6eac9dade61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5a28a2e0ab4f4923a2ab68f53cca0412.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html" target="element"> LW-17 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e36068e29ea34a8a86587385ab275d48.html" target="element"> require </a> </td>
																				<td> <a href="../elements/id-e36068e29ea34a8a86587385ab275d48.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c73817e79507429cb69e46937b27b8a0.html" target="element"> LW-11 </a> </td>
																				<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-04ac24c3b8a94a9aab352e23cd5981de.html" target="element"> require </a> </td>
																				<td> <a href="../elements/id-04ac24c3b8a94a9aab352e23cd5981de.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9f7fc1a7b14c4e78a21d706ee4d3a55c.html" target="element"> LW-7 </a> </td>
																				<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-46bed40f506e4f148d0d4de5b29a07de.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-46bed40f506e4f148d0d4de5b29a07de.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6def7cacc633400ebb706187f7e53b49.html" target="element"> LW-12 </a> </td>
																				<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9d2415df17a04b71b33435113c89ef41.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d2415df17a04b71b33435113c89ef41.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c83027f83c6f493a839a2baab1cf43e4.html" target="element"> LW-14 </a> </td>
																				<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f2824e5e23e146d1843c050584933667.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2824e5e23e146d1843c050584933667.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fbcc564478164e018b92c16ed6573382.html" target="element"> LW-16 </a> </td>
																				<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b2a44da9ecc2405da7b95de84775b132.html" target="element"> require </a> </td>
																				<td> <a href="../elements/id-b2a44da9ecc2405da7b95de84775b132.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5d6484484b924113ad8533bcd38f579c.html" target="element"> LW-10 </a> </td>
																				<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1301e184fc364547ad2535de12057b22.html" target="element"> require </a> </td>
																				<td> <a href="../elements/id-1301e184fc364547ad2535de12057b22.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b079abe223342aa99b58af84bfacb8b.html" target="element"> LW-17 </a> </td>
																				<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-979c31e1dfd94fa6872f85a3870fd3d6.html" target="element"> require </a> </td>
																		<td> <a href="../elements/id-979c31e1dfd94fa6872f85a3870fd3d6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c7482dde8924971b92238bd6efb8e3c.html" target="element"> Document Exchange Capability </a> </td>
																		<td> <a href="../elements/id-425f2a699d564a9a8e967e9a962d7e1b.html" target="element"> 1. Identifiable  Interoperable Document : IID </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>