<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig15-DoBizSuite</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig15-DoBizSuite</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5423d97470d040c5ad79c37ad84f320a.png" alt="Fig15-DoBizSuite" usemap="#id-5423d97470d040c5ad79c37ad84f320amap"/>
			   <map name="id-5423d97470d040c5ad79c37ad84f320amap">
				          <area shape="rect" coords="238,10,271,42" href="../objects/id-16adca9642c242ca96720e522e783c58.html" target="element" >
				  		        <area shape="rect" coords="418,178,451,210" href="../objects/id-9c3dcbf67117466ba5de5ccecf33b39f.html" target="element" >
				  		        <area shape="rect" coords="262,178,295,210" href="../objects/id-6812e74ef5a742d6a2d306b9ae4503b4.html" target="element" >
				  		        <area shape="rect" coords="106,166,139,198" href="../objects/id-bed0b51f7d4c405aac54c3dc8ba4dcee.html" target="element" >
				  				<area shape="rect" coords="418,82,551,191" href="../elements/id-4fcf26edf1624b15b44f465e6f69d041.html"  target="element">
				  				<area shape="rect" coords="274,82,407,191" href="../elements/id-9d7abbb149ba4be2b1ff585afb2af8d8.html"  target="element">
				  				<area shape="rect" coords="130,82,263,191" href="../elements/id-ee54703dffa4437183f28b756d765bba.html"  target="element">

				  		<area shape="rect" coords="10,46,575,215" href="../elements/id-96f36c47a0d549f98730398919c25abf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-96f36c47a0d549f98730398919c25abf.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-96f36c47a0d549f98730398919c25abf.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ee54703dffa4437183f28b756d765bba.html" target="element"> API Gateway Service </a> </td>
													    <td> <a href="../elements/id-ee54703dffa4437183f28b756d765bba.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9d7abbb149ba4be2b1ff585afb2af8d8.html" target="element"> Access IRI Service </a> </td>
													    <td> <a href="../elements/id-9d7abbb149ba4be2b1ff585afb2af8d8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4fcf26edf1624b15b44f465e6f69d041.html" target="element"> Catalog Service </a> </td>
													    <td> <a href="../elements/id-4fcf26edf1624b15b44f465e6f69d041.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-bed0b51f7d4c405aac54c3dc8ba4dcee.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bed0b51f7d4c405aac54c3dc8ba4dcee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6812e74ef5a742d6a2d306b9ae4503b4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6812e74ef5a742d6a2d306b9ae4503b4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9c3dcbf67117466ba5de5ccecf33b39f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9c3dcbf67117466ba5de5ccecf33b39f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-16adca9642c242ca96720e522e783c58.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-16adca9642c242ca96720e522e783c58.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8005f64792864bc6bd6ba6bfac162415.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8005f64792864bc6bd6ba6bfac162415.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96f36c47a0d549f98730398919c25abf.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-ee54703dffa4437183f28b756d765bba.html" target="element"> API Gateway Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-358ff26e52ae47e7a317e7a1b59f27e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-358ff26e52ae47e7a317e7a1b59f27e5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96f36c47a0d549f98730398919c25abf.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-9d7abbb149ba4be2b1ff585afb2af8d8.html" target="element"> Access IRI Service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24574630a07a4df5b0a051a168d1a1a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24574630a07a4df5b0a051a168d1a1a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96f36c47a0d549f98730398919c25abf.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-4fcf26edf1624b15b44f465e6f69d041.html" target="element"> Catalog Service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>