<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-CH2-F2-flow</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-CH2-F2-flow</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-666f52c3b5cc471a926036f5e50e3e8d.png" alt="doc3-CH2-F2-flow" usemap="#id-666f52c3b5cc471a926036f5e50e3e8dmap"/>
			   <map name="id-666f52c3b5cc471a926036f5e50e3e8dmap">
				  		        <area shape="rect" coords="560,290,638,331" href="../objects/id-e02f977bd6cf4889ab8ac5273a4a4986.html" target="element" >

				  		<area shape="rect" coords="557,252,641,335" href="../elements/id-db99cefb941d4bfc8cb2a79a986bc2d5.html"  target="element">
				  		        <area shape="rect" coords="974,40,1025,83" href="../objects/id-71656e05a04048b9b3dfa10e6d30a377.html" target="element" >
				  		        <area shape="rect" coords="976,85,1016,123" href="../objects/id-0c4b2dc3c79e4a69a35aa4346855d0c5.html" target="element" >

				  		<area shape="rect" coords="956,19,1048,129" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				          <area shape="rect" coords="396,185,432,221" href="../objects/id-43a17f129f6f4fa8bdc238aa3db5be33.html" target="element" >
				          <area shape="rect" coords="122,131,151,159" href="../objects/id-b2a641b3062c41c6952223f569e52b13.html" target="element" >
				          <area shape="rect" coords="681,181,721,220" href="../objects/id-6326d0ed5bad4b6c9c3004be6547eb1a.html" target="element" >
				  		        <area shape="rect" coords="163,177,218,220" href="../objects/id-e3e4b08723a2430eb5cc9e62c02d8772.html" target="element" >
				  				<area shape="rect" coords="661,141,745,224" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="885,180,925,219" href="../objects/id-dfe2aab0271f400cb90ec2bad7f33767.html" target="element" >

				  				<area shape="rect" coords="864,140,948,223" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="679,180,719,219" href="../objects/id-d9878328275643ed8f78a56ace8dc6f2.html" target="element" >
				  				        <area shape="rect" coords="598,184,635,221" href="../objects/id-dbd2eaef8ad9414da7debd422e851811.html" target="element" >
				  				        <area shape="rect" coords="563,180,600,223" href="../objects/id-af91075a7ef24588aca97545bc97a749.html" target="element" >

				  				<area shape="rect" coords="557,142,641,225" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="781,179,821,221" href="../objects/id-e0edce153fb8483e85ec9ba9c80e8446.html" target="element" >

				  				<area shape="rect" coords="763,141,847,224" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="1011,179,1045,217" href="../objects/id-e3815e8dbbe74944be297753389b0b28.html" target="element" >
				  				        <area shape="rect" coords="479,181,514,218" href="../objects/id-9e940fe9fd704521b39b3888143e0b45.html" target="element" >

				  				<area shape="rect" coords="455,141,539,224" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="362,185,394,219" href="../objects/id-c3955ab4d0704c4b91e051806922c712.html" target="element" >
				  				<area shape="rect" coords="152,139,236,222" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  				        <area shape="rect" coords="271,181,314,218" href="../objects/id-b2cc6389fee5432baf3ac1bd76e10252.html" target="element" >

				  				<area shape="rect" coords="252,139,336,222" href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html"  target="element">
				  		        <area shape="rect" coords="602,184,639,221" href="../objects/id-3526341b073748c689111a5bb0d1b89c.html" target="element" >
				  				        <area shape="rect" coords="969,181,1008,218" href="../objects/id-093ae18f239d47c58d04d3f92e2de0e7.html" target="element" >

				  				<area shape="rect" coords="966,140,1050,223" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				<area shape="rect" coords="353,140,437,223" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="400,184,437,221" href="../objects/id-8043691da233400f9f9c185e6b6aa9cd.html" target="element" >

				  		<area shape="rect" coords="142,131,1058,232" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="22,275,86,338" href="../objects/id-3ecbbc8de6134f3b8d6a9024e4b01769.html" target="element" >
				  		        <area shape="rect" coords="34,247,74,277" href="../objects/id-c541e6cb2e8942f4a1639c1068f00291.html" target="element" >

				  		<area shape="rect" coords="10,245,99,346" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="872,295,939,329" href="../objects/id-c95c0af897c94749a5f829d9a9d1252f.html" target="element" >

				  		<area shape="rect" coords="862,253,946,336" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="761,295,848,330" href="../objects/id-a315af19369a42338ade33930f624056.html" target="element" >

				  		<area shape="rect" coords="756,254,850,337" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="253,301,331,332" href="../objects/id-169fd9b0904045678197d8ffb35db5a7.html" target="element" >

				  		<area shape="rect" coords="250,253,334,336" href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html"  target="element">
				  				        <area shape="rect" coords="568,39,633,97" href="../objects/id-bdda9dd404b146748fdec6012f0ee645.html" target="element" >

				  				<area shape="rect" coords="557,17,641,100" href="../elements/id-f951601176154364bd65167a519fe01b.html"  target="element">
				  				        <area shape="rect" coords="672,39,737,97" href="../objects/id-2cdff243783e436dbc81704231c937b9.html" target="element" >

				  				<area shape="rect" coords="661,17,745,100" href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html"  target="element">
				  				        <area shape="rect" coords="875,39,940,97" href="../objects/id-6227ddf3752d404cbf005023df88e10f.html" target="element" >

				  				<area shape="rect" coords="864,17,948,100" href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html"  target="element">
				  		        <area shape="rect" coords="548,94,681,128" href="../objects/id-b2bef1d9d2b4488696220dcbcbc2c431.html" target="element" >
				  				<area shape="rect" coords="759,22,847,68" href="../elements/id-3daf932eb03546b98473dabd7af046bc.html"  target="element">
				  				<area shape="rect" coords="759,77,845,126" href="../elements/id-c6ad9846c39642fe840a144042cdd386.html"  target="element">

				  		<area shape="rect" coords="536,10,1058,132" href="../elements/id-8eacebf025d743c19f4105b183fd746f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8eacebf025d743c19f4105b183fd746f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8eacebf025d743c19f4105b183fd746f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c6ad9846c39642fe840a144042cdd386.html" target="element"> Link </a> </td>
													    <td> <a href="../elements/id-c6ad9846c39642fe840a144042cdd386.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3daf932eb03546b98473dabd7af046bc.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-3daf932eb03546b98473dabd7af046bc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-b2bef1d9d2b4488696220dcbcbc2c431.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b2bef1d9d2b4488696220dcbcbc2c431.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-6227ddf3752d404cbf005023df88e10f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6227ddf3752d404cbf005023df88e10f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-2cdff243783e436dbc81704231c937b9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-2cdff243783e436dbc81704231c937b9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-bdda9dd404b146748fdec6012f0ee645.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-bdda9dd404b146748fdec6012f0ee645.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-169fd9b0904045678197d8ffb35db5a7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-169fd9b0904045678197d8ffb35db5a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-a315af19369a42338ade33930f624056.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a315af19369a42338ade33930f624056.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-c95c0af897c94749a5f829d9a9d1252f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c95c0af897c94749a5f829d9a9d1252f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-c541e6cb2e8942f4a1639c1068f00291.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c541e6cb2e8942f4a1639c1068f00291.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3ecbbc8de6134f3b8d6a9024e4b01769.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3ecbbc8de6134f3b8d6a9024e4b01769.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-8043691da233400f9f9c185e6b6aa9cd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8043691da233400f9f9c185e6b6aa9cd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-093ae18f239d47c58d04d3f92e2de0e7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-093ae18f239d47c58d04d3f92e2de0e7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-3526341b073748c689111a5bb0d1b89c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3526341b073748c689111a5bb0d1b89c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-b2cc6389fee5432baf3ac1bd76e10252.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b2cc6389fee5432baf3ac1bd76e10252.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-c3955ab4d0704c4b91e051806922c712.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c3955ab4d0704c4b91e051806922c712.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9e940fe9fd704521b39b3888143e0b45.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9e940fe9fd704521b39b3888143e0b45.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-e3815e8dbbe74944be297753389b0b28.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e3815e8dbbe74944be297753389b0b28.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-e0edce153fb8483e85ec9ba9c80e8446.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e0edce153fb8483e85ec9ba9c80e8446.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-af91075a7ef24588aca97545bc97a749.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-af91075a7ef24588aca97545bc97a749.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dbd2eaef8ad9414da7debd422e851811.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dbd2eaef8ad9414da7debd422e851811.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-d9878328275643ed8f78a56ace8dc6f2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d9878328275643ed8f78a56ace8dc6f2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-dfe2aab0271f400cb90ec2bad7f33767.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dfe2aab0271f400cb90ec2bad7f33767.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-e3e4b08723a2430eb5cc9e62c02d8772.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e3e4b08723a2430eb5cc9e62c02d8772.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-6326d0ed5bad4b6c9c3004be6547eb1a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6326d0ed5bad4b6c9c3004be6547eb1a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b2a641b3062c41c6952223f569e52b13.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b2a641b3062c41c6952223f569e52b13.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-43a17f129f6f4fa8bdc238aa3db5be33.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-43a17f129f6f4fa8bdc238aa3db5be33.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
											    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0c4b2dc3c79e4a69a35aa4346855d0c5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0c4b2dc3c79e4a69a35aa4346855d0c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-71656e05a04048b9b3dfa10e6d30a377.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-71656e05a04048b9b3dfa10e6d30a377.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-db99cefb941d4bfc8cb2a79a986bc2d5.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-db99cefb941d4bfc8cb2a79a986bc2d5.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e02f977bd6cf4889ab8ac5273a4a4986.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e02f977bd6cf4889ab8ac5273a4a4986.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-42772ed6eab04b4d88596f8a14056939.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42772ed6eab04b4d88596f8a14056939.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-26c677d80016430c8494c60121a70fd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26c677d80016430c8494c60121a70fd0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-2e6063b6cd864e66b814d92a766bb892.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6063b6cd864e66b814d92a766bb892.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-8ebb5c174fa04f75941157a03509bb68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ebb5c174fa04f75941157a03509bb68.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b0147bbd1fc949c680f3bbc2176f2a81.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b0147bbd1fc949c680f3bbc2176f2a81.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8d46f45d67764eddbf605aaf4fbc6c76.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d46f45d67764eddbf605aaf4fbc6c76.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f5fc3ed7c6d34e6cb5821e9f22100028.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5fc3ed7c6d34e6cb5821e9f22100028.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-db99cefb941d4bfc8cb2a79a986bc2d5.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-db715ed688734b7da8fed8154a2d7e12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-db715ed688734b7da8fed8154a2d7e12.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>