<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH1-F3-2-gap-2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH1-F3-2-gap-2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7daed459ae1741219b823c14406fddb8.png" alt="doc1-CH1-F3-2-gap-2" usemap="#id-7daed459ae1741219b823c14406fddb8map"/>
			   <map name="id-7daed459ae1741219b823c14406fddb8map">
				          <area shape="rect" coords="381,194,469,284" href="../objects/id-3cf3ad39927548d8ba1746904bacd291.html" target="element" >
				          <area shape="rect" coords="172,56,260,146" href="../objects/id-427740a1f7ca4413a0440d122db75325.html" target="element" >
				          <area shape="rect" coords="370,59,466,152" href="../objects/id-4ffee5b320894b4d947d948e4899a325.html" target="element" >
				          <area shape="rect" coords="172,180,270,274" href="../objects/id-d8da8232f83f4e2ca670e76a4d4c3cfe.html" target="element" >
				          <area shape="rect" coords="18,132,103,181" href="../objects/id-39af8aae487049f3ae36b5b80b15df23.html" target="element" >
				          <area shape="rect" coords="10,30,114,133" href="../objects/id-c1205092c5184d8096188d1d2e6f9c0e.html" target="element" >
				          <area shape="rect" coords="133,191,166,223" href="../objects/id-458d4f78662b4104b5319bb8bce5043a.html" target="element" >
				          <area shape="rect" coords="323,191,356,223" href="../objects/id-7b8e67bebb0c49ccbedd7fd7228b2da1.html" target="element" >
				          <area shape="rect" coords="317,52,350,84" href="../objects/id-352763e64f1942d08c71011c9e8e2f3e.html" target="element" >
				          <area shape="rect" coords="133,51,166,83" href="../objects/id-28f945a7ea594ba49e44a87a5c9f1d8e.html" target="element" >
				          <area shape="rect" coords="354,278,555,327" href="../objects/id-0303f46440a745609a3663ca8d100cab.html" target="element" >
				          <area shape="rect" coords="136,138,331,187" href="../objects/id-b6b29788ac4f43bd91c3632609250d44.html" target="element" >
				          <area shape="rect" coords="354,146,547,195" href="../objects/id-b0e072d924be4370954256328c4af9bb.html" target="element" >
				          <area shape="rect" coords="130,273,338,316" href="../objects/id-f49d92386bfe4c93b668f7ec2dd78915.html" target="element" >
				  		<area shape="rect" coords="133,14,470,51" href="../elements/id-151290ea177e46bd818ec4e0b332ec87.html"  target="element">
				          <area shape="rect" coords="120,14,565,327" href="../objects/id-4c14b1573ba842ad91037fdf40cccc5b.html" target="element" >
				  		        <area shape="rect" coords="778,274,971,323" href="../objects/id-986fb9aa83ec4daeb38612426c384c1e.html" target="element" >
				  		        <area shape="rect" coords="838,193,911,272" href="../objects/id-3c219506497241ab9e5ef92c23ce7343.html" target="element" >
				  		        <area shape="rect" coords="646,58,731,143" href="../objects/id-5bd08c517be74638a52bb33fcd47316c.html" target="element" >
				  		        <area shape="rect" coords="646,190,731,275" href="../objects/id-da9d99da2bf849b59832a7ca81b25e3f.html" target="element" >
				  		        <area shape="rect" coords="821,58,906,143" href="../objects/id-e6777cd454254dccb90add44ae417514.html" target="element" >
				  		        <area shape="rect" coords="604,142,785,191" href="../objects/id-8b9fbee21a9446ed8a83c55d415bc216.html" target="element" >
				  		        <area shape="rect" coords="598,274,779,323" href="../objects/id-0ca42175f84f498f87bda46954a6c4c9.html" target="element" >
				  		        <area shape="rect" coords="790,142,983,191" href="../objects/id-79983e88e58c4514bb66414247eb4204.html" target="element" >
				  		        <area shape="rect" coords="598,202,631,234" href="../objects/id-0649f985d5464cf8a1586d1a07ddb523.html" target="element" >
				  		        <area shape="rect" coords="784,202,817,234" href="../objects/id-d0b445dbebc542fea014fc364e29274f.html" target="element" >
				  		        <area shape="rect" coords="784,47,817,79" href="../objects/id-e441e79b3236464690273675c20fa530.html" target="element" >
				  		        <area shape="rect" coords="597,47,630,79" href="../objects/id-20d1d7cbc1414147ad4f3a338d146c21.html" target="element" >
				  				<area shape="rect" coords="586,10,899,47" href="../elements/id-0941ef60437040ec8e688767967f8c7e.html"  target="element">

				  		<area shape="rect" coords="586,10,995,323" href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0941ef60437040ec8e688767967f8c7e.html" target="element"> &#3626;&#3636;&#3656;&#3591;&#3607;&#3637;&#3656;&#3592;&#3632;&#3594;&#3656;&#3623;&#3618;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; (Gain Point)     </a> </td>
													    <td> <a href="../elements/id-0941ef60437040ec8e688767967f8c7e.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-20d1d7cbc1414147ad4f3a338d146c21.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-20d1d7cbc1414147ad4f3a338d146c21.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e441e79b3236464690273675c20fa530.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e441e79b3236464690273675c20fa530.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d0b445dbebc542fea014fc364e29274f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d0b445dbebc542fea014fc364e29274f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0649f985d5464cf8a1586d1a07ddb523.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0649f985d5464cf8a1586d1a07ddb523.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-79983e88e58c4514bb66414247eb4204.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-79983e88e58c4514bb66414247eb4204.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0ca42175f84f498f87bda46954a6c4c9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0ca42175f84f498f87bda46954a6c4c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8b9fbee21a9446ed8a83c55d415bc216.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8b9fbee21a9446ed8a83c55d415bc216.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e6777cd454254dccb90add44ae417514.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e6777cd454254dccb90add44ae417514.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-da9d99da2bf849b59832a7ca81b25e3f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-da9d99da2bf849b59832a7ca81b25e3f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5bd08c517be74638a52bb33fcd47316c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5bd08c517be74638a52bb33fcd47316c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3c219506497241ab9e5ef92c23ce7343.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3c219506497241ab9e5ef92c23ce7343.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-986fb9aa83ec4daeb38612426c384c1e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-986fb9aa83ec4daeb38612426c384c1e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-4c14b1573ba842ad91037fdf40cccc5b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4c14b1573ba842ad91037fdf40cccc5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-151290ea177e46bd818ec4e0b332ec87.html" target="element"> &#3629;&#3640;&#3611;&#3626;&#3619;&#3619;&#3588;&#3586;&#3629;&#3591;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; (Pain Point)      </a> </td>
											    <td> <a href="../elements/id-151290ea177e46bd818ec4e0b332ec87.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-f49d92386bfe4c93b668f7ec2dd78915.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f49d92386bfe4c93b668f7ec2dd78915.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b0e072d924be4370954256328c4af9bb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b0e072d924be4370954256328c4af9bb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b6b29788ac4f43bd91c3632609250d44.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b6b29788ac4f43bd91c3632609250d44.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0303f46440a745609a3663ca8d100cab.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0303f46440a745609a3663ca8d100cab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-28f945a7ea594ba49e44a87a5c9f1d8e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-28f945a7ea594ba49e44a87a5c9f1d8e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-352763e64f1942d08c71011c9e8e2f3e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-352763e64f1942d08c71011c9e8e2f3e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7b8e67bebb0c49ccbedd7fd7228b2da1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7b8e67bebb0c49ccbedd7fd7228b2da1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-458d4f78662b4104b5319bb8bce5043a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-458d4f78662b4104b5319bb8bce5043a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c1205092c5184d8096188d1d2e6f9c0e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c1205092c5184d8096188d1d2e6f9c0e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-39af8aae487049f3ae36b5b80b15df23.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-39af8aae487049f3ae36b5b80b15df23.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d8da8232f83f4e2ca670e76a4d4c3cfe.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d8da8232f83f4e2ca670e76a4d4c3cfe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4ffee5b320894b4d947d948e4899a325.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4ffee5b320894b4d947d948e4899a325.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-427740a1f7ca4413a0440d122db75325.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-427740a1f7ca4413a0440d122db75325.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3cf3ad39927548d8ba1746904bacd291.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3cf3ad39927548d8ba1746904bacd291.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5bc633810ee641bd8eccf621dd51aeb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bc633810ee641bd8eccf621dd51aeb4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9da5ea4aa3f34f18b69c7679e4eb7dcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0941ef60437040ec8e688767967f8c7e.html" target="element"> &#3626;&#3636;&#3656;&#3591;&#3607;&#3637;&#3656;&#3592;&#3632;&#3594;&#3656;&#3623;&#3618;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; (Gain Point)     </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>