<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH3-pic1-old</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH3-pic1-old</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7fee0bb1b88e4ed080257ddd830f0e79.png" alt="doc1-CH3-pic1-old" usemap="#id-7fee0bb1b88e4ed080257ddd830f0e79map"/>
			   <map name="id-7fee0bb1b88e4ed080257ddd830f0e79map">
				          <area shape="rect" coords="346,358,379,390" href="../objects/id-5c6715e8d98c45d388644eb76a85ff1a.html" target="element" >
				  		        <area shape="rect" coords="417,391,460,437" href="../objects/id-d822f4c0245d492192621b1289414cea.html" target="element" >
				  				<area shape="rect" coords="411,367,468,387" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">

				  		<area shape="rect" coords="10,362,863,445" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				  				        <area shape="rect" coords="36,43,69,75" href="../objects/id-dd7a4dcc68bb4e4d8d82fd45fd8f8292.html" target="element" >
				  				        <area shape="rect" coords="337,44,540,73" href="../objects/id-5999de2cedfe4cabbff4a62a3a85e20a.html" target="element" >
				  				        <area shape="rect" coords="554,79,615,135" href="../objects/id-a199389a6c7644338d8a64ff0f8d0680.html" target="element" >
				  				        <area shape="rect" coords="650,79,711,135" href="../objects/id-173c0d12fc794ad9bda6234b27e1e7d3.html" target="element" >
				  				        <area shape="rect" coords="170,79,231,135" href="../objects/id-9f29441745d240bf9bdd3d2a4239314c.html" target="element" >
				  				        <area shape="rect" coords="743,136,804,165" href="../objects/id-f65d020035c649159601c9d658a1d34d.html" target="element" >
				  				        <area shape="rect" coords="162,136,251,165" href="../objects/id-729f4ef742934008966302e35d2daaed.html" target="element" >
				  				        <area shape="rect" coords="257,136,346,165" href="../objects/id-dab12236c4df4120aa0da233f174ac78.html" target="element" >
				  				        <area shape="rect" coords="451,136,540,165" href="../objects/id-2c93f79190d7428ebd064965d8023f0f.html" target="element" >
				  				        <area shape="rect" coords="632,136,736,165" href="../objects/id-0da5ad792f3a441492e77921ae82e0d4.html" target="element" >
				  				        <area shape="rect" coords="370,79,431,135" href="../objects/id-cd20eb20c73541b18d9f96c330253acd.html" target="element" >
				  				        <area shape="rect" coords="352,136,441,165" href="../objects/id-9f273e6fce6e43baaa5f4f9b927ff37c.html" target="element" >
				  				        <area shape="rect" coords="470,79,531,135" href="../objects/id-9f27dc77b6e14c9fbaae1e05ffe6d59f.html" target="element" >
				  				        <area shape="rect" coords="49,136,146,165" href="../objects/id-c34ffd55aae54cff8d81d4666a2652d3.html" target="element" >
				  				        <area shape="rect" coords="68,79,129,135" href="../objects/id-99897801756f45ca99d51f1c87215927.html" target="element" >
				  				        <area shape="rect" coords="273,79,334,135" href="../objects/id-a2613c7d283e4354ad47bb8e232e0ab5.html" target="element" >
				  				        <area shape="rect" coords="746,79,807,135" href="../objects/id-201bbffa514e4bec8bb3bba1bb347e0d.html" target="element" >
				  				        <area shape="rect" coords="547,136,627,165" href="../objects/id-d8126f4165504727844e6db272dcce32.html" target="element" >

				  				<area shape="rect" coords="34,38,837,171" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  				        <area shape="rect" coords="806,203,839,235" href="../objects/id-dd12aaf7f1cf4da6aac1722e8cdd3786.html" target="element" >
				  				        <area shape="rect" coords="557,226,618,289" href="../objects/id-b0dc2c476c724befbbb4adad27554cc5.html" target="element" >
				  				        <area shape="rect" coords="653,226,714,289" href="../objects/id-74e1ef3e1df84e0ea6d76d084772da2e.html" target="element" >
				  				        <area shape="rect" coords="173,226,234,289" href="../objects/id-e0264b0df139488da24d0eb849f15626.html" target="element" >
				  				        <area shape="rect" coords="746,290,807,319" href="../objects/id-cc03be9529fa4de3ba94f69fd0cb7f52.html" target="element" >
				  				        <area shape="rect" coords="165,290,254,319" href="../objects/id-08152624aa8949a1a0ccd305005191bb.html" target="element" >
				  				        <area shape="rect" coords="260,290,349,319" href="../objects/id-b6bddf271c2d440cbb8abf3fae3a4471.html" target="element" >
				  				        <area shape="rect" coords="454,290,543,319" href="../objects/id-7a3d5b3f09b844dfb5ca3896ae687602.html" target="element" >
				  				        <area shape="rect" coords="635,290,739,319" href="../objects/id-2d08cf9e5c554034876227823e5a5bf3.html" target="element" >
				  				        <area shape="rect" coords="373,233,434,289" href="../objects/id-bf785b193148410c9a98d34f15916723.html" target="element" >
				  				        <area shape="rect" coords="355,290,444,319" href="../objects/id-1da695eb28254f5a88a86308f4c487fb.html" target="element" >
				  				        <area shape="rect" coords="473,233,534,289" href="../objects/id-3e30d501563a4344b0d748899f0d52a4.html" target="element" >
				  				        <area shape="rect" coords="52,290,149,319" href="../objects/id-22271e2b6d804111acfdce6fc68da58a.html" target="element" >
				  				        <area shape="rect" coords="71,226,132,289" href="../objects/id-c7cbe8cd6e164dfea853eef255a467ef.html" target="element" >
				  				        <area shape="rect" coords="276,233,337,289" href="../objects/id-f50dea66768140b8bf20c5d44dc27d8a.html" target="element" >
				  				        <area shape="rect" coords="749,226,810,289" href="../objects/id-5e29d90a8eed48aeaf5ad3a57a30ddb4.html" target="element" >
				  				        <area shape="rect" coords="550,290,630,319" href="../objects/id-9fa90c85d756440a9bcb0483d86748d1.html" target="element" >
				  				        <area shape="rect" coords="328,204,559,233" href="../objects/id-d2b384b341964aa88916db33c077dae3.html" target="element" >

				  				<area shape="rect" coords="34,202,837,323" href="../elements/id-fd68be6f94aa437ba8fd46ab42c90ad3.html"  target="element">

				  		<area shape="rect" coords="10,10,863,341" href="../elements/id-58f757c88e084dc18250083a2df42454.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-58f757c88e084dc18250083a2df42454.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-58f757c88e084dc18250083a2df42454.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fd68be6f94aa437ba8fd46ab42c90ad3.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/id-fd68be6f94aa437ba8fd46ab42c90ad3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-d2b384b341964aa88916db33c077dae3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d2b384b341964aa88916db33c077dae3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9fa90c85d756440a9bcb0483d86748d1.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9fa90c85d756440a9bcb0483d86748d1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5e29d90a8eed48aeaf5ad3a57a30ddb4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5e29d90a8eed48aeaf5ad3a57a30ddb4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f50dea66768140b8bf20c5d44dc27d8a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f50dea66768140b8bf20c5d44dc27d8a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-c7cbe8cd6e164dfea853eef255a467ef.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c7cbe8cd6e164dfea853eef255a467ef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-22271e2b6d804111acfdce6fc68da58a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-22271e2b6d804111acfdce6fc68da58a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-3e30d501563a4344b0d748899f0d52a4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3e30d501563a4344b0d748899f0d52a4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1da695eb28254f5a88a86308f4c487fb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1da695eb28254f5a88a86308f4c487fb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-bf785b193148410c9a98d34f15916723.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-bf785b193148410c9a98d34f15916723.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-2d08cf9e5c554034876227823e5a5bf3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-2d08cf9e5c554034876227823e5a5bf3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7a3d5b3f09b844dfb5ca3896ae687602.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7a3d5b3f09b844dfb5ca3896ae687602.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b6bddf271c2d440cbb8abf3fae3a4471.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b6bddf271c2d440cbb8abf3fae3a4471.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-08152624aa8949a1a0ccd305005191bb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-08152624aa8949a1a0ccd305005191bb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-cc03be9529fa4de3ba94f69fd0cb7f52.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cc03be9529fa4de3ba94f69fd0cb7f52.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e0264b0df139488da24d0eb849f15626.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e0264b0df139488da24d0eb849f15626.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-74e1ef3e1df84e0ea6d76d084772da2e.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-74e1ef3e1df84e0ea6d76d084772da2e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b0dc2c476c724befbbb4adad27554cc5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b0dc2c476c724befbbb4adad27554cc5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dd12aaf7f1cf4da6aac1722e8cdd3786.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dd12aaf7f1cf4da6aac1722e8cdd3786.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-d8126f4165504727844e6db272dcce32.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d8126f4165504727844e6db272dcce32.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-201bbffa514e4bec8bb3bba1bb347e0d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-201bbffa514e4bec8bb3bba1bb347e0d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a2613c7d283e4354ad47bb8e232e0ab5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a2613c7d283e4354ad47bb8e232e0ab5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-99897801756f45ca99d51f1c87215927.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-99897801756f45ca99d51f1c87215927.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-c34ffd55aae54cff8d81d4666a2652d3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c34ffd55aae54cff8d81d4666a2652d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9f27dc77b6e14c9fbaae1e05ffe6d59f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9f27dc77b6e14c9fbaae1e05ffe6d59f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9f273e6fce6e43baaa5f4f9b927ff37c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9f273e6fce6e43baaa5f4f9b927ff37c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-cd20eb20c73541b18d9f96c330253acd.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cd20eb20c73541b18d9f96c330253acd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0da5ad792f3a441492e77921ae82e0d4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0da5ad792f3a441492e77921ae82e0d4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-2c93f79190d7428ebd064965d8023f0f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-2c93f79190d7428ebd064965d8023f0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dab12236c4df4120aa0da233f174ac78.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dab12236c4df4120aa0da233f174ac78.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-729f4ef742934008966302e35d2daaed.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-729f4ef742934008966302e35d2daaed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f65d020035c649159601c9d658a1d34d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f65d020035c649159601c9d658a1d34d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9f29441745d240bf9bdd3d2a4239314c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9f29441745d240bf9bdd3d2a4239314c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-173c0d12fc794ad9bda6234b27e1e7d3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-173c0d12fc794ad9bda6234b27e1e7d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a199389a6c7644338d8a64ff0f8d0680.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a199389a6c7644338d8a64ff0f8d0680.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5999de2cedfe4cabbff4a62a3a85e20a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5999de2cedfe4cabbff4a62a3a85e20a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dd7a4dcc68bb4e4d8d82fd45fd8f8292.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dd7a4dcc68bb4e4d8d82fd45fd8f8292.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-d822f4c0245d492192621b1289414cea.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d822f4c0245d492192621b1289414cea.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-5c6715e8d98c45d388644eb76a85ff1a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5c6715e8d98c45d388644eb76a85ff1a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2dff2aabecc7445286382f2c63f5dc6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dff2aabecc7445286382f2c63f5dc6e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-58f757c88e084dc18250083a2df42454.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-032e6fedc5ab47158d1095399de5c8f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-032e6fedc5ab47158d1095399de5c8f8.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fd68be6f94aa437ba8fd46ab42c90ad3.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1d7193c80373478d81bdb859f1c76843.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d7193c80373478d81bdb859f1c76843.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fd68be6f94aa437ba8fd46ab42c90ad3.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>