<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc2-CH3-F1-2-issue</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc2-CH3-F1-2-issue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-735823be7f56457b83ee0479685f9c9f.png" alt="doc2-CH3-F1-2-issue" usemap="#id-735823be7f56457b83ee0479685f9c9fmap"/>
			   <map name="id-735823be7f56457b83ee0479685f9c9fmap">
				          <area shape="rect" coords="401,353,437,389" href="../objects/id-08e61cd87e67477a9e28fe6113ba1452.html" target="element" >
				          <area shape="rect" coords="127,299,156,327" href="../objects/id-56d041d6ba504b3a95725b06383098ec.html" target="element" >
				          <area shape="rect" coords="686,349,726,388" href="../objects/id-a9a31f9a14a34c969baa6c3ccb5616a7.html" target="element" >
				  		        <area shape="rect" coords="168,345,223,388" href="../objects/id-c9af0c6549f445c7a991ca23cc518fac.html" target="element" >
				  				<area shape="rect" coords="666,309,750,392" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="890,348,930,387" href="../objects/id-052cdb6bfcef46db84a829b5e06bf145.html" target="element" >

				  				<area shape="rect" coords="869,308,953,391" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="684,348,724,387" href="../objects/id-b5876a3d93774d208ba88de2a97ba24d.html" target="element" >
				  				        <area shape="rect" coords="603,352,640,389" href="../objects/id-ecc1447e673043fa8e2156089427363e.html" target="element" >
				  				        <area shape="rect" coords="568,348,605,391" href="../objects/id-ef7f59a3b1764c908281bc25ac72fa52.html" target="element" >

				  				<area shape="rect" coords="562,310,646,393" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="786,347,826,389" href="../objects/id-840350f53c564d93ac272de327d75f16.html" target="element" >

				  				<area shape="rect" coords="768,309,852,392" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="1016,347,1050,385" href="../objects/id-533abf560a70429f89c6b98e722136c8.html" target="element" >
				  				        <area shape="rect" coords="484,349,519,386" href="../objects/id-e6e7a4f30c9343bd8a4e1b3de18f14e4.html" target="element" >

				  				<area shape="rect" coords="460,309,544,392" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="367,353,399,387" href="../objects/id-94cf18165c9f4aa5b45596ec308495e8.html" target="element" >
				  				<area shape="rect" coords="157,307,241,390" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  				        <area shape="rect" coords="276,349,319,386" href="../objects/id-5e8b257b92f343feb443277c04da8065.html" target="element" >

				  				<area shape="rect" coords="257,307,341,390" href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html"  target="element">
				  		        <area shape="rect" coords="607,352,644,389" href="../objects/id-827516a060e44e208be8f0c7c67fbf4e.html" target="element" >
				  				        <area shape="rect" coords="974,349,1013,386" href="../objects/id-bc44d0cc3dec4484a5c6023c275e7a56.html" target="element" >

				  				<area shape="rect" coords="971,308,1055,391" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				<area shape="rect" coords="358,308,442,391" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="405,352,442,389" href="../objects/id-e574919b4c5142c39667c19f3f2989df.html" target="element" >

				  		<area shape="rect" coords="147,299,1063,400" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="22,329,86,392" href="../objects/id-600750249a864ff09b335ee38ef6339c.html" target="element" >
				  		        <area shape="rect" coords="34,302,74,333" href="../objects/id-54f970ef44a84854951accab052088dd.html" target="element" >

				  		<area shape="rect" coords="10,299,99,400" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="778,32,993,79" href="../objects/id-d6e225230e564dc8b58977b482d98687.html" target="element" >
				  						<area shape="rect" coords="606,138,715,247" href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html"  target="element">
				  						<area shape="rect" coords="606,114,715,139" href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html"  target="element">
				  				        <area shape="rect" coords="592,57,690,71" href="../objects/id-b7782c2fc06144a6865c9542e5d6ded5.html" target="element" >
				  				        <area shape="rect" coords="694,57,740,107" href="../objects/id-f555e63c99b2417e9d151a100bb8a381.html" target="element" >

				  				<area shape="rect" coords="586,42,755,261" href="../elements/id-bc8879984040446e98809f7fe211e719.html"  target="element">
				  				        <area shape="rect" coords="329,53,402,99" href="../objects/id-c8dd0a5b67ff491da8ae27a360e6a54a.html" target="element" >
				  				        <area shape="rect" coords="453,53,502,99" href="../objects/id-5b74be8f72954656aa41ef60a9a45faf.html" target="element" >
				  						<area shape="rect" coords="329,125,427,246" href="../elements/id-758d5df2078942bca7b9cca515fca833.html"  target="element">
				  						<area shape="rect" coords="434,124,522,245" href="../elements/id-495629f60606410f8f061f65000bd80d.html"  target="element">

				  				<area shape="rect" coords="317,41,536,260" href="../elements/id-573a7825a0184f5e95bf71671028dfec.html"  target="element">
				  				        <area shape="rect" coords="814,214,962,255" href="../objects/id-3fabe51519924cc883da4832b1af1b53.html" target="element" >
				  				        <area shape="rect" coords="796,90,858,160" href="../objects/id-8cbf28a416a643fbb50397a5491f8f2a.html" target="element" >
				  						<area shape="rect" coords="850,96,968,217" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">

				  				<area shape="rect" coords="790,81,985,261" href="../elements/id-573a7825a0184f5e95bf71671028dfec.html"  target="element">

				  		<area shape="rect" coords="283,10,1007,271" href="../elements/id-558bc6f53886449c81ab65feac5939cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element"> Application Service (copy) </a> </td>
													    <td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-8cbf28a416a643fbb50397a5491f8f2a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8cbf28a416a643fbb50397a5491f8f2a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-3fabe51519924cc883da4832b1af1b53.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3fabe51519924cc883da4832b1af1b53.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element"> Application Service (copy) </a> </td>
													    <td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-758d5df2078942bca7b9cca515fca833.html" target="element"> License 2 </a> </td>
															    <td> <a href="../elements/id-758d5df2078942bca7b9cca515fca833.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-5b74be8f72954656aa41ef60a9a45faf.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5b74be8f72954656aa41ef60a9a45faf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-c8dd0a5b67ff491da8ae27a360e6a54a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c8dd0a5b67ff491da8ae27a360e6a54a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-f555e63c99b2417e9d151a100bb8a381.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f555e63c99b2417e9d151a100bb8a381.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b7782c2fc06144a6865c9542e5d6ded5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b7782c2fc06144a6865c9542e5d6ded5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-d6e225230e564dc8b58977b482d98687.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d6e225230e564dc8b58977b482d98687.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-54f970ef44a84854951accab052088dd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-54f970ef44a84854951accab052088dd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-600750249a864ff09b335ee38ef6339c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-600750249a864ff09b335ee38ef6339c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e574919b4c5142c39667c19f3f2989df.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e574919b4c5142c39667c19f3f2989df.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-bc44d0cc3dec4484a5c6023c275e7a56.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-bc44d0cc3dec4484a5c6023c275e7a56.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-827516a060e44e208be8f0c7c67fbf4e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-827516a060e44e208be8f0c7c67fbf4e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5e8b257b92f343feb443277c04da8065.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5e8b257b92f343feb443277c04da8065.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-94cf18165c9f4aa5b45596ec308495e8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-94cf18165c9f4aa5b45596ec308495e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-e6e7a4f30c9343bd8a4e1b3de18f14e4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e6e7a4f30c9343bd8a4e1b3de18f14e4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-533abf560a70429f89c6b98e722136c8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-533abf560a70429f89c6b98e722136c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-840350f53c564d93ac272de327d75f16.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-840350f53c564d93ac272de327d75f16.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-ef7f59a3b1764c908281bc25ac72fa52.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ef7f59a3b1764c908281bc25ac72fa52.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ecc1447e673043fa8e2156089427363e.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ecc1447e673043fa8e2156089427363e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-b5876a3d93774d208ba88de2a97ba24d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b5876a3d93774d208ba88de2a97ba24d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-052cdb6bfcef46db84a829b5e06bf145.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-052cdb6bfcef46db84a829b5e06bf145.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-c9af0c6549f445c7a991ca23cc518fac.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c9af0c6549f445c7a991ca23cc518fac.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-a9a31f9a14a34c969baa6c3ccb5616a7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a9a31f9a14a34c969baa6c3ccb5616a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-56d041d6ba504b3a95725b06383098ec.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-56d041d6ba504b3a95725b06383098ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-08e61cd87e67477a9e28fe6113ba1452.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-08e61cd87e67477a9e28fe6113ba1452.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-320a8ddf384748798489aa392a172846.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-320a8ddf384748798489aa392a172846.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element"> Application Service (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-320a8ddf384748798489aa392a172846.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-320a8ddf384748798489aa392a172846.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element"> Application Service (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/id-5d09075a325b4695ac1d7f0cecc479b8.html" target="element"> issue </a> </td>
																						<td> <a href="../elements/id-5d09075a325b4695ac1d7f0cecc479b8.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																						<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																					</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-2dea753c061843c685eec152b988789c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2dea753c061843c685eec152b988789c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5ff256462c4a408b82928e1b578b2c06.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ff256462c4a408b82928e1b578b2c06.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-758d5df2078942bca7b9cca515fca833.html" target="element"> License 2 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																					<tr>
																						<td> <a href="../elements/id-6654296cefd94e34a191b0576b0e51f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6654296cefd94e34a191b0576b0e51f2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																						<td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-31c7ed303cc64ef7bc03d0e251ff9011.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-31c7ed303cc64ef7bc03d0e251ff9011.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-573a7825a0184f5e95bf71671028dfec.html" target="element"> Application Service (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>