<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-CH1-F2-sing</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-CH1-F2-sing</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8e5de4b3edfe43ecac660fdfc5282499.png" alt="doc3-CH1-F2-sing" usemap="#id-8e5de4b3edfe43ecac660fdfc5282499map"/>
			   <map name="id-8e5de4b3edfe43ecac660fdfc5282499map">
				  		<area shape="rect" coords="778,22,889,59" href="../elements/id-d042e3aacbc741ffab756468198b3077.html"  target="element">
				  		<area shape="rect" coords="550,16,661,53" href="../elements/id-d042e3aacbc741ffab756468198b3077.html"  target="element">
				          <area shape="rect" coords="778,214,1127,407" href="../objects/id-65ae2a997582415782f96c9bb2a2df84.html" target="element" >
				          <area shape="rect" coords="382,214,755,407" href="../objects/id-bd3f76daae11403f930efbb09f3ed7c0.html" target="element" >
				  		<area shape="rect" coords="406,16,517,53" href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html"  target="element">
				  		<area shape="rect" coords="226,157,337,194" href="../elements/id-6451cdcbec3f4bd0a635e84252c11a43.html"  target="element">
				  		<area shape="rect" coords="226,106,337,143" href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html"  target="element">
				  		<area shape="rect" coords="226,58,337,95" href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html"  target="element">
				  		<area shape="rect" coords="226,10,337,47" href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html"  target="element">
				  		<area shape="rect" coords="10,10,131,59" href="../elements/id-f5167938da8146359d6e415eac0beb6f.html"  target="element">
				          <area shape="rect" coords="10,214,359,407" href="../objects/id-249fe623ef8643c8b68b3251353c4097.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-249fe623ef8643c8b68b3251353c4097.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-249fe623ef8643c8b68b3251353c4097.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
											    <td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html" target="element"> search </a> </td>
											    <td> <a href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
											    <td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html" target="element"> &#3592;&#3657;&#3634;&#3591;&#3591;&#3634;&#3609; </a> </td>
											    <td> <a href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6451cdcbec3f4bd0a635e84252c11a43.html" target="element"> Gov-Assist </a> </td>
											    <td> <a href="../elements/id-6451cdcbec3f4bd0a635e84252c11a43.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
											    <td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-bd3f76daae11403f930efbb09f3ed7c0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-bd3f76daae11403f930efbb09f3ed7c0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-65ae2a997582415782f96c9bb2a2df84.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-65ae2a997582415782f96c9bb2a2df84.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d042e3aacbc741ffab756468198b3077.html" target="element"> Building </a> </td>
											    <td> <a href="../elements/id-d042e3aacbc741ffab756468198b3077.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d042e3aacbc741ffab756468198b3077.html" target="element"> Building </a> </td>
											    <td> <a href="../elements/id-d042e3aacbc741ffab756468198b3077.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-f074b6870281441cb35308e1a21fb982.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f074b6870281441cb35308e1a21fb982.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-148d62d11a0641e6a12e1ee46b455be8.html" target="element"> &#3592;&#3657;&#3634;&#3591;&#3591;&#3634;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-afc49543176845e88ac6c9b1bf854fc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afc49543176845e88ac6c9b1bf854fc9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-dc6bdb1e598f4ab58152eb7827ba47fd.html" target="element"> search </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bbce504b7fd4792aa537b725fe25147.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bbce504b7fd4792aa537b725fe25147.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c38b58fc39ca4e5fbbb15538495c034e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c38b58fc39ca4e5fbbb15538495c034e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f5167938da8146359d6e415eac0beb6f.html" target="element"> info.go.th </a> </td>
																		<td> <a href="../elements/id-6451cdcbec3f4bd0a635e84252c11a43.html" target="element"> Gov-Assist </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-db0a7ab49d414426b027a4f8f7ace6d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db0a7ab49d414426b027a4f8f7ace6d1.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																		<td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-52a690ce5255455c8132179ae2aad95a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52a690ce5255455c8132179ae2aad95a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36f306cc6b754dd482eb338b258d9dd6.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																		<td> <a href="../elements/id-d042e3aacbc741ffab756468198b3077.html" target="element"> Building </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-4e17474af5e646e5aa2cffa7066d35de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e17474af5e646e5aa2cffa7066d35de.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d042e3aacbc741ffab756468198b3077.html" target="element"> Building </a> </td>
																		<td> <a href="../elements/id-d042e3aacbc741ffab756468198b3077.html" target="element"> Building </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>