<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig10-IID-3-lic-issue</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig10-IID-3-lic-issue</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8cb5fe82fbb040bfb1e6b423bda7cc34.png" alt="Fig10-IID-3-lic-issue" usemap="#id-8cb5fe82fbb040bfb1e6b423bda7cc34map"/>
			   <map name="id-8cb5fe82fbb040bfb1e6b423bda7cc34map">
				          <area shape="rect" coords="893,166,926,198" href="../objects/id-92262e3c6ba04ef882f249c187a837c6.html" target="element" >
				          <area shape="rect" coords="157,155,190,187" href="../objects/id-e7578aab03824a5ca46e5a7e7d905bc3.html" target="element" >
				          <area shape="rect" coords="117,363,150,395" href="../objects/id-32a4266883604b0bb8cb72cbd076a637.html" target="element" >
				          <area shape="rect" coords="729,555,762,587" href="../objects/id-da47e4c1a5cb4a81b6e4e824006fe292.html" target="element" >
				          <area shape="rect" coords="285,555,318,587" href="../objects/id-35a78328dafe48948214ef73468fc60f.html" target="element" >
				          <area shape="rect" coords="10,22,165,143" href="../objects/id-a81f57e744ff4cab84f741769dc71377.html" target="element" >
				          <area shape="rect" coords="801,490,941,599" href="../objects/id-ff2fb1134da24e35848b8ea0f08da466.html" target="element" >
				  		<area shape="rect" coords="824,214,839,229" href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html"  target="element">
				  		<area shape="rect" coords="789,34,909,156" href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html"  target="element">
				  		<area shape="rect" coords="777,274,886,299" href="../elements/id-786142c8b50d467ea25dbb98d338e7c5.html"  target="element">
				  		<area shape="rect" coords="633,274,742,299" href="../elements/id-17dfc5aa41204a9bbb2ededdd0e56f2d.html"  target="element">
				  		<area shape="rect" coords="489,274,598,299" href="../elements/id-cb9f389a2d024d93ad352b0c1f14e649.html"  target="element">
				  		<area shape="rect" coords="777,298,886,407" href="../elements/id-3d14041a5de04c85a44e8222193f12a5.html"  target="element">
				  		<area shape="rect" coords="633,298,742,407" href="../elements/id-49c6160792c3472ebcbe5dae21c644e6.html"  target="element">
				  		<area shape="rect" coords="489,298,598,407" href="../elements/id-5cc7a68c53e94f1ea44aa66f6c50b529.html"  target="element">
				  		<area shape="rect" coords="609,478,727,599" href="../elements/id-33e5dcccc22f473f81cf34b15fe36cdb.html"  target="element">
				  		<area shape="rect" coords="309,274,418,299" href="../elements/id-5958c8cc911e46188f766be27c44555e.html"  target="element">
				  		<area shape="rect" coords="164,274,273,299" href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html"  target="element">
				  		<area shape="rect" coords="21,274,130,299" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  		<area shape="rect" coords="164,478,282,599" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">
				  		<area shape="rect" coords="309,298,418,407" href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html"  target="element">
				  		<area shape="rect" coords="164,298,273,407" href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html"  target="element">
				  		<area shape="rect" coords="21,298,130,407" href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html"  target="element">
				  				<area shape="rect" coords="609,58,718,179" href="../elements/id-aa824553750c41aeb97f7aefaaac9844.html"  target="element">
				  				<area shape="rect" coords="477,58,586,179" href="../elements/id-34719a839b1d4a739d15d11e183d885a.html"  target="element">
				  				<area shape="rect" coords="345,58,455,179" href="../elements/id-758d5df2078942bca7b9cca515fca833.html"  target="element">
				  				<area shape="rect" coords="213,58,323,179" href="../elements/id-495629f60606410f8f061f65000bd80d.html"  target="element">

				  		<area shape="rect" coords="189,10,742,215" href="../elements/id-c3216c2ac7074d77a04ab3419d829ef3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c3216c2ac7074d77a04ab3419d829ef3.html" target="element"> Specific License Format Catalog </a> </td>
											    <td> <a href="../elements/id-c3216c2ac7074d77a04ab3419d829ef3.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
													    <td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-758d5df2078942bca7b9cca515fca833.html" target="element"> License 2 </a> </td>
													    <td> <a href="../elements/id-758d5df2078942bca7b9cca515fca833.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34719a839b1d4a739d15d11e183d885a.html" target="element"> License 3 </a> </td>
													    <td> <a href="../elements/id-34719a839b1d4a739d15d11e183d885a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aa824553750c41aeb97f7aefaaac9844.html" target="element"> License 4 </a> </td>
													    <td> <a href="../elements/id-aa824553750c41aeb97f7aefaaac9844.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
											    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
											    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
											    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
											    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
											    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
											    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-33e5dcccc22f473f81cf34b15fe36cdb.html" target="element"> License 4 </a> </td>
											    <td> <a href="../elements/id-33e5dcccc22f473f81cf34b15fe36cdb.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5cc7a68c53e94f1ea44aa66f6c50b529.html" target="element"> License 4 </a> </td>
											    <td> <a href="../elements/id-5cc7a68c53e94f1ea44aa66f6c50b529.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-49c6160792c3472ebcbe5dae21c644e6.html" target="element"> License 4 </a> </td>
											    <td> <a href="../elements/id-49c6160792c3472ebcbe5dae21c644e6.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d14041a5de04c85a44e8222193f12a5.html" target="element"> License 4 (copy) </a> </td>
											    <td> <a href="../elements/id-3d14041a5de04c85a44e8222193f12a5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb9f389a2d024d93ad352b0c1f14e649.html" target="element"> org4:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-cb9f389a2d024d93ad352b0c1f14e649.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17dfc5aa41204a9bbb2ededdd0e56f2d.html" target="element"> org4:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
											    <td> <a href="../elements/id-17dfc5aa41204a9bbb2ededdd0e56f2d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-786142c8b50d467ea25dbb98d338e7c5.html" target="element"> org4:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
											    <td> <a href="../elements/id-786142c8b50d467ea25dbb98d338e7c5.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html" target="element"> IRI </a> </td>
											    <td> <a href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ff2fb1134da24e35848b8ea0f08da466.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ff2fb1134da24e35848b8ea0f08da466.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a81f57e744ff4cab84f741769dc71377.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a81f57e744ff4cab84f741769dc71377.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-35a78328dafe48948214ef73468fc60f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-35a78328dafe48948214ef73468fc60f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-da47e4c1a5cb4a81b6e4e824006fe292.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-da47e4c1a5cb4a81b6e4e824006fe292.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-32a4266883604b0bb8cb72cbd076a637.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-32a4266883604b0bb8cb72cbd076a637.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e7578aab03824a5ca46e5a7e7d905bc3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e7578aab03824a5ca46e5a7e7d905bc3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-92262e3c6ba04ef882f249c187a837c6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-92262e3c6ba04ef882f249c187a837c6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-66f47638477345f88d82d9e8de1c79ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66f47638477345f88d82d9e8de1c79ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c3216c2ac7074d77a04ab3419d829ef3.html" target="element"> Specific License Format Catalog </a> </td>
																		<td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7f1055be20a4c8ba151932b4016c662.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7f1055be20a4c8ba151932b4016c662.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c3216c2ac7074d77a04ab3419d829ef3.html" target="element"> Specific License Format Catalog </a> </td>
																		<td> <a href="../elements/id-758d5df2078942bca7b9cca515fca833.html" target="element"> License 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a6e786ccf7f42d287379641fe01c635.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a6e786ccf7f42d287379641fe01c635.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c3216c2ac7074d77a04ab3419d829ef3.html" target="element"> Specific License Format Catalog </a> </td>
																		<td> <a href="../elements/id-34719a839b1d4a739d15d11e183d885a.html" target="element"> License 3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0f3bcebb637494f9ac55f835e632cff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0f3bcebb637494f9ac55f835e632cff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c3216c2ac7074d77a04ab3419d829ef3.html" target="element"> Specific License Format Catalog </a> </td>
																		<td> <a href="../elements/id-aa824553750c41aeb97f7aefaaac9844.html" target="element"> License 4 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d7780b98384242a8923da79d2e3c9c05.html" target="element"> format </a> </td>
																		<td> <a href="../elements/id-d7780b98384242a8923da79d2e3c9c05.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																		<td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc99813d469f43d584197aa090af9e3a.html" target="element"> format </a> </td>
																		<td> <a href="../elements/id-cc99813d469f43d584197aa090af9e3a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																		<td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-30058537abb34b3189088834da5d0728.html" target="element"> format </a> </td>
																		<td> <a href="../elements/id-30058537abb34b3189088834da5d0728.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
																		<td> <a href="../elements/id-495629f60606410f8f061f65000bd80d.html" target="element"> License 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d7ddad43e66e4351ab54f9515f09a2d6.html" target="element"> issue </a> </td>
																		<td> <a href="../elements/id-d7ddad43e66e4351ab54f9515f09a2d6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																		<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3b44d75e5d64a359f9fe01fba704755.html" target="element"> issue </a> </td>
																		<td> <a href="../elements/id-e3b44d75e5d64a359f9fe01fba704755.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																		<td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d09075a325b4695ac1d7f0cecc479b8.html" target="element"> issue </a> </td>
																		<td> <a href="../elements/id-5d09075a325b4695ac1d7f0cecc479b8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																		<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0f1469f36e547e780fdb4470d392fd1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0f1469f36e547e780fdb4470d392fd1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																		<td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b463692ec9e7430cb8bf68d0b495d583.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b463692ec9e7430cb8bf68d0b495d583.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																		<td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-57e56b08273b4cc89e279fab6ef58459.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57e56b08273b4cc89e279fab6ef58459.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
																		<td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfef225ce2534b95b1bd486fd85998aa.html" target="element"> issue </a> </td>
																		<td> <a href="../elements/id-cfef225ce2534b95b1bd486fd85998aa.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33e5dcccc22f473f81cf34b15fe36cdb.html" target="element"> License 4 </a> </td>
																		<td> <a href="../elements/id-5cc7a68c53e94f1ea44aa66f6c50b529.html" target="element"> License 4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de998fc0e0344a47b42fe2e6ba173230.html" target="element"> issue </a> </td>
																		<td> <a href="../elements/id-de998fc0e0344a47b42fe2e6ba173230.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33e5dcccc22f473f81cf34b15fe36cdb.html" target="element"> License 4 </a> </td>
																		<td> <a href="../elements/id-49c6160792c3472ebcbe5dae21c644e6.html" target="element"> License 4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5553f769eec44c6b42a6d4417d9776c.html" target="element"> issue </a> </td>
																		<td> <a href="../elements/id-a5553f769eec44c6b42a6d4417d9776c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33e5dcccc22f473f81cf34b15fe36cdb.html" target="element"> License 4 </a> </td>
																		<td> <a href="../elements/id-3d14041a5de04c85a44e8222193f12a5.html" target="element"> License 4 (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37f2b63b626345108b4aac718004095b.html" target="element"> format </a> </td>
																		<td> <a href="../elements/id-37f2b63b626345108b4aac718004095b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5cc7a68c53e94f1ea44aa66f6c50b529.html" target="element"> License 4 </a> </td>
																		<td> <a href="../elements/id-aa824553750c41aeb97f7aefaaac9844.html" target="element"> License 4 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7711feda1a40448885ed2f4b5b41ae38.html" target="element"> format </a> </td>
																		<td> <a href="../elements/id-7711feda1a40448885ed2f4b5b41ae38.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49c6160792c3472ebcbe5dae21c644e6.html" target="element"> License 4 </a> </td>
																		<td> <a href="../elements/id-aa824553750c41aeb97f7aefaaac9844.html" target="element"> License 4 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-36731110140d4c87ba7951d0c5ca06b2.html" target="element"> format </a> </td>
																		<td> <a href="../elements/id-36731110140d4c87ba7951d0c5ca06b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d14041a5de04c85a44e8222193f12a5.html" target="element"> License 4 (copy) </a> </td>
																		<td> <a href="../elements/id-aa824553750c41aeb97f7aefaaac9844.html" target="element"> License 4 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-30c47f8a180d4ef6824af392590569d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30c47f8a180d4ef6824af392590569d2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb9f389a2d024d93ad352b0c1f14e649.html" target="element"> org4:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																		<td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c31fe1279447447fbb4868a5f533b8f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c31fe1279447447fbb4868a5f533b8f2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-17dfc5aa41204a9bbb2ededdd0e56f2d.html" target="element"> org4:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																		<td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc14b4b61ebc40ee82d0e6e4a6a74846.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc14b4b61ebc40ee82d0e6e4a6a74846.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-786142c8b50d467ea25dbb98d338e7c5.html" target="element"> org4:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
																		<td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-23880259c8434bedbe4ed7f1bcc1c330.html" target="element"> is IRI </a> </td>
																		<td> <a href="../elements/id-23880259c8434bedbe4ed7f1bcc1c330.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fe38d02e1b0a4e8f88cea64ac0da18d6.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html" target="element"> IRI </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>