<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interop Spec Catalog</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interop Spec Catalog</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9e2ac5a1738b4be09a8a674dcc83171f.png" alt="Interop Spec Catalog" usemap="#id-9e2ac5a1738b4be09a8a674dcc83171fmap"/>
			   <map name="id-9e2ac5a1738b4be09a8a674dcc83171fmap">
				  				<area shape="rect" coords="566,311,686,366" href="../elements/id-e8c30c3fb8d947a7b2aa19041535cf9a.html"  target="element">
				  				<area shape="rect" coords="413,309,533,364" href="../elements/id-8a3bfd90eb5e45e7bacca8fb4a34ce4c.html"  target="element">
				  				<area shape="rect" coords="260,307,380,362" href="../elements/id-910e006ee19d4c4bacab4a38cdb1229a.html"  target="element">
				  				<area shape="rect" coords="566,224,686,279" href="../elements/id-e404c3d17332439589728724be90377c.html"  target="element">
				  				<area shape="rect" coords="409,224,529,279" href="../elements/id-1e76db3eb12c4501870864487ffb27d2.html"  target="element">
				  				<area shape="rect" coords="565,139,685,194" href="../elements/id-25a64c3888ca4ee694239b86b34efb8d.html"  target="element">
				  				<area shape="rect" coords="573,59,693,114" href="../elements/id-aad1dc6c852f40039ff2365134c46d78.html"  target="element">
				  				<area shape="rect" coords="260,225,380,280" href="../elements/id-365371c4b8de43528fbe6b1d54931b4d.html"  target="element">
				  				<area shape="rect" coords="413,139,533,194" href="../elements/id-f087a62a334f4fac87f8ca79c0b34d52.html"  target="element">
				  				<area shape="rect" coords="262,139,382,194" href="../elements/id-67eaf7884c9248c09e02368f5d61af12.html"  target="element">
				  				<area shape="rect" coords="413,58,533,113" href="../elements/id-7983a6cb1bb44a0d9987d4bb10785cc4.html"  target="element">
				  				<area shape="rect" coords="262,58,382,113" href="../elements/id-09280a85260a4c1798b42ed36a2ea504.html"  target="element">
				  				<area shape="rect" coords="46,136,166,197" href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html"  target="element">

				  		<area shape="rect" coords="10,10,731,431" href="../elements/id-2c64868b2685462a99da16333d94dac2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
											    <td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
													    <td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09280a85260a4c1798b42ed36a2ea504.html" target="element"> HTTP/HTTPS </a> </td>
													    <td> <a href="../elements/id-09280a85260a4c1798b42ed36a2ea504.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7983a6cb1bb44a0d9987d4bb10785cc4.html" target="element"> WebService+SOAP </a> </td>
													    <td> <a href="../elements/id-7983a6cb1bb44a0d9987d4bb10785cc4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-67eaf7884c9248c09e02368f5d61af12.html" target="element"> OpenAPI </a> </td>
													    <td> <a href="../elements/id-67eaf7884c9248c09e02368f5d61af12.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f087a62a334f4fac87f8ca79c0b34d52.html" target="element"> RDF/XML </a> </td>
													    <td> <a href="../elements/id-f087a62a334f4fac87f8ca79c0b34d52.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-365371c4b8de43528fbe6b1d54931b4d.html" target="element"> DWBP </a> </td>
													    <td> <a href="../elements/id-365371c4b8de43528fbe6b1d54931b4d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aad1dc6c852f40039ff2365134c46d78.html" target="element"> XML </a> </td>
													    <td> <a href="../elements/id-aad1dc6c852f40039ff2365134c46d78.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-25a64c3888ca4ee694239b86b34efb8d.html" target="element"> JSON </a> </td>
													    <td> <a href="../elements/id-25a64c3888ca4ee694239b86b34efb8d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1e76db3eb12c4501870864487ffb27d2.html" target="element"> RDF/JSON-LD </a> </td>
													    <td> <a href="../elements/id-1e76db3eb12c4501870864487ffb27d2.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e404c3d17332439589728724be90377c.html" target="element"> RDF/TTL </a> </td>
													    <td> <a href="../elements/id-e404c3d17332439589728724be90377c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-910e006ee19d4c4bacab4a38cdb1229a.html" target="element"> PDF/A3 </a> </td>
													    <td> <a href="../elements/id-910e006ee19d4c4bacab4a38cdb1229a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8a3bfd90eb5e45e7bacca8fb4a34ce4c.html" target="element"> HTML RDFa </a> </td>
													    <td> <a href="../elements/id-8a3bfd90eb5e45e7bacca8fb4a34ce4c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8c30c3fb8d947a7b2aa19041535cf9a.html" target="element"> HTML JSON-LD </a> </td>
													    <td> <a href="../elements/id-e8c30c3fb8d947a7b2aa19041535cf9a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ec97ffab299b47dbade9c2458661b838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec97ffab299b47dbade9c2458661b838.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6d6983cd8ec4a97a0ccfde6e4d66057.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6d6983cd8ec4a97a0ccfde6e4d66057.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-09280a85260a4c1798b42ed36a2ea504.html" target="element"> HTTP/HTTPS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a0e5915b3b3451488ca688319cbed92.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a0e5915b3b3451488ca688319cbed92.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-7983a6cb1bb44a0d9987d4bb10785cc4.html" target="element"> WebService+SOAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e30c5032fbcb49ffa4363052d868c7bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e30c5032fbcb49ffa4363052d868c7bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-67eaf7884c9248c09e02368f5d61af12.html" target="element"> OpenAPI </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-821cf66c3185400f8623f3a0a4a154a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-821cf66c3185400f8623f3a0a4a154a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-f087a62a334f4fac87f8ca79c0b34d52.html" target="element"> RDF/XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b63b9a145fd48a791446abbf9e4d594.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b63b9a145fd48a791446abbf9e4d594.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-365371c4b8de43528fbe6b1d54931b4d.html" target="element"> DWBP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-528938f6389b434ab6d4117f19baf0dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-528938f6389b434ab6d4117f19baf0dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-aad1dc6c852f40039ff2365134c46d78.html" target="element"> XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ee94464a01d4daca96bf8db0a3d6c9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ee94464a01d4daca96bf8db0a3d6c9e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-25a64c3888ca4ee694239b86b34efb8d.html" target="element"> JSON </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e11278984f3041d592871cf3567fee7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e11278984f3041d592871cf3567fee7d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-1e76db3eb12c4501870864487ffb27d2.html" target="element"> RDF/JSON-LD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-15091dcbedf3458480e7cc11a4af5e85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15091dcbedf3458480e7cc11a4af5e85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-e404c3d17332439589728724be90377c.html" target="element"> RDF/TTL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1400adda968947b890f112a0b82c51e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1400adda968947b890f112a0b82c51e2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-910e006ee19d4c4bacab4a38cdb1229a.html" target="element"> PDF/A3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ccd82443cec3456896bf5b5f1628304a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccd82443cec3456896bf5b5f1628304a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-8a3bfd90eb5e45e7bacca8fb4a34ce4c.html" target="element"> HTML RDFa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74f0c758097b44aeafdcda83cc119a39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74f0c758097b44aeafdcda83cc119a39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2c64868b2685462a99da16333d94dac2.html" target="element"> DoBiz Interoperability Specifications Catalog </a> </td>
																		<td> <a href="../elements/id-e8c30c3fb8d947a7b2aa19041535cf9a.html" target="element"> HTML JSON-LD </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-05728ff47c344a38a960a8a0cd0d6c01.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-05728ff47c344a38a960a8a0cd0d6c01.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-09280a85260a4c1798b42ed36a2ea504.html" target="element"> HTTP/HTTPS </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5b5238dd0ada45ee9f5ee6f864087481.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b5238dd0ada45ee9f5ee6f864087481.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7983a6cb1bb44a0d9987d4bb10785cc4.html" target="element"> WebService+SOAP </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-15dbf6172b244ff19aebf216e9ac4ae8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15dbf6172b244ff19aebf216e9ac4ae8.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-67eaf7884c9248c09e02368f5d61af12.html" target="element"> OpenAPI </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a2ccde77ec48420e9cab4e67cf2dc393.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2ccde77ec48420e9cab4e67cf2dc393.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f087a62a334f4fac87f8ca79c0b34d52.html" target="element"> RDF/XML </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-696d5bd366f64210968a649c3b0c70de.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-696d5bd366f64210968a649c3b0c70de.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-365371c4b8de43528fbe6b1d54931b4d.html" target="element"> DWBP </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-94756da2661a4bdeadd3a7a9f032d01f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-94756da2661a4bdeadd3a7a9f032d01f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-aad1dc6c852f40039ff2365134c46d78.html" target="element"> XML </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2e93131d2b1c4aeda0f8f42f4976bb83.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e93131d2b1c4aeda0f8f42f4976bb83.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-25a64c3888ca4ee694239b86b34efb8d.html" target="element"> JSON </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9e72fe7f91848298d26fefb63e96669.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9e72fe7f91848298d26fefb63e96669.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1e76db3eb12c4501870864487ffb27d2.html" target="element"> RDF/JSON-LD </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-afdd3c2a638f44ee9109978c0f5b751d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-afdd3c2a638f44ee9109978c0f5b751d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e404c3d17332439589728724be90377c.html" target="element"> RDF/TTL </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a22e4df867054cf09c547875a0b41502.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a22e4df867054cf09c547875a0b41502.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-910e006ee19d4c4bacab4a38cdb1229a.html" target="element"> PDF/A3 </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-263248b7ea1941bda255c45478ad3c5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-263248b7ea1941bda255c45478ad3c5c.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a3bfd90eb5e45e7bacca8fb4a34ce4c.html" target="element"> HTML RDFa </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8361e68cef2b4b418c0bfea45d52bdf6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8361e68cef2b4b418c0bfea45d52bdf6.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8c30c3fb8d947a7b2aa19041535cf9a.html" target="element"> HTML JSON-LD </a> </td>
																				<td> <a href="../elements/id-352fe78b5c6940cba9bf50d5ad723aa6.html" target="element"> DoBiz Interoperability Specification </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>