<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH6-F5-flow-search</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH6-F5-flow-search</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-90875061cdd246ceb92e90c72cb4bd44.png" alt="doc1-CH6-F5-flow-search" usemap="#id-90875061cdd246ceb92e90c72cb4bd44map"/>
			   <map name="id-90875061cdd246ceb92e90c72cb4bd44map">
				  		<area shape="rect" coords="342,295,451,320" href="../elements/id-798830b876574085a87946456b02bbc1.html"  target="element">
				  		<area shape="rect" coords="617,288,726,313" href="../elements/id-aec9276de6fa438781b294c959e50f43.html"  target="element">
				          <area shape="rect" coords="258,281,298,320" href="../objects/id-12e82f3e631f46ca8507880e39a7e0ec.html" target="element" >
				  		        <area shape="rect" coords="164,283,228,322" href="../objects/id-052f4fc08a9a46a98b43a86cbdcb7c8a.html" target="element" >

				  		<area shape="rect" coords="155,242,239,325" href="../elements/id-a451bb8c6ca540ecafb5cc606ed0bb58.html"  target="element">
				  		        <area shape="rect" coords="299,285,335,321" href="../objects/id-d5bf30e9eca8456b847a348d0aa57c0a.html" target="element" >

				  		<area shape="rect" coords="255,242,339,325" href="../elements/id-4f3a472003e04800975208cc24e3b54c.html"  target="element">
				          <area shape="rect" coords="401,398,437,434" href="../objects/id-ca8924d81e1a4e3f98d748d68044fb63.html" target="element" >
				          <area shape="rect" coords="127,344,156,372" href="../objects/id-8ae5c76f742c46fea43488b6c17f05ca.html" target="element" >
				          <area shape="rect" coords="686,394,726,433" href="../objects/id-c9c1071b15924faaa691bb8dab274853.html" target="element" >
				  		        <area shape="rect" coords="168,390,223,433" href="../objects/id-83277ad4a34245bb9fcfc7852f6808c7.html" target="element" >
				  				<area shape="rect" coords="666,354,750,437" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="890,393,930,432" href="../objects/id-681679578a274152aade907d67c2d40f.html" target="element" >

				  				<area shape="rect" coords="869,353,953,436" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="684,393,724,432" href="../objects/id-625e61b4183341e4997970d51c61dd64.html" target="element" >
				  				        <area shape="rect" coords="603,397,640,434" href="../objects/id-928a05b060b34400b30cf6fb42e0474b.html" target="element" >
				  				        <area shape="rect" coords="568,393,605,436" href="../objects/id-94a64bcdfc6f445e9970965c8ec81665.html" target="element" >

				  				<area shape="rect" coords="562,355,646,438" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="786,392,826,434" href="../objects/id-7b913cedfb77472789a9e1717b8df437.html" target="element" >

				  				<area shape="rect" coords="768,354,852,437" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="1016,392,1050,430" href="../objects/id-b35675d55260432bbda8bee40b827857.html" target="element" >
				  				        <area shape="rect" coords="484,394,519,431" href="../objects/id-32ea28d4d4234a11b262ac38b32853bd.html" target="element" >

				  				<area shape="rect" coords="460,354,544,437" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="367,398,399,432" href="../objects/id-e05baa982b774ec58e32c11b0d938632.html" target="element" >
				  				<area shape="rect" coords="157,352,241,435" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  				        <area shape="rect" coords="276,394,319,431" href="../objects/id-adfc4f074f664077b005fef65ce1464c.html" target="element" >

				  				<area shape="rect" coords="257,352,341,435" href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html"  target="element">
				  		        <area shape="rect" coords="607,397,644,434" href="../objects/id-63873e5d28e449a4be16100e50c0cc34.html" target="element" >
				  				        <area shape="rect" coords="974,394,1013,431" href="../objects/id-1cd36555fc6a48cdbd2d7f79b33ec024.html" target="element" >

				  				<area shape="rect" coords="971,353,1055,436" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				<area shape="rect" coords="358,353,442,436" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="405,397,442,434" href="../objects/id-7bf90465802d402988f88933f25a5095.html" target="element" >

				  		<area shape="rect" coords="147,344,1063,445" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="22,374,86,437" href="../objects/id-18131c7e972b40c6b2b96d94c696d56f.html" target="element" >
				  		        <area shape="rect" coords="34,347,74,378" href="../objects/id-8aeae19760954d40957c7bad1ead37d3.html" target="element" >

				  		<area shape="rect" coords="10,344,99,445" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  				        <area shape="rect" coords="899,42,960,101" href="../objects/id-f0f280c5cafb4ac2b8b5fcd24d564c5b.html" target="element" >
				  				        <area shape="rect" coords="667,39,882,94" href="../objects/id-61f8e2b7b7d14b5ca9e4c919427a738a.html" target="element" >
				  						<area shape="rect" coords="494,102,603,127" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  						<area shape="rect" coords="637,126,746,235" href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html"  target="element">
				  				        <area shape="rect" coords="590,191,623,223" href="../objects/id-99bb39cc8a574d91b1ad7c299b74d12b.html" target="element" >
				  						<area shape="rect" coords="637,102,746,127" href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html"  target="element">
				  						<area shape="rect" coords="782,102,891,127" href="../elements/id-5958c8cc911e46188f766be27c44555e.html"  target="element">
				  						<area shape="rect" coords="494,126,603,235" href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html"  target="element">
				  						<area shape="rect" coords="782,126,891,235" href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html"  target="element">
				  				        <area shape="rect" coords="480,49,578,63" href="../objects/id-81789c8be43e49ccaf3b4a8c24e7ad47.html" target="element" >
				  				        <area shape="rect" coords="557,49,603,99" href="../objects/id-108850bbf4a448a090c4d7f36f2976e9.html" target="element" >

				  				<area shape="rect" coords="474,34,967,259" href="../elements/id-bc8879984040446e98809f7fe211e719.html"  target="element">

				  		<area shape="rect" coords="450,10,987,282" href="../elements/id-558bc6f53886449c81ab65feac5939cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-108850bbf4a448a090c4d7f36f2976e9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-108850bbf4a448a090c4d7f36f2976e9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-81789c8be43e49ccaf3b4a8c24e7ad47.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-81789c8be43e49ccaf3b4a8c24e7ad47.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-99bb39cc8a574d91b1ad7c299b74d12b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-99bb39cc8a574d91b1ad7c299b74d12b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-61f8e2b7b7d14b5ca9e4c919427a738a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-61f8e2b7b7d14b5ca9e4c919427a738a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f0f280c5cafb4ac2b8b5fcd24d564c5b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f0f280c5cafb4ac2b8b5fcd24d564c5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-8aeae19760954d40957c7bad1ead37d3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8aeae19760954d40957c7bad1ead37d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-18131c7e972b40c6b2b96d94c696d56f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-18131c7e972b40c6b2b96d94c696d56f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-7bf90465802d402988f88933f25a5095.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7bf90465802d402988f88933f25a5095.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-1cd36555fc6a48cdbd2d7f79b33ec024.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1cd36555fc6a48cdbd2d7f79b33ec024.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-63873e5d28e449a4be16100e50c0cc34.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-63873e5d28e449a4be16100e50c0cc34.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-adfc4f074f664077b005fef65ce1464c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-adfc4f074f664077b005fef65ce1464c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-e05baa982b774ec58e32c11b0d938632.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e05baa982b774ec58e32c11b0d938632.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-32ea28d4d4234a11b262ac38b32853bd.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-32ea28d4d4234a11b262ac38b32853bd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-b35675d55260432bbda8bee40b827857.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b35675d55260432bbda8bee40b827857.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-7b913cedfb77472789a9e1717b8df437.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7b913cedfb77472789a9e1717b8df437.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-94a64bcdfc6f445e9970965c8ec81665.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-94a64bcdfc6f445e9970965c8ec81665.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-928a05b060b34400b30cf6fb42e0474b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-928a05b060b34400b30cf6fb42e0474b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-625e61b4183341e4997970d51c61dd64.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-625e61b4183341e4997970d51c61dd64.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-681679578a274152aade907d67c2d40f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-681679578a274152aade907d67c2d40f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-83277ad4a34245bb9fcfc7852f6808c7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-83277ad4a34245bb9fcfc7852f6808c7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-c9c1071b15924faaa691bb8dab274853.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c9c1071b15924faaa691bb8dab274853.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8ae5c76f742c46fea43488b6c17f05ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8ae5c76f742c46fea43488b6c17f05ca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ca8924d81e1a4e3f98d748d68044fb63.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ca8924d81e1a4e3f98d748d68044fb63.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-4f3a472003e04800975208cc24e3b54c.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-4f3a472003e04800975208cc24e3b54c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-d5bf30e9eca8456b847a348d0aa57c0a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d5bf30e9eca8456b847a348d0aa57c0a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-a451bb8c6ca540ecafb5cc606ed0bb58.html" target="element"> DoBiz (copy) </a> </td>
											    <td> <a href="../elements/id-a451bb8c6ca540ecafb5cc606ed0bb58.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-052f4fc08a9a46a98b43a86cbdcb7c8a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-052f4fc08a9a46a98b43a86cbdcb7c8a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-12e82f3e631f46ca8507880e39a7e0ec.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-12e82f3e631f46ca8507880e39a7e0ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-aec9276de6fa438781b294c959e50f43.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) </a> </td>
											    <td> <a href="../elements/id-aec9276de6fa438781b294c959e50f43.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/id-dbe55dd2736e489e9abfa8ca3c40ef48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dbe55dd2736e489e9abfa8ca3c40ef48.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a451bb8c6ca540ecafb5cc606ed0bb58.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9cdc45e54c504b8f935cb45c79a9d035.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9cdc45e54c504b8f935cb45c79a9d035.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-fab8a02074f84450893f1fa22ca29458.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fab8a02074f84450893f1fa22ca29458.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4f3a472003e04800975208cc24e3b54c.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-c228214e21234b2eb98dae697cec6269.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c228214e21234b2eb98dae697cec6269.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a451bb8c6ca540ecafb5cc606ed0bb58.html" target="element"> DoBiz (copy) </a> </td>
																		<td> <a href="../elements/id-4f3a472003e04800975208cc24e3b54c.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>