<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH1-F1-2-gap-1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH1-F1-2-gap-1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a25811832a564306a0f2e32565773488.png" alt="doc1-CH1-F1-2-gap-1" usemap="#id-a25811832a564306a0f2e32565773488map"/>
			   <map name="id-a25811832a564306a0f2e32565773488map">
				          <area shape="rect" coords="386,196,474,286" href="../objects/id-9d8686b6e884499a9a3389a2059e6b27.html" target="element" >
				          <area shape="rect" coords="192,196,280,286" href="../objects/id-187a57506c264018a632741cae525b73.html" target="element" >
				          <area shape="rect" coords="378,63,474,156" href="../objects/id-e7f92dde49e14e118b9358ffd0e491e7.html" target="element" >
				          <area shape="rect" coords="185,65,283,159" href="../objects/id-9401caad5fb34c4da098717f8a7c7a6e.html" target="element" >
				          <area shape="rect" coords="18,131,103,167" href="../objects/id-a6eb55a86a384cc1817a5d98a7988eba.html" target="element" >
				          <area shape="rect" coords="146,206,179,238" href="../objects/id-a5b3f2a313af4b25b243f9939d283742.html" target="element" >
				          <area shape="rect" coords="351,278,541,327" href="../objects/id-d04d2aab0d074114ac4ba0c453b1b621.html" target="element" >
				          <area shape="rect" coords="140,278,346,327" href="../objects/id-d3323926d7e44f318177c399da01706d.html" target="element" >
				          <area shape="rect" coords="346,155,553,204" href="../objects/id-7b055652e15a4a85a121cdf989a39974.html" target="element" >
				          <area shape="rect" coords="336,206,369,238" href="../objects/id-0622e7adc316489db5a039227caa135e.html" target="element" >
				          <area shape="rect" coords="331,52,364,84" href="../objects/id-ebf10db397fa4d3db5c0ca5156879570.html" target="element" >
				          <area shape="rect" coords="147,51,180,83" href="../objects/id-02a81f12141b468f8de0a349f956a7f7.html" target="element" >
				  		<area shape="rect" coords="133,14,470,51" href="../elements/id-d5bfc1a5f05e4705a2f185dc3883baee.html"  target="element">
				          <area shape="rect" coords="149,154,346,197" href="../objects/id-789ded442ad7468c97ea6670b466cb03.html" target="element" >
				          <area shape="rect" coords="120,14,565,327" href="../objects/id-0b26c5b3ea3a4b018eb360145c8de7d2.html" target="element" >
				  		        <area shape="rect" coords="839,198,924,283" href="../objects/id-edddb6a142bc482eb741091677fe7111.html" target="element" >
				  		        <area shape="rect" coords="647,197,732,282" href="../objects/id-5d3baa89cb8c44a8947bbdf13f12cc9b.html" target="element" >
				  		        <area shape="rect" coords="838,78,923,163" href="../objects/id-fc8d4151eae74cad9bd6dfb945376b73.html" target="element" >
				  		        <area shape="rect" coords="646,70,731,155" href="../objects/id-8465a6af44ae4952ace938d02c272470.html" target="element" >
				  		        <area shape="rect" coords="597,154,803,203" href="../objects/id-f6a474c04b6a4718a29a64a4eeba1339.html" target="element" >
				  		        <area shape="rect" coords="610,274,790,323" href="../objects/id-75b6e7573a684b94aac2461220c0ca65.html" target="element" >
				  		        <area shape="rect" coords="598,202,631,234" href="../objects/id-db26599f3a874cadb1739aa490dab9df.html" target="element" >
				  		        <area shape="rect" coords="818,159,968,208" href="../objects/id-ca1f96dfd77e4c9b8849c375e000d4eb.html" target="element" >
				  		        <area shape="rect" coords="817,274,974,323" href="../objects/id-afa6c8e7936d4327935f428c3c8b351b.html" target="element" >
				  		        <area shape="rect" coords="790,202,823,234" href="../objects/id-f40bc066bf65417c8f656c632cba2c44.html" target="element" >
				  		        <area shape="rect" coords="789,47,822,79" href="../objects/id-40f4a188205744fa8a7d8675316002ec.html" target="element" >
				  		        <area shape="rect" coords="597,47,630,79" href="../objects/id-207411304f914b54850cee58c82415cd.html" target="element" >
				  				<area shape="rect" coords="586,11,911,48" href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html"  target="element">

				  		<area shape="rect" coords="586,10,995,323" href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html"  target="element">
				          <area shape="rect" coords="10,29,114,132" href="../objects/id-ef5061eeb11640bab9fa409ca42c618a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-ef5061eeb11640bab9fa409ca42c618a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ef5061eeb11640bab9fa409ca42c618a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3607;&#3637;&#3656;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; (Gain Point) </a> </td>
													    <td> <a href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-207411304f914b54850cee58c82415cd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-207411304f914b54850cee58c82415cd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-40f4a188205744fa8a7d8675316002ec.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-40f4a188205744fa8a7d8675316002ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f40bc066bf65417c8f656c632cba2c44.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f40bc066bf65417c8f656c632cba2c44.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-afa6c8e7936d4327935f428c3c8b351b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-afa6c8e7936d4327935f428c3c8b351b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ca1f96dfd77e4c9b8849c375e000d4eb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ca1f96dfd77e4c9b8849c375e000d4eb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-db26599f3a874cadb1739aa490dab9df.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-db26599f3a874cadb1739aa490dab9df.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-75b6e7573a684b94aac2461220c0ca65.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-75b6e7573a684b94aac2461220c0ca65.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f6a474c04b6a4718a29a64a4eeba1339.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f6a474c04b6a4718a29a64a4eeba1339.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8465a6af44ae4952ace938d02c272470.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8465a6af44ae4952ace938d02c272470.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fc8d4151eae74cad9bd6dfb945376b73.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fc8d4151eae74cad9bd6dfb945376b73.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5d3baa89cb8c44a8947bbdf13f12cc9b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5d3baa89cb8c44a8947bbdf13f12cc9b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-edddb6a142bc482eb741091677fe7111.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-edddb6a142bc482eb741091677fe7111.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-0b26c5b3ea3a4b018eb360145c8de7d2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0b26c5b3ea3a4b018eb360145c8de7d2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-789ded442ad7468c97ea6670b466cb03.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-789ded442ad7468c97ea6670b466cb03.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d5bfc1a5f05e4705a2f185dc3883baee.html" target="element"> &#3611;&#3633;&#3597;&#3627;&#3634;&#3607;&#3637;&#3656;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592;&#3605;&#3657;&#3629;&#3591;&#3611;&#3619;&#3632;&#3626;&#3610; (Pain Point)      </a> </td>
											    <td> <a href="../elements/id-d5bfc1a5f05e4705a2f185dc3883baee.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-02a81f12141b468f8de0a349f956a7f7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-02a81f12141b468f8de0a349f956a7f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ebf10db397fa4d3db5c0ca5156879570.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ebf10db397fa4d3db5c0ca5156879570.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0622e7adc316489db5a039227caa135e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0622e7adc316489db5a039227caa135e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7b055652e15a4a85a121cdf989a39974.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7b055652e15a4a85a121cdf989a39974.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d3323926d7e44f318177c399da01706d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d3323926d7e44f318177c399da01706d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d04d2aab0d074114ac4ba0c453b1b621.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d04d2aab0d074114ac4ba0c453b1b621.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a5b3f2a313af4b25b243f9939d283742.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a5b3f2a313af4b25b243f9939d283742.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a6eb55a86a384cc1817a5d98a7988eba.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a6eb55a86a384cc1817a5d98a7988eba.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9401caad5fb34c4da098717f8a7c7a6e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9401caad5fb34c4da098717f8a7c7a6e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e7f92dde49e14e118b9358ffd0e491e7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e7f92dde49e14e118b9358ffd0e491e7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-187a57506c264018a632741cae525b73.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-187a57506c264018a632741cae525b73.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9d8686b6e884499a9a3389a2059e6b27.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9d8686b6e884499a9a3389a2059e6b27.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-7e5122dca8c34a38831a7fb2fa6ee808.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e5122dca8c34a38831a7fb2fa6ee808.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dd29e12744d4f9daca50d69538ffd63.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3607;&#3637;&#3656;&#3608;&#3640;&#3619;&#3585;&#3636;&#3592;&#3605;&#3657;&#3629;&#3591;&#3585;&#3634;&#3619; (Gain Point) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>