<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig18-Value-Stream</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig18-Value-Stream</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aa632ff6b71e48ff8862f4f34b997847.png" alt="Fig18-Value-Stream" usemap="#id-aa632ff6b71e48ff8862f4f34b997847map"/>
			   <map name="id-aa632ff6b71e48ff8862f4f34b997847map">
				          <area shape="rect" coords="518,428,551,460" href="../objects/id-2ac8057e084c4699849ef1ba18be42fc.html" target="element" >
				          <area shape="rect" coords="518,246,551,278" href="../objects/id-4b2eb16aaabb4f919190f1069732d95f.html" target="element" >
				          <area shape="rect" coords="518,81,551,113" href="../objects/id-49d77701c09046e3a8925d29ccb43b3e.html" target="element" >
				          <area shape="rect" coords="326,69,359,101" href="../objects/id-d619581ef14a4f15ac5f61d2c728d8fc.html" target="element" >
				          <area shape="rect" coords="146,69,179,101" href="../objects/id-9e86bab3de10428c9fc33f4acfe851a9.html" target="element" >
				  		<area shape="rect" coords="375,378,519,463" href="../elements/id-b06025bfe0254df3a7253d1273f06e3d.html"  target="element">
				  		        <area shape="rect" coords="297,429,330,461" href="../objects/id-5dcc0b050e104b87bf72209fab3d588a.html" target="element" >

				  		<area shape="rect" coords="189,381,333,460" href="../elements/id-ff7ba4895301485badd3d5787e8c8121.html"  target="element">
				  		        <area shape="rect" coords="118,429,151,461" href="../objects/id-09eabc52d6bd46419a86191cc4345b88.html" target="element" >

				  		<area shape="rect" coords="10,381,154,460" href="../elements/id-7e64265505dd46b790a0bb37cb48ff08.html"  target="element">
				  		<area shape="rect" coords="482,10,612,55" href="../elements/id-3f8211c4518f497caf3178a97f9f551e.html"  target="element">
				  		<area shape="rect" coords="290,10,420,55" href="../elements/id-22a1eb88e6944d0c8431f61d0f55fe45.html"  target="element">
				  		<area shape="rect" coords="98,10,228,55" href="../elements/id-43138fd80d1148d0aa785ac91761d4f9.html"  target="element">
				  		<area shape="rect" coords="578,81,698,136" href="../elements/id-bf0a3442f04a4c23b81d1d39cab0e1d4.html"  target="element">
				  				<area shape="rect" coords="386,274,506,329" href="../elements/id-5534f2180a1d49feb3cb9f13fa1af346.html"  target="element">
				  				<area shape="rect" coords="386,214,506,263" href="../elements/id-edad51bbd681453bb66575b977c7e351.html"  target="element">

				  		<area shape="rect" coords="374,178,519,346" href="../elements/id-beb867ff967d40fe82df4278297e87fb.html"  target="element">
				  				        <area shape="rect" coords="296,238,329,270" href="../objects/id-87530420a67e46cfa0068d1e82e47fc3.html" target="element" >

				  				<area shape="rect" coords="200,214,320,263" href="../elements/id-43489e6619924871b83dc2f7b5e73dc7.html"  target="element">
				  				<area shape="rect" coords="200,274,320,323" href="../elements/id-27f55904b5f8428798ac54568d75e34c.html"  target="element">

				  		<area shape="rect" coords="188,178,333,346" href="../elements/id-5cc6832717cc45289a8cde62ea5e0c60.html"  target="element">
				  				        <area shape="rect" coords="118,250,151,282" href="../objects/id-5efb94e067a4403b9de74715f6fc8a0c.html" target="element" >

				  				<area shape="rect" coords="22,214,142,263" href="../elements/id-e680ec3a919141dead65935c1908c13c.html"  target="element">
				  				<area shape="rect" coords="22,274,142,323" href="../elements/id-18cd4da40f7a4234a2edf5f7a2745e52.html"  target="element">

				  		<area shape="rect" coords="10,178,153,346" href="../elements/id-b87bca5526fb40ecbea3bf8cafdcbc6e.html"  target="element">
				  		<area shape="rect" coords="374,81,519,136" href="../elements/id-af68f1d4080f42b1b70fe9a065f0d489.html"  target="element">
				  		<area shape="rect" coords="194,81,327,136" href="../elements/id-e7f9d96d431a43898737c4670499df62.html"  target="element">
				  		<area shape="rect" coords="16,81,147,136" href="../elements/id-a78c21b8abc843a9a34cf14b33d32874.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a78c21b8abc843a9a34cf14b33d32874.html" target="element"> Interoperable Specification Creation </a> </td>
											    <td> <a href="../elements/id-a78c21b8abc843a9a34cf14b33d32874.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7f9d96d431a43898737c4670499df62.html" target="element"> Service Application Development </a> </td>
											    <td> <a href="../elements/id-e7f9d96d431a43898737c4670499df62.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af68f1d4080f42b1b70fe9a065f0d489.html" target="element"> Integrated Service Implementation </a> </td>
											    <td> <a href="../elements/id-af68f1d4080f42b1b70fe9a065f0d489.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b87bca5526fb40ecbea3bf8cafdcbc6e.html" target="element"> Specifiction </a> </td>
											    <td> <a href="../elements/id-b87bca5526fb40ecbea3bf8cafdcbc6e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-18cd4da40f7a4234a2edf5f7a2745e52.html" target="element"> License Format Catalog </a> </td>
													    <td> <a href="../elements/id-18cd4da40f7a4234a2edf5f7a2745e52.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e680ec3a919141dead65935c1908c13c.html" target="element"> Semantic Catalog </a> </td>
													    <td> <a href="../elements/id-e680ec3a919141dead65935c1908c13c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5efb94e067a4403b9de74715f6fc8a0c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5efb94e067a4403b9de74715f6fc8a0c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-5cc6832717cc45289a8cde62ea5e0c60.html" target="element"> Developmnt </a> </td>
											    <td> <a href="../elements/id-5cc6832717cc45289a8cde62ea5e0c60.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-27f55904b5f8428798ac54568d75e34c.html" target="element"> Mon and Stat  Capability </a> </td>
													    <td> <a href="../elements/id-27f55904b5f8428798ac54568d75e34c.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-43489e6619924871b83dc2f7b5e73dc7.html" target="element"> Service Catalog </a> </td>
													    <td> <a href="../elements/id-43489e6619924871b83dc2f7b5e73dc7.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-87530420a67e46cfa0068d1e82e47fc3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-87530420a67e46cfa0068d1e82e47fc3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-beb867ff967d40fe82df4278297e87fb.html" target="element"> Implementation </a> </td>
											    <td> <a href="../elements/id-beb867ff967d40fe82df4278297e87fb.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-edad51bbd681453bb66575b977c7e351.html" target="element"> Interoperability Governance </a> </td>
													    <td> <a href="../elements/id-edad51bbd681453bb66575b977c7e351.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5534f2180a1d49feb3cb9f13fa1af346.html" target="element"> User Assistant System in Place </a> </td>
													    <td> <a href="../elements/id-5534f2180a1d49feb3cb9f13fa1af346.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bf0a3442f04a4c23b81d1d39cab0e1d4.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3634;&#3594;&#3609;    &#3652;&#3604;&#3657;&#3619;&#3633;&#3610;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;   &#3626;&#3632;&#3604;&#3623;&#3585;&#3586;&#3638;&#3657;&#3609;     </a> </td>
											    <td> <a href="../elements/id-bf0a3442f04a4c23b81d1d39cab0e1d4.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43138fd80d1148d0aa785ac91761d4f9.html" target="element"> Interoperability Specification </a> </td>
											    <td> <a href="../elements/id-43138fd80d1148d0aa785ac91761d4f9.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-22a1eb88e6944d0c8431f61d0f55fe45.html" target="element"> Interoperable Digital System </a> </td>
											    <td> <a href="../elements/id-22a1eb88e6944d0c8431f61d0f55fe45.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f8211c4518f497caf3178a97f9f551e.html" target="element"> Supported by Integrated Sytem </a> </td>
											    <td> <a href="../elements/id-3f8211c4518f497caf3178a97f9f551e.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e64265505dd46b790a0bb37cb48ff08.html" target="element"> Identifiable Interoperable Document Development </a> </td>
											    <td> <a href="../elements/id-7e64265505dd46b790a0bb37cb48ff08.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-09eabc52d6bd46419a86191cc4345b88.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-09eabc52d6bd46419a86191cc4345b88.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-ff7ba4895301485badd3d5787e8c8121.html" target="element"> DoBiz Digital System Interconnection Development </a> </td>
											    <td> <a href="../elements/id-ff7ba4895301485badd3d5787e8c8121.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-5dcc0b050e104b87bf72209fab3d588a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5dcc0b050e104b87bf72209fab3d588a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-b06025bfe0254df3a7253d1273f06e3d.html" target="element"> DoBiz Interoperability Governance Development </a> </td>
											    <td> <a href="../elements/id-b06025bfe0254df3a7253d1273f06e3d.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-9e86bab3de10428c9fc33f4acfe851a9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9e86bab3de10428c9fc33f4acfe851a9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d619581ef14a4f15ac5f61d2c728d8fc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d619581ef14a4f15ac5f61d2c728d8fc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-49d77701c09046e3a8925d29ccb43b3e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-49d77701c09046e3a8925d29ccb43b3e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4b2eb16aaabb4f919190f1069732d95f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4b2eb16aaabb4f919190f1069732d95f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2ac8057e084c4699849ef1ba18be42fc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2ac8057e084c4699849ef1ba18be42fc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-cc705d28bca2432b95415a2af591a60d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc705d28bca2432b95415a2af591a60d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a78c21b8abc843a9a34cf14b33d32874.html" target="element"> Interoperable Specification Creation </a> </td>
																		<td> <a href="../elements/id-e7f9d96d431a43898737c4670499df62.html" target="element"> Service Application Development </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be1d215014684de6850ebcdf033fd98d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be1d215014684de6850ebcdf033fd98d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e7f9d96d431a43898737c4670499df62.html" target="element"> Service Application Development </a> </td>
																		<td> <a href="../elements/id-af68f1d4080f42b1b70fe9a065f0d489.html" target="element"> Integrated Service Implementation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-877d53fb8a304260a7b878d1d8799e96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-877d53fb8a304260a7b878d1d8799e96.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-af68f1d4080f42b1b70fe9a065f0d489.html" target="element"> Integrated Service Implementation </a> </td>
																		<td> <a href="../elements/id-bf0a3442f04a4c23b81d1d39cab0e1d4.html" target="element"> &#3611;&#3619;&#3632;&#3594;&#3634;&#3594;&#3609;    &#3652;&#3604;&#3657;&#3619;&#3633;&#3610;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;   &#3626;&#3632;&#3604;&#3623;&#3585;&#3586;&#3638;&#3657;&#3609;     </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3e4aef8cd4044a8fb5118f974ce132d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e4aef8cd4044a8fb5118f974ce132d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b87bca5526fb40ecbea3bf8cafdcbc6e.html" target="element"> Specifiction </a> </td>
																		<td> <a href="../elements/id-18cd4da40f7a4234a2edf5f7a2745e52.html" target="element"> License Format Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23daeb0451734c65b65499b51f817951.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23daeb0451734c65b65499b51f817951.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b87bca5526fb40ecbea3bf8cafdcbc6e.html" target="element"> Specifiction </a> </td>
																		<td> <a href="../elements/id-e680ec3a919141dead65935c1908c13c.html" target="element"> Semantic Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad13218802984905bd4fff0681f1e689.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad13218802984905bd4fff0681f1e689.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b87bca5526fb40ecbea3bf8cafdcbc6e.html" target="element"> Specifiction </a> </td>
																		<td> <a href="../elements/id-a78c21b8abc843a9a34cf14b33d32874.html" target="element"> Interoperable Specification Creation </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/id-7412013d7fcc4b92bc69928dcee7de00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7412013d7fcc4b92bc69928dcee7de00.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5cc6832717cc45289a8cde62ea5e0c60.html" target="element"> Developmnt </a> </td>
																		<td> <a href="../elements/id-27f55904b5f8428798ac54568d75e34c.html" target="element"> Mon and Stat  Capability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-230c959187484a5ebc74dc4e5354c441.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-230c959187484a5ebc74dc4e5354c441.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5cc6832717cc45289a8cde62ea5e0c60.html" target="element"> Developmnt </a> </td>
																		<td> <a href="../elements/id-43489e6619924871b83dc2f7b5e73dc7.html" target="element"> Service Catalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5131f97b5a03456a85bbe39c0b4b9031.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5131f97b5a03456a85bbe39c0b4b9031.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5cc6832717cc45289a8cde62ea5e0c60.html" target="element"> Developmnt </a> </td>
																		<td> <a href="../elements/id-e7f9d96d431a43898737c4670499df62.html" target="element"> Service Application Development </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/id-edbd350f41034cdb9d1aace23753c33f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edbd350f41034cdb9d1aace23753c33f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-beb867ff967d40fe82df4278297e87fb.html" target="element"> Implementation </a> </td>
																		<td> <a href="../elements/id-edad51bbd681453bb66575b977c7e351.html" target="element"> Interoperability Governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a1c818395e3f4575995341a5b8282923.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1c818395e3f4575995341a5b8282923.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-beb867ff967d40fe82df4278297e87fb.html" target="element"> Implementation </a> </td>
																		<td> <a href="../elements/id-5534f2180a1d49feb3cb9f13fa1af346.html" target="element"> User Assistant System in Place </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-20f7c1ee78da44f59e4ca3eaa597aaa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-20f7c1ee78da44f59e4ca3eaa597aaa3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-beb867ff967d40fe82df4278297e87fb.html" target="element"> Implementation </a> </td>
																		<td> <a href="../elements/id-af68f1d4080f42b1b70fe9a065f0d489.html" target="element"> Integrated Service Implementation </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-afae520938cc498aa7ae7e7edd3513d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afae520938cc498aa7ae7e7edd3513d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43138fd80d1148d0aa785ac91761d4f9.html" target="element"> Interoperability Specification </a> </td>
																		<td> <a href="../elements/id-cc705d28bca2432b95415a2af591a60d.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9731c3b33abf488b9bb4738b5372888e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9731c3b33abf488b9bb4738b5372888e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-22a1eb88e6944d0c8431f61d0f55fe45.html" target="element"> Interoperable Digital System </a> </td>
																		<td> <a href="../elements/id-be1d215014684de6850ebcdf033fd98d.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-84428ca9a0114418b094bc8bc4202bd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84428ca9a0114418b094bc8bc4202bd9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f8211c4518f497caf3178a97f9f551e.html" target="element"> Supported by Integrated Sytem </a> </td>
																		<td> <a href="../elements/id-877d53fb8a304260a7b878d1d8799e96.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-16fca6c07cf14448bdf141b575a03eeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16fca6c07cf14448bdf141b575a03eeb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e64265505dd46b790a0bb37cb48ff08.html" target="element"> Identifiable Interoperable Document Development </a> </td>
																		<td> <a href="../elements/id-b87bca5526fb40ecbea3bf8cafdcbc6e.html" target="element"> Specifiction </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-1248d4d66f14449dbd5921e5321ac09d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1248d4d66f14449dbd5921e5321ac09d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ff7ba4895301485badd3d5787e8c8121.html" target="element"> DoBiz Digital System Interconnection Development </a> </td>
																		<td> <a href="../elements/id-5cc6832717cc45289a8cde62ea5e0c60.html" target="element"> Developmnt </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-53e42244bfe9405bb523c34484b9ff8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53e42244bfe9405bb523c34484b9ff8c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b06025bfe0254df3a7253d1273f06e3d.html" target="element"> DoBiz Interoperability Governance Development </a> </td>
																		<td> <a href="../elements/id-beb867ff967d40fe82df4278297e87fb.html" target="element"> Implementation </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>