<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH6-F8-portal</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH6-F8-portal</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a32101fdebe54efb971fa4f7b660b7db.png" alt="doc1-CH6-F8-portal" usemap="#id-a32101fdebe54efb971fa4f7b660b7dbmap"/>
			   <map name="id-a32101fdebe54efb971fa4f7b660b7dbmap">
				  		        <area shape="rect" coords="866,32,931,90" href="../objects/id-4c498d70696049f0b9a574a4d883dd50.html" target="element" >

				  		<area shape="rect" coords="855,10,939,93" href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html"  target="element">
				  		        <area shape="rect" coords="663,32,728,90" href="../objects/id-6cbc81a98ac44a839d09c2f3369bc0d8.html" target="element" >

				  		<area shape="rect" coords="652,10,736,93" href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html"  target="element">
				  		        <area shape="rect" coords="559,32,624,90" href="../objects/id-b61ecdf3d6494eadb00667cb56e4baf1.html" target="element" >

				  		<area shape="rect" coords="548,10,632,93" href="../elements/id-f951601176154364bd65167a519fe01b.html"  target="element">
				          <area shape="rect" coords="851,339,891,378" href="../objects/id-d7d889f2994e405f903116c590dca7d8.html" target="element" >
				          <area shape="rect" coords="648,338,688,377" href="../objects/id-fff376b9d32741648c4c415ea0b7e4c2.html" target="element" >
				          <area shape="rect" coords="544,337,584,376" href="../objects/id-21e8141d2b7c44798e13b77fb64ab1b9.html" target="element" >
				          <area shape="rect" coords="770,337,809,375" href="../objects/id-fdd002befdf74121baa7bcff23391be5.html" target="element" >
				  		        <area shape="rect" coords="442,336,482,375" href="../objects/id-f2d89888455949b081f326c6669e7707.html" target="element" >
				  		        <area shape="rect" coords="478,341,514,370" href="../objects/id-c6756e80b35c47958901d18bcea1214f.html" target="element" >

				  		<area shape="rect" coords="438,296,522,379" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="993,340,1027,374" href="../objects/id-1dc6549d759f490f88d04bce8ad80260.html" target="element" >
				  		        <area shape="rect" coords="954,339,989,373" href="../objects/id-53536300d1fb42118824f9a15ea348bb.html" target="element" >

				  		<area shape="rect" coords="949,295,1033,378" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  		        <area shape="rect" coords="890,341,925,371" href="../objects/id-bbed56e26a0f4b6db12665cc50aacfeb.html" target="element" >

				  		<area shape="rect" coords="847,295,931,378" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		<area shape="rect" coords="746,296,830,379" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="685,342,720,370" href="../objects/id-898f1b30fcde45a698ebaaf125fe8c8d.html" target="element" >

				  		<area shape="rect" coords="644,296,728,379" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  		        <area shape="rect" coords="562,623,601,660" href="../objects/id-b959b387d5b34d6ba36adce993e31f27.html" target="element" >
				  		        <area shape="rect" coords="562,528,601,565" href="../objects/id-124ac63e85a44f0ab01f83639ebd83d9.html" target="element" >
				  		        <area shape="rect" coords="581,339,619,370" href="../objects/id-fa308c340dfa4c299544e5b82528186b.html" target="element" >

				  		<area shape="rect" coords="540,297,624,380" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  		        <area shape="rect" coords="343,338,375,372" href="../objects/id-2f875de9099f4b11ac04a7aa5bf026c8.html" target="element" >
				  		        <area shape="rect" coords="381,337,418,374" href="../objects/id-879522f40d7f4c4da472cceb379e92d2.html" target="element" >

				  		<area shape="rect" coords="336,294,420,377" href="../elements/id-5dcd9e77eeed417db2b48e8ee48327cd.html"  target="element">
				  		        <area shape="rect" coords="146,337,207,374" href="../objects/id-4b42389d59014f3ab6a4f2bb4fab87cf.html" target="element" >

				  		<area shape="rect" coords="135,293,219,376" href="../elements/id-e57ad6ade2954a66be8a86fdad86c6cf.html"  target="element">
				  		        <area shape="rect" coords="255,336,298,373" href="../objects/id-10ed93035964444cb90a2c809c272e44.html" target="element" >

				  		<area shape="rect" coords="235,293,319,376" href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html"  target="element">
				          <area shape="rect" coords="138,104,382,138" href="../objects/id-c48f5d65eed74fe18fc1a1d50bae5259.html" target="element" >
				          <area shape="rect" coords="672,187,712,226" href="../objects/id-74a152787d4c46c9acec4115cd33b60f.html" target="element" >
				  				<area shape="rect" coords="652,147,736,230" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="876,186,916,225" href="../objects/id-6bc66c3b2eef4a84b6b4cd73b6d6dc7e.html" target="element" >

				  				<area shape="rect" coords="855,146,939,229" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="670,186,710,225" href="../objects/id-bc28220fd3a743c8aab6d78988e1f0fc.html" target="element" >
				  				        <area shape="rect" coords="589,190,626,227" href="../objects/id-9786551a7656405282d9f5045c8fef43.html" target="element" >
				  				        <area shape="rect" coords="554,186,591,229" href="../objects/id-3c4030e450ac470ba3a2018787bd403b.html" target="element" >

				  				<area shape="rect" coords="548,148,632,231" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="772,185,812,227" href="../objects/id-74f2d7d9a89c43fcae200153b33657f8.html" target="element" >

				  				<area shape="rect" coords="754,147,838,230" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="1002,185,1036,223" href="../objects/id-0e0b25527f394ef1a27b482d0f838650.html" target="element" >
				  				        <area shape="rect" coords="470,187,505,224" href="../objects/id-d96c82b8751349ff9bc8d06949a59055.html" target="element" >

				  				<area shape="rect" coords="446,147,530,230" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="593,190,630,227" href="../objects/id-17da8025cb3d4ad9ba7fa4ec0b8cd3bf.html" target="element" >
				  				        <area shape="rect" coords="960,187,999,224" href="../objects/id-457d297f218c405488a52d90963a6246.html" target="element" >

				  				<area shape="rect" coords="957,146,1041,229" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">

				  		<area shape="rect" coords="133,137,1049,238" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="22,314,86,377" href="../objects/id-f11778dd8f95490884abdeecafbed483.html" target="element" >
				  		        <area shape="rect" coords="34,287,74,318" href="../objects/id-78a4e94129934347a23c2a6b7537336b.html" target="element" >

				  		<area shape="rect" coords="10,284,99,385" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-78a4e94129934347a23c2a6b7537336b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-78a4e94129934347a23c2a6b7537336b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f11778dd8f95490884abdeecafbed483.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f11778dd8f95490884abdeecafbed483.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-457d297f218c405488a52d90963a6246.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-457d297f218c405488a52d90963a6246.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-17da8025cb3d4ad9ba7fa4ec0b8cd3bf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-17da8025cb3d4ad9ba7fa4ec0b8cd3bf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-d96c82b8751349ff9bc8d06949a59055.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d96c82b8751349ff9bc8d06949a59055.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-0e0b25527f394ef1a27b482d0f838650.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0e0b25527f394ef1a27b482d0f838650.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-74f2d7d9a89c43fcae200153b33657f8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-74f2d7d9a89c43fcae200153b33657f8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-3c4030e450ac470ba3a2018787bd403b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3c4030e450ac470ba3a2018787bd403b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9786551a7656405282d9f5045c8fef43.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9786551a7656405282d9f5045c8fef43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-bc28220fd3a743c8aab6d78988e1f0fc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bc28220fd3a743c8aab6d78988e1f0fc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-6bc66c3b2eef4a84b6b4cd73b6d6dc7e.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6bc66c3b2eef4a84b6b4cd73b6d6dc7e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-74a152787d4c46c9acec4115cd33b60f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-74a152787d4c46c9acec4115cd33b60f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c48f5d65eed74fe18fc1a1d50bae5259.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c48f5d65eed74fe18fc1a1d50bae5259.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-10ed93035964444cb90a2c809c272e44.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-10ed93035964444cb90a2c809c272e44.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-e57ad6ade2954a66be8a86fdad86c6cf.html" target="element"> DoBiz </a> </td>
											    <td> <a href="../elements/id-e57ad6ade2954a66be8a86fdad86c6cf.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-4b42389d59014f3ab6a4f2bb4fab87cf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4b42389d59014f3ab6a4f2bb4fab87cf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-5dcd9e77eeed417db2b48e8ee48327cd.html" target="element"> DoBiz (copy) </a> </td>
											    <td> <a href="../elements/id-5dcd9e77eeed417db2b48e8ee48327cd.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-879522f40d7f4c4da472cceb379e92d2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-879522f40d7f4c4da472cceb379e92d2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2f875de9099f4b11ac04a7aa5bf026c8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2f875de9099f4b11ac04a7aa5bf026c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-fa308c340dfa4c299544e5b82528186b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fa308c340dfa4c299544e5b82528186b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-124ac63e85a44f0ab01f83639ebd83d9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-124ac63e85a44f0ab01f83639ebd83d9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b959b387d5b34d6ba36adce993e31f27.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b959b387d5b34d6ba36adce993e31f27.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-898f1b30fcde45a698ebaaf125fe8c8d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-898f1b30fcde45a698ebaaf125fe8c8d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-bbed56e26a0f4b6db12665cc50aacfeb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bbed56e26a0f4b6db12665cc50aacfeb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-53536300d1fb42118824f9a15ea348bb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-53536300d1fb42118824f9a15ea348bb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1dc6549d759f490f88d04bce8ad80260.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1dc6549d759f490f88d04bce8ad80260.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-c6756e80b35c47958901d18bcea1214f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c6756e80b35c47958901d18bcea1214f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f2d89888455949b081f326c6669e7707.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f2d89888455949b081f326c6669e7707.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-fdd002befdf74121baa7bcff23391be5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fdd002befdf74121baa7bcff23391be5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-21e8141d2b7c44798e13b77fb64ab1b9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-21e8141d2b7c44798e13b77fb64ab1b9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fff376b9d32741648c4c415ea0b7e4c2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fff376b9d32741648c4c415ea0b7e4c2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d7d889f2994e405f903116c590dca7d8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d7d889f2994e405f903116c590dca7d8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-b61ecdf3d6494eadb00667cb56e4baf1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b61ecdf3d6494eadb00667cb56e4baf1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-6cbc81a98ac44a839d09c2f3369bc0d8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6cbc81a98ac44a839d09c2f3369bc0d8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-4c498d70696049f0b9a574a4d883dd50.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4c498d70696049f0b9a574a4d883dd50.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e6a83df2d19b43dda8d7f74eb891bb23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6a83df2d19b43dda8d7f74eb891bb23.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e57ad6ade2954a66be8a86fdad86c6cf.html" target="element"> DoBiz </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7fea440746f84a8d9c9c380f0cb29aaa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7fea440746f84a8d9c9c380f0cb29aaa.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7ce9bac37a1640eeb11fa06e156e8e14.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7ce9bac37a1640eeb11fa06e156e8e14.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a34f1c9074234f49af58103fc29cd4c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a34f1c9074234f49af58103fc29cd4c9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-d2b3c9216e1e4cf3ae49d0c7056ab97e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2b3c9216e1e4cf3ae49d0c7056ab97e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-5dcd9e77eeed417db2b48e8ee48327cd.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-09dd355b861b4313b62e4e712c12d051.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09dd355b861b4313b62e4e712c12d051.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e57ad6ade2954a66be8a86fdad86c6cf.html" target="element"> DoBiz </a> </td>
																		<td> <a href="../elements/id-cd23ddff18414eb3ae5f71ad0ce01eea.html" target="element"> Business Process (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-853529e6b10d48778986b163e05cdcf0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-853529e6b10d48778986b163e05cdcf0.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5dcd9e77eeed417db2b48e8ee48327cd.html" target="element"> DoBiz (copy) </a> </td>
																		<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-375775724dea4a079cff76ab9abb6206.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-375775724dea4a079cff76ab9abb6206.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23f125ce4cb2403bbd64bd0d050cd707.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23f125ce4cb2403bbd64bd0d050cd707.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db715ed688734b7da8fed8154a2d7e12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db715ed688734b7da8fed8154a2d7e12.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6d07ff394375458b806808a5aae152e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6d07ff394375458b806808a5aae152e8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>