<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Target Interaction via Web Browser</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Target Interaction via Web Browser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a185fa23a8a04f68b244c0f9b57f985a.png" alt="Target Interaction via Web Browser" usemap="#id-a185fa23a8a04f68b244c0f9b57f985amap"/>
			   <map name="id-a185fa23a8a04f68b244c0f9b57f985amap">
				  				<area shape="rect" coords="441,46,561,101" href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html"  target="element">
				  				<area shape="rect" coords="141,46,274,101" href="../elements/id-2a27549aac964ed49ae49d118852966f.html"  target="element">
				  				<area shape="rect" coords="705,46,825,101" href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html"  target="element">
				  				<area shape="rect" coords="321,46,429,101" href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html"  target="element">
				  				<area shape="rect" coords="573,46,693,101" href="../elements/id-96b2431d2524432da24f5feadf33ac30.html"  target="element">

				  		<area shape="rect" coords="129,10,862,119" href="../elements/id-0fcbd31e.html"  target="element">
				  						<area shape="rect" coords="455,640,575,695" href="../elements/id-a70915473ea849c98c1b48216a5e5fa8.html"  target="element">
				  						<area shape="rect" coords="310,640,430,695" href="../elements/id-f9c42595d24f40adab71b3d45d2d8f53.html"  target="element">

				  		        <area shape="rect" coords="298,604,587,720" href="../objects/id-07d80eab5a6647d1b65b86ff76c74d5c.html" target="element" >
				  				<area shape="rect" coords="22,415,142,470" href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html"  target="element">
				  						<area shape="rect" coords="777,370,897,425" href="../elements/id-5990bb788769453fb97eb806908c0070.html"  target="element">
				  						<area shape="rect" coords="801,454,921,509" href="../elements/id-697f9a053815437dbf848c2d570b197c.html"  target="element">
				  						<area shape="rect" coords="837,538,957,593" href="../elements/id-3800d35b3d004146aab073f575f0eace.html"  target="element">
				  						<area shape="rect" coords="741,298,861,353" href="../elements/id-eab5a3eedff14e81b28284b5df73ca5a.html"  target="element">
				  						<area shape="rect" coords="885,622,1005,677" href="../elements/id-3fd9d362ff4e44349cb329d87db83cdd.html"  target="element">
				  						<area shape="rect" coords="693,226,813,281" href="../elements/id-118ec72fce14406f89a85b35aa09f7d1.html"  target="element">

				  		        <area shape="rect" coords="609,190,1066,695" href="../objects/id-07ad843db698412785a6943770205c06.html" target="element" >
				  						<area shape="rect" coords="213,413,333,468" href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html"  target="element">

				  				<area shape="rect" coords="202,389,347,497" href="../elements/id-b37064ddda6a46268d8a855ed4b3c802.html"  target="element">
				  				<area shape="rect" coords="357,274,477,329" href="../elements/id-e207de471d3c4b15941731fc939ca22e.html"  target="element">
				  				<area shape="rect" coords="358,496,478,551" href="../elements/id-fb9d7fc6587a4fed96b2592786f9c3da.html"  target="element">

				  		<area shape="rect" coords="10,148,1079,737" href="../elements/id-0971ae9d999640bdaeba97385f056274.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0971ae9d999640bdaeba97385f056274.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3588;&#3634;&#3604;&#3627;&#3623;&#3633;&#3591;&#3586;&#3629;&#3591;&#3619;&#3632;&#3610;&#3610;&#3629;&#3635;&#3609;&#3623;&#3618;&#3588;&#3623;&#3634;&#3617;&#3626;&#3632;&#3604;&#3623;&#3585;&#3649;&#3610;&#3610;&#3588;&#3619;&#3610;&#3623;&#3591;&#3592;&#3619;    </a> </td>
											    <td> <a href="../elements/id-0971ae9d999640bdaeba97385f056274.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fb9d7fc6587a4fed96b2592786f9c3da.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3619;&#3633;&#3610;&#3594;&#3635;&#3619;&#3632;  &#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
													    <td> <a href="../elements/id-fb9d7fc6587a4fed96b2592786f9c3da.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e207de471d3c4b15941731fc939ca22e.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3609;&#3618;&#3633;&#3609;   &#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
													    <td> <a href="../elements/id-e207de471d3c4b15941731fc939ca22e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b37064ddda6a46268d8a855ed4b3c802.html" target="element"> Device </a> </td>
													    <td> <a href="../elements/id-b37064ddda6a46268d8a855ed4b3c802.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
															    <td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-07ad843db698412785a6943770205c06.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
											           <td> <a href="../objects/id-07ad843db698412785a6943770205c06.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-118ec72fce14406f89a85b35aa09f7d1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609; </a> </td>
															    <td> <a href="../elements/id-118ec72fce14406f89a85b35aa09f7d1.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3fd9d362ff4e44349cb329d87db83cdd.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3656;&#3591;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
															    <td> <a href="../elements/id-3fd9d362ff4e44349cb329d87db83cdd.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-eab5a3eedff14e81b28284b5df73ca5a.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
															    <td> <a href="../elements/id-eab5a3eedff14e81b28284b5df73ca5a.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3800d35b3d004146aab073f575f0eace.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
															    <td> <a href="../elements/id-3800d35b3d004146aab073f575f0eace.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-697f9a053815437dbf848c2d570b197c.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
															    <td> <a href="../elements/id-697f9a053815437dbf848c2d570b197c.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5990bb788769453fb97eb806908c0070.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3588;&#3635;&#3586;&#3629; </a> </td>
															    <td> <a href="../elements/id-5990bb788769453fb97eb806908c0070.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element"> Service Request Agent </a> </td>
													    <td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-07d80eab5a6647d1b65b86ff76c74d5c.html" target="element"> &#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;&#3592;&#3633;&#3604;&#3648;&#3585;&#3655;&#3610;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;&#3611;&#3619;&#3632;&#3585;&#3629;&#3610;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; </a> </td>
											           <td> <a href="../objects/id-07d80eab5a6647d1b65b86ff76c74d5c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-f9c42595d24f40adab71b3d45d2d8f53.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609;   </a> </td>
															    <td> <a href="../elements/id-f9c42595d24f40adab71b3d45d2d8f53.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a70915473ea849c98c1b48216a5e5fa8.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3656;&#3591;  &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
															    <td> <a href="../elements/id-a70915473ea849c98c1b48216a5e5fa8.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
											    <td> <a href="../elements/id-0fcbd31e.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element"> DoBiz Electronically Interoperable System </a> </td>
													    <td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html" target="element"> Once Only </a> </td>
													    <td> <a href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html" target="element"> Technology Nutral Data Portability </a> </td>
													    <td> <a href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a27549aac964ed49ae49d118852966f.html" target="element"> DoBiz Interoperability Enabling </a> </td>
													    <td> <a href="../elements/id-2a27549aac964ed49ae49d118852966f.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element"> Identifiable Interoperable Document </a> </td>
													    <td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5a4ccd7d44a34ab28aaba3e4f0157c53.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a4ccd7d44a34ab28aaba3e4f0157c53.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0971ae9d999640bdaeba97385f056274.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3588;&#3634;&#3604;&#3627;&#3623;&#3633;&#3591;&#3586;&#3629;&#3591;&#3619;&#3632;&#3610;&#3610;&#3629;&#3635;&#3609;&#3623;&#3618;&#3588;&#3623;&#3634;&#3617;&#3626;&#3632;&#3604;&#3623;&#3585;&#3649;&#3610;&#3610;&#3588;&#3619;&#3610;&#3623;&#3591;&#3592;&#3619;    </a> </td>
																		<td> <a href="../elements/id-fb9d7fc6587a4fed96b2592786f9c3da.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3619;&#3633;&#3610;&#3594;&#3635;&#3619;&#3632;  &#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c19d7ddce5543779d2481b8d1a5a805.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c19d7ddce5543779d2481b8d1a5a805.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0971ae9d999640bdaeba97385f056274.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3588;&#3634;&#3604;&#3627;&#3623;&#3633;&#3591;&#3586;&#3629;&#3591;&#3619;&#3632;&#3610;&#3610;&#3629;&#3635;&#3609;&#3623;&#3618;&#3588;&#3623;&#3634;&#3617;&#3626;&#3632;&#3604;&#3623;&#3585;&#3649;&#3610;&#3610;&#3588;&#3619;&#3610;&#3623;&#3591;&#3592;&#3619;    </a> </td>
																		<td> <a href="../elements/id-e207de471d3c4b15941731fc939ca22e.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3609;&#3618;&#3633;&#3609;   &#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab1740e5b006410292a492337e614bfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab1740e5b006410292a492337e614bfd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0971ae9d999640bdaeba97385f056274.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3588;&#3634;&#3604;&#3627;&#3623;&#3633;&#3591;&#3586;&#3629;&#3591;&#3619;&#3632;&#3610;&#3610;&#3629;&#3635;&#3609;&#3623;&#3618;&#3588;&#3623;&#3634;&#3617;&#3626;&#3632;&#3604;&#3623;&#3585;&#3649;&#3610;&#3610;&#3588;&#3619;&#3610;&#3623;&#3591;&#3592;&#3619;    </a> </td>
																		<td> <a href="../elements/id-b37064ddda6a46268d8a855ed4b3c802.html" target="element"> Device </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7ad32eebe3c43bb8fa577a179cd417d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7ad32eebe3c43bb8fa577a179cd417d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0971ae9d999640bdaeba97385f056274.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3588;&#3634;&#3604;&#3627;&#3623;&#3633;&#3591;&#3586;&#3629;&#3591;&#3619;&#3632;&#3610;&#3610;&#3629;&#3635;&#3609;&#3623;&#3618;&#3588;&#3623;&#3634;&#3617;&#3626;&#3632;&#3604;&#3623;&#3585;&#3649;&#3610;&#3610;&#3588;&#3619;&#3610;&#3623;&#3591;&#3592;&#3619;    </a> </td>
																		<td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element"> Service Request Agent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4736c88a0a374b8fa0fc487299500d84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4736c88a0a374b8fa0fc487299500d84.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0971ae9d999640bdaeba97385f056274.html" target="element"> &#3588;&#3623;&#3634;&#3617;&#3588;&#3634;&#3604;&#3627;&#3623;&#3633;&#3591;&#3586;&#3629;&#3591;&#3619;&#3632;&#3610;&#3610;&#3629;&#3635;&#3609;&#3623;&#3618;&#3588;&#3623;&#3634;&#3617;&#3626;&#3632;&#3604;&#3623;&#3585;&#3649;&#3610;&#3610;&#3588;&#3619;&#3610;&#3623;&#3591;&#3592;&#3619;    </a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4c5e112430fa4aa8bbc5b628a3891a96.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c5e112430fa4aa8bbc5b628a3891a96.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fb9d7fc6587a4fed96b2592786f9c3da.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3619;&#3633;&#3610;&#3594;&#3635;&#3619;&#3632;  &#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
																				<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d1f632e02ea44668a66c493b82babd49.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d1f632e02ea44668a66c493b82babd49.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e207de471d3c4b15941731fc939ca22e.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3609;&#3618;&#3633;&#3609;   &#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
																				<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-70546f8abefb4d7cb32a825d6b29fc6a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70546f8abefb4d7cb32a825d6b29fc6a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b37064ddda6a46268d8a855ed4b3c802.html" target="element"> Device </a> </td>
																				<td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element"> Service Request Agent </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fe44e5d6ed5847d295ceffaa894ff447.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe44e5d6ed5847d295ceffaa894ff447.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b37064ddda6a46268d8a855ed4b3c802.html" target="element"> Device </a> </td>
																				<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																			</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-6a1a99031d70488c956ab64e8cae2a23.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6a1a99031d70488c956ab64e8cae2a23.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-118ec72fce14406f89a85b35aa09f7d1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609; </a> </td>
																						<td> <a href="../elements/id-eab5a3eedff14e81b28284b5df73ca5a.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d079fdea63f749bda9b01ac3f68d97af.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d079fdea63f749bda9b01ac3f68d97af.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-118ec72fce14406f89a85b35aa09f7d1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609; </a> </td>
																						<td> <a href="../elements/id-f9c42595d24f40adab71b3d45d2d8f53.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609;   </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5bea824460794c98a22c27d55ac98efc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5bea824460794c98a22c27d55ac98efc.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-118ec72fce14406f89a85b35aa09f7d1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609; </a> </td>
																						<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-c0c2f52f83174486bb80825b3b966bf6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c0c2f52f83174486bb80825b3b966bf6.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3fd9d362ff4e44349cb329d87db83cdd.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3656;&#3591;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																						<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-2e872dfc07294fac8b87a7c484a30d29.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2e872dfc07294fac8b87a7c484a30d29.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-eab5a3eedff14e81b28284b5df73ca5a.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																						<td> <a href="../elements/id-5990bb788769453fb97eb806908c0070.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3588;&#3635;&#3586;&#3629; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b3d7046ed0624810ab5b0e60085e5b43.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b3d7046ed0624810ab5b0e60085e5b43.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-eab5a3eedff14e81b28284b5df73ca5a.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																						<td> <a href="../elements/id-e207de471d3c4b15941731fc939ca22e.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3609;&#3618;&#3633;&#3609;   &#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-fca4c544c70f48c48e0c57163b9a0c1e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-fca4c544c70f48c48e0c57163b9a0c1e.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-eab5a3eedff14e81b28284b5df73ca5a.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																						<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-bd2d8b1baae441ddb8eb78bd506d1f5e.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-bd2d8b1baae441ddb8eb78bd506d1f5e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3800d35b3d004146aab073f575f0eace.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																						<td> <a href="../elements/id-3fd9d362ff4e44349cb329d87db83cdd.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3656;&#3591;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3f231dada4c84fe193d99c781970d036.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3f231dada4c84fe193d99c781970d036.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3800d35b3d004146aab073f575f0eace.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																						<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-307bfc0af844489199228cd355b7f3cc.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-307bfc0af844489199228cd355b7f3cc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-697f9a053815437dbf848c2d570b197c.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																						<td> <a href="../elements/id-fb9d7fc6587a4fed96b2592786f9c3da.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3619;&#3633;&#3610;&#3594;&#3635;&#3619;&#3632;  &#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b3e9a28aab8f400a8eddadb622b180cd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b3e9a28aab8f400a8eddadb622b180cd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-697f9a053815437dbf848c2d570b197c.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																						<td> <a href="../elements/id-3800d35b3d004146aab073f575f0eace.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f23a1d38fd1741af9364e58765241fe3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f23a1d38fd1741af9364e58765241fe3.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-697f9a053815437dbf848c2d570b197c.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																						<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-cde2cc9f834e4b0891b84eacb32bb15c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cde2cc9f834e4b0891b84eacb32bb15c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5990bb788769453fb97eb806908c0070.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3588;&#3635;&#3586;&#3629; </a> </td>
																						<td> <a href="../elements/id-697f9a053815437dbf848c2d570b197c.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-c98fd3a0336949bfbaa6f2126827972d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c98fd3a0336949bfbaa6f2126827972d.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5990bb788769453fb97eb806908c0070.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3588;&#3635;&#3586;&#3629; </a> </td>
																						<td> <a href="../elements/id-7e61e99636e24ffcaa12b60f7d508615.html" target="element"> Web Browser </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-da044432d0e647b3919d076489b69a66.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-da044432d0e647b3919d076489b69a66.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f9c42595d24f40adab71b3d45d2d8f53.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609;   </a> </td>
																						<td> <a href="../elements/id-a70915473ea849c98c1b48216a5e5fa8.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3656;&#3591;  &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-c65f5af6c5f0489896f0ceade711c00a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-c65f5af6c5f0489896f0ceade711c00a.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-a70915473ea849c98c1b48216a5e5fa8.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3626;&#3656;&#3591;  &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																						<td> <a href="../elements/id-5990bb788769453fb97eb806908c0070.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634; &#3588;&#3635;&#3586;&#3629; </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-6048363495c342d2aae32b59a3df6450.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6048363495c342d2aae32b59a3df6450.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-96b2431d2524432da24f5feadf33ac30.html" target="element"> DoBiz Electronically Interoperable System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f1989964a38421da785c705e670c2b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f1989964a38421da785c705e670c2b9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-ee7e7574-16dd-4e59-8e13-9ed2d79ec63d.html" target="element"> Once Only </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c34f267b1ff4a858f3a46355ed09e89.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c34f267b1ff4a858f3a46355ed09e89.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-dc08121b131b4f1aaad80975f0750a48.html" target="element"> Technology Nutral Data Portability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c207d554663435f84524bf9b61224e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c207d554663435f84524bf9b61224e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-2a27549aac964ed49ae49d118852966f.html" target="element"> DoBiz Interoperability Enabling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e39f73b890a94af19819b27ce7c0d0ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e39f73b890a94af19819b27ce7c0d0ef.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0fcbd31e.html" target="element"> DoBiz Principle </a> </td>
																		<td> <a href="../elements/id-70d1c20aa53b470eba6649e9de696c9b.html" target="element"> Identifiable Interoperable Document </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>