<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH5-F3-format</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH5-F3-format</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-afb41ef5e54e4f6d926483f6bfed3fa4.png" alt="doc1-CH5-F3-format" usemap="#id-afb41ef5e54e4f6d926483f6bfed3fa4map"/>
			   <map name="id-afb41ef5e54e4f6d926483f6bfed3fa4map">
				          <area shape="rect" coords="36,10,903,43" href="../objects/id-1b352473ded148e290b7f7d99d2d45f5.html" target="element" >
				          <area shape="rect" coords="25,286,139,400" href="../objects/id-b0601bdd194d4ed28fbd6ef510ccc3c4.html" target="element" >
				          <area shape="rect" coords="10,219,157,287" href="../objects/id-5d1ce6baf4f84acbb4fabe18185455f2.html" target="element" >
				  				<area shape="rect" coords="734,250,842,275" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="420,82,528,107" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="296,82,405,107" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="180,82,288,107" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="240,274,349,394" href="../elements/id-ca04dc3623a1462483fcd47f27a995e9.html"  target="element">
				  				<area shape="rect" coords="297,106,405,226" href="../elements/id-1a4e52972294497694c9808dbfae4f04.html"  target="element">
				  				<area shape="rect" coords="662,82,771,107" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="734,277,842,397" href="../elements/id-4985014ac6db4894befcf94553ae4a21.html"  target="element">
				  				<area shape="rect" coords="616,276,724,396" href="../elements/id-cbbd5ce7f9cc44e2974945930087840c.html"  target="element">
				  				<area shape="rect" coords="180,106,288,226" href="../elements/id-7c58207ae51b4da9b1c6ad1064bfe530.html"  target="element">
				  				<area shape="rect" coords="662,106,771,226" href="../elements/id-e708d4a99b24468c8e5175b171d0c4f8.html"  target="element">
				  				<area shape="rect" coords="780,82,888,107" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="361,250,469,275" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="616,250,724,275" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="780,106,888,226" href="../elements/id-1b0158809e0b4d1ba52fb711577274f4.html"  target="element">
				  				<area shape="rect" coords="540,82,648,107" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="481,250,601,275" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  				<area shape="rect" coords="420,106,528,226" href="../elements/id-c809a032fddd4748b79373f08d96cc47.html"  target="element">
				  				<area shape="rect" coords="361,274,469,394" href="../elements/id-abfa38321fe248a5aee758544c4acc16.html"  target="element">
				  				<area shape="rect" coords="540,106,648,226" href="../elements/id-365252e686564580897f53bc36ea7258.html"  target="element">
				  				<area shape="rect" coords="481,275,601,395" href="../elements/id-66461250c9044c5eb12e38c29a567ab6.html"  target="element">
				  				<area shape="rect" coords="240,250,349,275" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">

				  		<area shape="rect" coords="168,58,903,416" href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html"  target="element">
				  		<area shape="rect" coords="24,65,133,215" href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html" target="element"> License </a> </td>
											    <td> <a href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-66461250c9044c5eb12e38c29a567ab6.html" target="element"> PDF/A-3+SIG </a> </td>
													    <td> <a href="../elements/id-66461250c9044c5eb12e38c29a567ab6.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-365252e686564580897f53bc36ea7258.html" target="element"> RDF/TTL </a> </td>
													    <td> <a href="../elements/id-365252e686564580897f53bc36ea7258.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-abfa38321fe248a5aee758544c4acc16.html" target="element"> PDF+DSIG </a> </td>
													    <td> <a href="../elements/id-abfa38321fe248a5aee758544c4acc16.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c809a032fddd4748b79373f08d96cc47.html" target="element"> RDF-JSON </a> </td>
													    <td> <a href="../elements/id-c809a032fddd4748b79373f08d96cc47.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b0158809e0b4d1ba52fb711577274f4.html" target="element"> PDF/A-3 </a> </td>
													    <td> <a href="../elements/id-1b0158809e0b4d1ba52fb711577274f4.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e708d4a99b24468c8e5175b171d0c4f8.html" target="element"> PDF </a> </td>
													    <td> <a href="../elements/id-e708d4a99b24468c8e5175b171d0c4f8.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c58207ae51b4da9b1c6ad1064bfe530.html" target="element"> Paper </a> </td>
													    <td> <a href="../elements/id-7c58207ae51b4da9b1c6ad1064bfe530.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cbbd5ce7f9cc44e2974945930087840c.html" target="element"> RDF/XML </a> </td>
													    <td> <a href="../elements/id-cbbd5ce7f9cc44e2974945930087840c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4985014ac6db4894befcf94553ae4a21.html" target="element"> VC </a> </td>
													    <td> <a href="../elements/id-4985014ac6db4894befcf94553ae4a21.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a4e52972294497694c9808dbfae4f04.html" target="element"> JSON </a> </td>
													    <td> <a href="../elements/id-1a4e52972294497694c9808dbfae4f04.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca04dc3623a1462483fcd47f27a995e9.html" target="element"> XML </a> </td>
													    <td> <a href="../elements/id-ca04dc3623a1462483fcd47f27a995e9.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
													    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-5d1ce6baf4f84acbb4fabe18185455f2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5d1ce6baf4f84acbb4fabe18185455f2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b0601bdd194d4ed28fbd6ef510ccc3c4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b0601bdd194d4ed28fbd6ef510ccc3c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1b352473ded148e290b7f7d99d2d45f5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1b352473ded148e290b7f7d99d2d45f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-85c86916d12e49e98d4d2f574947e1b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85c86916d12e49e98d4d2f574947e1b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b93632382a7542f1a98da28498f523da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b93632382a7542f1a98da28498f523da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-66461250c9044c5eb12e38c29a567ab6.html" target="element"> PDF/A-3+SIG </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04bc7f690c76410e9d5546d369700f8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04bc7f690c76410e9d5546d369700f8f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-365252e686564580897f53bc36ea7258.html" target="element"> RDF/TTL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0986c59fff0f4170b66ad03b42f0a852.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0986c59fff0f4170b66ad03b42f0a852.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-abfa38321fe248a5aee758544c4acc16.html" target="element"> PDF+DSIG </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30e4670bc98d4077a18f9b77ff7bb6b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30e4670bc98d4077a18f9b77ff7bb6b6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-c809a032fddd4748b79373f08d96cc47.html" target="element"> RDF-JSON </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2efd5ab8158d4b879e1385e233d0870f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2efd5ab8158d4b879e1385e233d0870f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb25943cf15749aa9301178f1fcdb285.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb25943cf15749aa9301178f1fcdb285.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8af5de3ada14a37b3449d73ce051b49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8af5de3ada14a37b3449d73ce051b49.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-1b0158809e0b4d1ba52fb711577274f4.html" target="element"> PDF/A-3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b71acae43fa45769a7e328acaba98af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b71acae43fa45769a7e328acaba98af.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7507ed3ebba40728a6f19a4c91ba782.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7507ed3ebba40728a6f19a4c91ba782.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-82725bb1740a4bc8bbb53f44616fc007.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82725bb1740a4bc8bbb53f44616fc007.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5e1b48b94e744f73a1b7ab5a3e44d328.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e1b48b94e744f73a1b7ab5a3e44d328.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-e708d4a99b24468c8e5175b171d0c4f8.html" target="element"> PDF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05f3ac6f3c8248159de8b727368bb1ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05f3ac6f3c8248159de8b727368bb1ee.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-7c58207ae51b4da9b1c6ad1064bfe530.html" target="element"> Paper </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb8df84127664f0fa2d7311f57876c51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb8df84127664f0fa2d7311f57876c51.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-cbbd5ce7f9cc44e2974945930087840c.html" target="element"> RDF/XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb45b640e10c4b3aadbb01a1f58862b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb45b640e10c4b3aadbb01a1f58862b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-4985014ac6db4894befcf94553ae4a21.html" target="element"> VC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc5c78969cf741bd93632f525af96556.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc5c78969cf741bd93632f525af96556.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d86454a2f8704d30b1032c906efa9964.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d86454a2f8704d30b1032c906efa9964.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-1a4e52972294497694c9808dbfae4f04.html" target="element"> JSON </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-580e43d825da430f89dbdd7fc608dd87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-580e43d825da430f89dbdd7fc608dd87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-ca04dc3623a1462483fcd47f27a995e9.html" target="element"> XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66e13437b6e74c9aa6d9bd8b57442c5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66e13437b6e74c9aa6d9bd8b57442c5e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3efd2e4c84740118ca21464285bcb9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3efd2e4c84740118ca21464285bcb9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ecf441195c04cfc90cfa3e878286cb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ecf441195c04cfc90cfa3e878286cb5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-628a5272d2a14282913c834aec955d05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-628a5272d2a14282913c834aec955d05.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>