<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH5-F7-auto</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH5-F7-auto</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a92cdecd61f644f59f0b731d1137daea.png" alt="doc1-CH5-F7-auto" usemap="#id-a92cdecd61f644f59f0b731d1137daeamap"/>
			   <map name="id-a92cdecd61f644f59f0b731d1137daeamap">
				  				        <area shape="rect" coords="1181,58,1384,87" href="../objects/id-9cc1f50691bf432383c267b0ad694b11.html" target="element" >

				  				<area shape="rect" coords="889,55,1061,104" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  				<area shape="rect" coords="889,110,1062,159" href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html"  target="element">
				  				        <area shape="rect" coords="888,283,958,339" href="../objects/id-69ffb2de34924b2f87dc9b5701c6df2b.html" target="element" >

				  				<area shape="rect" coords="886,262,963,343" href="../elements/id-d31add076d09487b899b460185c2a7f3.html"  target="element">
				  				<area shape="rect" coords="887,214,964,257" href="../elements/id-5d300362def54c16874e73ad142f9939.html"  target="element">
				  				<area shape="rect" coords="888,166,964,209" href="../elements/id-2ac055142727495ca00381bb15e7c942.html"  target="element">
				  				        <area shape="rect" coords="981,270,1040,336" href="../objects/id-f3bde4131b5c4e3d9a3f297643403607.html" target="element" >
				  						<area shape="rect" coords="981,243,1039,267" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  				        <area shape="rect" coords="980,188,1041,241" href="../objects/id-f0db5b99c5f44168b41ffe0e0a5463f7.html" target="element" >

				  				<area shape="rect" coords="971,164,1060,346" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">

				  		<area shape="rect" coords="874,26,1074,358" href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html"  target="element">
				          <area shape="rect" coords="886,399,919,431" href="../objects/id-b1832cbfbaab47249428aad6f8733cd7.html" target="element" >
				          <area shape="rect" coords="406,392,439,424" href="../objects/id-251499d3ccdf4d3c8b47fa5638bef01b.html" target="element" >
				  		        <area shape="rect" coords="502,562,559,621" href="../objects/id-c8c7400565134eecb4fb764843a9bdb8.html" target="element" >
				  		        <area shape="rect" coords="434,562,491,621" href="../objects/id-9ad84f964339409d8b00de85bb3d17e6.html" target="element" >
				  		        <area shape="rect" coords="274,514,341,585" href="../objects/id-48e0328796b644a59b5efd8f3b1c654b.html" target="element" >
				  				<area shape="rect" coords="358,508,433,557" href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html"  target="element">
				  				<area shape="rect" coords="454,508,542,557" href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html"  target="element">
				  				<area shape="rect" coords="358,478,427,498" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">

				  		<area shape="rect" coords="262,478,587,623" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				          <area shape="rect" coords="670,442,703,474" href="../objects/id-0ebedf603047449490fd9f94515ec8fa.html" target="element" >
				          <area shape="rect" coords="554,430,587,462" href="../objects/id-96a91adfc2804cc18a389d36d7938c3d.html" target="element" >
				  				        <area shape="rect" coords="433,353,503,417" href="../objects/id-5371c916a81d46e9b40d3d08667a126f.html" target="element" >

				  				<area shape="rect" coords="430,327,507,425" href="../elements/id-d31add076d09487b899b460185c2a7f3.html"  target="element">
				  				        <area shape="rect" coords="753,334,814,387" href="../objects/id-448273cb196d43728c0ee5075a0e15c1.html" target="element" >
				  				        <area shape="rect" coords="684,351,740,412" href="../objects/id-588d1e3bbbac47c582cf6e8d44ee2e07.html" target="element" >
				  						<area shape="rect" coords="751,388,817,412" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">

				  				<area shape="rect" coords="675,315,823,425" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  				<area shape="rect" coords="595,327,668,425" href="../elements/id-5d300362def54c16874e73ad142f9939.html"  target="element">
				  				<area shape="rect" coords="516,327,588,425" href="../elements/id-2ac055142727495ca00381bb15e7c942.html"  target="element">

				  		<area shape="rect" coords="418,303,851,443" href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html"  target="element">
				  				        <area shape="rect" coords="260,360,330,417" href="../objects/id-bebe504cc3b64947a40347d4c5cb7c9d.html" target="element" >

				  				<area shape="rect" coords="245,337,342,426" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="39,363,93,419" href="../objects/id-55cff9b2613342ffba9eb84abae7f801.html" target="element" >

				  				<area shape="rect" coords="20,337,112,423" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="147,363,201,419" href="../objects/id-cafeeebb9e864a9995ff1860fc98833c.html" target="element" >

				  				<area shape="rect" coords="126,337,220,423" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  		        <area shape="rect" coords="75,421,278,450" href="../objects/id-e699c388416b4b3a89cdafcbbaf7e7d7.html" target="element" >

				  		<area shape="rect" coords="10,326,359,455" href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html"  target="element">
				  				        <area shape="rect" coords="313,38,516,67" href="../objects/id-65b7b2f5fb1141da9adf48d403e32223.html" target="element" >
				  				        <area shape="rect" coords="541,69,602,125" href="../objects/id-89d42a7e9c464ecb90a190aa278f24e2.html" target="element" >
				  				        <area shape="rect" coords="637,69,698,125" href="../objects/id-8153d0e58dfc477299cb0bbafd7e91a8.html" target="element" >
				  				        <area shape="rect" coords="157,69,218,125" href="../objects/id-373acc671d3a46f39f0a42ca530bd2be.html" target="element" >
				  				        <area shape="rect" coords="730,126,791,155" href="../objects/id-5ab3a86bcfb8449ab08d4dd2b781f192.html" target="element" >
				  				        <area shape="rect" coords="149,126,238,155" href="../objects/id-5ef2deb049454fd4aa62cc6e76f430af.html" target="element" >
				  				        <area shape="rect" coords="244,126,333,155" href="../objects/id-0b3d9e6eb7c041b19baae229d8ad96d3.html" target="element" >
				  				        <area shape="rect" coords="438,126,527,155" href="../objects/id-36b2e5510a3f4db891a5f67ea0ec99e0.html" target="element" >
				  				        <area shape="rect" coords="619,126,723,155" href="../objects/id-624990e2b0b04763a9915bd6c10742e3.html" target="element" >
				  				        <area shape="rect" coords="357,69,418,125" href="../objects/id-df362fe1fc224ea6be2d13056d0be937.html" target="element" >
				  				        <area shape="rect" coords="339,126,428,155" href="../objects/id-7486c10a3a974b5da8b2b939e770ac8c.html" target="element" >
				  				        <area shape="rect" coords="457,69,518,125" href="../objects/id-8d0843f2f47a4d37a85e42d9517fa617.html" target="element" >
				  				        <area shape="rect" coords="36,126,133,155" href="../objects/id-3257750894524b609b4b647e949c071a.html" target="element" >
				  				        <area shape="rect" coords="55,69,116,125" href="../objects/id-3043e60eaa054ef2b591df6aa2822b46.html" target="element" >
				  				        <area shape="rect" coords="260,69,321,125" href="../objects/id-ebe7223e2d0f4d09847d428eaafa733d.html" target="element" >
				  				        <area shape="rect" coords="733,69,794,125" href="../objects/id-f688bf76b31e4751af68abb7102762ff.html" target="element" >
				  				        <area shape="rect" coords="534,126,614,155" href="../objects/id-87d62bbcba6e41efa6aefd2e4f5b7227.html" target="element" >

				  				<area shape="rect" coords="21,35,824,161" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  				        <area shape="rect" coords="543,211,604,275" href="../objects/id-387380c692e2449aa1230774c9f0d2f6.html" target="element" >
				  				        <area shape="rect" coords="639,211,700,273" href="../objects/id-077553f213184e238e377e4fdd3b4337.html" target="element" >
				  				        <area shape="rect" coords="159,211,220,274" href="../objects/id-59d1bec1998844d793a39c2a9f2be78d.html" target="element" >
				  				        <area shape="rect" coords="732,268,793,297" href="../objects/id-0de35bb348144ac2910c43acfee8f585.html" target="element" >
				  				        <area shape="rect" coords="151,268,240,297" href="../objects/id-215949dbe1e54c908f9f6990277bbd75.html" target="element" >
				  				        <area shape="rect" coords="246,268,335,297" href="../objects/id-1d0c30283f0747fa8bd6154e99600ea9.html" target="element" >
				  				        <area shape="rect" coords="440,268,529,297" href="../objects/id-b2379bb67916436b87a20f355ee554f7.html" target="element" >
				  				        <area shape="rect" coords="621,268,725,297" href="../objects/id-aedbf94e0e824203b796db3d09a668bc.html" target="element" >
				  				        <area shape="rect" coords="359,211,420,267" href="../objects/id-bb10c83cc60743a092c2b8b3ebe10c05.html" target="element" >
				  				        <area shape="rect" coords="341,268,430,297" href="../objects/id-244b0fda38464409993a58368654ac60.html" target="element" >
				  				        <area shape="rect" coords="459,211,520,267" href="../objects/id-5883d90bb24f4943ad3e98a02e53030c.html" target="element" >
				  				        <area shape="rect" coords="38,268,135,297" href="../objects/id-61d6a05b673d47819ea41b99e90ad85a.html" target="element" >
				  				        <area shape="rect" coords="57,211,118,267" href="../objects/id-b2c1e51ee55d44b4b72f9ff749f4a173.html" target="element" >
				  				        <area shape="rect" coords="262,211,323,267" href="../objects/id-7d3308baeba248e9ac12ff65bb42b813.html" target="element" >
				  				        <area shape="rect" coords="735,211,796,272" href="../objects/id-771452d498084c218d0714e17e7124f8.html" target="element" >
				  				        <area shape="rect" coords="536,268,616,297" href="../objects/id-965a70b6c5b14d60a545d0345ff4aac5.html" target="element" >
				  				        <area shape="rect" coords="314,182,545,211" href="../objects/id-91a01bea33064fa5a7477f8499149fb4.html" target="element" >

				  				<area shape="rect" coords="20,180,823,301" href="../elements/id-95b6420343404cf2b5e6019114d46234.html"  target="element">

				  		<area shape="rect" coords="10,10,851,317" href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
													    <td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-91a01bea33064fa5a7477f8499149fb4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-91a01bea33064fa5a7477f8499149fb4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-965a70b6c5b14d60a545d0345ff4aac5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-965a70b6c5b14d60a545d0345ff4aac5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-771452d498084c218d0714e17e7124f8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-771452d498084c218d0714e17e7124f8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7d3308baeba248e9ac12ff65bb42b813.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7d3308baeba248e9ac12ff65bb42b813.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b2c1e51ee55d44b4b72f9ff749f4a173.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b2c1e51ee55d44b4b72f9ff749f4a173.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-61d6a05b673d47819ea41b99e90ad85a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-61d6a05b673d47819ea41b99e90ad85a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5883d90bb24f4943ad3e98a02e53030c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5883d90bb24f4943ad3e98a02e53030c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-244b0fda38464409993a58368654ac60.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-244b0fda38464409993a58368654ac60.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-bb10c83cc60743a092c2b8b3ebe10c05.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-bb10c83cc60743a092c2b8b3ebe10c05.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-aedbf94e0e824203b796db3d09a668bc.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-aedbf94e0e824203b796db3d09a668bc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b2379bb67916436b87a20f355ee554f7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b2379bb67916436b87a20f355ee554f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1d0c30283f0747fa8bd6154e99600ea9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1d0c30283f0747fa8bd6154e99600ea9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-215949dbe1e54c908f9f6990277bbd75.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-215949dbe1e54c908f9f6990277bbd75.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0de35bb348144ac2910c43acfee8f585.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0de35bb348144ac2910c43acfee8f585.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-59d1bec1998844d793a39c2a9f2be78d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-59d1bec1998844d793a39c2a9f2be78d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-077553f213184e238e377e4fdd3b4337.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-077553f213184e238e377e4fdd3b4337.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-387380c692e2449aa1230774c9f0d2f6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-387380c692e2449aa1230774c9f0d2f6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-87d62bbcba6e41efa6aefd2e4f5b7227.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-87d62bbcba6e41efa6aefd2e4f5b7227.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f688bf76b31e4751af68abb7102762ff.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f688bf76b31e4751af68abb7102762ff.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ebe7223e2d0f4d09847d428eaafa733d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ebe7223e2d0f4d09847d428eaafa733d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-3043e60eaa054ef2b591df6aa2822b46.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3043e60eaa054ef2b591df6aa2822b46.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-3257750894524b609b4b647e949c071a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3257750894524b609b4b647e949c071a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8d0843f2f47a4d37a85e42d9517fa617.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8d0843f2f47a4d37a85e42d9517fa617.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7486c10a3a974b5da8b2b939e770ac8c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7486c10a3a974b5da8b2b939e770ac8c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-df362fe1fc224ea6be2d13056d0be937.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-df362fe1fc224ea6be2d13056d0be937.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-624990e2b0b04763a9915bd6c10742e3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-624990e2b0b04763a9915bd6c10742e3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-36b2e5510a3f4db891a5f67ea0ec99e0.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-36b2e5510a3f4db891a5f67ea0ec99e0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0b3d9e6eb7c041b19baae229d8ad96d3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0b3d9e6eb7c041b19baae229d8ad96d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5ef2deb049454fd4aa62cc6e76f430af.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5ef2deb049454fd4aa62cc6e76f430af.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5ab3a86bcfb8449ab08d4dd2b781f192.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5ab3a86bcfb8449ab08d4dd2b781f192.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-373acc671d3a46f39f0a42ca530bd2be.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-373acc671d3a46f39f0a42ca530bd2be.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8153d0e58dfc477299cb0bbafd7e91a8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8153d0e58dfc477299cb0bbafd7e91a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-89d42a7e9c464ecb90a190aa278f24e2.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-89d42a7e9c464ecb90a190aa278f24e2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-65b7b2f5fb1141da9adf48d403e32223.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-65b7b2f5fb1141da9adf48d403e32223.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e699c388416b4b3a89cdafcbbaf7e7d7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e699c388416b4b3a89cdafcbbaf7e7d7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-cafeeebb9e864a9995ff1860fc98833c.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cafeeebb9e864a9995ff1860fc98833c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-55cff9b2613342ffba9eb84abae7f801.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-55cff9b2613342ffba9eb84abae7f801.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-bebe504cc3b64947a40347d4c5cb7c9d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-bebe504cc3b64947a40347d4c5cb7c9d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-588d1e3bbbac47c582cf6e8d44ee2e07.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-588d1e3bbbac47c582cf6e8d44ee2e07.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-448273cb196d43728c0ee5075a0e15c1.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-448273cb196d43728c0ee5075a0e15c1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5371c916a81d46e9b40d3d08667a126f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5371c916a81d46e9b40d3d08667a126f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-96a91adfc2804cc18a389d36d7938c3d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-96a91adfc2804cc18a389d36d7938c3d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0ebedf603047449490fd9f94515ec8fa.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0ebedf603047449490fd9f94515ec8fa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-48e0328796b644a59b5efd8f3b1c654b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-48e0328796b644a59b5efd8f3b1c654b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9ad84f964339409d8b00de85bb3d17e6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9ad84f964339409d8b00de85bb3d17e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c8c7400565134eecb4fb764843a9bdb8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c8c7400565134eecb4fb764843a9bdb8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-251499d3ccdf4d3c8b47fa5638bef01b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-251499d3ccdf4d3c8b47fa5638bef01b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b1832cbfbaab47249428aad6f8733cd7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b1832cbfbaab47249428aad6f8733cd7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-f0db5b99c5f44168b41ffe0e0a5463f7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f0db5b99c5f44168b41ffe0e0a5463f7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-f3bde4131b5c4e3d9a3f297643403607.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f3bde4131b5c4e3d9a3f297643403607.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-69ffb2de34924b2f87dc9b5701c6df2b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-69ffb2de34924b2f87dc9b5701c6df2b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; </a> </td>
													    <td> <a href="../elements/id-1acbf88c886d4bf3b4a1f8f1dac4e880.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9cc1f50691bf432383c267b0ad694b11.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9cc1f50691bf432383c267b0ad694b11.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-297f4ab87256450cb6a2c6dee790bc87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-297f4ab87256450cb6a2c6dee790bc87.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-24cd11d396074bb0bde31f36c546a525.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24cd11d396074bb0bde31f36c546a525.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c18c9a61d3fb41dfa98c15767f20f26d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c18c9a61d3fb41dfa98c15767f20f26d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e5b2b78b9a41460c8540daf191d7b333.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5b2b78b9a41460c8540daf191d7b333.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95b6420343404cf2b5e6019114d46234.html" target="element"> Application Service (copy) </a> </td>
																				<td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																	<tr>
																		<td> <a href="../elements/id-0fbb8442440d41f9bebe45050514ea8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fbb8442440d41f9bebe45050514ea8e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8f7b472d675849858b25bb4d4f3cde17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																			<tr>
																				<td> <a href="../elements/id-398e37003d0c4ea89d547ac6464a572a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-398e37003d0c4ea89d547ac6464a572a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f267ac4d4a354facb24f5288f4fa8e61.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f267ac4d4a354facb24f5288f4fa8e61.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-3b1dc81961fe4b1796008c4433797352.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3b1dc81961fe4b1796008c4433797352.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d31add076d09487b899b460185c2a7f3.html" target="element"> Catalog </a> </td>
																				<td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-0a74e3f397b44fce8ceeaa328674d19f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a74e3f397b44fce8ceeaa328674d19f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3788f25d0cd14db38471243f3e01b653.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3788f25d0cd14db38471243f3e01b653.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e4fd45084c094d8a9746280b6a14c978.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-037571bd8923489e9d0e4d575eda65c1.html" target="element">  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>