<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig11-Find-Lic1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig11-Find-Lic1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b4eafcd4378f4e53ab0f53e7bf0a6aba.png" alt="Fig11-Find-Lic1" usemap="#id-b4eafcd4378f4e53ab0f53e7bf0a6abamap"/>
			   <map name="id-b4eafcd4378f4e53ab0f53e7bf0a6abamap">
				          <area shape="rect" coords="634,303,667,335" href="../objects/id-0c4bdef483694f44b78966f532cfe0c5.html" target="element" >
				          <area shape="rect" coords="686,153,719,185" href="../objects/id-c38995b65f23476196c871cdd532518e.html" target="element" >
				          <area shape="rect" coords="502,153,535,185" href="../objects/id-cec9b66cbf1d41ff9a841df71f705b6e.html" target="element" >
				          <area shape="rect" coords="316,145,349,177" href="../objects/id-ccb02c90bb0b468f9df25c8f41d59705.html" target="element" >
				  		<area shape="rect" coords="190,172,310,293" href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html"  target="element">
				          <area shape="rect" coords="718,346,959,407" href="../objects/id-4165c4e8f3724864a9f1f1879102af49.html" target="element" >
				          <area shape="rect" coords="154,334,407,432" href="../objects/id-19fc918c8da74664ba87cd70155919e4.html" target="element" >
				  		<area shape="rect" coords="526,322,635,431" href="../elements/id-0c50ffd28a49490496fd0b93d2dcbeeb.html"  target="element">
				  		<area shape="rect" coords="526,298,635,323" href="../elements/id-c82b82a6bd4a411ba4470a58af3d281e.html"  target="element">
				  		<area shape="rect" coords="556,10,676,132" href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html"  target="element">
				  		<area shape="rect" coords="190,148,310,173" href="../elements/id-a742256618d04b3ea51ccc5e2254f2ad.html"  target="element">
				  		<area shape="rect" coords="382,148,503,173" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  		<area shape="rect" coords="382,172,503,293" href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html"  target="element">
				  		<area shape="rect" coords="646,184,741,281" href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html"  target="element">
				  				<area shape="rect" coords="742,196,860,317" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">

				  		<area shape="rect" coords="742,148,983,317" href="../elements/id-76ec01fd324745999cf771f82d764fef.html"  target="element">
				  		<area shape="rect" coords="10,172,131,293" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element"> Org type 1 </a> </td>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
											    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a742256618d04b3ea51ccc5e2254f2ad.html" target="element"> License 1: &#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-a742256618d04b3ea51ccc5e2254f2ad.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html" target="element"> IRI </a> </td>
											    <td> <a href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c82b82a6bd4a411ba4470a58af3d281e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-c82b82a6bd4a411ba4470a58af3d281e.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0c50ffd28a49490496fd0b93d2dcbeeb.html" target="element"> License 1 (copy) </a> </td>
											    <td> <a href="../elements/id-0c50ffd28a49490496fd0b93d2dcbeeb.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-19fc918c8da74664ba87cd70155919e4.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-19fc918c8da74664ba87cd70155919e4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4165c4e8f3724864a9f1f1879102af49.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4165c4e8f3724864a9f1f1879102af49.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
											    <td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ccb02c90bb0b468f9df25c8f41d59705.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ccb02c90bb0b468f9df25c8f41d59705.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cec9b66cbf1d41ff9a841df71f705b6e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cec9b66cbf1d41ff9a841df71f705b6e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c38995b65f23476196c871cdd532518e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c38995b65f23476196c871cdd532518e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0c4bdef483694f44b78966f532cfe0c5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0c4bdef483694f44b78966f532cfe0c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-336e7502a249402989c73340bfa2ce46.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-dbd9b626770947599eead759e9e41277.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-dbd9b626770947599eead759e9e41277.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d2650a28be004bdb8e04421f756a9055.html" target="element"> is IRI </a> </td>
																		<td> <a href="../elements/id-d2650a28be004bdb8e04421f756a9055.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html" target="element"> IRI </a> </td>
																		<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f919a6eb5c124fe9b4ebd6f448249226.html" target="element"> is IRI </a> </td>
																		<td> <a href="../elements/id-f919a6eb5c124fe9b4ebd6f448249226.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f340618a2e01479ea8eb04c2b3b6beba.html" target="element"> IRI </a> </td>
																		<td> <a href="../elements/id-c82b82a6bd4a411ba4470a58af3d281e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d145237f87c94c54b9f4824d55ccce73.html" target="element"> sent </a> </td>
																		<td> <a href="../elements/id-d145237f87c94c54b9f4824d55ccce73.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0c50ffd28a49490496fd0b93d2dcbeeb.html" target="element"> License 1 (copy) </a> </td>
																		<td> <a href="../elements/id-dbd9b626770947599eead759e9e41277.html" target="element"> DoBiz.Std </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b35074badb05459cb64a5d399e9d29d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b35074badb05459cb64a5d399e9d29d7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a0c8a1c8159463fa4540fc6802839dc.html" target="element"> Device </a> </td>
																		<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>