<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Application Component and Solutions</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Application Component and Solutions</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bf7acedc6c254baab85eb658209a86a9.png" alt="Application Component and Solutions" usemap="#id-bf7acedc6c254baab85eb658209a86a9map"/>
			   <map name="id-bf7acedc6c254baab85eb658209a86a9map">
				  		<area shape="rect" coords="160,10,292,65" href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html"  target="element">
				  		<area shape="rect" coords="520,298,640,353" href="../elements/id-e53f46a6f10043b88eb304bfc3b29a64.html"  target="element">
				  		<area shape="rect" coords="352,298,472,353" href="../elements/id-4c85f7665b2443bc81adef3418dab124.html"  target="element">
				  		<area shape="rect" coords="198,298,318,353" href="../elements/id-c05619f69b5b41888b8ab71eb0279422.html"  target="element">
				  		<area shape="rect" coords="334,178,454,233" href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html"  target="element">
				  		<area shape="rect" coords="166,178,286,233" href="../elements/id-4a764e7570794acfa292fb75aa5c5fd4.html"  target="element">
				  		<area shape="rect" coords="10,178,130,233" href="../elements/id-df2aced0ba1b4160b82df670154c81ce.html"  target="element">
				  		<area shape="rect" coords="166,94,286,149" href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
											    <td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df2aced0ba1b4160b82df670154c81ce.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3619;&#3633;&#3610;&#3592;&#3604;&#3649;&#3592;&#3657;&#3591; </a> </td>
											    <td> <a href="../elements/id-df2aced0ba1b4160b82df670154c81ce.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4a764e7570794acfa292fb75aa5c5fd4.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3586;&#3638;&#3657;&#3609;&#3607;&#3632;&#3648;&#3610;&#3637;&#3618;&#3609; </a> </td>
											    <td> <a href="../elements/id-4a764e7570794acfa292fb75aa5c5fd4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
											    <td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c05619f69b5b41888b8ab71eb0279422.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #1 </a> </td>
											    <td> <a href="../elements/id-c05619f69b5b41888b8ab71eb0279422.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c85f7665b2443bc81adef3418dab124.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #2 </a> </td>
											    <td> <a href="../elements/id-4c85f7665b2443bc81adef3418dab124.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e53f46a6f10043b88eb304bfc3b29a64.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #3 </a> </td>
											    <td> <a href="../elements/id-e53f46a6f10043b88eb304bfc3b29a64.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;   </a> </td>
											    <td> <a href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9f5bdfa6f89b404b87069410a2283ba8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f5bdfa6f89b404b87069410a2283ba8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																		<td> <a href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;   </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-70469b92800b404ebbf7335fed1fd516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70469b92800b404ebbf7335fed1fd516.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df2aced0ba1b4160b82df670154c81ce.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3619;&#3633;&#3610;&#3592;&#3604;&#3649;&#3592;&#3657;&#3591; </a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e913fa715dd44a5d8e391c7e0caa2dc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e913fa715dd44a5d8e391c7e0caa2dc7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4a764e7570794acfa292fb75aa5c5fd4.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3586;&#3638;&#3657;&#3609;&#3607;&#3632;&#3648;&#3610;&#3637;&#3618;&#3609; </a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c135e651ee244fb2afdf8581761d2e74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c135e651ee244fb2afdf8581761d2e74.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c280cfcb7b2f49a098b934bf266e9294.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c280cfcb7b2f49a098b934bf266e9294.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c05619f69b5b41888b8ab71eb0279422.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #1 </a> </td>
																		<td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c1c47435739f47b8af72903237512e07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1c47435739f47b8af72903237512e07.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4c85f7665b2443bc81adef3418dab124.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #2 </a> </td>
																		<td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-690a5769b5b34434ad3ab80137a54577.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-690a5769b5b34434ad3ab80137a54577.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e53f46a6f10043b88eb304bfc3b29a64.html" target="element"> &#3612;&#3621;&#3636;&#3605;&#3616;&#3633;&#3603;&#3601;&#3660; &#3595;&#3629;&#3615;&#3605;&#3660;&#3649;&#3623;&#3619;&#3660; &#3650;&#3595;&#3621;&#3641;&#3594;&#3633;&#3656;&#3609; #3 </a> </td>
																		<td> <a href="../elements/id-9b44ffb8ade8408ea3132dea08783084.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3629;&#3629;&#3585;&#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605; </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>