<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IID-9-adv-fm</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IID-9-adv-fm</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-be31b1da8b7746cbbc6c33937175f11d.png" alt="IID-9-adv-fm" usemap="#id-be31b1da8b7746cbbc6c33937175f11dmap"/>
			   <map name="id-be31b1da8b7746cbbc6c33937175f11dmap">
				  		<area shape="rect" coords="22,178,131,311" href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html"  target="element">
				  		<area shape="rect" coords="478,358,590,491" href="../elements/id-701ff5de59cb4343ba1db8a7d06c8468.html"  target="element">
				  		<area shape="rect" coords="814,382,926,515" href="../elements/id-e30583759e7543349209705b5adc2a59.html"  target="element">
				  		<area shape="rect" coords="334,358,443,491" href="../elements/id-5ac0b67ad88540bea08eaac8301ca83a.html"  target="element">
				  		<area shape="rect" coords="10,346,119,479" href="../elements/id-8ae7f548f63d4cf79c3844568764c329.html"  target="element">
				  		<area shape="rect" coords="670,370,779,503" href="../elements/id-3807d5889fb44b4392b860c8e78e0db8.html"  target="element">
				  		<area shape="rect" coords="658,190,767,323" href="../elements/id-23d075836e7d406a90b8cc1eec9f432e.html"  target="element">
				  		<area shape="rect" coords="491,190,600,323" href="../elements/id-8f5536f6baf54497a84cffbc75c7082c.html"  target="element">
				  		<area shape="rect" coords="174,370,284,503" href="../elements/id-dfaa03e4eee44c488cac742306b716c3.html"  target="element">
				  		<area shape="rect" coords="340,190,455,323" href="../elements/id-0de1cb3ab21143abae1e711408cc6db7.html"  target="element">
				  		<area shape="rect" coords="802,202,914,335" href="../elements/id-f826746b0ab64feab8de9b26067df870.html"  target="element">
				  		<area shape="rect" coords="171,190,286,323" href="../elements/id-ee5e91e4c47a4a3bad5d6964cbd85869.html"  target="element">
				  		<area shape="rect" coords="575,10,683,130" href="../elements/id-18efcbb4581f4041a7156dfc4b7c9385.html"  target="element">
				  		<area shape="rect" coords="707,10,815,130" href="../elements/id-abfa38321fe248a5aee758544c4acc16.html"  target="element">
				  		<area shape="rect" coords="22,10,118,130" href="../elements/id-9dc93a5fa407442bb7a54d79eb70d837.html"  target="element">
				  		<area shape="rect" coords="435,10,531,130" href="../elements/id-ab5f4db1fbf1477ba824efc747f0ebde.html"  target="element">
				  		<area shape="rect" coords="159,10,255,130" href="../elements/id-b4446bae4f5b4c3a813436cfb75a937e.html"  target="element">
				  		<area shape="rect" coords="297,10,393,130" href="../elements/id-ca04dc3623a1462483fcd47f27a995e9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ca04dc3623a1462483fcd47f27a995e9.html" target="element"> XML </a> </td>
											    <td> <a href="../elements/id-ca04dc3623a1462483fcd47f27a995e9.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b4446bae4f5b4c3a813436cfb75a937e.html" target="element"> License A </a> </td>
											    <td> <a href="../elements/id-b4446bae4f5b4c3a813436cfb75a937e.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ab5f4db1fbf1477ba824efc747f0ebde.html" target="element"> License B </a> </td>
											    <td> <a href="../elements/id-ab5f4db1fbf1477ba824efc747f0ebde.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9dc93a5fa407442bb7a54d79eb70d837.html" target="element"> License C </a> </td>
											    <td> <a href="../elements/id-9dc93a5fa407442bb7a54d79eb70d837.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-abfa38321fe248a5aee758544c4acc16.html" target="element"> PDF+DSIG </a> </td>
											    <td> <a href="../elements/id-abfa38321fe248a5aee758544c4acc16.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18efcbb4581f4041a7156dfc4b7c9385.html" target="element"> PDF+DSIG (copy) </a> </td>
											    <td> <a href="../elements/id-18efcbb4581f4041a7156dfc4b7c9385.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee5e91e4c47a4a3bad5d6964cbd85869.html" target="element"> paper-based </a> </td>
											    <td> <a href="../elements/id-ee5e91e4c47a4a3bad5d6964cbd85869.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f826746b0ab64feab8de9b26067df870.html" target="element"> XML </a> </td>
											    <td> <a href="../elements/id-f826746b0ab64feab8de9b26067df870.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0de1cb3ab21143abae1e711408cc6db7.html" target="element"> PDF </a> </td>
											    <td> <a href="../elements/id-0de1cb3ab21143abae1e711408cc6db7.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfaa03e4eee44c488cac742306b716c3.html" target="element"> PDF+DSIG </a> </td>
											    <td> <a href="../elements/id-dfaa03e4eee44c488cac742306b716c3.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f5536f6baf54497a84cffbc75c7082c.html" target="element"> PDF/A-3 </a> </td>
											    <td> <a href="../elements/id-8f5536f6baf54497a84cffbc75c7082c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23d075836e7d406a90b8cc1eec9f432e.html" target="element"> PDF/A-3+DSIG </a> </td>
											    <td> <a href="../elements/id-23d075836e7d406a90b8cc1eec9f432e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3807d5889fb44b4392b860c8e78e0db8.html" target="element"> RDF/JSON-LD </a> </td>
											    <td> <a href="../elements/id-3807d5889fb44b4392b860c8e78e0db8.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ae7f548f63d4cf79c3844568764c329.html" target="element"> RDF/TTL </a> </td>
											    <td> <a href="../elements/id-8ae7f548f63d4cf79c3844568764c329.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ac0b67ad88540bea08eaac8301ca83a.html" target="element"> RDF/XML </a> </td>
											    <td> <a href="../elements/id-5ac0b67ad88540bea08eaac8301ca83a.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e30583759e7543349209705b5adc2a59.html" target="element"> JSON </a> </td>
											    <td> <a href="../elements/id-e30583759e7543349209705b5adc2a59.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-701ff5de59cb4343ba1db8a7d06c8468.html" target="element"> VC </a> </td>
											    <td> <a href="../elements/id-701ff5de59cb4343ba1db8a7d06c8468.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html" target="element"> License </a> </td>
											    <td> <a href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>