<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig06-ToBe4-ServーL2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig06-ToBe4-Serv&#12540;L2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b5d688e4472642a69735557007be2f55.png" alt="Fig06-ToBe4-ServーL2" usemap="#id-b5d688e4472642a69735557007be2f55map"/>
			   <map name="id-b5d688e4472642a69735557007be2f55map">
				          <area shape="rect" coords="300,157,333,189" href="../objects/id-cf71821901e54d748c62402d97bb6877.html" target="element" >
				          <area shape="rect" coords="368,320,401,352" href="../objects/id-d537323786d042038b1e6ef80ea66e14.html" target="element" >
				          <area shape="rect" coords="212,266,245,298" href="../objects/id-9b9c849f0c0f46cd8c38bba31504919f.html" target="element" >
				          <area shape="rect" coords="19,394,152,527" href="../objects/id-fbd90beb6fab425d99dad33750032752.html" target="element" >
				  		<area shape="rect" coords="180,22,289,47" href="../elements/id-1feeebe2c2fc4e31bc904973c8e93bb1.html"  target="element">
				  		<area shape="rect" coords="180,46,289,167" href="../elements/id-60e145c3b1da42f6801581129c1c4503.html"  target="element">
				  		<area shape="rect" coords="322,22,431,47" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  		<area shape="rect" coords="322,46,431,167" href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html"  target="element">
				  		<area shape="rect" coords="34,550,152,671" href="../elements/id-6550a94cca9041209501940e08e6e9db.html"  target="element">
				  		<area shape="rect" coords="538,562,659,683" href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html"  target="element">
				  				<area shape="rect" coords="358,550,479,671" href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html"  target="element">
				  				<area shape="rect" coords="214,550,335,671" href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html"  target="element">

				  		<area shape="rect" coords="190,526,491,683" href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html"  target="element">
				  		<area shape="rect" coords="180,310,275,407" href="../elements/id-549edf70a2804096a45b38b0070547e4.html"  target="element">
				  		<area shape="rect" coords="70,256,191,377" href="../elements/id-cd6046ca6af942ddb7703b5254446368.html"  target="element">
				  		<area shape="rect" coords="574,286,669,383" href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html"  target="element">
				  		<area shape="rect" coords="466,154,561,251" href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html"  target="element">
				  		<area shape="rect" coords="874,46,995,167" href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html"  target="element">
				  				<area shape="rect" coords="646,418,755,537" href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html"  target="element">

				  		<area shape="rect" coords="634,394,863,551" href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html"  target="element">
				  				<area shape="rect" coords="646,226,767,347" href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html"  target="element">

				  		<area shape="rect" coords="634,202,875,359" href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html"  target="element">
				  				<area shape="rect" coords="526,58,644,179" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">

				  		<area shape="rect" coords="526,10,767,179" href="../elements/id-76ec01fd324745999cf771f82d764fef.html"  target="element">
				  		<area shape="rect" coords="10,130,131,251" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element"> Org type 1 </a> </td>
											    <td> <a href="../elements/id-76ec01fd324745999cf771f82d764fef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
													    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element"> Org type 2 </a> </td>
											    <td> <a href="../elements/id-0310676e35cc46df8d29f317ed87fd57.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
													    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element"> Org type 3 </a> </td>
											    <td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
													    <td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element"> Other org </a> </td>
											    <td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cd6046ca6af942ddb7703b5254446368.html" target="element"> Biz API users </a> </td>
											    <td> <a href="../elements/id-cd6046ca6af942ddb7703b5254446368.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-549edf70a2804096a45b38b0070547e4.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-549edf70a2804096a45b38b0070547e4.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
											    <td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
													    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
													    <td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
											    <td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
											    <td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
											    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-60e145c3b1da42f6801581129c1c4503.html" target="element"> App form </a> </td>
											    <td> <a href="../elements/id-60e145c3b1da42f6801581129c1c4503.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1feeebe2c2fc4e31bc904973c8e93bb1.html" target="element"> org4:F/00012 </a> </td>
											    <td> <a href="../elements/id-1feeebe2c2fc4e31bc904973c8e93bb1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fbd90beb6fab425d99dad33750032752.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fbd90beb6fab425d99dad33750032752.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9b9c849f0c0f46cd8c38bba31504919f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-9b9c849f0c0f46cd8c38bba31504919f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d537323786d042038b1e6ef80ea66e14.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d537323786d042038b1e6ef80ea66e14.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cf71821901e54d748c62402d97bb6877.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cf71821901e54d748c62402d97bb6877.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/id-c5072897d2ac4ef59412397119e23a20.html" target="element"> connect </a> </td>
																				<td> <a href="../elements/id-c5072897d2ac4ef59412397119e23a20.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
																				<td> <a href="../elements/id-4dae6b522a8140bd852e1433e363a3af.html" target="element"> Other org </a> </td>
																			</tr>

											
											
																	<tr>
																		<td> <a href="../elements/id-197597e34e8d4220b5d6e36dcca77616.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-197597e34e8d4220b5d6e36dcca77616.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cae888db2d6940ef9a7d81a9cf7131fb.html" target="element"> Org type 3 </a> </td>
																		<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d88f1c44162a4d2890d4ef3790d1d8b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d88f1c44162a4d2890d4ef3790d1d8b0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2879dd81172d4857b50c546ef9e740d4.html" target="element"> Officer </a> </td>
																				<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-76c96f483afa48578a57a79b0ed270fa.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-76c96f483afa48578a57a79b0ed270fa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a38f3992d3774284b08aabb1f4670ae9.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-a38f3992d3774284b08aabb1f4670ae9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-549edf70a2804096a45b38b0070547e4.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5d6fe147a7e4afd83dc503d6a1c2f18.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5d6fe147a7e4afd83dc503d6a1c2f18.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-549edf70a2804096a45b38b0070547e4.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-484e0848f64e4033b34304cb4b6c9496.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-484e0848f64e4033b34304cb4b6c9496.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-549edf70a2804096a45b38b0070547e4.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96e1cba01b82458695134276afe9ba19.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-484b87bea26c4d7cb0502635e222eb7d.html" target="element"> DGA DoBizSuite </a> </td>
																		<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9728f5443f44959932cc4704fc9af4a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-6550a94cca9041209501940e08e6e9db.html" target="element"> Interoperability Governance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48c965143d7c48f3863399249b03ca2d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																				<td> <a href="../elements/id-47731c73c8d441aa9ecb561fbe87b1c0.html" target="element"> Interoperablity Support </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-dbd9b626770947599eead759e9e41277.html" target="element"> DoBiz.Std </a> </td>
																				<td> <a href="../elements/id-dbd9b626770947599eead759e9e41277.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																				<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b2d0ae05c8754703bd8e042433419bd0.html" target="element"> DoBiz.Std </a> </td>
																				<td> <a href="../elements/id-b2d0ae05c8754703bd8e042433419bd0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-01746cd8baf948f2a19b0e5b7aed4341.html" target="element"> DoBiz-Portal </a> </td>
																				<td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f314f392b30d4eadaa1257ac27fd921a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f314f392b30d4eadaa1257ac27fd921a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																		<td> <a href="../elements/id-e5d6fe147a7e4afd83dc503d6a1c2f18.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-95116e082a42454797eaf74fde2c996c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95116e082a42454797eaf74fde2c996c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-60e145c3b1da42f6801581129c1c4503.html" target="element"> App form </a> </td>
																		<td> <a href="../elements/id-a38f3992d3774284b08aabb1f4670ae9.html" target="element"> DoBiz.Std </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>