<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>dga-order-label</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>dga-order-label</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cc1cde9112344621a3a7595a30f236d1.png" alt="dga-order-label" usemap="#id-cc1cde9112344621a3a7595a30f236d1map"/>
			   <map name="id-cc1cde9112344621a3a7595a30f236d1map">
				          <area shape="rect" coords="406,70,439,102" href="../objects/id-62389d15adaf4ab7a0da81b12972cc66.html" target="element" >
				          <area shape="rect" coords="358,70,391,102" href="../objects/id-7ca9a0803f79400ab2b94ac36b835430.html" target="element" >
				          <area shape="rect" coords="310,70,343,102" href="../objects/id-59baf038fb5a487890a8255a0eb256d3.html" target="element" >
				          <area shape="rect" coords="262,70,295,102" href="../objects/id-d934d393d69c4de7a81273ef92a80b99.html" target="element" >
				          <area shape="rect" coords="214,70,247,102" href="../objects/id-0d2cb51b530f4fb78cdfa9f71d57d485.html" target="element" >
				          <area shape="rect" coords="166,70,199,102" href="../objects/id-eebf23ec92e3415ca5d920f997149414.html" target="element" >
				          <area shape="rect" coords="118,70,151,102" href="../objects/id-70ab68f0b37f439987b715d74d57ee9f.html" target="element" >
				          <area shape="rect" coords="67,70,100,102" href="../objects/id-1e97d0e1414149f5b9659d7689265b63.html" target="element" >
				          <area shape="rect" coords="10,70,43,102" href="../objects/id-be72e78cdee34b57a7d2da2138f44a42.html" target="element" >
				          <area shape="rect" coords="406,10,439,42" href="../objects/id-99e6a2c295184ae8a3b38e290f03de34.html" target="element" >
				          <area shape="rect" coords="358,10,391,42" href="../objects/id-02f323aa318946939814fb4b026a45b9.html" target="element" >
				          <area shape="rect" coords="310,10,343,42" href="../objects/id-702bc49e28054480a06a8a7e532f78cd.html" target="element" >
				          <area shape="rect" coords="262,10,295,42" href="../objects/id-83e6eda4dca94273b36c5b52b23a52b7.html" target="element" >
				          <area shape="rect" coords="214,10,247,42" href="../objects/id-76234a19145b4816a48fb569178af139.html" target="element" >
				          <area shape="rect" coords="166,10,199,42" href="../objects/id-cfca5f1e9a7a47039a4f27819a3599f0.html" target="element" >
				          <area shape="rect" coords="118,10,151,42" href="../objects/id-34b76cdecd474c9a9ef0b41bd8187f28.html" target="element" >
				          <area shape="rect" coords="67,10,100,42" href="../objects/id-d29092dfd07d41ae9eab40d5a5c7d1ee.html" target="element" >
				          <area shape="rect" coords="10,10,43,42" href="../objects/id-79374fcb4cda4556841deba47f744062.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-79374fcb4cda4556841deba47f744062.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-79374fcb4cda4556841deba47f744062.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d29092dfd07d41ae9eab40d5a5c7d1ee.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d29092dfd07d41ae9eab40d5a5c7d1ee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-34b76cdecd474c9a9ef0b41bd8187f28.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-34b76cdecd474c9a9ef0b41bd8187f28.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cfca5f1e9a7a47039a4f27819a3599f0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cfca5f1e9a7a47039a4f27819a3599f0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-76234a19145b4816a48fb569178af139.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-76234a19145b4816a48fb569178af139.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-83e6eda4dca94273b36c5b52b23a52b7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-83e6eda4dca94273b36c5b52b23a52b7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-702bc49e28054480a06a8a7e532f78cd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-702bc49e28054480a06a8a7e532f78cd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-02f323aa318946939814fb4b026a45b9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-02f323aa318946939814fb4b026a45b9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-99e6a2c295184ae8a3b38e290f03de34.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-99e6a2c295184ae8a3b38e290f03de34.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-be72e78cdee34b57a7d2da2138f44a42.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-be72e78cdee34b57a7d2da2138f44a42.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1e97d0e1414149f5b9659d7689265b63.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1e97d0e1414149f5b9659d7689265b63.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-70ab68f0b37f439987b715d74d57ee9f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-70ab68f0b37f439987b715d74d57ee9f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-eebf23ec92e3415ca5d920f997149414.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-eebf23ec92e3415ca5d920f997149414.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0d2cb51b530f4fb78cdfa9f71d57d485.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0d2cb51b530f4fb78cdfa9f71d57d485.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d934d393d69c4de7a81273ef92a80b99.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d934d393d69c4de7a81273ef92a80b99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-59baf038fb5a487890a8255a0eb256d3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-59baf038fb5a487890a8255a0eb256d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7ca9a0803f79400ab2b94ac36b835430.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7ca9a0803f79400ab2b94ac36b835430.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-62389d15adaf4ab7a0da81b12972cc66.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-62389d15adaf4ab7a0da81b12972cc66.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>