<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH2-F7-tier2-3auto-asis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH2-F7-tier2-3auto-asis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c071ba87fb6348fda0a286723a9dd153.png" alt="doc1-CH2-F7-tier2-3auto-asis" usemap="#id-c071ba87fb6348fda0a286723a9dd153map"/>
			   <map name="id-c071ba87fb6348fda0a286723a9dd153map">
				          <area shape="rect" coords="244,78,305,115" href="../objects/id-a8a7c085fdb64e5caa61f8b18e685709.html" target="element" >
				  		        <area shape="rect" coords="418,66,461,112" href="../objects/id-15f85d89f5964692b61e5ed7307b97e0.html" target="element" >
				  		        <area shape="rect" coords="333,17,366,49" href="../objects/id-b8f7fc6747bd4d45a7c92aac29ccfda4.html" target="element" >
				  				<area shape="rect" coords="333,64,408,113" href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html"  target="element">
				  				<area shape="rect" coords="229,42,317,119" href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html"  target="element">
				  				<area shape="rect" coords="221,17,290,37" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">

				  		<area shape="rect" coords="214,10,467,131" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				  		        <area shape="rect" coords="371,143,404,175" href="../objects/id-d15c7406470d4bc3ac3ce7e5ef215124.html" target="element" >
				  						<area shape="rect" coords="472,326,532,349" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="539,251,599,275" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="540,327,600,350" href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html"  target="element">
				  				        <area shape="rect" coords="478,282,524,325" href="../objects/id-6c54b013c1ac4916a0c3932013dd8aa4.html" target="element" >
				  				        <area shape="rect" coords="478,210,525,259" href="../objects/id-fab1ba3d3d8145388d25b187566d418a.html" target="element" >
				  				        <area shape="rect" coords="538,196,599,249" href="../objects/id-be03ea6c77d54e9b93953f66517c2b56.html" target="element" >
				  				        <area shape="rect" coords="544,284,593,333" href="../objects/id-6eb503903ed241ba88c6b76b0abe7888.html" target="element" >

				  				<area shape="rect" coords="466,178,611,354" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  		        <area shape="rect" coords="394,145,611,172" href="../objects/id-29e7db8cf4224a27a87dd684bfac9ca2.html" target="element" >
				  		        <area shape="rect" coords="374,187,443,249" href="../objects/id-67052aec75d340c99e37ddf5320586f0.html" target="element" >
				  				<area shape="rect" coords="363,261,454,354" href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html"  target="element">
				  				<area shape="rect" coords="286,178,354,249" href="../elements/id-64802d751dd04492b45b617eff27ed11.html"  target="element">
				  				<area shape="rect" coords="287,274,352,354" href="../elements/id-525c97349ee54a78aacd0e22412ba446.html"  target="element">
				  				<area shape="rect" coords="287,149,372,169" href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html"  target="element">

				  		<area shape="rect" coords="262,142,635,371" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="202,149,235,181" href="../objects/id-894cee505a134cb699c68f8433e6fa9e.html" target="element" >
				  				        <area shape="rect" coords="149,198,203,254" href="../objects/id-b327f69b769c41f2ae7a2783fcccf132.html" target="element" >

				  				<area shape="rect" coords="130,172,222,258" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="149,300,203,356" href="../objects/id-6268217ac4b84a15a8754ce4c003b94a.html" target="element" >

				  				<area shape="rect" coords="130,274,222,360" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  				        <area shape="rect" coords="33,304,103,351" href="../objects/id-f87582100f7a420ea82e67e281492893.html" target="element" >

				  				<area shape="rect" coords="18,271,115,360" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="25,208,111,253" href="../objects/id-1e9527e85a56402eb779caf0f0b4a7bc.html" target="element" >

				  				<area shape="rect" coords="22,178,114,264" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">
				  				<area shape="rect" coords="30,149,131,173" href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html"  target="element">

				  		<area shape="rect" coords="10,142,239,371" href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element"> &#3626;&#3656;&#3623;&#3609;&#3585;&#3621;&#3634;&#3591; </a> </td>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-1e9527e85a56402eb779caf0f0b4a7bc.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1e9527e85a56402eb779caf0f0b4a7bc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-f87582100f7a420ea82e67e281492893.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f87582100f7a420ea82e67e281492893.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-6268217ac4b84a15a8754ce4c003b94a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6268217ac4b84a15a8754ce4c003b94a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-b327f69b769c41f2ae7a2783fcccf132.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b327f69b769c41f2ae7a2783fcccf132.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-894cee505a134cb699c68f8433e6fa9e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-894cee505a134cb699c68f8433e6fa9e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element"> Tier  1 (NSW) </a> </td>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element"> API </a> </td>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-67052aec75d340c99e37ddf5320586f0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-67052aec75d340c99e37ddf5320586f0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-29e7db8cf4224a27a87dd684bfac9ca2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-29e7db8cf4224a27a87dd684bfac9ca2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-6eb503903ed241ba88c6b76b0abe7888.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6eb503903ed241ba88c6b76b0abe7888.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-be03ea6c77d54e9b93953f66517c2b56.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-be03ea6c77d54e9b93953f66517c2b56.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-fab1ba3d3d8145388d25b187566d418a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-fab1ba3d3d8145388d25b187566d418a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-6c54b013c1ac4916a0c3932013dd8aa4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6c54b013c1ac4916a0c3932013dd8aa4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-d15c7406470d4bc3ac3ce7e5ef215124.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d15c7406470d4bc3ac3ce7e5ef215124.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-b8f7fc6747bd4d45a7c92aac29ccfda4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b8f7fc6747bd4d45a7c92aac29ccfda4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-15f85d89f5964692b61e5ed7307b97e0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-15f85d89f5964692b61e5ed7307b97e0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-a8a7c085fdb64e5caa61f8b18e685709.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a8a7c085fdb64e5caa61f8b18e685709.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-3d792c8bebef459297107ccaf24e49ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d792c8bebef459297107ccaf24e49ea.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-cf558bb8803146f7a55a7f7b26dccf9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf558bb8803146f7a55a7f7b26dccf9c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/id-77ca273bbd0044cd98242d822943b81a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-77ca273bbd0044cd98242d822943b81a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element"> API </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/id-7457dbfb9db8456a87e4ef167b01160f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7457dbfb9db8456a87e4ef167b01160f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>