<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH2-F5-tier2-1auth-asis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH2-F5-tier2-1auth-asis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c7c1962430194c7da6fc6fef76ef8198.png" alt="doc1-CH2-F5-tier2-1auth-asis" usemap="#id-c7c1962430194c7da6fc6fef76ef8198map"/>
			   <map name="id-c7c1962430194c7da6fc6fef76ef8198map">
				          <area shape="rect" coords="490,24,523,56" href="../objects/id-b7b1dc8fbc2a4380855cf7e4fa228a79.html" target="element" >
				          <area shape="rect" coords="358,10,401,56" href="../objects/id-87a41d04cab545658fb05b0489eb7d7e.html" target="element" >
				  						<area shape="rect" coords="466,228,530,254" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="539,154,603,180" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="534,229,598,255" href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html"  target="element">
				  				        <area shape="rect" coords="478,185,524,228" href="../objects/id-aff2bc353a954c4a8104e65ce748bb03.html" target="element" >
				  				        <area shape="rect" coords="477,106,524,155" href="../objects/id-0dd1e799fcd44ea5baccb07bcfd0a1c4.html" target="element" >
				  				        <area shape="rect" coords="538,99,599,152" href="../objects/id-8c1293a99a40489e95e3a0a6448c2116.html" target="element" >
				  				        <area shape="rect" coords="544,187,593,236" href="../objects/id-f6de64fd1f774d5abf470ce1abba87f9.html" target="element" >

				  				<area shape="rect" coords="466,81,611,257" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  		        <area shape="rect" coords="382,58,671,85" href="../objects/id-f56433a40e7f46d4b0e6008bb2aa7695.html" target="element" >
				  		        <area shape="rect" coords="374,100,443,162" href="../objects/id-bc119b45958b466f8b809e82d5e38f14.html" target="element" >
				  				<area shape="rect" coords="286,84,354,138" href="../elements/id-2ea12ec4f4654658a08be1eebe526fd7.html"  target="element">
				  				<area shape="rect" coords="363,172,454,255" href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html"  target="element">
				  				<area shape="rect" coords="287,144,355,198" href="../elements/id-64802d751dd04492b45b617eff27ed11.html"  target="element">
				  				<area shape="rect" coords="287,204,352,257" href="../elements/id-525c97349ee54a78aacd0e22412ba446.html"  target="element">
				  				<area shape="rect" coords="270,62,355,82" href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html"  target="element">

				  		<area shape="rect" coords="262,55,635,267" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="189,58,222,90" href="../objects/id-8eabc34f73a24e1bac294426f086488f.html" target="element" >
				  				        <area shape="rect" coords="149,117,203,173" href="../objects/id-4b6640028eb444b2a7418c4f5108dbaa.html" target="element" >

				  				<area shape="rect" coords="130,91,222,177" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="37,203,98,247" href="../objects/id-06531138a372463dbfcc4eadaa3068d5.html" target="element" >

				  				<area shape="rect" coords="18,184,115,253" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="25,121,111,166" href="../objects/id-aa67610025f4476d904234003f9b91d4.html" target="element" >

				  				<area shape="rect" coords="22,91,114,177" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">
				  				<area shape="rect" coords="30,62,131,86" href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html"  target="element">

				  		<area shape="rect" coords="10,55,239,267" href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element"> &#3626;&#3656;&#3623;&#3609;&#3585;&#3621;&#3634;&#3591; </a> </td>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-aa67610025f4476d904234003f9b91d4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-aa67610025f4476d904234003f9b91d4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-06531138a372463dbfcc4eadaa3068d5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-06531138a372463dbfcc4eadaa3068d5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-4b6640028eb444b2a7418c4f5108dbaa.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4b6640028eb444b2a7418c4f5108dbaa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-8eabc34f73a24e1bac294426f086488f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8eabc34f73a24e1bac294426f086488f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element"> Tier  1 (NSW) </a> </td>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element"> API </a> </td>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ea12ec4f4654658a08be1eebe526fd7.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-2ea12ec4f4654658a08be1eebe526fd7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-bc119b45958b466f8b809e82d5e38f14.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bc119b45958b466f8b809e82d5e38f14.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f56433a40e7f46d4b0e6008bb2aa7695.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f56433a40e7f46d4b0e6008bb2aa7695.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-f6de64fd1f774d5abf470ce1abba87f9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f6de64fd1f774d5abf470ce1abba87f9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8c1293a99a40489e95e3a0a6448c2116.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8c1293a99a40489e95e3a0a6448c2116.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0dd1e799fcd44ea5baccb07bcfd0a1c4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0dd1e799fcd44ea5baccb07bcfd0a1c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-aff2bc353a954c4a8104e65ce748bb03.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-aff2bc353a954c4a8104e65ce748bb03.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-87a41d04cab545658fb05b0489eb7d7e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-87a41d04cab545658fb05b0489eb7d7e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b7b1dc8fbc2a4380855cf7e4fa228a79.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b7b1dc8fbc2a4380855cf7e4fa228a79.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-807533d5ad294cac852dee829fdb10dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-807533d5ad294cac852dee829fdb10dd.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																				<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>