<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig16-API-Spec</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig16-API-Spec</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c67ba3edbd8f4d27b251fa14afab2096.png" alt="Fig16-API-Spec" usemap="#id-c67ba3edbd8f4d27b251fa14afab2096map"/>
			   <map name="id-c67ba3edbd8f4d27b251fa14afab2096map">
				          <area shape="rect" coords="202,466,235,498" href="../objects/id-6140a59a63e34d1aa1e5bdd38b3e744c.html" target="element" >
				          <area shape="rect" coords="332,466,365,498" href="../objects/id-e85355919b294772bcff93e22437a864.html" target="element" >
				          <area shape="rect" coords="982,22,1015,54" href="../objects/id-7bde8bb0a1dd4e8a87233e430c6cb929.html" target="element" >
				          <area shape="rect" coords="838,22,871,54" href="../objects/id-fd4a2dd2ff3d46ae8a12a17357acec2b.html" target="element" >
				          <area shape="rect" coords="670,22,703,54" href="../objects/id-486fadb8d1bc49998f42d89d9c9c34c8.html" target="element" >
				          <area shape="rect" coords="422,215,455,247" href="../objects/id-821c38802e5b4353923fbb207b2a5c85.html" target="element" >
				          <area shape="rect" coords="332,82,365,114" href="../objects/id-2747e01b590e45baad59ce32a873bd76.html" target="element" >
				          <area shape="rect" coords="166,10,199,42" href="../objects/id-d98c841e63944af89c710b0d92825e2a.html" target="element" >
				  				<area shape="rect" coords="918,202,1031,275" href="../elements/id-dc6de000ba01451ebef07d812c2b0a0d.html"  target="element">
				  				<area shape="rect" coords="918,382,1031,461" href="../elements/id-bd3041b43f69457b872cb598068c9574.html"  target="element">
				  				<area shape="rect" coords="918,286,1031,365" href="../elements/id-46aebacb101f453d91e07d7551925cc4.html"  target="element">
				  				<area shape="rect" coords="922,106,1031,185" href="../elements/id-02f0519fdc00454cbf7e46100d00f09c.html"  target="element">

				  		<area shape="rect" coords="898,58,1055,479" href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html"  target="element">
				  		<area shape="rect" coords="790,58,875,479" href="../elements/id-51e384ada95644efad0db404672cd4c4.html"  target="element">
				  						<area shape="rect" coords="166,382,286,437" href="../elements/id-c682a79a.html"  target="element">

				  				<area shape="rect" coords="154,346,293,455" href="../elements/id-374e924e.html"  target="element">
				  						<area shape="rect" coords="322,382,419,443" href="../elements/id-cda94e534f894e169074bd486a73e616.html"  target="element">

				  				<area shape="rect" coords="310,346,443,455" href="../elements/id-46864f095ebc49e9a1cef4993d3febdc.html"  target="element">

				  		<area shape="rect" coords="142,322,455,467" href="../elements/id-8c53da6f48ce4ef485fc7f6dea3762e7.html"  target="element">
				  				<area shape="rect" coords="634,94,743,443" href="../elements/id-0597edcd6db24e149b6e5191e3a5d6be.html"  target="element">
				  				<area shape="rect" coords="514,94,611,443" href="../elements/id-ed2dafe66e834dd7be46a64929661f85.html"  target="element">

				  		<area shape="rect" coords="490,58,767,467" href="../elements/id-69e532db387e43cb95bd6f0021ee0b5c.html"  target="element">
				  		<area shape="rect" coords="370,130,455,216" href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html"  target="element">
				  						<area shape="rect" coords="166,226,299,275" href="../elements/id-14cce6f32ab8402f8eaffe0b8e815fdc.html"  target="element">

				  				<area shape="rect" coords="154,202,311,287" href="../elements/id-ec03ee303bd048a688c754d0606f6b01.html"  target="element">
				  						<area shape="rect" coords="166,130,299,167" href="../elements/id-5cc1f0dc.html"  target="element">

				  				<area shape="rect" coords="154,106,311,179" href="../elements/id-14c3b74181c842708a96da323fbe23f8.html"  target="element">

				  		<area shape="rect" coords="130,82,335,299" href="../elements/id-34751b6d02054b67ac33884feb456a21.html"  target="element">
				  		<area shape="rect" coords="202,22,299,71" href="../elements/id-fc7d1b801782422385c8b9114cc2c425.html"  target="element">
				  		<area shape="rect" coords="10,22,116,479" href="../elements/id-e3a77e27bad94912933edac9b1f748ef.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">&#3649;&#3626;&#3604;&#3591;&#3626;&#3606;&#3634;&#3611;&#3633;&#3605;&#3618;&#3585;&#3619;&#3619;&#3617;&#3585;&#3634;&#3619;&#3651;&#3627;&#3657;&#3610;&#3619;&#3636;&#3585;&#3619;&#3612;&#3656;&#3634;&#3609; API &#3586;&#3629;&#3591;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609;
&#3648;&#3617;&#3639;&#3656;&#3629;&#3617;&#3637;&#3585;&#3634;&#3619;&#3619;&#3657;&#3629;&#3591;&#3586;&#3629;&#3612;&#3656;&#3634;&#3609;&#3617;&#3634;&#3592;&#3634;&#3585;&#3629;&#3636;&#3609;&#3648;&#3607;&#3629;&#3619;&#3660;&#3648;&#3609;&#3655;&#3605; &#3592;&#3632;&#3612;&#3656;&#3634;&#3609;&#3619;&#3632;&#3610;&#3610;&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3649;&#3621;&#3632;&#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609;
&#3627;&#3621;&#3633;&#3591;&#3592;&#3634;&#3585;&#3609;&#3633;&#3657;&#3609;&#3612;&#3656;&#3634;&#3609;&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3585;&#3619;&#3632;&#3592;&#3634;&#3618;&#3616;&#3634;&#3619;&#3632;&#3591;&#3634;&#3609; (Load Balancer) &#3649;&#3621;&#3657;&#3623;&#3606;&#3638;&#3591;&#3592;&#3632;&#3648;&#3586;&#3657;&#3634;&#3626;&#3641;&#3656;&#3592;&#3640;&#3604;&#3651;&#3627;&#3657;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619; API
&#3595;&#3638;&#3656;&#3591;&#3629;&#3634;&#3592;&#3611;&#3619;&#3632;&#3585;&#3629;&#3610;&#3604;&#3657;&#3623;&#3618;&#3627;&#3621;&#3634;&#3618;&#3592;&#3640;&#3604;&#3651;&#3627;&#3657;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3627;&#3621;&#3633;&#3591;&#3592;&#3634;&#3585;&#3609;&#3633;&#3657;&#3609;&#3592;&#3632;&#3652;&#3611;&#3626;&#3641;&#3656;&#3619;&#3632;&#3610;&#3610;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;
&#3595;&#3638;&#3656;&#3591;&#3592;&#3632;&#3648;&#3611;&#3655;&#3609;&#3619;&#3632;&#3610;&#3610;&#3648;&#3604;&#3637;&#3618;&#3623;&#3607;&#3637;&#3656;&#3648;&#3594;&#3639;&#3656;&#3629;&#3617;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3648;&#3586;&#3657;&#3634;&#3585;&#3633;&#3610;&#3619;&#3632;&#3610;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3586;&#3629;&#3591;&#3627;&#3609;&#3656;&#3623;&#3618;&#3591;&#3634;&#3609; &#3648;&#3614;&#3639;&#3656;&#3629;&#3604;&#3638;&#3591;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3607;&#3637;&#3656;&#3648;&#3585;&#3637;&#3656;&#3618;&#3623;&#3586;&#3657;&#3629;&#3591;
&#3592;&#3634;&#3585;&#3619;&#3632;&#3610;&#3610;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;
&#3627;&#3621;&#3633;&#3591;&#3592;&#3634;&#3585;&#3609;&#3633;&#3657;&#3609; &#3586;&#3657;&#3629;&#3617;&#3641;&#3621;&#3592;&#3632;&#3606;&#3641;&#3585;&#3610;&#3619;&#3619;&#3592;&#3640;&#3651;&#3609;&#3619;&#3641;&#3611;&#3649;&#3610;&#3610;&#3617;&#3634;&#3605;&#3619;&#3600;&#3634;&#3609; &#3607;&#3637;&#3656;&#3626;&#3634;&#3617;&#3634;&#3619;&#3606;&#3648;&#3586;&#3657;&#3634;&#3651;&#3592;&#3652;&#3604;&#3657;&#3650;&#3604;&#3618;&#3612;&#3641;&#3657;&#3586;&#3629;&#3619;&#3633;&#3610;&#3610;&#3619;&#3636;&#3585;&#3634;&#3619;
&#3595;&#3638;&#3656;&#3591;&#3648;&#3611;&#3655;&#3609;&#3619;&#3641;&#3611;&#3649;&#3610;&#3610;&#3617;&#3634;&#3605;&#3619;&#3600;&#3634;&#3609;&#3607;&#3637;&#3656;&#3611;&#3619;&#3632;&#3585;&#3634;&#3624;&#3652;&#3623;&#3657;

The API viewpoint models an introductory overview of the focal Architecture Building Blocks required when modelling an API Interface. 
The ABBs included in the API viewpoint represent all the required Busilding Block necessary to design an API Interface accessible thoruh a web interface. 

Narrative: 
A [Client request for service] is made trough [Internet] and it triggers the [Authentication Service] which serves the [Request Validation Service]that triggers the [HTTP(s) Load Balancer] whichin turn triggers all the [Endpoints] related. Each [Endpoint] serves the [Application Service] which triggers the [App Component] that, in turn, triggers the [Data Access Service]. The [Data Access Service] provides access to the [Data Space] which is composed by the [SQL Data Space], [Read - Replica], [NoSQL Data Space] and [Virtual Data Space]. In the moment in which the [Endpoint] is triggered data flows to the [API Response] which is composed by [Data] and [Represenation] accessed by a [Request Validation Service]. The [API Response] triggers the response that is provided to the user who requetd the data in the first instance.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e3a77e27bad94912933edac9b1f748ef.html" target="element"> Internet </a> </td>
											    <td> <a href="../elements/id-e3a77e27bad94912933edac9b1f748ef.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc7d1b801782422385c8b9114cc2c425.html" target="element"> Service Request </a> </td>
											    <td> <a href="../elements/id-fc7d1b801782422385c8b9114cc2c425.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element"> Authentication Middleware </a> </td>
											    <td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-14c3b74181c842708a96da323fbe23f8.html" target="element"> Authentication </a> </td>
													    <td> <a href="../elements/id-14c3b74181c842708a96da323fbe23f8.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication Service </a> </td>
															    <td> <a href="../elements/id-5cc1f0dc.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ec03ee303bd048a688c754d0606f6b01.html" target="element"> Input Validation </a> </td>
													    <td> <a href="../elements/id-ec03ee303bd048a688c754d0606f6b01.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-14cce6f32ab8402f8eaffe0b8e815fdc.html" target="element"> Request Validation </a> </td>
															    <td> <a href="../elements/id-14cce6f32ab8402f8eaffe0b8e815fdc.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTP(S) Load Balancer </a> </td>
											    <td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-69e532db387e43cb95bd6f0021ee0b5c.html" target="element"> API </a> </td>
											    <td> <a href="../elements/id-69e532db387e43cb95bd6f0021ee0b5c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ed2dafe66e834dd7be46a64929661f85.html" target="element"> API Endpoint </a> </td>
													    <td> <a href="../elements/id-ed2dafe66e834dd7be46a64929661f85.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0597edcd6db24e149b6e5191e3a5d6be.html" target="element"> App Component </a> </td>
													    <td> <a href="../elements/id-0597edcd6db24e149b6e5191e3a5d6be.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8c53da6f48ce4ef485fc7f6dea3762e7.html" target="element"> API Response </a> </td>
											    <td> <a href="../elements/id-8c53da6f48ce4ef485fc7f6dea3762e7.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-46864f095ebc49e9a1cef4993d3febdc.html" target="element"> Output Validation </a> </td>
													    <td> <a href="../elements/id-46864f095ebc49e9a1cef4993d3febdc.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-cda94e534f894e169074bd486a73e616.html" target="element"> Output Validation </a> </td>
															    <td> <a href="../elements/id-cda94e534f894e169074bd486a73e616.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-374e924e.html" target="element"> License Document </a> </td>
													    <td> <a href="../elements/id-374e924e.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c682a79a.html" target="element"> IID Document </a> </td>
															    <td> <a href="../elements/id-c682a79a.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-51e384ada95644efad0db404672cd4c4.html" target="element"> Data Access Service </a> </td>
											    <td> <a href="../elements/id-51e384ada95644efad0db404672cd4c4.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html" target="element"> Legacy System - Data Space </a> </td>
											    <td> <a href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-02f0519fdc00454cbf7e46100d00f09c.html" target="element"> SQL Data Space </a> </td>
													    <td> <a href="../elements/id-02f0519fdc00454cbf7e46100d00f09c.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-46aebacb101f453d91e07d7551925cc4.html" target="element"> NoSQL Data Space </a> </td>
													    <td> <a href="../elements/id-46aebacb101f453d91e07d7551925cc4.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bd3041b43f69457b872cb598068c9574.html" target="element"> Virtual Data Space </a> </td>
													    <td> <a href="../elements/id-bd3041b43f69457b872cb598068c9574.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc6de000ba01451ebef07d812c2b0a0d.html" target="element"> Read-Replica </a> </td>
													    <td> <a href="../elements/id-dc6de000ba01451ebef07d812c2b0a0d.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-d98c841e63944af89c710b0d92825e2a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d98c841e63944af89c710b0d92825e2a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2747e01b590e45baad59ce32a873bd76.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2747e01b590e45baad59ce32a873bd76.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-821c38802e5b4353923fbb207b2a5c85.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-821c38802e5b4353923fbb207b2a5c85.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-486fadb8d1bc49998f42d89d9c9c34c8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-486fadb8d1bc49998f42d89d9c9c34c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fd4a2dd2ff3d46ae8a12a17357acec2b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fd4a2dd2ff3d46ae8a12a17357acec2b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7bde8bb0a1dd4e8a87233e430c6cb929.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7bde8bb0a1dd4e8a87233e430c6cb929.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e85355919b294772bcff93e22437a864.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e85355919b294772bcff93e22437a864.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6140a59a63e34d1aa1e5bdd38b3e744c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6140a59a63e34d1aa1e5bdd38b3e744c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ac579a916bda4693a0310d9fd619fd73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac579a916bda4693a0310d9fd619fd73.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e3a77e27bad94912933edac9b1f748ef.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-fc7d1b801782422385c8b9114cc2c425.html" target="element"> Service Request </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c3f087c21d849a7ac3aeb8b888f58a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c3f087c21d849a7ac3aeb8b888f58a3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc7d1b801782422385c8b9114cc2c425.html" target="element"> Service Request </a> </td>
																		<td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4471bdf42b8f481ca33317a3d0e5f888.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4471bdf42b8f481ca33317a3d0e5f888.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element"> Authentication Middleware </a> </td>
																		<td> <a href="../elements/id-14c3b74181c842708a96da323fbe23f8.html" target="element"> Authentication </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a90179f691d4465fb090322b9f51598a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a90179f691d4465fb090322b9f51598a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element"> Authentication Middleware </a> </td>
																		<td> <a href="../elements/id-ec03ee303bd048a688c754d0606f6b01.html" target="element"> Input Validation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8dc139374e44dfab94181e340c6c699.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8dc139374e44dfab94181e340c6c699.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element"> Authentication Middleware </a> </td>
																		<td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTP(S) Load Balancer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5af54a257d664b1fb04a9841910016be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5af54a257d664b1fb04a9841910016be.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-14c3b74181c842708a96da323fbe23f8.html" target="element"> Authentication </a> </td>
																				<td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication Service </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-79ce1f562e9048809125b69e07b148c3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-79ce1f562e9048809125b69e07b148c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication Service </a> </td>
																						<td> <a href="../elements/id-14cce6f32ab8402f8eaffe0b8e815fdc.html" target="element"> Request Validation </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6d6b103b1a604b88b13297ae366ad1fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6d6b103b1a604b88b13297ae366ad1fd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ec03ee303bd048a688c754d0606f6b01.html" target="element"> Input Validation </a> </td>
																				<td> <a href="../elements/id-14cce6f32ab8402f8eaffe0b8e815fdc.html" target="element"> Request Validation </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-bca988e0248140eaa1ada6017e507517.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bca988e0248140eaa1ada6017e507517.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTP(S) Load Balancer </a> </td>
																		<td> <a href="../elements/id-ed2dafe66e834dd7be46a64929661f85.html" target="element"> API Endpoint </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8997d43691bc40cdb33fcc41c5df2e2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8997d43691bc40cdb33fcc41c5df2e2a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-69e532db387e43cb95bd6f0021ee0b5c.html" target="element"> API </a> </td>
																		<td> <a href="../elements/id-ed2dafe66e834dd7be46a64929661f85.html" target="element"> API Endpoint </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-91c527362ded45ff9c92082edd9b941d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-91c527362ded45ff9c92082edd9b941d.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed2dafe66e834dd7be46a64929661f85.html" target="element"> API Endpoint </a> </td>
																				<td> <a href="../elements/id-8c53da6f48ce4ef485fc7f6dea3762e7.html" target="element"> API Response </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-13871035971f4dedaaa74de0f2f9272a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-13871035971f4dedaaa74de0f2f9272a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ed2dafe66e834dd7be46a64929661f85.html" target="element"> API Endpoint </a> </td>
																				<td> <a href="../elements/id-0597edcd6db24e149b6e5191e3a5d6be.html" target="element"> App Component </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9b6195f165f4d9784a8620bbc3d78f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9b6195f165f4d9784a8620bbc3d78f7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0597edcd6db24e149b6e5191e3a5d6be.html" target="element"> App Component </a> </td>
																				<td> <a href="../elements/id-51e384ada95644efad0db404672cd4c4.html" target="element"> Data Access Service </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d89e60eaddb143909b360bd7eff73241.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d89e60eaddb143909b360bd7eff73241.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c53da6f48ce4ef485fc7f6dea3762e7.html" target="element"> API Response </a> </td>
																		<td> <a href="../elements/id-374e924e.html" target="element"> License Document </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7fe9bfbdd556455a8121adec913899b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7fe9bfbdd556455a8121adec913899b0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c53da6f48ce4ef485fc7f6dea3762e7.html" target="element"> API Response </a> </td>
																		<td> <a href="../elements/id-e3a77e27bad94912933edac9b1f748ef.html" target="element"> Internet </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ebaf9efdd97b4566b47f50a3ca34df73.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ebaf9efdd97b4566b47f50a3ca34df73.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-46864f095ebc49e9a1cef4993d3febdc.html" target="element"> Output Validation </a> </td>
																				<td> <a href="../elements/id-cda94e534f894e169074bd486a73e616.html" target="element"> Output Validation </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-887f734f.html" target="element"> is stored as </a> </td>
																				<td> <a href="../elements/id-887f734f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-374e924e.html" target="element"> License Document </a> </td>
																				<td> <a href="../elements/id-c682a79a.html" target="element"> IID Document </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-ca353f26dd8744a5bd6beaa1c643b683.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca353f26dd8744a5bd6beaa1c643b683.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51e384ada95644efad0db404672cd4c4.html" target="element"> Data Access Service </a> </td>
																		<td> <a href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html" target="element"> Legacy System - Data Space </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-43c6562e3c49466aa85856e9ffe7020a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43c6562e3c49466aa85856e9ffe7020a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html" target="element"> Legacy System - Data Space </a> </td>
																		<td> <a href="../elements/id-02f0519fdc00454cbf7e46100d00f09c.html" target="element"> SQL Data Space </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-580547e0d8ee4288acd9d4074a987763.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-580547e0d8ee4288acd9d4074a987763.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html" target="element"> Legacy System - Data Space </a> </td>
																		<td> <a href="../elements/id-46aebacb101f453d91e07d7551925cc4.html" target="element"> NoSQL Data Space </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5d4201a438e4e75818bcf3511a57802.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5d4201a438e4e75818bcf3511a57802.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html" target="element"> Legacy System - Data Space </a> </td>
																		<td> <a href="../elements/id-bd3041b43f69457b872cb598068c9574.html" target="element"> Virtual Data Space </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-944ba0362a4c42afb45570d518e12322.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-944ba0362a4c42afb45570d518e12322.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2cd6ab8e11a0495c851c46e776edc9e2.html" target="element"> Legacy System - Data Space </a> </td>
																		<td> <a href="../elements/id-dc6de000ba01451ebef07d812c2b0a0d.html" target="element"> Read-Replica </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-27e0802c6948487cbaaf3fb0b675a0f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-27e0802c6948487cbaaf3fb0b675a0f8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-02f0519fdc00454cbf7e46100d00f09c.html" target="element"> SQL Data Space </a> </td>
																				<td> <a href="../elements/id-dc6de000ba01451ebef07d812c2b0a0d.html" target="element"> Read-Replica </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>