<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH6-F6-retrieve</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH6-F6-retrieve</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c9e8e2443803448fb94d82040ce3501e.png" alt="doc1-CH6-F6-retrieve" usemap="#id-c9e8e2443803448fb94d82040ce3501emap"/>
			   <map name="id-c9e8e2443803448fb94d82040ce3501emap">
				          <area shape="rect" coords="140,312,384,343" href="../objects/id-ef6e13807bf54f00ba4b42d13f9d0324.html" target="element" >
				  		<area shape="rect" coords="313,281,422,306" href="../elements/id-798830b876574085a87946456b02bbc1.html"  target="element">
				  		<area shape="rect" coords="157,281,266,306" href="../elements/id-798830b876574085a87946456b02bbc1.html"  target="element">
				  				        <area shape="rect" coords="402,47,451,95" href="../objects/id-b4906236b09b430ba744adb5051c4013.html" target="element" >
				  				        <area shape="rect" coords="188,43,403,98" href="../objects/id-cbbf2eb0ddbe447fba39df45d152b4b3.html" target="element" >
				  						<area shape="rect" coords="54,102,163,127" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  						<area shape="rect" coords="197,126,306,235" href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html"  target="element">
				  				        <area shape="rect" coords="150,191,183,223" href="../objects/id-f2c3600462bf44faa09d2795a75909e3.html" target="element" >
				  						<area shape="rect" coords="197,102,306,127" href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html"  target="element">
				  						<area shape="rect" coords="342,102,451,127" href="../elements/id-5958c8cc911e46188f766be27c44555e.html"  target="element">
				  						<area shape="rect" coords="54,126,163,235" href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html"  target="element">
				  						<area shape="rect" coords="342,126,451,235" href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html"  target="element">
				  				        <area shape="rect" coords="40,49,138,63" href="../objects/id-d0208df35c9046299c4c1631bd9556e1.html" target="element" >
				  				        <area shape="rect" coords="117,49,163,99" href="../objects/id-80d00ee9f3c84a5697961b87f3ea45d9.html" target="element" >

				  				<area shape="rect" coords="34,34,474,259" href="../elements/id-bc8879984040446e98809f7fe211e719.html"  target="element">

				  		<area shape="rect" coords="10,10,493,272" href="../elements/id-558bc6f53886449c81ab65feac5939cc.html"  target="element">
				  		<area shape="rect" coords="490,298,599,323" href="../elements/id-798830b876574085a87946456b02bbc1.html"  target="element">
				  		<area shape="rect" coords="671,298,780,323" href="../elements/id-aec9276de6fa438781b294c959e50f43.html"  target="element">
				          <area shape="rect" coords="386,398,422,434" href="../objects/id-f4730fe8a33b4b43b44366992feb96f8.html" target="element" >
				          <area shape="rect" coords="98,417,127,445" href="../objects/id-45d894dd1eac46bbbfcda4285a05a12d.html" target="element" >
				          <area shape="rect" coords="671,394,711,433" href="../objects/id-c7ef878d82834fcc862e009692f2df5f.html" target="element" >
				  		        <area shape="rect" coords="153,390,208,433" href="../objects/id-94547133dbc0460aa65874314270f884.html" target="element" >
				  				<area shape="rect" coords="651,354,735,437" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="875,393,915,432" href="../objects/id-0772265de84448588884c349fff4cf74.html" target="element" >

				  				<area shape="rect" coords="854,353,938,436" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="669,393,709,432" href="../objects/id-6b1b6658ace84898bfbe8b516da1c1c2.html" target="element" >
				  				        <area shape="rect" coords="588,397,625,434" href="../objects/id-ad4e60e10ebe4ac18fe18c9a1f02b2e8.html" target="element" >
				  				        <area shape="rect" coords="553,393,590,436" href="../objects/id-7dc9f2cd9601456ea264b3523e86a139.html" target="element" >

				  				<area shape="rect" coords="547,355,631,438" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="771,392,811,434" href="../objects/id-52f68b4f3cac4258a9abf9ae79d5de5d.html" target="element" >

				  				<area shape="rect" coords="753,354,837,437" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="1001,392,1035,430" href="../objects/id-bf1ae66f8aff4124b1ab637c1c5d77ac.html" target="element" >
				  				        <area shape="rect" coords="469,394,504,431" href="../objects/id-8f6afa35443842eea9aee7895af0ef42.html" target="element" >

				  				<area shape="rect" coords="445,354,529,437" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="352,398,384,432" href="../objects/id-4d0e2f2fb354454c90c5b2ba9c529ecf.html" target="element" >
				  				<area shape="rect" coords="142,352,226,435" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  				        <area shape="rect" coords="261,394,304,431" href="../objects/id-d29c0da36ace423a86be552b74c088ba.html" target="element" >

				  				<area shape="rect" coords="242,352,326,435" href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html"  target="element">
				  		        <area shape="rect" coords="592,397,629,434" href="../objects/id-81b27693072b4fb4b31d197eeb67c63c.html" target="element" >
				  				        <area shape="rect" coords="959,394,998,431" href="../objects/id-592fa6199ec84050b793f53b8eee0062.html" target="element" >

				  				<area shape="rect" coords="956,353,1040,436" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				<area shape="rect" coords="343,353,427,436" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="390,397,427,434" href="../objects/id-913aab202c6b47b68fb5d6c2ad91b1d8.html" target="element" >

				  		<area shape="rect" coords="132,344,1048,445" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="22,374,86,437" href="../objects/id-e5a016d3f699494bad2956a178e4070a.html" target="element" >
				  		        <area shape="rect" coords="34,347,74,378" href="../objects/id-8e9aacdd146641aea9c0246dd569e26c.html" target="element" >

				  		<area shape="rect" coords="10,344,99,445" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  				        <area shape="rect" coords="932,47,977,90" href="../objects/id-afd80bb89f20414e8d43ef6e170226fd.html" target="element" >
				  				        <area shape="rect" coords="718,43,933,98" href="../objects/id-40c3ad3169f74b8d8080ec57c9e4376e.html" target="element" >
				  						<area shape="rect" coords="582,102,691,127" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  						<area shape="rect" coords="725,126,834,235" href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html"  target="element">
				  				        <area shape="rect" coords="678,191,711,223" href="../objects/id-5d25f57bbed940caa30ecb873b719670.html" target="element" >
				  						<area shape="rect" coords="725,102,834,127" href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html"  target="element">
				  						<area shape="rect" coords="870,102,979,127" href="../elements/id-5958c8cc911e46188f766be27c44555e.html"  target="element">
				  						<area shape="rect" coords="582,126,691,235" href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html"  target="element">
				  						<area shape="rect" coords="870,126,979,235" href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html"  target="element">
				  				        <area shape="rect" coords="568,49,666,63" href="../objects/id-ab160ab33ff14d0dba14988b4939add5.html" target="element" >
				  				        <area shape="rect" coords="645,49,691,99" href="../objects/id-af432b5bea9241ada91be6f35b3c9b29.html" target="element" >

				  				<area shape="rect" coords="562,34,1003,259" href="../elements/id-bc8879984040446e98809f7fe211e719.html"  target="element">

				  		<area shape="rect" coords="538,10,1026,272" href="../elements/id-558bc6f53886449c81ab65feac5939cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-af432b5bea9241ada91be6f35b3c9b29.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-af432b5bea9241ada91be6f35b3c9b29.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ab160ab33ff14d0dba14988b4939add5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ab160ab33ff14d0dba14988b4939add5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-5d25f57bbed940caa30ecb873b719670.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5d25f57bbed940caa30ecb873b719670.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-40c3ad3169f74b8d8080ec57c9e4376e.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-40c3ad3169f74b8d8080ec57c9e4376e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-afd80bb89f20414e8d43ef6e170226fd.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-afd80bb89f20414e8d43ef6e170226fd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-8e9aacdd146641aea9c0246dd569e26c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8e9aacdd146641aea9c0246dd569e26c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e5a016d3f699494bad2956a178e4070a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e5a016d3f699494bad2956a178e4070a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-913aab202c6b47b68fb5d6c2ad91b1d8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-913aab202c6b47b68fb5d6c2ad91b1d8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-592fa6199ec84050b793f53b8eee0062.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-592fa6199ec84050b793f53b8eee0062.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-81b27693072b4fb4b31d197eeb67c63c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-81b27693072b4fb4b31d197eeb67c63c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-d29c0da36ace423a86be552b74c088ba.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d29c0da36ace423a86be552b74c088ba.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-4d0e2f2fb354454c90c5b2ba9c529ecf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4d0e2f2fb354454c90c5b2ba9c529ecf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-8f6afa35443842eea9aee7895af0ef42.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8f6afa35443842eea9aee7895af0ef42.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-bf1ae66f8aff4124b1ab637c1c5d77ac.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bf1ae66f8aff4124b1ab637c1c5d77ac.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-52f68b4f3cac4258a9abf9ae79d5de5d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-52f68b4f3cac4258a9abf9ae79d5de5d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-7dc9f2cd9601456ea264b3523e86a139.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7dc9f2cd9601456ea264b3523e86a139.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ad4e60e10ebe4ac18fe18c9a1f02b2e8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ad4e60e10ebe4ac18fe18c9a1f02b2e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-6b1b6658ace84898bfbe8b516da1c1c2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6b1b6658ace84898bfbe8b516da1c1c2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-0772265de84448588884c349fff4cf74.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0772265de84448588884c349fff4cf74.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-94547133dbc0460aa65874314270f884.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-94547133dbc0460aa65874314270f884.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-c7ef878d82834fcc862e009692f2df5f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c7ef878d82834fcc862e009692f2df5f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-45d894dd1eac46bbbfcda4285a05a12d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-45d894dd1eac46bbbfcda4285a05a12d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f4730fe8a33b4b43b44366992feb96f8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f4730fe8a33b4b43b44366992feb96f8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-aec9276de6fa438781b294c959e50f43.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) </a> </td>
											    <td> <a href="../elements/id-aec9276de6fa438781b294c959e50f43.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-80d00ee9f3c84a5697961b87f3ea45d9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-80d00ee9f3c84a5697961b87f3ea45d9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-d0208df35c9046299c4c1631bd9556e1.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d0208df35c9046299c4c1631bd9556e1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-f2c3600462bf44faa09d2795a75909e3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f2c3600462bf44faa09d2795a75909e3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-cbbf2eb0ddbe447fba39df45d152b4b3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-cbbf2eb0ddbe447fba39df45d152b4b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b4906236b09b430ba744adb5051c4013.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b4906236b09b430ba744adb5051c4013.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ef6e13807bf54f00ba4b42d13f9d0324.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ef6e13807bf54f00ba4b42d13f9d0324.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>