<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH4-pic4-auto</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH4-pic4-auto</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d24fd0c4b2d642edbb7aa5d673715131.png" alt="doc1-CH4-pic4-auto" usemap="#id-d24fd0c4b2d642edbb7aa5d673715131map"/>
			   <map name="id-d24fd0c4b2d642edbb7aa5d673715131map">
				          <area shape="rect" coords="250,226,283,258" href="../objects/id-e8b84be0d0fc497787e38df02ab77ad8.html" target="element" >
				  		        <area shape="rect" coords="490,42,533,88" href="../objects/id-6462175b9e2c46e3af6e92272056abb5.html" target="element" >
				  		        <area shape="rect" coords="388,10,421,42" href="../objects/id-06eb41bf159e4c66b31adc9c4cef460c.html" target="element" >
				  				<area shape="rect" coords="405,40,480,89" href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html"  target="element">
				  				<area shape="rect" coords="301,40,389,89" href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html"  target="element">
				  				<area shape="rect" coords="302,14,371,34" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">

				  		<area shape="rect" coords="286,10,627,107" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				  				<area shape="rect" coords="350,181,395,244" href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html"  target="element">
				  		        <area shape="rect" coords="403,184,461,241" href="../objects/id-e378d5b2464246cfadea9d7f7694e9be.html" target="element" >
				  				<area shape="rect" coords="298,181,342,244" href="../elements/id-834234aab888451f91c4fa3d4087c5f5.html"  target="element">
				  				<area shape="rect" coords="298,249,455,343" href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html"  target="element">
				  		        <area shape="rect" coords="430,131,617,158" href="../objects/id-9b479653c88d44228e79a33fb54f861d.html" target="element" >
				  				        <area shape="rect" coords="475,268,538,333" href="../objects/id-afeb19a60140481980c9e391435fdd70.html" target="element" >
				  						<area shape="rect" coords="544,312,605,336" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="541,230,607,254" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="474,230,540,254" href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html"  target="element">
				  				        <area shape="rect" coords="549,269,595,312" href="../objects/id-8dada3a6e1944245b642b54ebd831bb4.html" target="element" >
				  				        <area shape="rect" coords="480,179,527,228" href="../objects/id-e32bf7df7bb243d3b6e117fb0c2c9bc9.html" target="element" >
				  				        <area shape="rect" coords="540,175,601,228" href="../objects/id-287f2f727c114b858985588b026aeaa2.html" target="element" >

				  				<area shape="rect" coords="468,157,613,347" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  				<area shape="rect" coords="301,137,407,153" href="../elements/id-4c08992fe5f046c29b8a4a01bb2c086c.html"  target="element">

				  		<area shape="rect" coords="286,130,627,359" href="../elements/id-68bbb9051ad5414fa688d7de798d60f1.html"  target="element">
				  				        <area shape="rect" coords="151,191,205,247" href="../objects/id-90112b9a44f24f10af4f945b39846afb.html" target="element" >

				  				<area shape="rect" coords="132,165,224,251" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="149,285,203,341" href="../objects/id-f4f0cf5e830e4df1ba053c0bc7f70863.html" target="element" >

				  				<area shape="rect" coords="130,259,222,345" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  				        <area shape="rect" coords="36,283,97,339" href="../objects/id-c17bb5605cc1463ea824b3af2aa32b7f.html" target="element" >

				  				<area shape="rect" coords="18,259,115,345" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="25,196,111,241" href="../objects/id-234bebf809ec4b90967576ae9494b899.html" target="element" >

				  				<area shape="rect" coords="22,166,114,252" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">
				  				<area shape="rect" coords="30,137,131,161" href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html"  target="element">

				  		<area shape="rect" coords="10,130,239,359" href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element"> &#3626;&#3656;&#3623;&#3609;&#3585;&#3621;&#3634;&#3591; </a> </td>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-234bebf809ec4b90967576ae9494b899.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-234bebf809ec4b90967576ae9494b899.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-c17bb5605cc1463ea824b3af2aa32b7f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c17bb5605cc1463ea824b3af2aa32b7f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-f4f0cf5e830e4df1ba053c0bc7f70863.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f4f0cf5e830e4df1ba053c0bc7f70863.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-90112b9a44f24f10af4f945b39846afb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-90112b9a44f24f10af4f945b39846afb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-68bbb9051ad5414fa688d7de798d60f1.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-68bbb9051ad5414fa688d7de798d60f1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4c08992fe5f046c29b8a4a01bb2c086c.html" target="element"> Tier  2 </a> </td>
													    <td> <a href="../elements/id-4c08992fe5f046c29b8a4a01bb2c086c.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-287f2f727c114b858985588b026aeaa2.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-287f2f727c114b858985588b026aeaa2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e32bf7df7bb243d3b6e117fb0c2c9bc9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e32bf7df7bb243d3b6e117fb0c2c9bc9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-8dada3a6e1944245b642b54ebd831bb4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8dada3a6e1944245b642b54ebd831bb4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-afeb19a60140481980c9e391435fdd70.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-afeb19a60140481980c9e391435fdd70.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-9b479653c88d44228e79a33fb54f861d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9b479653c88d44228e79a33fb54f861d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-834234aab888451f91c4fa3d4087c5f5.html" target="element"> API  </a> </td>
													    <td> <a href="../elements/id-834234aab888451f91c4fa3d4087c5f5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-e378d5b2464246cfadea9d7f7694e9be.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e378d5b2464246cfadea9d7f7694e9be.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-d4ff6a30295045d691c8f8c38962199e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-06eb41bf159e4c66b31adc9c4cef460c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-06eb41bf159e4c66b31adc9c4cef460c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6462175b9e2c46e3af6e92272056abb5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6462175b9e2c46e3af6e92272056abb5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-e8b84be0d0fc497787e38df02ab77ad8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e8b84be0d0fc497787e38df02ab77ad8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-abd16b439fa24ce885f82c33053d53cd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-abd16b439fa24ce885f82c33053d53cd.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																				<td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element"> License Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3d792c8bebef459297107ccaf24e49ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d792c8bebef459297107ccaf24e49ea.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-cf558bb8803146f7a55a7f7b26dccf9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf558bb8803146f7a55a7f7b26dccf9c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3366085d5b9646ac8afc3a476c5153ec.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-009204d9d0f94df7bde41b5d42d5349e.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-e2b15a111620463586cee6d8287426f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e2b15a111620463586cee6d8287426f0.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-834234aab888451f91c4fa3d4087c5f5.html" target="element"> API  </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>