<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-CH3-F2-cap4-auth</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-CH3-F2-cap4-auth</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d1ebb6a4fad64a08a5bf495a66eea6ab.png" alt="doc3-CH3-F2-cap4-auth" usemap="#id-d1ebb6a4fad64a08a5bf495a66eea6abmap"/>
			   <map name="id-d1ebb6a4fad64a08a5bf495a66eea6abmap">
				          <area shape="rect" coords="466,124,499,156" href="../objects/id-7a82907eab88408d804889b8b8f6db7e.html" target="element" >
				  		        <area shape="rect" coords="295,212,352,285" href="../objects/id-463e82861f0d4201b7cd3bdb08b55630.html" target="element" >

				  		<area shape="rect" coords="293,188,354,290" href="../elements/id-1f246610bfb54367898817782ddee548.html"  target="element">
				  		        <area shape="rect" coords="377,96,431,152" href="../objects/id-273a56ff80bc43599608bfa3ecaf147a.html" target="element" >

				  		<area shape="rect" coords="358,70,450,156" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				          <area shape="rect" coords="178,10,581,39" href="../objects/id-d44f0dcca90e492393a16b7ad5ea61e8.html" target="element" >
				          <area shape="rect" coords="406,172,587,221" href="../objects/id-6e3c1009e03144538b880dac28fb0a2e.html" target="element" >
				  		        <area shape="rect" coords="367,279,436,352" href="../objects/id-81b35da009384cbdae59926126863ce6.html" target="element" >

				  		<area shape="rect" coords="358,248,443,357" href="../elements/id-6309178fa6344507a956004280a862e1.html"  target="element">
				  		        <area shape="rect" coords="610,142,678,196" href="../objects/id-e7a4b6a93d5643cc8decb1613d524b05.html" target="element" >
				  		        <area shape="rect" coords="610,238,731,351" href="../objects/id-0976821f736f47fe811ddee15a49defa.html" target="element" >
				  		        <area shape="rect" coords="601,13,741,43" href="../objects/id-13893c1d14fb453ab05dcbd1c1699db4.html" target="element" >

				  		<area shape="rect" coords="598,10,743,383" href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html"  target="element">
				  		        <area shape="rect" coords="75,142,143,196" href="../objects/id-2ae26fece709463e9d74f363f8c96a4a.html" target="element" >
				  		        <area shape="rect" coords="22,238,143,352" href="../objects/id-e2c303488ccc491db837f34105c45a5e.html" target="element" >
				  		        <area shape="rect" coords="21,16,143,46" href="../objects/id-347585eddd674c198b90f1e8ca82e413.html" target="element" >

				  		<area shape="rect" coords="10,10,155,383" href="../elements/id-948377ae059948698f9726fb110434e1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-347585eddd674c198b90f1e8ca82e413.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-347585eddd674c198b90f1e8ca82e413.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e2c303488ccc491db837f34105c45a5e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e2c303488ccc491db837f34105c45a5e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2ae26fece709463e9d74f363f8c96a4a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2ae26fece709463e9d74f363f8c96a4a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element">  (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-13893c1d14fb453ab05dcbd1c1699db4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-13893c1d14fb453ab05dcbd1c1699db4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0976821f736f47fe811ddee15a49defa.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0976821f736f47fe811ddee15a49defa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e7a4b6a93d5643cc8decb1613d524b05.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e7a4b6a93d5643cc8decb1613d524b05.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
											    <td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-81b35da009384cbdae59926126863ce6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-81b35da009384cbdae59926126863ce6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-6e3c1009e03144538b880dac28fb0a2e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6e3c1009e03144538b880dac28fb0a2e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d44f0dcca90e492393a16b7ad5ea61e8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d44f0dcca90e492393a16b7ad5ea61e8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
											    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-273a56ff80bc43599608bfa3ecaf147a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-273a56ff80bc43599608bfa3ecaf147a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1f246610bfb54367898817782ddee548.html" target="element"> Business Service (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-1f246610bfb54367898817782ddee548.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-463e82861f0d4201b7cd3bdb08b55630.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-463e82861f0d4201b7cd3bdb08b55630.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-7a82907eab88408d804889b8b8f6db7e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7a82907eab88408d804889b8b8f6db7e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0d54a41a186c4e23b21dfe5e3831d643.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d54a41a186c4e23b21dfe5e3831d643.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element">  (copy) </a> </td>
																		<td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-036167b3874b4504b0652dd9b49591a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-036167b3874b4504b0652dd9b49591a0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
																		<td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element">  (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-a6288200979c497c95e7bb5a2548ba78.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6288200979c497c95e7bb5a2548ba78.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																		<td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0590ea85cd704d9e8f4cdb6606d43719.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0590ea85cd704d9e8f4cdb6606d43719.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																		<td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element">  (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9f59fa84147405ea58ab08cbbbb89e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9f59fa84147405ea58ab08cbbbb89e8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																		<td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element">  (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>