<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>dobiz2-1-overview</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>dobiz2-1-overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d3a8a4e0b03b4599bfa9040cc0f5d6c6.png" alt="dobiz2-1-overview" usemap="#id-d3a8a4e0b03b4599bfa9040cc0f5d6c6map"/>
			   <map name="id-d3a8a4e0b03b4599bfa9040cc0f5d6c6map">
				  		<area shape="rect" coords="12,349,85,475" href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html"  target="element">
				  		<area shape="rect" coords="12,250,85,346" href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html"  target="element">
				  		<area shape="rect" coords="10,80,83,178" href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html"  target="element">
				  		<area shape="rect" coords="11,185,84,237" href="../elements/id-064b4513af0d470eb727775c55541f5c.html"  target="element">
				  		<area shape="rect" coords="10,14,83,75" href="../elements/id-8a560d80ba674419b127602532fe7b58.html"  target="element">
				  		<area shape="rect" coords="723,10,784,474" href="../elements/id-61fca7296b7f413a983a42549447be95.html"  target="element">
				  		<area shape="rect" coords="655,10,716,474" href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html"  target="element">
				          <area shape="rect" coords="156,432,201,469" href="../objects/id-21bbb660713841349e5636a226ff47cb.html" target="element" >
				          <area shape="rect" coords="278,303,332,342" href="../objects/id-40818144266f406e93a22af3efe3c83d.html" target="element" >
				          <area shape="rect" coords="506,253,614,293" href="../objects/id-a1119a4409b44e66b01e94420effff48.html" target="element" >
				          <area shape="rect" coords="394,256,452,292" href="../objects/id-8119e06a141e411d91eb93128f48c0fc.html" target="element" >
				  		        <area shape="rect" coords="179,189,217,225" href="../objects/id-fb9fb0bbf1924ac18e766e867dd51f9a.html" target="element" >
				  		        <area shape="rect" coords="174,221,243,241" href="../objects/id-196643d7bafe400cac0d1edeb5a42a6b.html" target="element" >
				  		        <area shape="rect" coords="512,221,592,241" href="../objects/id-99221bc6bf1b428ea85f237763144d90.html" target="element" >
				  		        <area shape="rect" coords="591,220,632,240" href="../objects/id-92ff871cd29e4c0690206e42c2ba1d2e.html" target="element" >
				  		        <area shape="rect" coords="593,188,628,223" href="../objects/id-08cf3fae39724678ac60485de250ab64.html" target="element" >
				  		        <area shape="rect" coords="103,219,172,239" href="../objects/id-68dc0d47612149c6b4eed965cb6353dc.html" target="element" >
				  		        <area shape="rect" coords="321,189,359,225" href="../objects/id-20cc768afcab46d78c4574a4220d7ec7.html" target="element" >
				  		        <area shape="rect" coords="390,189,428,225" href="../objects/id-19abd2c8ad19411180bfb78108e727e3.html" target="element" >
				  		        <area shape="rect" coords="449,221,509,241" href="../objects/id-b2ac0c1e7bc94ac0893678db039b4f30.html" target="element" >
				  		        <area shape="rect" coords="107,189,145,225" href="../objects/id-1ddbbbd101704477bdd70835be96bd77.html" target="element" >
				  		        <area shape="rect" coords="372,221,441,241" href="../objects/id-12abcf5ea8fa463badd1884b5c549dd6.html" target="element" >
				  		        <area shape="rect" coords="304,221,373,241" href="../objects/id-7a575861cbee4b6bb9ef1f90ca24d64d.html" target="element" >
				  		        <area shape="rect" coords="255,189,293,225" href="../objects/id-5e5ec0fe141a4666bb34eb1bb65190a8.html" target="element" >
				  		        <area shape="rect" coords="237,221,306,241" href="../objects/id-11bd258a74aa4bc1a633b3797921755b.html" target="element" >
				  		        <area shape="rect" coords="526,189,564,226" href="../objects/id-03ea83229fb742378d08a5f76fb49201.html" target="element" >
				  		        <area shape="rect" coords="457,189,495,225" href="../objects/id-0c3afa7342fd4c7387a391d63ec34959.html" target="element" >

				  		<area shape="rect" coords="95,183,651,241" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  		        <area shape="rect" coords="102,18,644,70" href="../objects/id-efd2eedc84944e0e84e27558c3640aa7.html" target="element" >

				  		<area shape="rect" coords="94,11,650,76" href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html"  target="element">
				  		        <area shape="rect" coords="580,136,618,172" href="../objects/id-bf460fd8e6cc47cfb39e9243a32a2d0f.html" target="element" >
				  		        <area shape="rect" coords="528,137,566,173" href="../objects/id-ad5c268896a6401d8ca27a2972d1e159.html" target="element" >
				  		        <area shape="rect" coords="475,137,513,173" href="../objects/id-8f6d874caa4e4cbcafb4c9fdd5dc5153.html" target="element" >
				  		        <area shape="rect" coords="429,139,461,171" href="../objects/id-7cc1e0be073d4210be09878277b21a4b.html" target="element" >
				  		        <area shape="rect" coords="373,137,411,173" href="../objects/id-8b0dfd2210364a59bda0017006f38cad.html" target="element" >
				  		        <area shape="rect" coords="322,138,360,174" href="../objects/id-c2f7ddeafbf34f12ab6cf8f7427273b1.html" target="element" >
				  		        <area shape="rect" coords="272,139,310,175" href="../objects/id-d85e941cd58e4721987de3c16df7887b.html" target="element" >
				  		        <area shape="rect" coords="221,135,259,171" href="../objects/id-fc65e90554cf4aa7a2d135ef70b205c9.html" target="element" >
				  		        <area shape="rect" coords="165,137,203,173" href="../objects/id-9c8a5454e6af49e88606adce0ea26e15.html" target="element" >
				  		        <area shape="rect" coords="111,138,149,174" href="../objects/id-db370437a9ce4276b00a80cc9990701a.html" target="element" >
				  		        <area shape="rect" coords="523,116,569,140" href="../objects/id-fe92219326f04ce697878a75ce633631.html" target="element" >
				  		        <area shape="rect" coords="423,116,465,140" href="../objects/id-4cb7ef37afc5405890f9f3709919168d.html" target="element" >
				  		        <area shape="rect" coords="367,116,409,140" href="../objects/id-c849b9eee95740678fce733300720e17.html" target="element" >
				  		        <area shape="rect" coords="109,116,151,140" href="../objects/id-ce98d3198c44493ab172286797632585.html" target="element" >
				  		        <area shape="rect" coords="576,116,628,140" href="../objects/id-aa3c2777348c4cc9807991814fa4dcbf.html" target="element" >
				  		        <area shape="rect" coords="213,116,255,140" href="../objects/id-279ee4a8458b40d2b524c3b5735e4344.html" target="element" >
				  		        <area shape="rect" coords="314,116,356,140" href="../objects/id-9b4be90ca9e345e4b60fca416fb9ad8d.html" target="element" >
				  		        <area shape="rect" coords="471,116,517,140" href="../objects/id-6ce4b42d9bea4b58ae1b4ea20f3ae17e.html" target="element" >
				  		        <area shape="rect" coords="264,116,306,140" href="../objects/id-64fbded03b494ab98d250799b33054a9.html" target="element" >
				  		        <area shape="rect" coords="159,116,201,140" href="../objects/id-8c07ed30e4034e748c25b681a8127cd1.html" target="element" >
				  		        <area shape="rect" coords="104,86,632,122" href="../objects/id-9dda1525893a43248472fbc463797dfa.html" target="element" >

				  		<area shape="rect" coords="93,80,651,179" href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html"  target="element">
				          <area shape="rect" coords="110,290,187,344" href="../objects/id-f567171424bd49089d7595f63be97190.html" target="element" >
				          <area shape="rect" coords="119,248,179,297" href="../objects/id-da91e8779a9b4139841511418d187506.html" target="element" >
				          <area shape="rect" coords="422,303,480,342" href="../objects/id-a011fc64b9a64f4f9db34ff9dc550cd2.html" target="element" >
				          <area shape="rect" coords="290,248,362,287" href="../objects/id-d969ea0cfced4dd7a7bc5b1834ea9f26.html" target="element" >
				          <area shape="rect" coords="338,301,395,345" href="../objects/id-35a953fd321e4416ada3ce29921c6d07.html" target="element" >
				          <area shape="rect" coords="506,302,556,344" href="../objects/id-41bb2ceb4d9347afa55ac208f17b9dce.html" target="element" >
				          <area shape="rect" coords="578,294,628,329" href="../objects/id-439d470a27c34228a38180c40fded754.html" target="element" >
				          <area shape="rect" coords="208,248,269,297" href="../objects/id-83be74e31af84693869d342b559c50bd.html" target="element" >
				          <area shape="rect" coords="208,295,254,338" href="../objects/id-fb48b2e305904f0385eae3fffda01849.html" target="element" >
				          <area shape="rect" coords="338,426,579,463" href="../objects/id-5897e66c3cd3415ebac31b8952d17299.html" target="element" >
				          <area shape="rect" coords="218,426,327,475" href="../objects/id-a412394b0f7347b7b35d484d9cf67d0b.html" target="element" >
				          <area shape="rect" coords="338,349,627,422" href="../objects/id-86bd5b9edfeb420b9a8a67d7d39a0e23.html" target="element" >
				          <area shape="rect" coords="178,364,267,408" href="../objects/id-510b2ffe33354619a8a08f9e437b8fd9.html" target="element" >
				          <area shape="rect" coords="98,426,651,475" href="../objects/id-ba10ba57d4d349cf9771905100ad1b53.html" target="element" >
				          <area shape="rect" coords="98,249,651,345" href="../objects/id-1103737decad41428e82c92c280397cc.html" target="element" >
				          <area shape="rect" coords="98,349,651,422" href="../objects/id-062f65c544de48668c35c0734c239b26.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-062f65c544de48668c35c0734c239b26.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-062f65c544de48668c35c0734c239b26.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1103737decad41428e82c92c280397cc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1103737decad41428e82c92c280397cc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ba10ba57d4d349cf9771905100ad1b53.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ba10ba57d4d349cf9771905100ad1b53.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-510b2ffe33354619a8a08f9e437b8fd9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-510b2ffe33354619a8a08f9e437b8fd9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-86bd5b9edfeb420b9a8a67d7d39a0e23.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-86bd5b9edfeb420b9a8a67d7d39a0e23.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a412394b0f7347b7b35d484d9cf67d0b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a412394b0f7347b7b35d484d9cf67d0b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5897e66c3cd3415ebac31b8952d17299.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5897e66c3cd3415ebac31b8952d17299.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-fb48b2e305904f0385eae3fffda01849.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fb48b2e305904f0385eae3fffda01849.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-83be74e31af84693869d342b559c50bd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-83be74e31af84693869d342b559c50bd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-439d470a27c34228a38180c40fded754.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-439d470a27c34228a38180c40fded754.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-41bb2ceb4d9347afa55ac208f17b9dce.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-41bb2ceb4d9347afa55ac208f17b9dce.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-35a953fd321e4416ada3ce29921c6d07.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-35a953fd321e4416ada3ce29921c6d07.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d969ea0cfced4dd7a7bc5b1834ea9f26.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d969ea0cfced4dd7a7bc5b1834ea9f26.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a011fc64b9a64f4f9db34ff9dc550cd2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a011fc64b9a64f4f9db34ff9dc550cd2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-da91e8779a9b4139841511418d187506.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-da91e8779a9b4139841511418d187506.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f567171424bd49089d7595f63be97190.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f567171424bd49089d7595f63be97190.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-9dda1525893a43248472fbc463797dfa.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9dda1525893a43248472fbc463797dfa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8c07ed30e4034e748c25b681a8127cd1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8c07ed30e4034e748c25b681a8127cd1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-64fbded03b494ab98d250799b33054a9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-64fbded03b494ab98d250799b33054a9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6ce4b42d9bea4b58ae1b4ea20f3ae17e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6ce4b42d9bea4b58ae1b4ea20f3ae17e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9b4be90ca9e345e4b60fca416fb9ad8d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9b4be90ca9e345e4b60fca416fb9ad8d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-279ee4a8458b40d2b524c3b5735e4344.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-279ee4a8458b40d2b524c3b5735e4344.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-aa3c2777348c4cc9807991814fa4dcbf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-aa3c2777348c4cc9807991814fa4dcbf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ce98d3198c44493ab172286797632585.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ce98d3198c44493ab172286797632585.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c849b9eee95740678fce733300720e17.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c849b9eee95740678fce733300720e17.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4cb7ef37afc5405890f9f3709919168d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4cb7ef37afc5405890f9f3709919168d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fe92219326f04ce697878a75ce633631.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fe92219326f04ce697878a75ce633631.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-db370437a9ce4276b00a80cc9990701a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-db370437a9ce4276b00a80cc9990701a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9c8a5454e6af49e88606adce0ea26e15.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9c8a5454e6af49e88606adce0ea26e15.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fc65e90554cf4aa7a2d135ef70b205c9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fc65e90554cf4aa7a2d135ef70b205c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d85e941cd58e4721987de3c16df7887b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d85e941cd58e4721987de3c16df7887b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c2f7ddeafbf34f12ab6cf8f7427273b1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c2f7ddeafbf34f12ab6cf8f7427273b1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8b0dfd2210364a59bda0017006f38cad.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8b0dfd2210364a59bda0017006f38cad.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7cc1e0be073d4210be09878277b21a4b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7cc1e0be073d4210be09878277b21a4b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8f6d874caa4e4cbcafb4c9fdd5dc5153.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8f6d874caa4e4cbcafb4c9fdd5dc5153.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ad5c268896a6401d8ca27a2972d1e159.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ad5c268896a6401d8ca27a2972d1e159.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-bf460fd8e6cc47cfb39e9243a32a2d0f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bf460fd8e6cc47cfb39e9243a32a2d0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-efd2eedc84944e0e84e27558c3640aa7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-efd2eedc84944e0e84e27558c3640aa7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0c3afa7342fd4c7387a391d63ec34959.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0c3afa7342fd4c7387a391d63ec34959.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-03ea83229fb742378d08a5f76fb49201.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-03ea83229fb742378d08a5f76fb49201.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-11bd258a74aa4bc1a633b3797921755b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-11bd258a74aa4bc1a633b3797921755b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5e5ec0fe141a4666bb34eb1bb65190a8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5e5ec0fe141a4666bb34eb1bb65190a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7a575861cbee4b6bb9ef1f90ca24d64d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7a575861cbee4b6bb9ef1f90ca24d64d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-12abcf5ea8fa463badd1884b5c549dd6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-12abcf5ea8fa463badd1884b5c549dd6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1ddbbbd101704477bdd70835be96bd77.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1ddbbbd101704477bdd70835be96bd77.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b2ac0c1e7bc94ac0893678db039b4f30.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b2ac0c1e7bc94ac0893678db039b4f30.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-19abd2c8ad19411180bfb78108e727e3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-19abd2c8ad19411180bfb78108e727e3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-20cc768afcab46d78c4574a4220d7ec7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-20cc768afcab46d78c4574a4220d7ec7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-68dc0d47612149c6b4eed965cb6353dc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-68dc0d47612149c6b4eed965cb6353dc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-08cf3fae39724678ac60485de250ab64.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-08cf3fae39724678ac60485de250ab64.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-92ff871cd29e4c0690206e42c2ba1d2e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-92ff871cd29e4c0690206e42c2ba1d2e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-99221bc6bf1b428ea85f237763144d90.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-99221bc6bf1b428ea85f237763144d90.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-196643d7bafe400cac0d1edeb5a42a6b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-196643d7bafe400cac0d1edeb5a42a6b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fb9fb0bbf1924ac18e766e867dd51f9a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fb9fb0bbf1924ac18e766e867dd51f9a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-8119e06a141e411d91eb93128f48c0fc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8119e06a141e411d91eb93128f48c0fc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a1119a4409b44e66b01e94420effff48.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a1119a4409b44e66b01e94420effff48.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-40818144266f406e93a22af3efe3c83d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-40818144266f406e93a22af3efe3c83d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-21bbb660713841349e5636a226ff47cb.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-21bbb660713841349e5636a226ff47cb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element"> Legal </a> </td>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element"> Security </a> </td>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element"> Service Channel </a> </td>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element"> Service Process </a> </td>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element"> Service Category </a> </td>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element"> Single Platform </a> </td>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element"> Service Support  Taskforce </a> </td>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>