<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-chp3-F1-arch2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-chp3-F1-arch2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d5423688a1fe45db8f940e0d4cdc576e.png" alt="doc3-chp3-F1-arch2" usemap="#id-d5423688a1fe45db8f940e0d4cdc576emap"/>
			   <map name="id-d5423688a1fe45db8f940e0d4cdc576emap">
				          <area shape="rect" coords="455,117,479,140" href="../objects/id-7c8e2236985b43f8a0618bd06776293c.html" target="element" >
				          <area shape="rect" coords="239,117,263,140" href="../objects/id-de85d7fe152d474fa6cc9b0009127ebc.html" target="element" >
				          <area shape="rect" coords="35,117,59,140" href="../objects/id-3f181d6a40324a4a8914eefa0a3fcd5e.html" target="element" >
				  		<area shape="rect" coords="514,268,563,307" href="../elements/id-cdc1accd94e348abb4f4c671a3bd28f3.html"  target="element">
				  		        <area shape="rect" coords="507,406,564,443" href="../objects/id-921a5cb06b8e499394aac2d57aee188a.html" target="element" >

				  		<area shape="rect" coords="10,404,647,448" href="../elements/id-a7e4b4e5e6d54658bd5f6ec232e21533.html"  target="element">
				  		        <area shape="rect" coords="127,342,215,372" href="../objects/id-d399949dfb8047ac820b9f04bfff2a18.html" target="element" >
				  				<area shape="rect" coords="349,338,435,379" href="../elements/id-5df421f7a3174bf4aaa351ddb3bac227.html"  target="element">
				  				<area shape="rect" coords="241,338,327,379" href="../elements/id-97d82680ad4042408bc1c58ff71a5681.html"  target="element">
				  				<area shape="rect" coords="455,338,541,379" href="../elements/id-bf76f261c346488c821e1036c2746bc7.html"  target="element">
				  				<area shape="rect" coords="32,338,110,379" href="../elements/id-607cbe58d6234b1899a0ee6ccb3301ff.html"  target="element">

				  		<area shape="rect" coords="11,326,648,388" href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html"  target="element">
				  		<area shape="rect" coords="275,268,348,307" href="../elements/id-80d02689360e43e7b6840cf4ddd02738.html"  target="element">
				  		<area shape="rect" coords="191,268,264,307" href="../elements/id-1724a73df7e14b2b8333b8e16af4287f.html"  target="element">
				  		<area shape="rect" coords="107,268,180,307" href="../elements/id-55cc04ea9c6d43f1a7c10a312df39ecd.html"  target="element">
				  		<area shape="rect" coords="23,268,96,307" href="../elements/id-034b53c240804db0b40d834b85d10b8b.html"  target="element">
				  		        <area shape="rect" coords="494,222,572,253" href="../objects/id-62b703847218479e89db5e4d14f234d3.html" target="element" >

				  		<area shape="rect" coords="10,218,647,259" href="../elements/id-076543c6fc1b4e0f880e0cc3e6b8a981.html"  target="element">
				  		<area shape="rect" coords="190,163,287,204" href="../elements/id-b0d0631464c149a6a92f3fd346466791.html"  target="element">
				  		        <area shape="rect" coords="53,169,113,205" href="../objects/id-705b7dbd7deb453fbbeb645d9d9e9693.html" target="element" >

				  		<area shape="rect" coords="22,163,143,209" href="../elements/id-5735b42b82584e04a35a0b7a52d6da3e.html"  target="element">
				  		<area shape="rect" coords="478,102,610,140" href="../elements/id-80cbba512323496f9c7473f08a1ec68d.html"  target="element">
				  		<area shape="rect" coords="262,102,395,140" href="../elements/id-9cccf907d01e42c892a3236d56f6cc79.html"  target="element">
				  		<area shape="rect" coords="58,102,167,140" href="../elements/id-48677f70ee484181b4dfc5eb1e860185.html"  target="element">
				  		        <area shape="rect" coords="484,59,575,85" href="../objects/id-895ae273d9cc45d081cdceb5d487af37.html" target="element" >

				  		<area shape="rect" coords="10,54,647,91" href="../elements/id-a707f3ffb6a34d158f756570242c0c45.html"  target="element">
				  		<area shape="rect" coords="233,10,420,44" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				          <area shape="rect" coords="23,306,111,334" href="../objects/id-10abf170b97a422cb250a3847713dd88.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-10abf170b97a422cb250a3847713dd88.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-10abf170b97a422cb250a3847713dd88.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a707f3ffb6a34d158f756570242c0c45.html" target="element"> Application Service </a> </td>
											    <td> <a href="../elements/id-a707f3ffb6a34d158f756570242c0c45.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-895ae273d9cc45d081cdceb5d487af37.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-895ae273d9cc45d081cdceb5d487af37.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-48677f70ee484181b4dfc5eb1e860185.html" target="element"> Application Service (copy) </a> </td>
											    <td> <a href="../elements/id-48677f70ee484181b4dfc5eb1e860185.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9cccf907d01e42c892a3236d56f6cc79.html" target="element"> Application Service (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-9cccf907d01e42c892a3236d56f6cc79.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-80cbba512323496f9c7473f08a1ec68d.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-80cbba512323496f9c7473f08a1ec68d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5735b42b82584e04a35a0b7a52d6da3e.html" target="element"> Application Service (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-5735b42b82584e04a35a0b7a52d6da3e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-705b7dbd7deb453fbbeb645d9d9e9693.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-705b7dbd7deb453fbbeb645d9d9e9693.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-b0d0631464c149a6a92f3fd346466791.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-b0d0631464c149a6a92f3fd346466791.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-076543c6fc1b4e0f880e0cc3e6b8a981.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-076543c6fc1b4e0f880e0cc3e6b8a981.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-62b703847218479e89db5e4d14f234d3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-62b703847218479e89db5e4d14f234d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-034b53c240804db0b40d834b85d10b8b.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-034b53c240804db0b40d834b85d10b8b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55cc04ea9c6d43f1a7c10a312df39ecd.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-55cc04ea9c6d43f1a7c10a312df39ecd.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1724a73df7e14b2b8333b8e16af4287f.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-1724a73df7e14b2b8333b8e16af4287f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-80d02689360e43e7b6840cf4ddd02738.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-80d02689360e43e7b6840cf4ddd02738.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-607cbe58d6234b1899a0ee6ccb3301ff.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-607cbe58d6234b1899a0ee6ccb3301ff.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf76f261c346488c821e1036c2746bc7.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-bf76f261c346488c821e1036c2746bc7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97d82680ad4042408bc1c58ff71a5681.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-97d82680ad4042408bc1c58ff71a5681.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5df421f7a3174bf4aaa351ddb3bac227.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-5df421f7a3174bf4aaa351ddb3bac227.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-d399949dfb8047ac820b9f04bfff2a18.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d399949dfb8047ac820b9f04bfff2a18.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-a7e4b4e5e6d54658bd5f6ec232e21533.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-a7e4b4e5e6d54658bd5f6ec232e21533.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-921a5cb06b8e499394aac2d57aee188a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-921a5cb06b8e499394aac2d57aee188a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-cdc1accd94e348abb4f4c671a3bd28f3.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-cdc1accd94e348abb4f4c671a3bd28f3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-3f181d6a40324a4a8914eefa0a3fcd5e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3f181d6a40324a4a8914eefa0a3fcd5e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-de85d7fe152d474fa6cc9b0009127ebc.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-de85d7fe152d474fa6cc9b0009127ebc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7c8e2236985b43f8a0618bd06776293c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7c8e2236985b43f8a0618bd06776293c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-29db4cd8bc034a4a8a93c73e1eb25af9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29db4cd8bc034a4a8a93c73e1eb25af9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a707f3ffb6a34d158f756570242c0c45.html" target="element"> Application Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-224ac1a53cf144b4bd6ef5f10784f1ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-224ac1a53cf144b4bd6ef5f10784f1ea.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a707f3ffb6a34d158f756570242c0c45.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-48677f70ee484181b4dfc5eb1e860185.html" target="element"> Application Service (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9a124ac179d4c44b8f8dea40b03dd1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9a124ac179d4c44b8f8dea40b03dd1c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a707f3ffb6a34d158f756570242c0c45.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-9cccf907d01e42c892a3236d56f6cc79.html" target="element"> Application Service (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9230fa37ea604c34be075751a8027281.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9230fa37ea604c34be075751a8027281.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a707f3ffb6a34d158f756570242c0c45.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-80cbba512323496f9c7473f08a1ec68d.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-e6d6bc5f5e92483987206a2db57f8de5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6d6bc5f5e92483987206a2db57f8de5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48677f70ee484181b4dfc5eb1e860185.html" target="element"> Application Service (copy) </a> </td>
																		<td> <a href="../elements/id-5735b42b82584e04a35a0b7a52d6da3e.html" target="element"> Application Service (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7ea93055d06485a9c0d08d06e0acc17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7ea93055d06485a9c0d08d06e0acc17.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48677f70ee484181b4dfc5eb1e860185.html" target="element"> Application Service (copy) </a> </td>
																		<td> <a href="../elements/id-b0d0631464c149a6a92f3fd346466791.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-537bf0b1c27a490981f52f4126ea7612.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-537bf0b1c27a490981f52f4126ea7612.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cccf907d01e42c892a3236d56f6cc79.html" target="element"> Application Service (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-5735b42b82584e04a35a0b7a52d6da3e.html" target="element"> Application Service (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47333441f9f2470f9190792b2b6497d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47333441f9f2470f9190792b2b6497d9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9cccf907d01e42c892a3236d56f6cc79.html" target="element"> Application Service (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-b0d0631464c149a6a92f3fd346466791.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb2655f5efc340efa5f341b2da27bc8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb2655f5efc340efa5f341b2da27bc8d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-80cbba512323496f9c7473f08a1ec68d.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-cdc1accd94e348abb4f4c671a3bd28f3.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b1e63a71ac954ec0b162dd4c7ae1bb2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1e63a71ac954ec0b162dd4c7ae1bb2b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5735b42b82584e04a35a0b7a52d6da3e.html" target="element"> Application Service (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-034b53c240804db0b40d834b85d10b8b.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-717516b1ef6c456bbce568da71ad13c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-717516b1ef6c456bbce568da71ad13c8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5735b42b82584e04a35a0b7a52d6da3e.html" target="element"> Application Service (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-55cc04ea9c6d43f1a7c10a312df39ecd.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-40031cc1bacd46a692e0925fa8fa46a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40031cc1bacd46a692e0925fa8fa46a2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0d0631464c149a6a92f3fd346466791.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-1724a73df7e14b2b8333b8e16af4287f.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1fbeda6f32948f7b3dc85285f286f9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1fbeda6f32948f7b3dc85285f286f9c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0d0631464c149a6a92f3fd346466791.html" target="element"> Application Service (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-80d02689360e43e7b6840cf4ddd02738.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-d77a0a1eddbd455f830d8b7b4161a9d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d77a0a1eddbd455f830d8b7b4161a9d1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-80d02689360e43e7b6840cf4ddd02738.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b521adf366fa4ceab042cd88067e37ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b521adf366fa4ceab042cd88067e37ae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-607cbe58d6234b1899a0ee6ccb3301ff.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75def987a5c94d30bb9579e0c511d65e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75def987a5c94d30bb9579e0c511d65e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-bf76f261c346488c821e1036c2746bc7.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10f8e3c085554df1ba6ee66ce71d86f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10f8e3c085554df1ba6ee66ce71d86f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-97d82680ad4042408bc1c58ff71a5681.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b5132a6bd0674e3da3db98855cab0f45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5132a6bd0674e3da3db98855cab0f45.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-5df421f7a3174bf4aaa351ddb3bac227.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8a074bf0a274d72966b85dc4c489ce2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8a074bf0a274d72966b85dc4c489ce2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3df551a91b0746a2b6d041ed7fde6c79.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-a7e4b4e5e6d54658bd5f6ec232e21533.html" target="element"> Application Service (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-8a8390631ac940c9a889accd9594893c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a8390631ac940c9a889accd9594893c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdc1accd94e348abb4f4c671a3bd28f3.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-80d02689360e43e7b6840cf4ddd02738.html" target="element"> Application Service (copy) (copy) (copy) (copy) (copy) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>