<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-CH3-F3-cap5-pay</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-CH3-F3-cap5-pay</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d744cdf8653046aeab6edacc86ccbc9f.png" alt="doc3-CH3-F3-cap5-pay" usemap="#id-d744cdf8653046aeab6edacc86ccbc9fmap"/>
			   <map name="id-d744cdf8653046aeab6edacc86ccbc9fmap">
				          <area shape="rect" coords="178,125,211,157" href="../objects/id-84d4f1a677684e31a455f6d767be3c9e.html" target="element" >
				  		        <area shape="rect" coords="372,102,426,158" href="../objects/id-e587f39df90d4211b6bf566184cf8864.html" target="element" >

				  		<area shape="rect" coords="353,76,445,162" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  		        <area shape="rect" coords="446,228,503,301" href="../objects/id-657ec894ce3048d8bec498d498a60849.html" target="element" >

				  		<area shape="rect" coords="444,204,505,306" href="../elements/id-1f246610bfb54367898817782ddee548.html"  target="element">
				          <area shape="rect" coords="178,10,581,39" href="../objects/id-24d2dfc2ebcb4e04b1870bedc1e17360.html" target="element" >
				          <area shape="rect" coords="161,156,357,205" href="../objects/id-b77ffaca64a4461b8153383ec80840f2.html" target="element" >
				  		        <area shape="rect" coords="365,285,434,358" href="../objects/id-de5c3a6f6b7a4c0fab2bfdd06e55e81a.html" target="element" >

				  		<area shape="rect" coords="356,254,441,363" href="../elements/id-6309178fa6344507a956004280a862e1.html"  target="element">
				  		        <area shape="rect" coords="610,142,678,196" href="../objects/id-c48ab447bc5e4d42bb2c7bd5296da61f.html" target="element" >
				  		        <area shape="rect" coords="610,238,731,351" href="../objects/id-03f1f1a62ead458b8ac06986126eecf4.html" target="element" >
				  		        <area shape="rect" coords="601,13,741,43" href="../objects/id-756e3ace2b334d30a16f5efd9a2a4153.html" target="element" >

				  		<area shape="rect" coords="598,10,743,383" href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html"  target="element">
				  		        <area shape="rect" coords="75,142,143,196" href="../objects/id-ceebe18706cd4808b48af2c4a044785d.html" target="element" >
				  		        <area shape="rect" coords="22,238,143,352" href="../objects/id-e48853ac2b4b4d7b95431a19aee8409e.html" target="element" >
				  		        <area shape="rect" coords="21,16,143,46" href="../objects/id-345611dc91014ee78726be5542f960eb.html" target="element" >

				  		<area shape="rect" coords="10,10,155,383" href="../elements/id-948377ae059948698f9726fb110434e1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-345611dc91014ee78726be5542f960eb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-345611dc91014ee78726be5542f960eb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e48853ac2b4b4d7b95431a19aee8409e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e48853ac2b4b4d7b95431a19aee8409e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ceebe18706cd4808b48af2c4a044785d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ceebe18706cd4808b48af2c4a044785d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element">  (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-756e3ace2b334d30a16f5efd9a2a4153.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-756e3ace2b334d30a16f5efd9a2a4153.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-03f1f1a62ead458b8ac06986126eecf4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-03f1f1a62ead458b8ac06986126eecf4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c48ab447bc5e4d42bb2c7bd5296da61f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c48ab447bc5e4d42bb2c7bd5296da61f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
											    <td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-de5c3a6f6b7a4c0fab2bfdd06e55e81a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-de5c3a6f6b7a4c0fab2bfdd06e55e81a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-b77ffaca64a4461b8153383ec80840f2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b77ffaca64a4461b8153383ec80840f2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-24d2dfc2ebcb4e04b1870bedc1e17360.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-24d2dfc2ebcb4e04b1870bedc1e17360.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-1f246610bfb54367898817782ddee548.html" target="element"> Business Service (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-1f246610bfb54367898817782ddee548.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-657ec894ce3048d8bec498d498a60849.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-657ec894ce3048d8bec498d498a60849.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
											    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-e587f39df90d4211b6bf566184cf8864.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e587f39df90d4211b6bf566184cf8864.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-84d4f1a677684e31a455f6d767be3c9e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-84d4f1a677684e31a455f6d767be3c9e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0d54a41a186c4e23b21dfe5e3831d643.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d54a41a186c4e23b21dfe5e3831d643.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element">  (copy) </a> </td>
																		<td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-036167b3874b4504b0652dd9b49591a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-036167b3874b4504b0652dd9b49591a0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
																		<td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element">  (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6c64acca33d24e22a9c374390222dd17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c64acca33d24e22a9c374390222dd17.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																		<td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43958132f20d45218221de70cc62cf57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43958132f20d45218221de70cc62cf57.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																		<td> <a href="../elements/id-948377ae059948698f9726fb110434e1.html" target="element">  (copy) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8899775d562840ecb4ed8e402d378e40.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8899775d562840ecb4ed8e402d378e40.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																		<td> <a href="../elements/id-46d2898e151a4c4fb3d24431b6909227.html" target="element">  (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>