<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>DGA-orgchart</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>DGA-orgchart</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d6f4900356bd4bc6a9957de3b29f1ee1.png" alt="DGA-orgchart" usemap="#id-d6f4900356bd4bc6a9957de3b29f1ee1map"/>
			   <map name="id-d6f4900356bd4bc6a9957de3b29f1ee1map">
				  		<area shape="rect" coords="684,10,804,65" href="../elements/id-3832574cf8754877b691214c870ce9c5.html"  target="element">
				  		<area shape="rect" coords="552,10,672,65" href="../elements/id-6bd6be65c75e4016865b97c28b94b61c.html"  target="element">
				  		<area shape="rect" coords="622,226,742,281" href="../elements/id-2d1d374a8e554d58b351c8af4f5898b7.html"  target="element">
				  		<area shape="rect" coords="694,166,814,221" href="../elements/id-2790fa31e4574a9e8a4cee7e39e48821.html"  target="element">
				  		<area shape="rect" coords="562,166,682,221" href="../elements/id-8183bc0cd802463e86f5251b96641f3c.html"  target="element">
				  		<area shape="rect" coords="358,226,478,281" href="../elements/id-3d8bbb102b214c17b9f3d57642abe0ed.html"  target="element">
				  		<area shape="rect" coords="418,166,538,221" href="../elements/id-cf2eb851783b40d89fab945bf810a271.html"  target="element">
				  		<area shape="rect" coords="286,166,406,221" href="../elements/id-646feb1a51034f04ae50e16966229be2.html"  target="element">
				  		<area shape="rect" coords="142,226,262,281" href="../elements/id-5db0d865b9154920bae4635083721977.html"  target="element">
				  		<area shape="rect" coords="10,226,130,281" href="../elements/id-d628b523d27b44f89bfe476c52ce81ed.html"  target="element">
				  		<area shape="rect" coords="142,166,262,221" href="../elements/id-15746fc28a064cc8b0b0ca428dccc59f.html"  target="element">
				  		<area shape="rect" coords="10,166,130,221" href="../elements/id-1b0d6c135ec04773a700b5d37835b10f.html"  target="element">
				  		<area shape="rect" coords="349,70,469,125" href="../elements/id-b031cf52a5fd4e6e8f90decdbf2a6597.html"  target="element">
				  		<area shape="rect" coords="409,10,529,65" href="../elements/id-948f27b9b99d419ab062f8e2d5863db8.html"  target="element">
				  		<area shape="rect" coords="277,10,397,65" href="../elements/id-5278d11589fe4affbb35f3a116a4b165.html"  target="element">
				  		<area shape="rect" coords="142,10,262,65" href="../elements/id-942acb3c23cb493783c4d2e38168d0ee.html"  target="element">
				  		<area shape="rect" coords="82,70,202,125" href="../elements/id-422bd9c67a8e48da85ade42c64257e88.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-8d7585b2300149efbfc9f5f72a21e905.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8d7585b2300149efbfc9f5f72a21e905.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3586;&#3633;&#3610;&#3648;&#3588;&#3621;&#3639;&#3656;&#3629;&#3609;&#3609;&#3650;&#3618;&#3610;&#3634;&#3618;&#3619;&#3633;&#3600;&#3610;&#3634;&#3621;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; </a> </td>
											    <td> <a href="../elements/id-8d7585b2300149efbfc9f5f72a21e905.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-422bd9c67a8e48da85ade42c64257e88.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3621;&#3634;&#3591; </a> </td>
											    <td> <a href="../elements/id-422bd9c67a8e48da85ade42c64257e88.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-942acb3c23cb493783c4d2e38168d0ee.html" target="element"> &#3626;&#3606;&#3634;&#3610;&#3633;&#3609;&#3614;&#3633;&#3602;&#3609;&#3634;&#3610;&#3640;&#3588;&#3621;&#3585;&#3619;&#3616;&#3634;&#3588;&#3619;&#3633;&#3600;&#3604;&#3657;&#3634;&#3609;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; </a> </td>
											    <td> <a href="../elements/id-942acb3c23cb493783c4d2e38168d0ee.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5278d11589fe4affbb35f3a116a4b165.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3607;&#3637;&#3656;&#3611;&#3619;&#3638;&#3585;&#3625;&#3634;&#3649;&#3621;&#3632;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3650;&#3588;&#3619;&#3591;&#3585;&#3634;&#3619; </a> </td>
											    <td> <a href="../elements/id-5278d11589fe4affbb35f3a116a4b165.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-948f27b9b99d419ab062f8e2d5863db8.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3623;&#3636;&#3592;&#3633;&#3618;&#3649;&#3621;&#3632;&#3614;&#3633;&#3602;&#3609;&#3634;&#3609;&#3623;&#3633;&#3605;&#3585;&#3619;&#3619;&#3617;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; </a> </td>
											    <td> <a href="../elements/id-948f27b9b99d419ab062f8e2d5863db8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b031cf52a5fd4e6e8f90decdbf2a6597.html" target="element"> &#3626;&#3606;&#3634;&#3610;&#3633;&#3609;&#3609;&#3623;&#3633;&#3605;&#3585;&#3619;&#3619;&#3617;&#3649;&#3621;&#3632;&#3608;&#3619;&#3619;&#3617;&#3634;&#3616;&#3636;&#3610;&#3634;&#3621;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; </a> </td>
											    <td> <a href="../elements/id-b031cf52a5fd4e6e8f90decdbf2a6597.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1b0d6c135ec04773a700b5d37835b10f.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3614;&#3633;&#3602;&#3609;&#3634;&#3649;&#3614;&#3621;&#3605;&#3615;&#3629;&#3619;&#3660;&#3617;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621;&#3616;&#3634;&#3588;&#3619;&#3633;&#3600; </a> </td>
											    <td> <a href="../elements/id-1b0d6c135ec04773a700b5d37835b10f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15746fc28a064cc8b0b0ca428dccc59f.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3614;&#3633;&#3602;&#3609;&#3634;&#3649;&#3614;&#3621;&#3605;&#3615;&#3629;&#3619;&#3660;&#3617;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621;&#3649;&#3621;&#3585;&#3648;&#3611;&#3621;&#3637;&#3656;&#3618;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; </a> </td>
											    <td> <a href="../elements/id-15746fc28a064cc8b0b0ca428dccc59f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d628b523d27b44f89bfe476c52ce81ed.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3611;&#3599;&#3636;&#3610;&#3633;&#3605;&#3636;&#3585;&#3634;&#3619;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621; </a> </td>
											    <td> <a href="../elements/id-d628b523d27b44f89bfe476c52ce81ed.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5db0d865b9154920bae4635083721977.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3585;&#3621;&#3618;&#3640;&#3607;&#3608;&#3629;&#3591;&#3588;&#3660;&#3585;&#3619; </a> </td>
											    <td> <a href="../elements/id-5db0d865b9154920bae4635083721977.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-646feb1a51034f04ae50e16966229be2.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3648;&#3607;&#3588;&#3650;&#3609;&#3650;&#3621;&#3618;&#3637;&#3626;&#3634;&#3619;&#3626;&#3609;&#3648;&#3607;&#3624; </a> </td>
											    <td> <a href="../elements/id-646feb1a51034f04ae50e16966229be2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf2eb851783b40d89fab945bf810a271.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3614;&#3633;&#3602;&#3609;&#3634;&#3649;&#3614;&#3621;&#3605;&#3615;&#3629;&#3619;&#3660;&#3617;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621;&#3611;&#3619;&#3632;&#3594;&#3634;&#3594;&#3609; </a> </td>
											    <td> <a href="../elements/id-cf2eb851783b40d89fab945bf810a271.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d8bbb102b214c17b9f3d57642abe0ed.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3617;&#3634;&#3605;&#3619;&#3600;&#3634;&#3609;&#3604;&#3636;&#3592;&#3636;&#3607;&#3633;&#3621;&#3616;&#3634;&#3588;&#3619;&#3633;&#3600; </a> </td>
											    <td> <a href="../elements/id-3d8bbb102b214c17b9f3d57642abe0ed.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8183bc0cd802463e86f5251b96641f3c.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3588;&#3623;&#3634;&#3617;&#3617;&#3633;&#3656;&#3609;&#3588;&#3591;&#3611;&#3621;&#3629;&#3604;&#3616;&#3633;&#3618;&#3607;&#3634;&#3591;&#3652;&#3595;&#3648;&#3610;&#3629;&#3619;&#3660; </a> </td>
											    <td> <a href="../elements/id-8183bc0cd802463e86f5251b96641f3c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2790fa31e4574a9e8a4cee7e39e48821.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3610;&#3619;&#3636;&#3627;&#3634;&#3619;&#3585;&#3621;&#3634;&#3591;&#3607;&#3619;&#3633;&#3614;&#3618;&#3634;&#3585;&#3619;&#3610;&#3640;&#3588;&#3588;&#3621; </a> </td>
											    <td> <a href="../elements/id-2790fa31e4574a9e8a4cee7e39e48821.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2d1d374a8e554d58b351c8af4f5898b7.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3610;&#3633;&#3597;&#3594;&#3637;&#3649;&#3621;&#3632;&#3585;&#3634;&#3619;&#3648;&#3591;&#3636;&#3609; </a> </td>
											    <td> <a href="../elements/id-2d1d374a8e554d58b351c8af4f5898b7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6bd6be65c75e4016865b97c28b94b61c.html" target="element"> &#3626;&#3635;&#3609;&#3633;&#3585;&#3648;&#3621;&#3586;&#3634;&#3609;&#3640;&#3585;&#3634;&#3619;&#3612;&#3641;&#3657;&#3629;&#3635;&#3609;&#3623;&#3618;&#3585;&#3634;&#3619; </a> </td>
											    <td> <a href="../elements/id-6bd6be65c75e4016865b97c28b94b61c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3832574cf8754877b691214c870ce9c5.html" target="element"> &#3613;&#3656;&#3634;&#3618;&#3605;&#3619;&#3623;&#3592;&#3626;&#3629;&#3610;&#3616;&#3634;&#3618;&#3651;&#3609; </a> </td>
											    <td> <a href="../elements/id-3832574cf8754877b691214c870ce9c5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>