<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc2-CH3-F3-func-auto</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc2-CH3-F3-func-auto</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dde171ea01de4e8e85213f30267f951e.png" alt="doc2-CH3-F3-func-auto" usemap="#id-dde171ea01de4e8e85213f30267f951emap"/>
			   <map name="id-dde171ea01de4e8e85213f30267f951emap">
				          <area shape="rect" coords="244,78,305,115" href="../objects/id-fb773acfa59244cc867f86f4815615d7.html" target="element" >
				  		        <area shape="rect" coords="418,66,461,112" href="../objects/id-9266dfad26f949758082623a2feb3859.html" target="element" >
				  		        <area shape="rect" coords="333,17,366,49" href="../objects/id-2865d6f8879c4bb198f00b38b493a252.html" target="element" >
				  				<area shape="rect" coords="333,64,408,113" href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html"  target="element">
				  				<area shape="rect" coords="229,42,317,119" href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html"  target="element">
				  				<area shape="rect" coords="221,17,290,37" href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html"  target="element">

				  		<area shape="rect" coords="214,10,467,131" href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html"  target="element">
				  		        <area shape="rect" coords="371,143,404,175" href="../objects/id-77e384f432594eb7972554ad07ae76c2.html" target="element" >
				  						<area shape="rect" coords="472,326,532,349" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="539,251,599,275" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="540,327,600,350" href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html"  target="element">
				  				        <area shape="rect" coords="478,282,524,325" href="../objects/id-3bdd77d2dc9d4d6f8f84a46b24d511c6.html" target="element" >
				  				        <area shape="rect" coords="478,210,525,259" href="../objects/id-b1132e0c10194e318e0911761588df43.html" target="element" >
				  				        <area shape="rect" coords="538,196,599,249" href="../objects/id-304e6cdd663a4f598ad51e5f429d6580.html" target="element" >
				  				        <area shape="rect" coords="544,284,593,333" href="../objects/id-92be0c44d8274a2f9c185c24400e4a79.html" target="element" >

				  				<area shape="rect" coords="466,178,611,354" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  		        <area shape="rect" coords="394,145,611,172" href="../objects/id-f2bf20cca6024a6a9b5cbd07a10a2172.html" target="element" >
				  		        <area shape="rect" coords="374,187,443,249" href="../objects/id-71bfb80fc91247d0be2260cc43965681.html" target="element" >
				  				<area shape="rect" coords="363,261,454,354" href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html"  target="element">
				  				<area shape="rect" coords="286,178,354,249" href="../elements/id-64802d751dd04492b45b617eff27ed11.html"  target="element">
				  				<area shape="rect" coords="287,274,352,354" href="../elements/id-525c97349ee54a78aacd0e22412ba446.html"  target="element">
				  				<area shape="rect" coords="287,149,372,169" href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html"  target="element">

				  		<area shape="rect" coords="262,142,635,371" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="202,149,235,181" href="../objects/id-22e70868322e4b8188e688509bbba8aa.html" target="element" >
				  				        <area shape="rect" coords="149,198,203,254" href="../objects/id-5d704b2330824bd6a6ab7ea3b272b77b.html" target="element" >

				  				<area shape="rect" coords="130,172,222,258" href="../elements/id-086d587c39e3479997cd8c829dce66d1.html"  target="element">
				  				        <area shape="rect" coords="149,300,203,356" href="../objects/id-7f6d06459e3948c189832752c4422e98.html" target="element" >

				  				<area shape="rect" coords="130,274,222,360" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  				        <area shape="rect" coords="33,304,103,351" href="../objects/id-9b37b93cc75b43cdb93466ca677b44ec.html" target="element" >

				  				<area shape="rect" coords="18,271,115,360" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="25,208,111,253" href="../objects/id-8019ce28390f4fdc9e2128b3a899ceca.html" target="element" >

				  				<area shape="rect" coords="22,178,114,264" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">
				  				<area shape="rect" coords="30,149,131,173" href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html"  target="element">

				  		<area shape="rect" coords="10,142,239,371" href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element"> &#3626;&#3656;&#3623;&#3609;&#3585;&#3621;&#3634;&#3591; </a> </td>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-8019ce28390f4fdc9e2128b3a899ceca.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-8019ce28390f4fdc9e2128b3a899ceca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9b37b93cc75b43cdb93466ca677b44ec.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9b37b93cc75b43cdb93466ca677b44ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-7f6d06459e3948c189832752c4422e98.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7f6d06459e3948c189832752c4422e98.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
													    <td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5d704b2330824bd6a6ab7ea3b272b77b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5d704b2330824bd6a6ab7ea3b272b77b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-22e70868322e4b8188e688509bbba8aa.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-22e70868322e4b8188e688509bbba8aa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element"> Tier  1 (NSW) </a> </td>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element"> API </a> </td>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-71bfb80fc91247d0be2260cc43965681.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-71bfb80fc91247d0be2260cc43965681.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f2bf20cca6024a6a9b5cbd07a10a2172.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f2bf20cca6024a6a9b5cbd07a10a2172.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-92be0c44d8274a2f9c185c24400e4a79.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-92be0c44d8274a2f9c185c24400e4a79.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-304e6cdd663a4f598ad51e5f429d6580.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-304e6cdd663a4f598ad51e5f429d6580.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b1132e0c10194e318e0911761588df43.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b1132e0c10194e318e0911761588df43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-3bdd77d2dc9d4d6f8f84a46b24d511c6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3bdd77d2dc9d4d6f8f84a46b24d511c6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-77e384f432594eb7972554ad07ae76c2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-77e384f432594eb7972554ad07ae76c2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-e7b20412d65b4ee1b8a8e52a1969357d.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-a1d764aa855a4f8187c3e15065fda8f2.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
													    <td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
													    <td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-2865d6f8879c4bb198f00b38b493a252.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2865d6f8879c4bb198f00b38b493a252.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9266dfad26f949758082623a2feb3859.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9266dfad26f949758082623a2feb3859.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-fb773acfa59244cc867f86f4815615d7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fb773acfa59244cc867f86f4815615d7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-3d792c8bebef459297107ccaf24e49ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d792c8bebef459297107ccaf24e49ea.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-cf558bb8803146f7a55a7f7b26dccf9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cf558bb8803146f7a55a7f7b26dccf9c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-086d587c39e3479997cd8c829dce66d1.html" target="element"> Digital ID </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/id-77ca273bbd0044cd98242d822943b81a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-77ca273bbd0044cd98242d822943b81a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element"> API </a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/id-7457dbfb9db8456a87e4ef167b01160f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7457dbfb9db8456a87e4ef167b01160f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6b19771acf4519a4c26b391d90b53f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6e31f7df9d85457c91bc89d704c9273c.html" target="element"> License Management </a> </td>
																				<td> <a href="../elements/id-8d5983706cc541b7b43ddba0ae0d8714.html" target="element"> Business Application </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>