<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH2-F6-tier2-2pay-asis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH2-F6-tier2-2pay-asis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d014e337f4b8498d8ed5394dae5189d1.png" alt="doc1-CH2-F6-tier2-2pay-asis" usemap="#id-d014e337f4b8498d8ed5394dae5189d1map"/>
			   <map name="id-d014e337f4b8498d8ed5394dae5189d1map">
				          <area shape="rect" coords="358,10,401,56" href="../objects/id-00cd4a500cd14e2ba647b7c9f5b4f024.html" target="element" >
				  		        <area shape="rect" coords="363,62,396,94" href="../objects/id-5e8518fec6da4f3a974dc52e512c05df.html" target="element" >
				  						<area shape="rect" coords="472,229,532,252" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="539,154,599,178" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="540,230,600,253" href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html"  target="element">
				  				        <area shape="rect" coords="478,185,524,228" href="../objects/id-6c75efd488ec4abba755764ba13515ed.html" target="element" >
				  				        <area shape="rect" coords="479,111,526,160" href="../objects/id-72619684ba5a42539f1662d2c90097cb.html" target="element" >
				  				        <area shape="rect" coords="538,99,599,152" href="../objects/id-63cd9e89b41a48fd9f253151877ef3a1.html" target="element" >
				  				        <area shape="rect" coords="544,187,593,236" href="../objects/id-340e69c9733e49c4bba20cec4aca6dd9.html" target="element" >

				  				<area shape="rect" coords="466,81,611,257" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				  		        <area shape="rect" coords="382,58,599,85" href="../objects/id-311417366d3b45f7870563151e10032f.html" target="element" >
				  		        <area shape="rect" coords="374,100,443,162" href="../objects/id-ea4bd4104af441f29b930a6253fb4782.html" target="element" >
				  				<area shape="rect" coords="286,84,354,138" href="../elements/id-2ea12ec4f4654658a08be1eebe526fd7.html"  target="element">
				  				<area shape="rect" coords="363,172,454,255" href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html"  target="element">
				  				<area shape="rect" coords="287,144,355,198" href="../elements/id-64802d751dd04492b45b617eff27ed11.html"  target="element">
				  				<area shape="rect" coords="287,204,352,257" href="../elements/id-525c97349ee54a78aacd0e22412ba446.html"  target="element">
				  				<area shape="rect" coords="270,62,355,82" href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html"  target="element">

				  		<area shape="rect" coords="262,55,635,267" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="190,62,223,94" href="../objects/id-3d9d83565e4843c59bf4df8ba1b27683.html" target="element" >
				  				        <area shape="rect" coords="149,117,203,173" href="../objects/id-52cc8530597244d29d2ad83350b1bfe8.html" target="element" >

				  				<area shape="rect" coords="130,91,222,177" href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html"  target="element">
				  				        <area shape="rect" coords="37,203,98,247" href="../objects/id-1f915078d5c34276a9d0817faade3187.html" target="element" >

				  				<area shape="rect" coords="18,184,115,253" href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html"  target="element">
				  				        <area shape="rect" coords="25,121,111,166" href="../objects/id-92959f6748194a6585772bd4e546919a.html" target="element" >

				  				<area shape="rect" coords="22,91,114,177" href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html"  target="element">
				  				<area shape="rect" coords="30,62,131,86" href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html"  target="element">

				  		<area shape="rect" coords="10,55,239,267" href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-a355ea20d20e4ef79065a4dc046c664e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element"> &#3626;&#3656;&#3623;&#3609;&#3585;&#3621;&#3634;&#3591; </a> </td>
													    <td> <a href="../elements/id-6cf90e6b3d5641d0a5f07bfe79ce9a88.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-cf7b10cd95ff407b9f1395073be4f3d0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-92959f6748194a6585772bd4e546919a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-92959f6748194a6585772bd4e546919a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-1f915078d5c34276a9d0817faade3187.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1f915078d5c34276a9d0817faade3187.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
													    <td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-52cc8530597244d29d2ad83350b1bfe8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-52cc8530597244d29d2ad83350b1bfe8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-3d9d83565e4843c59bf4df8ba1b27683.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3d9d83565e4843c59bf4df8ba1b27683.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element"> Tier  1 (NSW) </a> </td>
													    <td> <a href="../elements/id-1e55514dbcc6433ca021daf1da91e37d.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
													    <td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element"> API </a> </td>
													    <td> <a href="../elements/id-64802d751dd04492b45b617eff27ed11.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-a1a6bcf11c6d412cb291e15371c4bf45.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ea12ec4f4654658a08be1eebe526fd7.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-2ea12ec4f4654658a08be1eebe526fd7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-ea4bd4104af441f29b930a6253fb4782.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ea4bd4104af441f29b930a6253fb4782.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-311417366d3b45f7870563151e10032f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-311417366d3b45f7870563151e10032f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-340e69c9733e49c4bba20cec4aca6dd9.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-340e69c9733e49c4bba20cec4aca6dd9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-63cd9e89b41a48fd9f253151877ef3a1.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-63cd9e89b41a48fd9f253151877ef3a1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-72619684ba5a42539f1662d2c90097cb.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-72619684ba5a42539f1662d2c90097cb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-6c75efd488ec4abba755764ba13515ed.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-6c75efd488ec4abba755764ba13515ed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-5e8518fec6da4f3a974dc52e512c05df.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5e8518fec6da4f3a974dc52e512c05df.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-00cd4a500cd14e2ba647b7c9f5b4f024.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-00cd4a500cd14e2ba647b7c9f5b4f024.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f0c0009ff99f4705aaab1f0a1bd5d4b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8cc38e2687a64f97ade18140d5836cea.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-525c97349ee54a78aacd0e22412ba446.html" target="element"> Catalog </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-88fb4750f5fc4517bed9e8f4cd5853c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-88fb4750f5fc4517bed9e8f4cd5853c5.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7cae71e8750146a9bbb2d7953325e62e.html" target="element"> e-Pay </a> </td>
																				<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>