<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc3-CH2-F3-flow</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc3-CH2-F3-flow</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-edd1762b2c634ba8885f41570a7ae4dd.png" alt="doc3-CH2-F3-flow" usemap="#id-edd1762b2c634ba8885f41570a7ae4ddmap"/>
			   <map name="id-edd1762b2c634ba8885f41570a7ae4ddmap">
				  		        <area shape="rect" coords="567,293,636,366" href="../objects/id-834472fb712c46a6acc81c989fda81b3.html" target="element" >

				  		<area shape="rect" coords="558,262,643,371" href="../elements/id-850f501ed6824411bd70b99f51745973.html"  target="element">
				  		        <area shape="rect" coords="357,293,426,366" href="../objects/id-b40b2da1214d44dc8d9b3ebb16a2daa6.html" target="element" >

				  		<area shape="rect" coords="348,262,433,371" href="../elements/id-6309178fa6344507a956004280a862e1.html"  target="element">
				  		        <area shape="rect" coords="975,40,1026,83" href="../objects/id-5363254ae1ec4d26840392812d2744bc.html" target="element" >
				  		        <area shape="rect" coords="977,85,1017,123" href="../objects/id-28450f457f0e46809d931d5ac1eb39ee.html" target="element" >

				  		<area shape="rect" coords="957,19,1049,129" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">
				          <area shape="rect" coords="397,185,433,221" href="../objects/id-e8b8b731c29049029dffd711de468c3e.html" target="element" >
				          <area shape="rect" coords="123,131,152,159" href="../objects/id-a66fa93ef3e94a1cb18c6817e1f97672.html" target="element" >
				          <area shape="rect" coords="682,181,722,220" href="../objects/id-a6688587c13b4a89987229e58cd8efab.html" target="element" >
				  		        <area shape="rect" coords="164,177,219,220" href="../objects/id-e86d256b04c24bc7bda8968fae6a14a7.html" target="element" >
				  				<area shape="rect" coords="662,141,746,224" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="886,180,926,219" href="../objects/id-0f89135ed3e342caa3b5fa8c2936b3a3.html" target="element" >

				  				<area shape="rect" coords="865,140,949,223" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="680,180,720,219" href="../objects/id-cee57317c0204373953c78c0885bacfc.html" target="element" >
				  				        <area shape="rect" coords="599,184,636,221" href="../objects/id-230759605bb64f088720beacd1083ac3.html" target="element" >
				  				        <area shape="rect" coords="564,180,601,223" href="../objects/id-5055e83dee6745c79949c013569ce2d2.html" target="element" >

				  				<area shape="rect" coords="558,142,642,225" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="782,179,822,221" href="../objects/id-40dab84a8b584d9098a9b58cc432197b.html" target="element" >

				  				<area shape="rect" coords="764,141,848,224" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="1012,179,1046,217" href="../objects/id-6ca1f6dab5a4481eb3deef98b82c23f4.html" target="element" >
				  				        <area shape="rect" coords="480,181,515,218" href="../objects/id-2aab9a8fd37745c4a45e19a390395d69.html" target="element" >

				  				<area shape="rect" coords="456,141,540,224" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="363,185,395,219" href="../objects/id-a486e4e2808945e3aa37c3f3b49f4986.html" target="element" >
				  				<area shape="rect" coords="153,139,237,222" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  				        <area shape="rect" coords="272,181,315,218" href="../objects/id-a1ebcf3d98d84fd1b6a34fcd2b568947.html" target="element" >

				  				<area shape="rect" coords="253,139,337,222" href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html"  target="element">
				  		        <area shape="rect" coords="603,184,640,221" href="../objects/id-3acd9ec5daad48a3bdeb1c55f7d7abe0.html" target="element" >
				  				        <area shape="rect" coords="970,181,1009,218" href="../objects/id-285ab4df0f974b248d2effe46deaa38e.html" target="element" >

				  				<area shape="rect" coords="967,140,1051,223" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				<area shape="rect" coords="354,140,438,223" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="401,184,438,221" href="../objects/id-04cf0a2311994bafb91f315462f2e3a6.html" target="element" >

				  		<area shape="rect" coords="143,131,1059,232" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="22,197,86,260" href="../objects/id-f59698a7e50146a69b4cc053973cf957.html" target="element" >
				  		        <area shape="rect" coords="34,169,74,199" href="../objects/id-2f6d61cb7a9444bea6ac8e43e6f619af.html" target="element" >

				  		<area shape="rect" coords="10,167,99,268" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  				        <area shape="rect" coords="569,39,634,97" href="../objects/id-e97f24f79f834c2c9f9aeafbe4de0c79.html" target="element" >

				  				<area shape="rect" coords="558,17,642,100" href="../elements/id-f951601176154364bd65167a519fe01b.html"  target="element">
				  				        <area shape="rect" coords="673,39,738,97" href="../objects/id-b1b25e82c884480792911e06da634414.html" target="element" >

				  				<area shape="rect" coords="662,17,746,100" href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html"  target="element">
				  				        <area shape="rect" coords="876,39,941,97" href="../objects/id-49845a982e4c4a01bcb9599afb378c66.html" target="element" >

				  				<area shape="rect" coords="865,17,949,100" href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html"  target="element">
				  		        <area shape="rect" coords="549,94,682,128" href="../objects/id-e7f9cdd742034df4830c8d984fb473aa.html" target="element" >
				  				<area shape="rect" coords="760,22,848,68" href="../elements/id-3daf932eb03546b98473dabd7af046bc.html"  target="element">
				  				<area shape="rect" coords="760,77,846,126" href="../elements/id-c6ad9846c39642fe840a144042cdd386.html"  target="element">

				  		<area shape="rect" coords="537,10,1059,132" href="../elements/id-8eacebf025d743c19f4105b183fd746f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8eacebf025d743c19f4105b183fd746f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-8eacebf025d743c19f4105b183fd746f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c6ad9846c39642fe840a144042cdd386.html" target="element"> Link </a> </td>
													    <td> <a href="../elements/id-c6ad9846c39642fe840a144042cdd386.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3daf932eb03546b98473dabd7af046bc.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-3daf932eb03546b98473dabd7af046bc.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-e7f9cdd742034df4830c8d984fb473aa.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e7f9cdd742034df4830c8d984fb473aa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-49845a982e4c4a01bcb9599afb378c66.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-49845a982e4c4a01bcb9599afb378c66.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-b1b25e82c884480792911e06da634414.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b1b25e82c884480792911e06da634414.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-e97f24f79f834c2c9f9aeafbe4de0c79.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-e97f24f79f834c2c9f9aeafbe4de0c79.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-2f6d61cb7a9444bea6ac8e43e6f619af.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2f6d61cb7a9444bea6ac8e43e6f619af.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f59698a7e50146a69b4cc053973cf957.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f59698a7e50146a69b4cc053973cf957.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-04cf0a2311994bafb91f315462f2e3a6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-04cf0a2311994bafb91f315462f2e3a6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-285ab4df0f974b248d2effe46deaa38e.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-285ab4df0f974b248d2effe46deaa38e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-3acd9ec5daad48a3bdeb1c55f7d7abe0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3acd9ec5daad48a3bdeb1c55f7d7abe0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-a1ebcf3d98d84fd1b6a34fcd2b568947.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-a1ebcf3d98d84fd1b6a34fcd2b568947.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-a486e4e2808945e3aa37c3f3b49f4986.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a486e4e2808945e3aa37c3f3b49f4986.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-2aab9a8fd37745c4a45e19a390395d69.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-2aab9a8fd37745c4a45e19a390395d69.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-6ca1f6dab5a4481eb3deef98b82c23f4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6ca1f6dab5a4481eb3deef98b82c23f4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-40dab84a8b584d9098a9b58cc432197b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-40dab84a8b584d9098a9b58cc432197b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5055e83dee6745c79949c013569ce2d2.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5055e83dee6745c79949c013569ce2d2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-230759605bb64f088720beacd1083ac3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-230759605bb64f088720beacd1083ac3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-cee57317c0204373953c78c0885bacfc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cee57317c0204373953c78c0885bacfc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-0f89135ed3e342caa3b5fa8c2936b3a3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0f89135ed3e342caa3b5fa8c2936b3a3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-e86d256b04c24bc7bda8968fae6a14a7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e86d256b04c24bc7bda8968fae6a14a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-a6688587c13b4a89987229e58cd8efab.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a6688587c13b4a89987229e58cd8efab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a66fa93ef3e94a1cb18c6817e1f97672.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a66fa93ef3e94a1cb18c6817e1f97672.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e8b8b731c29049029dffd711de468c3e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e8b8b731c29049029dffd711de468c3e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
											    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-28450f457f0e46809d931d5ac1eb39ee.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-28450f457f0e46809d931d5ac1eb39ee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5363254ae1ec4d26840392812d2744bc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5363254ae1ec4d26840392812d2744bc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
											    <td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-b40b2da1214d44dc8d9b3ebb16a2daa6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b40b2da1214d44dc8d9b3ebb16a2daa6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-850f501ed6824411bd70b99f51745973.html" target="element"> Business Service (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-850f501ed6824411bd70b99f51745973.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-834472fb712c46a6acc81c989fda81b3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-834472fb712c46a6acc81c989fda81b3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-42772ed6eab04b4d88596f8a14056939.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42772ed6eab04b4d88596f8a14056939.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9a4cac8f2b7049c4b187c93deb903d51.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-26c677d80016430c8494c60121a70fd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-26c677d80016430c8494c60121a70fd0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d64baa67111479a924f34f7204b2b5a.html" target="element"> Business Process (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-2e6063b6cd864e66b814d92a766bb892.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2e6063b6cd864e66b814d92a766bb892.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f951601176154364bd65167a519fe01b.html" target="element"> Business Process (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-37611b90cd7f4dc0a0acff7ffbaf97b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37611b90cd7f4dc0a0acff7ffbaf97b6.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6309178fa6344507a956004280a862e1.html" target="element"> Business Service (copy) </a> </td>
																		<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-8bca0ff2963b48448a66ef1bf48dffa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bca0ff2963b48448a66ef1bf48dffa7.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-850f501ed6824411bd70b99f51745973.html" target="element"> Business Service (copy) (copy) </a> </td>
																		<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>