<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH1-F6-EA-all</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH1-F6-EA-all</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ece9080d64824983a0af9fdec5a318e5.png" alt="doc1-CH1-F6-EA-all" usemap="#id-ece9080d64824983a0af9fdec5a318e5map"/>
			   <map name="id-ece9080d64824983a0af9fdec5a318e5map">
				  		        <area shape="rect" coords="351,279,429,300" href="../objects/id-ff1418bac9324abd906aeee6e43074fe.html" target="element" >
				  		        <area shape="rect" coords="349,254,428,274" href="../objects/id-7c3ccf216c5941e1a2cc1a61b6831279.html" target="element" >
				  		        <area shape="rect" coords="246,256,331,306" href="../objects/id-d223870c596e49a684278be7ca3a1ab7.html" target="element" >
				  		        <area shape="rect" coords="444,260,532,290" href="../objects/id-44f2cf7a87e744fcb9ef806aaf3b6255.html" target="element" >
				  		        <area shape="rect" coords="157,265,235,296" href="../objects/id-bb1ea22e686c41fc83b9fcf999770347.html" target="element" >
				  		        <area shape="rect" coords="537,255,645,295" href="../objects/id-5c7059d32fe049e3b202b131cb4e746b.html" target="element" >
				  		        <area shape="rect" coords="99,263,149,298" href="../objects/id-2bf7ce8a81f7491bbeb8039dadbbdaa9.html" target="element" >

				  		<area shape="rect" coords="93,246,649,312" href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html"  target="element">
				  		<area shape="rect" coords="12,318,85,444" href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html"  target="element">
				  		<area shape="rect" coords="12,246,85,312" href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html"  target="element">
				  		<area shape="rect" coords="10,81,83,183" href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html"  target="element">
				  		<area shape="rect" coords="11,186,84,242" href="../elements/id-064b4513af0d470eb727775c55541f5c.html"  target="element">
				  		<area shape="rect" coords="10,11,83,75" href="../elements/id-8a560d80ba674419b127602532fe7b58.html"  target="element">
				  		<area shape="rect" coords="713,10,774,446" href="../elements/id-61fca7296b7f413a983a42549447be95.html"  target="element">
				  		<area shape="rect" coords="655,11,710,445" href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html"  target="element">
				          <area shape="rect" coords="151,403,196,440" href="../objects/id-990fb6145d784656b143f857100678c3.html" target="element" >
				  		        <area shape="rect" coords="179,190,217,226" href="../objects/id-12d9ed080b98475394647b4df2862a89.html" target="element" >
				  		        <area shape="rect" coords="174,222,243,242" href="../objects/id-22469ba347704053863a9cd70ed43fdc.html" target="element" >
				  		        <area shape="rect" coords="512,222,592,242" href="../objects/id-a407cd6049c44851a79cc090da9fcfd8.html" target="element" >
				  		        <area shape="rect" coords="591,221,632,241" href="../objects/id-c86609a348c146a68e597008fba78157.html" target="element" >
				  		        <area shape="rect" coords="593,189,628,224" href="../objects/id-cacd87770c544e60ba8f3e42046999ea.html" target="element" >
				  		        <area shape="rect" coords="103,220,172,240" href="../objects/id-8ad093a6150a49c4a7d7be8e6212d538.html" target="element" >
				  		        <area shape="rect" coords="321,190,359,226" href="../objects/id-6b5dee7059ec4e3cb28bc42539019991.html" target="element" >
				  		        <area shape="rect" coords="390,190,428,226" href="../objects/id-1b6f4bfc35d94b4292262a1955a21a6e.html" target="element" >
				  		        <area shape="rect" coords="449,222,509,242" href="../objects/id-9989eafb483a44d4b7b7474e2cf9fe57.html" target="element" >
				  		        <area shape="rect" coords="107,190,145,226" href="../objects/id-dd96ac72eada442da7935b949f5f76c4.html" target="element" >
				  		        <area shape="rect" coords="372,222,441,242" href="../objects/id-4df7ba39851841eaa630ac81001b6ee5.html" target="element" >
				  		        <area shape="rect" coords="304,222,373,242" href="../objects/id-795f5bff35754005b0f0d9b5c00d095a.html" target="element" >
				  		        <area shape="rect" coords="255,190,293,226" href="../objects/id-aa15462060ad45e28efb29458dd5706c.html" target="element" >
				  		        <area shape="rect" coords="237,222,306,242" href="../objects/id-2e5d672a3d75448a86e7e1b8478037c9.html" target="element" >
				  		        <area shape="rect" coords="526,190,564,227" href="../objects/id-9a34bde54bd7486e8c8b3d1579d58f29.html" target="element" >
				  		        <area shape="rect" coords="457,190,495,226" href="../objects/id-a33fd015cebb4fbbb9631ad4a207cff8.html" target="element" >

				  		<area shape="rect" coords="95,184,651,242" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  		        <area shape="rect" coords="116,26,200,66" href="../objects/id-f10cc14951b14f8d97a78897badb46e6.html" target="element" >
				  		        <area shape="rect" coords="550,26,628,68" href="../objects/id-66558e3b3250423489b65f585e8b776d.html" target="element" >
				  		        <area shape="rect" coords="430,26,532,68" href="../objects/id-053cd19dbac24775a14281125ad66e89.html" target="element" >
				  		        <area shape="rect" coords="310,26,407,68" href="../objects/id-88dad8847f0b4df0ab31e7a89a1895ed.html" target="element" >
				  		        <area shape="rect" coords="214,23,287,71" href="../objects/id-888878892b224312a85ff420357a38c9.html" target="element" >

				  		<area shape="rect" coords="94,12,650,77" href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html"  target="element">
				  		        <area shape="rect" coords="580,137,618,173" href="../objects/id-d76a3004ceca4cf880de7023482a4436.html" target="element" >
				  		        <area shape="rect" coords="528,138,566,174" href="../objects/id-59afb3742db94c56b53ffa8e34b78e88.html" target="element" >
				  		        <area shape="rect" coords="475,138,513,174" href="../objects/id-78b896f1e1cf4467a2cb78179e4d5687.html" target="element" >
				  		        <area shape="rect" coords="429,140,461,172" href="../objects/id-5966e257fbdc4e35baedc7162c286024.html" target="element" >
				  		        <area shape="rect" coords="373,138,411,174" href="../objects/id-57f48a831b7e4e2cbff8ba1add8e514c.html" target="element" >
				  		        <area shape="rect" coords="322,139,360,175" href="../objects/id-953b02dbc86048e6bcc517fa2dbf7131.html" target="element" >
				  		        <area shape="rect" coords="272,140,310,176" href="../objects/id-0b029e0ce8c04b1686cd2b1486d30c92.html" target="element" >
				  		        <area shape="rect" coords="221,136,259,172" href="../objects/id-844499cc03654213b3094c5cd3cf3ed5.html" target="element" >
				  		        <area shape="rect" coords="165,138,203,174" href="../objects/id-cdb88821beb1409f8ff90553e97f84ef.html" target="element" >
				  		        <area shape="rect" coords="111,139,149,175" href="../objects/id-595d949e79b84c178201ce22a0299e2b.html" target="element" >
				  		        <area shape="rect" coords="523,117,569,141" href="../objects/id-292264a6e15440f380dbf8b1e9ae608e.html" target="element" >
				  		        <area shape="rect" coords="423,117,465,141" href="../objects/id-bfe5af9b00a94e548ce75b7b83685d85.html" target="element" >
				  		        <area shape="rect" coords="367,117,409,141" href="../objects/id-140fe95353af4c83a6776ad5eb12bc28.html" target="element" >
				  		        <area shape="rect" coords="109,117,151,141" href="../objects/id-84a954b6d36244f5a0046b3a3a2d6a3e.html" target="element" >
				  		        <area shape="rect" coords="576,117,628,141" href="../objects/id-8a9f5b01381c4499a16f0dcbdca49d84.html" target="element" >
				  		        <area shape="rect" coords="213,117,255,141" href="../objects/id-7b3783b3dec546529daf7879820996ed.html" target="element" >
				  		        <area shape="rect" coords="314,117,356,141" href="../objects/id-b9296b950a3f4d829450ce4039cad733.html" target="element" >
				  		        <area shape="rect" coords="471,117,517,141" href="../objects/id-59ff791b26cd4007b5299dbdb34f9262.html" target="element" >
				  		        <area shape="rect" coords="264,117,306,141" href="../objects/id-504b2cf985474689a680d1a2d8523faf.html" target="element" >
				  		        <area shape="rect" coords="159,117,201,141" href="../objects/id-7a0194bde2094688a57e1d4576e93634.html" target="element" >
				  		        <area shape="rect" coords="104,87,632,123" href="../objects/id-7b118d76682c4c9591a2b1483b37be10.html" target="element" >

				  		<area shape="rect" coords="93,81,651,180" href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html"  target="element">
				          <area shape="rect" coords="333,397,574,434" href="../objects/id-00f179e6cbb349889baad7a12e59682a.html" target="element" >
				          <area shape="rect" coords="213,397,322,446" href="../objects/id-79b9691efd3541b3938be951ab97e7b7.html" target="element" >
				          <area shape="rect" coords="334,318,623,391" href="../objects/id-f4527ee503554bacbd906bfbb8fda76d.html" target="element" >
				          <area shape="rect" coords="174,333,263,377" href="../objects/id-54fc12461ae0424d9dd9e44323b39656.html" target="element" >
				          <area shape="rect" coords="94,318,647,391" href="../objects/id-6aeecac490da4bff8cbe09a41e12227e.html" target="element" >
				          <area shape="rect" coords="95,394,648,443" href="../objects/id-2ca9b3b7d2e649d1ac465c4ad517a7c8.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-2ca9b3b7d2e649d1ac465c4ad517a7c8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2ca9b3b7d2e649d1ac465c4ad517a7c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6aeecac490da4bff8cbe09a41e12227e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6aeecac490da4bff8cbe09a41e12227e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-54fc12461ae0424d9dd9e44323b39656.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-54fc12461ae0424d9dd9e44323b39656.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f4527ee503554bacbd906bfbb8fda76d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f4527ee503554bacbd906bfbb8fda76d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-79b9691efd3541b3938be951ab97e7b7.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-79b9691efd3541b3938be951ab97e7b7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-00f179e6cbb349889baad7a12e59682a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-00f179e6cbb349889baad7a12e59682a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-7b118d76682c4c9591a2b1483b37be10.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7b118d76682c4c9591a2b1483b37be10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7a0194bde2094688a57e1d4576e93634.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7a0194bde2094688a57e1d4576e93634.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-504b2cf985474689a680d1a2d8523faf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-504b2cf985474689a680d1a2d8523faf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-59ff791b26cd4007b5299dbdb34f9262.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-59ff791b26cd4007b5299dbdb34f9262.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b9296b950a3f4d829450ce4039cad733.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b9296b950a3f4d829450ce4039cad733.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7b3783b3dec546529daf7879820996ed.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7b3783b3dec546529daf7879820996ed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8a9f5b01381c4499a16f0dcbdca49d84.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8a9f5b01381c4499a16f0dcbdca49d84.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-84a954b6d36244f5a0046b3a3a2d6a3e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-84a954b6d36244f5a0046b3a3a2d6a3e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-140fe95353af4c83a6776ad5eb12bc28.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-140fe95353af4c83a6776ad5eb12bc28.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-bfe5af9b00a94e548ce75b7b83685d85.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bfe5af9b00a94e548ce75b7b83685d85.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-292264a6e15440f380dbf8b1e9ae608e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-292264a6e15440f380dbf8b1e9ae608e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-595d949e79b84c178201ce22a0299e2b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-595d949e79b84c178201ce22a0299e2b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cdb88821beb1409f8ff90553e97f84ef.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cdb88821beb1409f8ff90553e97f84ef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-844499cc03654213b3094c5cd3cf3ed5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-844499cc03654213b3094c5cd3cf3ed5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0b029e0ce8c04b1686cd2b1486d30c92.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0b029e0ce8c04b1686cd2b1486d30c92.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-953b02dbc86048e6bcc517fa2dbf7131.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-953b02dbc86048e6bcc517fa2dbf7131.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-57f48a831b7e4e2cbff8ba1add8e514c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-57f48a831b7e4e2cbff8ba1add8e514c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5966e257fbdc4e35baedc7162c286024.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5966e257fbdc4e35baedc7162c286024.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-78b896f1e1cf4467a2cb78179e4d5687.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-78b896f1e1cf4467a2cb78179e4d5687.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-59afb3742db94c56b53ffa8e34b78e88.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-59afb3742db94c56b53ffa8e34b78e88.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d76a3004ceca4cf880de7023482a4436.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d76a3004ceca4cf880de7023482a4436.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-888878892b224312a85ff420357a38c9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-888878892b224312a85ff420357a38c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-88dad8847f0b4df0ab31e7a89a1895ed.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-88dad8847f0b4df0ab31e7a89a1895ed.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-053cd19dbac24775a14281125ad66e89.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-053cd19dbac24775a14281125ad66e89.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-66558e3b3250423489b65f585e8b776d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-66558e3b3250423489b65f585e8b776d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f10cc14951b14f8d97a78897badb46e6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f10cc14951b14f8d97a78897badb46e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-a33fd015cebb4fbbb9631ad4a207cff8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a33fd015cebb4fbbb9631ad4a207cff8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9a34bde54bd7486e8c8b3d1579d58f29.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9a34bde54bd7486e8c8b3d1579d58f29.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2e5d672a3d75448a86e7e1b8478037c9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2e5d672a3d75448a86e7e1b8478037c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-aa15462060ad45e28efb29458dd5706c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-aa15462060ad45e28efb29458dd5706c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-795f5bff35754005b0f0d9b5c00d095a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-795f5bff35754005b0f0d9b5c00d095a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4df7ba39851841eaa630ac81001b6ee5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4df7ba39851841eaa630ac81001b6ee5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-dd96ac72eada442da7935b949f5f76c4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-dd96ac72eada442da7935b949f5f76c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9989eafb483a44d4b7b7474e2cf9fe57.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9989eafb483a44d4b7b7474e2cf9fe57.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1b6f4bfc35d94b4292262a1955a21a6e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1b6f4bfc35d94b4292262a1955a21a6e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6b5dee7059ec4e3cb28bc42539019991.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6b5dee7059ec4e3cb28bc42539019991.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8ad093a6150a49c4a7d7be8e6212d538.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8ad093a6150a49c4a7d7be8e6212d538.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cacd87770c544e60ba8f3e42046999ea.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cacd87770c544e60ba8f3e42046999ea.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c86609a348c146a68e597008fba78157.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c86609a348c146a68e597008fba78157.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a407cd6049c44851a79cc090da9fcfd8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a407cd6049c44851a79cc090da9fcfd8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-22469ba347704053863a9cd70ed43fdc.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-22469ba347704053863a9cd70ed43fdc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-12d9ed080b98475394647b4df2862a89.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-12d9ed080b98475394647b4df2862a89.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-990fb6145d784656b143f857100678c3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-990fb6145d784656b143f857100678c3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element"> Legal </a> </td>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element"> Security </a> </td>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element"> Service Channel </a> </td>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element"> Service Process </a> </td>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element"> Service Category </a> </td>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element"> Single Platform </a> </td>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element"> Service Support  Taskforce </a> </td>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html" target="element"> Business Function (copy) </a> </td>
											    <td> <a href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-2bf7ce8a81f7491bbeb8039dadbbdaa9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2bf7ce8a81f7491bbeb8039dadbbdaa9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5c7059d32fe049e3b202b131cb4e746b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5c7059d32fe049e3b202b131cb4e746b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-bb1ea22e686c41fc83b9fcf999770347.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bb1ea22e686c41fc83b9fcf999770347.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-44f2cf7a87e744fcb9ef806aaf3b6255.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-44f2cf7a87e744fcb9ef806aaf3b6255.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d223870c596e49a684278be7ca3a1ab7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d223870c596e49a684278be7ca3a1ab7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7c3ccf216c5941e1a2cc1a61b6831279.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7c3ccf216c5941e1a2cc1a61b6831279.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ff1418bac9324abd906aeee6e43074fe.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ff1418bac9324abd906aeee6e43074fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>