<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH6-F1-Linked</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH6-F1-Linked</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ecdf47ecf86d4f98a5bb100ad78abaa1.png" alt="doc1-CH6-F1-Linked" usemap="#id-ecdf47ecf86d4f98a5bb100ad78abaa1map"/>
			   <map name="id-ecdf47ecf86d4f98a5bb100ad78abaa1map">
				          <area shape="rect" coords="1060,279,1121,332" href="../objects/id-dbf77afab09441508ff7d09b32d1be51.html" target="element" >
				          <area shape="rect" coords="466,10,1005,47" href="../objects/id-b0926fe2c9324af5a7096fef3ba9f010.html" target="element" >
				          <area shape="rect" coords="954,291,1008,342" href="../objects/id-28777c173ea24951b6da4a227b8661f3.html" target="element" >
				          <area shape="rect" coords="953,232,1007,285" href="../objects/id-1b1c9f68088244c4af9f3b5c58a0358b.html" target="element" >
				          <area shape="rect" coords="958,61,998,112" href="../objects/id-732efde0460d47ae930281b198eabc6d.html" target="element" >
				          <area shape="rect" coords="952,117,1006,168" href="../objects/id-1dddecf31cae44148a345944cb1273ca.html" target="element" >
				          <area shape="rect" coords="952,173,1006,224" href="../objects/id-5b11bd7f830c4564abffca8c82586690.html" target="element" >
				          <area shape="rect" coords="10,135,155,156" href="../objects/id-56f291cd681a4cf99f0c64a164cac562.html" target="element" >
				          <area shape="rect" coords="1192,167,1225,199" href="../objects/id-6459fe371d6541c58f0b0c93b55c781b.html" target="element" >
				          <area shape="rect" coords="256,368,289,400" href="../objects/id-f9dd6aa7d72244f091cf874b182a87fe.html" target="element" >
				          <area shape="rect" coords="814,241,933,274" href="../objects/id-8a53d386b2df4c48a46307268cacd5d0.html" target="element" >
				          <area shape="rect" coords="814,62,934,111" href="../objects/id-aa92cea30627432f93ff43bb12e1e092.html" target="element" >
				          <area shape="rect" coords="814,302,934,332" href="../objects/id-ce2343b0b3fe4815b9426ba59a80d5c9.html" target="element" >
				          <area shape="rect" coords="814,185,934,221" href="../objects/id-3fbbda3cbee147e08acbc823249ad4d5.html" target="element" >
				          <area shape="rect" coords="814,122,946,164" href="../objects/id-a323cd67c71b48a6a931bc2b461f05d6.html" target="element" >
				  		<area shape="rect" coords="682,292,803,336" href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html"  target="element">
				          <area shape="rect" coords="22,36,107,130" href="../objects/id-01e0fbd4dc5844a5b1b916294b5a435d.html" target="element" >
				          <area shape="rect" coords="310,15,371,74" href="../objects/id-60435102f8534af992ea13a16c3a4b96.html" target="element" >
				          <area shape="rect" coords="22,351,209,400" href="../objects/id-0a8f7cf4080a4a188009210bc967936a.html" target="element" >
				  		<area shape="rect" coords="22,185,143,306" href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html"  target="element">
				  		        <area shape="rect" coords="196,319,291,343" href="../objects/id-6306713a9ae1496885a149fc069ce461.html" target="element" >

				  		<area shape="rect" coords="166,301,311,345" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		<area shape="rect" coords="685,236,806,280" href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html"  target="element">
				  		<area shape="rect" coords="684,177,805,221" href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html"  target="element">
				  		<area shape="rect" coords="682,121,803,165" href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html"  target="element">
				  		<area shape="rect" coords="682,61,803,105" href="../elements/id-56fb716883b44a01913c52f37deac968.html"  target="element">
				  		        <area shape="rect" coords="434,78,544,118" href="../objects/id-7c11478741964bbbbe17c78ae3254495.html" target="element" >

				  		<area shape="rect" coords="430,73,551,146" href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html"  target="element">
				  		        <area shape="rect" coords="196,259,291,283" href="../objects/id-bb6bb381ad7e4c7fb12b2677b164e0b8.html" target="element" >

				  		<area shape="rect" coords="166,241,311,285" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="204,79,271,103" href="../objects/id-5e8637793ce343c4ab05a9fe67344a10.html" target="element" >

				  		<area shape="rect" coords="166,61,311,105" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="196,199,291,223" href="../objects/id-5768028cf40a48f4b457c94753ea275c.html" target="element" >

				  		<area shape="rect" coords="166,181,311,225" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="196,139,291,163" href="../objects/id-9879fa6e4bee411ea0d25bf75d6ac6b6.html" target="element" >

				  		<area shape="rect" coords="166,121,311,165" href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html"  target="element">
				  		        <area shape="rect" coords="396,336,689,385" href="../objects/id-4c52f50c5eeb4ad3ab3e6aeef197084f.html" target="element" >
				  		        <area shape="rect" coords="397,156,430,188" href="../objects/id-f7d31173e6304609859c0be59150aa60.html" target="element" >
				  				<area shape="rect" coords="1023,252,1168,337" href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html"  target="element">
				  						<area shape="rect" coords="1027,206,1085,232" href="../elements/id-c60a69406c4445e18c9af938ddae341b.html"  target="element">
				  						<area shape="rect" coords="1098,133,1156,159" href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html"  target="element">
				  						<area shape="rect" coords="1097,206,1161,232" href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html"  target="element">
				  				        <area shape="rect" coords="1037,163,1083,206" href="../objects/id-5f57bba65c404a958a577623f14108fa.html" target="element" >
				  				        <area shape="rect" coords="1032,86,1079,135" href="../objects/id-1e57034062234995913b5e61e2c39ac0.html" target="element" >
				  				        <area shape="rect" coords="1097,78,1158,131" href="../objects/id-0b455078882a457eaa8add478140a0c8.html" target="element" >
				  				        <area shape="rect" coords="1103,162,1152,211" href="../objects/id-30f490ffec2540efb22458c0fd46bae2.html" target="element" >

				  				<area shape="rect" coords="1021,60,1170,236" href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html"  target="element">

				  		<area shape="rect" coords="388,48,1181,400" href="../elements/id-04c9aea47e814194af6b8e2eb822a166.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-04c9aea47e814194af6b8e2eb822a166.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-04c9aea47e814194af6b8e2eb822a166.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-30f490ffec2540efb22458c0fd46bae2.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-30f490ffec2540efb22458c0fd46bae2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0b455078882a457eaa8add478140a0c8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0b455078882a457eaa8add478140a0c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1e57034062234995913b5e61e2c39ac0.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-1e57034062234995913b5e61e2c39ac0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-5f57bba65c404a958a577623f14108fa.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5f57bba65c404a958a577623f14108fa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
															    <td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
															    <td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
															    <td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element"> License Service </a> </td>
													    <td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-f7d31173e6304609859c0be59150aa60.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f7d31173e6304609859c0be59150aa60.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4c52f50c5eeb4ad3ab3e6aeef197084f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4c52f50c5eeb4ad3ab3e6aeef197084f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-9879fa6e4bee411ea0d25bf75d6ac6b6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9879fa6e4bee411ea0d25bf75d6ac6b6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-5768028cf40a48f4b457c94753ea275c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5768028cf40a48f4b457c94753ea275c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-5e8637793ce343c4ab05a9fe67344a10.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5e8637793ce343c4ab05a9fe67344a10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-bb6bb381ad7e4c7fb12b2677b164e0b8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-bb6bb381ad7e4c7fb12b2677b164e0b8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
											    <td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-7c11478741964bbbbe17c78ae3254495.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7c11478741964bbbbe17c78ae3254495.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element"> HTML+RDFa </a> </td>
											    <td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element"> RDF/XML </a> </td>
											    <td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element"> RDF/JSON-LD </a> </td>
											    <td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element"> RFDF/N3    </a> </td>
											    <td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
											    <td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-6306713a9ae1496885a149fc069ce461.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6306713a9ae1496885a149fc069ce461.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element"> Business </a> </td>
											    <td> <a href="../elements/id-c12cf2b4ba90422c83c1dc9ddcfe2b4f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0a8f7cf4080a4a188009210bc967936a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0a8f7cf4080a4a188009210bc967936a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-60435102f8534af992ea13a16c3a4b96.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-60435102f8534af992ea13a16c3a4b96.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-01e0fbd4dc5844a5b1b916294b5a435d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-01e0fbd4dc5844a5b1b916294b5a435d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element"> RFDF/TTL  </a> </td>
											    <td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-a323cd67c71b48a6a931bc2b461f05d6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a323cd67c71b48a6a931bc2b461f05d6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3fbbda3cbee147e08acbc823249ad4d5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3fbbda3cbee147e08acbc823249ad4d5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ce2343b0b3fe4815b9426ba59a80d5c9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ce2343b0b3fe4815b9426ba59a80d5c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-aa92cea30627432f93ff43bb12e1e092.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-aa92cea30627432f93ff43bb12e1e092.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8a53d386b2df4c48a46307268cacd5d0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8a53d386b2df4c48a46307268cacd5d0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f9dd6aa7d72244f091cf874b182a87fe.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f9dd6aa7d72244f091cf874b182a87fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6459fe371d6541c58f0b0c93b55c781b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6459fe371d6541c58f0b0c93b55c781b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-56f291cd681a4cf99f0c64a164cac562.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-56f291cd681a4cf99f0c64a164cac562.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5b11bd7f830c4564abffca8c82586690.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5b11bd7f830c4564abffca8c82586690.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1dddecf31cae44148a345944cb1273ca.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1dddecf31cae44148a345944cb1273ca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-732efde0460d47ae930281b198eabc6d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-732efde0460d47ae930281b198eabc6d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-1b1c9f68088244c4af9f3b5c58a0358b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1b1c9f68088244c4af9f3b5c58a0358b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-28777c173ea24951b6da4a227b8661f3.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-28777c173ea24951b6da4a227b8661f3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b0926fe2c9324af5a7096fef3ba9f010.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b0926fe2c9324af5a7096fef3ba9f010.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-dbf77afab09441508ff7d09b32d1be51.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dbf77afab09441508ff7d09b32d1be51.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b59608e9a8ef479283c6d8948822802e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b59608e9a8ef479283c6d8948822802e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04c9aea47e814194af6b8e2eb822a166.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6af4d348107a4b85a5fd8c6b6e10179e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6af4d348107a4b85a5fd8c6b6e10179e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04c9aea47e814194af6b8e2eb822a166.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-a1b679a6503f4362bc39aebf72fe5977.html" target="element"> License Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-450d9b100e464c7e9361939874eeb351.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-4bdfbc6743db462592c82edc567e6a8d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b3eb6c2e72241148b71bd683455ec5a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-c60a69406c4445e18c9af938ddae341b.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44acfd47b9c143b6b07d808582df44fa.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df863b88ffc24acbbd2db6ff2635417d.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-13ce374f1f9f45c9bb2b8b2b6ac29fe0.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-718ac4b3eb7946508d8fc5aa443e9eed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-718ac4b3eb7946508d8fc5aa443e9eed.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-56fb716883b44a01913c52f37deac968.html" target="element"> HTML+RDFa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7d9ae0d57b149ea967a6891fc6ee924.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7d9ae0d57b149ea967a6891fc6ee924.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-c02906c38aeb45d09c02596df995ba0e.html" target="element"> RDF/XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ca683c4693743ccb2885b1fa95dee7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ca683c4693743ccb2885b1fa95dee7a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-8aea89341e724c7b95765523b7a9af0b.html" target="element"> RDF/JSON-LD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-80dc2964e6104ef4b8e2facc9e1003e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-80dc2964e6104ef4b8e2facc9e1003e0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-b32d4baa0fd0451eabd7d6aa181fab25.html" target="element"> RFDF/N3    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-698f3d8f99204b86bdb47259f6dbc675.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698f3d8f99204b86bdb47259f6dbc675.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																		<td> <a href="../elements/id-7e5f559a557d46ce910cc8cba7deeb9d.html" target="element"> RFDF/TTL  </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0616e98497bd4fcba23be4fbbaf9801e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1eb0383103d34175b53dc72d57184b8e.html" target="element"> http://org/no/001 </a> </td>
																		<td> <a href="../elements/id-792c1130d1224ca4b9864c1cb67cad4f.html" target="element"> http service </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>