<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc2-CH1-F3-phase</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc2-CH1-F3-phase</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e09486a333844fcbbfbf57d120c41bcb.png" alt="doc2-CH1-F3-phase" usemap="#id-e09486a333844fcbbfbf57d120c41bcbmap"/>
			   <map name="id-e09486a333844fcbbfbf57d120c41bcbmap">
				  		        <area shape="rect" coords="682,349,802,398" href="../objects/id-96f171b4e75444dc9f7cf06923a85031.html" target="element" >
				  		        <area shape="rect" coords="394,354,498,403" href="../objects/id-c8b7872e9648404f951390779c2de0e9.html" target="element" >
				  		        <area shape="rect" coords="58,358,210,403" href="../objects/id-7a08728a356540bcaaa41d71514a3308.html" target="element" >
				  				<area shape="rect" coords="802,344,983,404" href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html"  target="element">
				  				<area shape="rect" coords="214,344,387,404" href="../elements/id-bc753559364841c9b2af8261604cc8ae.html"  target="element">
				  				<area shape="rect" coords="928,404,1023,488" href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html"  target="element">
				  				<area shape="rect" coords="502,344,675,404" href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html"  target="element">
				  				        <area shape="rect" coords="664,413,827,476" href="../objects/id-68e487630e364c9b92d99e4f919aac0a.html" target="element" >

				  				<area shape="rect" coords="622,404,863,489" href="../elements/id-d81d43599998477c8ddf01aaab647bec.html"  target="element">
				  				        <area shape="rect" coords="378,414,541,479" href="../objects/id-010196b7fffb421f928586a6b791f42d.html" target="element" >

				  				<area shape="rect" coords="334,404,575,489" href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html"  target="element">
				  				        <area shape="rect" coords="90,413,250,478" href="../objects/id-d4db0850aa324b038245f34af4d8bbfd.html" target="element" >

				  				<area shape="rect" coords="46,404,287,489" href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html"  target="element">
				  		        <area shape="rect" coords="13,322,116,359" href="../objects/id-73338722a3ef442d94ce582e5548f69d.html" target="element" >

				  		<area shape="rect" coords="10,322,1052,515" href="../elements/id-0599b8a492774633af0f5614743b0fe7.html"  target="element">
				  		        <area shape="rect" coords="696,39,729,71" href="../objects/id-5dedc5cfea114a6d9a86ddf64a71aef0.html" target="element" >
				  		        <area shape="rect" coords="403,39,436,71" href="../objects/id-b3e623d1be8245d9a61ecc2a325c785d.html" target="element" >
				  		        <area shape="rect" coords="740,178,797,217" href="../objects/id-21092eb1af2e48b28b31109ee06efd1c.html" target="element" >
				  		        <area shape="rect" coords="485,178,542,217" href="../objects/id-0eeefc32ba5a4d90916fe8c20e9f3be8.html" target="element" >
				  		        <area shape="rect" coords="754,70,805,120" href="../objects/id-eebc6d674a1a4395b1bbbe0a6f50478a.html" target="element" >
				  		        <area shape="rect" coords="488,70,539,120" href="../objects/id-2820feee6849412186b192a205b27890.html" target="element" >
				  		        <area shape="rect" coords="214,178,271,217" href="../objects/id-b95f777dd01c48fcb9ca77658c8c3f2c.html" target="element" >
				  		        <area shape="rect" coords="238,70,289,120" href="../objects/id-527c83f9d5aa49c381affdaa388feb58.html" target="element" >
				  		        <area shape="rect" coords="346,142,390,173" href="../objects/id-79b30a4c86374542bb93b05799072dd8.html" target="element" >
				  		        <area shape="rect" coords="886,136,947,190" href="../objects/id-7b58d608c58146afb3dfbf7903c15ac6.html" target="element" >
				  		        <area shape="rect" coords="862,234,1016,303" href="../objects/id-6113e6c2a621474cbfb4223c57041009.html" target="element" >
				  		        <area shape="rect" coords="706,233,859,298" href="../objects/id-95911c145b334596be0a08c7c6692775.html" target="element" >
				  		        <area shape="rect" coords="398,233,543,298" href="../objects/id-239929013db34ad896bdebf584045aef.html" target="element" >
				  		        <area shape="rect" coords="541,228,657,304" href="../objects/id-2b708876a9d74f81973033d52ddebce5.html" target="element" >
				  		        <area shape="rect" coords="95,233,238,298" href="../objects/id-f7ceb0cdcb314260aa9f7b84225eecf3.html" target="element" >
				  		        <area shape="rect" coords="265,228,371,310" href="../objects/id-ff646c0449ec403eafc21c075889579b.html" target="element" >
				  		        <area shape="rect" coords="838,100,925,127" href="../objects/id-83d727d61f954ab585f5ff5e4b64a4a2.html" target="element" >
				  		        <area shape="rect" coords="670,101,756,128" href="../objects/id-2343a410beb54e80a50e7ba3c37a666f.html" target="element" >
				  		        <area shape="rect" coords="713,144,846,171" href="../objects/id-4b8dcc201f024b06ad73083068e3ee8c.html" target="element" >
				  		        <area shape="rect" coords="555,100,642,127" href="../objects/id-6758004338754677a0c04ecd2040e303.html" target="element" >
				  		        <area shape="rect" coords="403,101,489,128" href="../objects/id-98af86b489d74e7ba0074eef6f859ce6.html" target="element" >
				  		        <area shape="rect" coords="418,144,575,171" href="../objects/id-9bc1730bd9b44941bb1b16b0e9a99a51.html" target="element" >
				  		        <area shape="rect" coords="670,177,740,219" href="../objects/id-a4e9c0d1e7424b79b5862c5272839a67.html" target="element" >
				  		        <area shape="rect" coords="398,175,470,216" href="../objects/id-e939c1786da240588f83544b15614b45.html" target="element" >
				  		        <area shape="rect" coords="107,180,191,228" href="../objects/id-424eafd219d541b0b6ad63934e32235d.html" target="element" >
				  		        <area shape="rect" coords="107,144,243,171" href="../objects/id-8a1fa1828a1146ca83d72699234f2fa1.html" target="element" >
				  		        <area shape="rect" coords="850,190,983,217" href="../objects/id-87ed0361712b4ebca68756224f80935d.html" target="element" >
				  		        <area shape="rect" coords="555,190,669,217" href="../objects/id-178cea41091041b99acc2ffada0a1df7.html" target="element" >
				  		        <area shape="rect" coords="284,190,388,217" href="../objects/id-f3c9aabb1df348a28eab0630679ac12e.html" target="element" >
				  		        <area shape="rect" coords="286,101,371,128" href="../objects/id-6b599e39751c4f05b131946f729e7109.html" target="element" >
				  		        <area shape="rect" coords="250,144,347,171" href="../objects/id-001c2f2ba141422bb2b2d45721e3535e.html" target="element" >
				  		        <area shape="rect" coords="130,80,203,107" href="../objects/id-df9d628e3bc24c53b17cb0e1b888d58c.html" target="element" >
				  		        <area shape="rect" coords="107,100,172,127" href="../objects/id-9ad5aabdfc7a446a928a6bf46ada1e50.html" target="element" >
				  		        <area shape="rect" coords="157,101,243,128" href="../objects/id-2cb3c1a42cb144d2b2c74b06d660c3d0.html" target="element" >
				  				<area shape="rect" coords="22,202,107,229" href="../elements/id-425f1953d1d242aea5e37ab69481430c.html"  target="element">
				  				<area shape="rect" coords="1019,212,1036,229" href="../elements/id-8e5ab7ecdfa6497289fadc4c72347a8c.html"  target="element">
				  				<area shape="rect" coords="22,154,107,181" href="../elements/id-b4e4200719964a1286d6b97446c39a10.html"  target="element">
				  				<area shape="rect" coords="1019,164,1036,181" href="../elements/id-cc3b8041c7f34d2487303a639043c513.html"  target="element">
				  				<area shape="rect" coords="21,109,106,136" href="../elements/id-0a50371ca1824dc88955f1bb0c5c7fb1.html"  target="element">
				  				<area shape="rect" coords="658,274,675,291" href="../elements/id-6193fe1c275b41a8b6f275c269592c6d.html"  target="element">
				  				<area shape="rect" coords="658,46,675,63" href="../elements/id-b27a61e3b70d4a45bcbc5be01127c683.html"  target="element">
				  				<area shape="rect" coords="382,274,399,291" href="../elements/id-0398d95b454f4fdeb3d50d34520653b8.html"  target="element">
				  				<area shape="rect" coords="382,46,399,63" href="../elements/id-9d4e657a46964069b42e02a4d0ef7864.html"  target="element">
				  		        <area shape="rect" coords="706,22,947,56" href="../objects/id-e080ffb180b5421cb2d2110b7143f5d3.html" target="element" >
				  		        <area shape="rect" coords="418,22,630,56" href="../objects/id-b8d761c2722049e7992e25ec7fb6ad10.html" target="element" >
				  		        <area shape="rect" coords="190,22,347,56" href="../objects/id-6001cd025ba4456e864a5948f7fb2a88.html" target="element" >
				  		        <area shape="rect" coords="15,15,95,95" href="../objects/id-80aaec69c1b64811af24993157dcd9e6.html" target="element" >
				  				<area shape="rect" coords="1018,119,1035,136" href="../elements/id-1521124b3a9347a2b4e5bdf32ee7040c.html"  target="element">
				  		        <area shape="rect" coords="150,39,183,71" href="../objects/id-48dda8fda5a44153b77661e513009a77.html" target="element" >
				  		        <area shape="rect" coords="589,135,642,191" href="../objects/id-0d3e82d4ac0d47bdbcfb56805beb90b4.html" target="element" >

				  		<area shape="rect" coords="10,10,1052,311" href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0d3e82d4ac0d47bdbcfb56805beb90b4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0d3e82d4ac0d47bdbcfb56805beb90b4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-48dda8fda5a44153b77661e513009a77.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-48dda8fda5a44153b77661e513009a77.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-1521124b3a9347a2b4e5bdf32ee7040c.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-1521124b3a9347a2b4e5bdf32ee7040c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-80aaec69c1b64811af24993157dcd9e6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-80aaec69c1b64811af24993157dcd9e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6001cd025ba4456e864a5948f7fb2a88.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6001cd025ba4456e864a5948f7fb2a88.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b8d761c2722049e7992e25ec7fb6ad10.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b8d761c2722049e7992e25ec7fb6ad10.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e080ffb180b5421cb2d2110b7143f5d3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e080ffb180b5421cb2d2110b7143f5d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9d4e657a46964069b42e02a4d0ef7864.html" target="element">  (copy) </a> </td>
													    <td> <a href="../elements/id-9d4e657a46964069b42e02a4d0ef7864.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0398d95b454f4fdeb3d50d34520653b8.html" target="element">  (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-0398d95b454f4fdeb3d50d34520653b8.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b27a61e3b70d4a45bcbc5be01127c683.html" target="element">  (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-b27a61e3b70d4a45bcbc5be01127c683.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6193fe1c275b41a8b6f275c269592c6d.html" target="element">  (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-6193fe1c275b41a8b6f275c269592c6d.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a50371ca1824dc88955f1bb0c5c7fb1.html" target="element"> Catalogue </a> </td>
													    <td> <a href="../elements/id-0a50371ca1824dc88955f1bb0c5c7fb1.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc3b8041c7f34d2487303a639043c513.html" target="element">  (copy) </a> </td>
													    <td> <a href="../elements/id-cc3b8041c7f34d2487303a639043c513.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b4e4200719964a1286d6b97446c39a10.html" target="element"> Develop </a> </td>
													    <td> <a href="../elements/id-b4e4200719964a1286d6b97446c39a10.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e5ab7ecdfa6497289fadc4c72347a8c.html" target="element">  (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-8e5ab7ecdfa6497289fadc4c72347a8c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-425f1953d1d242aea5e37ab69481430c.html" target="element"> Governance </a> </td>
													    <td> <a href="../elements/id-425f1953d1d242aea5e37ab69481430c.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-2cb3c1a42cb144d2b2c74b06d660c3d0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2cb3c1a42cb144d2b2c74b06d660c3d0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9ad5aabdfc7a446a928a6bf46ada1e50.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9ad5aabdfc7a446a928a6bf46ada1e50.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-df9d628e3bc24c53b17cb0e1b888d58c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-df9d628e3bc24c53b17cb0e1b888d58c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-001c2f2ba141422bb2b2d45721e3535e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-001c2f2ba141422bb2b2d45721e3535e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6b599e39751c4f05b131946f729e7109.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6b599e39751c4f05b131946f729e7109.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f3c9aabb1df348a28eab0630679ac12e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f3c9aabb1df348a28eab0630679ac12e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-178cea41091041b99acc2ffada0a1df7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-178cea41091041b99acc2ffada0a1df7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-87ed0361712b4ebca68756224f80935d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-87ed0361712b4ebca68756224f80935d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8a1fa1828a1146ca83d72699234f2fa1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8a1fa1828a1146ca83d72699234f2fa1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-424eafd219d541b0b6ad63934e32235d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-424eafd219d541b0b6ad63934e32235d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e939c1786da240588f83544b15614b45.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e939c1786da240588f83544b15614b45.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a4e9c0d1e7424b79b5862c5272839a67.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a4e9c0d1e7424b79b5862c5272839a67.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-9bc1730bd9b44941bb1b16b0e9a99a51.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-9bc1730bd9b44941bb1b16b0e9a99a51.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-98af86b489d74e7ba0074eef6f859ce6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-98af86b489d74e7ba0074eef6f859ce6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6758004338754677a0c04ecd2040e303.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6758004338754677a0c04ecd2040e303.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4b8dcc201f024b06ad73083068e3ee8c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4b8dcc201f024b06ad73083068e3ee8c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2343a410beb54e80a50e7ba3c37a666f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2343a410beb54e80a50e7ba3c37a666f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-83d727d61f954ab585f5ff5e4b64a4a2.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-83d727d61f954ab585f5ff5e4b64a4a2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ff646c0449ec403eafc21c075889579b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ff646c0449ec403eafc21c075889579b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f7ceb0cdcb314260aa9f7b84225eecf3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f7ceb0cdcb314260aa9f7b84225eecf3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2b708876a9d74f81973033d52ddebce5.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2b708876a9d74f81973033d52ddebce5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-239929013db34ad896bdebf584045aef.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-239929013db34ad896bdebf584045aef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-95911c145b334596be0a08c7c6692775.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-95911c145b334596be0a08c7c6692775.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6113e6c2a621474cbfb4223c57041009.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6113e6c2a621474cbfb4223c57041009.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7b58d608c58146afb3dfbf7903c15ac6.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7b58d608c58146afb3dfbf7903c15ac6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-79b30a4c86374542bb93b05799072dd8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-79b30a4c86374542bb93b05799072dd8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-527c83f9d5aa49c381affdaa388feb58.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-527c83f9d5aa49c381affdaa388feb58.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b95f777dd01c48fcb9ca77658c8c3f2c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b95f777dd01c48fcb9ca77658c8c3f2c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2820feee6849412186b192a205b27890.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2820feee6849412186b192a205b27890.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-eebc6d674a1a4395b1bbbe0a6f50478a.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-eebc6d674a1a4395b1bbbe0a6f50478a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0eeefc32ba5a4d90916fe8c20e9f3be8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0eeefc32ba5a4d90916fe8c20e9f3be8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-21092eb1af2e48b28b31109ee06efd1c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-21092eb1af2e48b28b31109ee06efd1c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b3e623d1be8245d9a61ecc2a325c785d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b3e623d1be8245d9a61ecc2a325c785d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5dedc5cfea114a6d9a86ddf64a71aef0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5dedc5cfea114a6d9a86ddf64a71aef0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-73338722a3ef442d94ce582e5548f69d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-73338722a3ef442d94ce582e5548f69d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-d4db0850aa324b038245f34af4d8bbfd.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-d4db0850aa324b038245f34af4d8bbfd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-010196b7fffb421f928586a6b791f42d.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-010196b7fffb421f928586a6b791f42d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-68e487630e364c9b92d99e4f919aac0a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-68e487630e364c9b92d99e4f919aac0a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html" target="element"> License Interoperability </a> </td>
													    <td> <a href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element">  </a> </td>
													    <td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc753559364841c9b2af8261604cc8ae.html" target="element"> License Accessibility </a> </td>
													    <td> <a href="../elements/id-bc753559364841c9b2af8261604cc8ae.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html" target="element"> Interoperable License Process </a> </td>
													    <td> <a href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html" target="element" class="i18n-elementtype-Value">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-7a08728a356540bcaaa41d71514a3308.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7a08728a356540bcaaa41d71514a3308.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c8b7872e9648404f951390779c2de0e9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c8b7872e9648404f951390779c2de0e9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-96f171b4e75444dc9f7cf06923a85031.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-96f171b4e75444dc9f7cf06923a85031.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-cedfeb649102401a864b2a973af988fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cedfeb649102401a864b2a973af988fb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9d4e657a46964069b42e02a4d0ef7864.html" target="element">  (copy) </a> </td>
																				<td> <a href="../elements/id-0398d95b454f4fdeb3d50d34520653b8.html" target="element">  (copy) (copy) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eb4ae6b876eb478b8475cdfa32f3fc56.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eb4ae6b876eb478b8475cdfa32f3fc56.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0398d95b454f4fdeb3d50d34520653b8.html" target="element">  (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc753559364841c9b2af8261604cc8ae.html" target="element"> License Accessibility </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6fa4e2807dc541fe93c117ed3d8cf714.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6fa4e2807dc541fe93c117ed3d8cf714.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b27a61e3b70d4a45bcbc5be01127c683.html" target="element">  (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-6193fe1c275b41a8b6f275c269592c6d.html" target="element">  (copy) (copy) (copy) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7b8b42d12a11442694c55e1f9d72e5eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7b8b42d12a11442694c55e1f9d72e5eb.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6193fe1c275b41a8b6f275c269592c6d.html" target="element">  (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html" target="element"> License Interoperability </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1df2f4077c104e82a54267a1c741bd43.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1df2f4077c104e82a54267a1c741bd43.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a50371ca1824dc88955f1bb0c5c7fb1.html" target="element"> Catalogue </a> </td>
																				<td> <a href="../elements/id-1521124b3a9347a2b4e5bdf32ee7040c.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b9fc47a3800f4706b242eb32c4dcc8d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b9fc47a3800f4706b242eb32c4dcc8d8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b4e4200719964a1286d6b97446c39a10.html" target="element"> Develop </a> </td>
																				<td> <a href="../elements/id-cc3b8041c7f34d2487303a639043c513.html" target="element">  (copy) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b7be82fe67fa45d3b52a2693883f9f2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b7be82fe67fa45d3b52a2693883f9f2a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8e5ab7ecdfa6497289fadc4c72347a8c.html" target="element">  (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html" target="element"> Interoperable License Process </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-85e5b05425c24f59ac128267dd412f9c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-85e5b05425c24f59ac128267dd412f9c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-425f1953d1d242aea5e37ab69481430c.html" target="element"> Governance </a> </td>
																				<td> <a href="../elements/id-8e5ab7ecdfa6497289fadc4c72347a8c.html" target="element">  (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-f41647d71d63438896760569c4832c41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f41647d71d63438896760569c4832c41.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8915da22e6fa402daab32b6fe2f95778.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8915da22e6fa402daab32b6fe2f95778.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84670537632a4f83b2b56f8ec836fa23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84670537632a4f83b2b56f8ec836fa23.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-695ab372281d4041b7d3643fe85186ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-695ab372281d4041b7d3643fe85186ac.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0599b8a492774633af0f5614743b0fe7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element">  </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-bedd8e36eea249b18f691b7ee40e6e75.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bedd8e36eea249b18f691b7ee40e6e75.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b681c6f865174f7d9e73d8b30193a0b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-717ad247dc7442f182ba4af2a6ea7bfe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-717ad247dc7442f182ba4af2a6ea7bfe.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1d94c6c1340540e08df7a35b05b9ac35.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-ea6f7447b0c14127bebe138e2d17d4d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea6f7447b0c14127bebe138e2d17d4d8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d81d43599998477c8ddf01aaab647bec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc4355aca0e64fc18b3e2e51cf6f4eaa.html" target="element">  </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-50c3cca49ed344649e6190fa8e6ff1ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50c3cca49ed344649e6190fa8e6ff1ce.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-905adf5cfa3f427ca6b59dad923193ff.html" target="element"> License Interoperability </a> </td>
																				<td> <a href="../elements/id-717ad247dc7442f182ba4af2a6ea7bfe.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-47bc3bdbae554e96a514667edb7a3c91.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47bc3bdbae554e96a514667edb7a3c91.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc753559364841c9b2af8261604cc8ae.html" target="element"> License Accessibility </a> </td>
																				<td> <a href="../elements/id-bedd8e36eea249b18f691b7ee40e6e75.html" target="element">  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e47a86134289438a853ffdd7d8679e5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e47a86134289438a853ffdd7d8679e5c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0585fb01a77f4fbdae1ce3716349f969.html" target="element"> Interoperable License Process </a> </td>
																				<td> <a href="../elements/id-ea6f7447b0c14127bebe138e2d17d4d8.html" target="element">  </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>