<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>OperationModel</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>OperationModel</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ef9243fab90b4a0d9faa3e968cf664cb.png" alt="OperationModel" usemap="#id-ef9243fab90b4a0d9faa3e968cf664cbmap"/>
			   <map name="id-ef9243fab90b4a0d9faa3e968cf664cbmap">
				          <area shape="rect" coords="350,322,441,364" href="../objects/id-f19880b952ed42018ae353db099f06b2.html" target="element" >
				          <area shape="rect" coords="10,276,81,323" href="../objects/id-09d24f665047432bb890dee95e32330c.html" target="element" >
				          <area shape="rect" coords="10,10,81,57" href="../objects/id-4dd82b36b52846b6a5b7a5c8a5107bee.html" target="element" >
				          <area shape="rect" coords="80,322,171,364" href="../objects/id-791af265eff84bde8f87006bdc7df64d.html" target="element" >
				  		<area shape="rect" coords="272,178,441,323" href="../elements/id-68198917da5146edba06f127d6d6705c.html"  target="element">
				  		<area shape="rect" coords="80,178,249,323" href="../elements/id-442cc2f6c3154365b45530e0799aef24.html"  target="element">
				  		<area shape="rect" coords="272,10,441,155" href="../elements/id-8948e1af13fb4de8ad878bbc6b38f522.html"  target="element">
				  		<area shape="rect" coords="80,10,249,155" href="../elements/id-da2939c062ba4e8ca6b47fe0ff24d302.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-da2939c062ba4e8ca6b47fe0ff24d302.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-da2939c062ba4e8ca6b47fe0ff24d302.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8948e1af13fb4de8ad878bbc6b38f522.html" target="element"> Business Service (copy) </a> </td>
											    <td> <a href="../elements/id-8948e1af13fb4de8ad878bbc6b38f522.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-442cc2f6c3154365b45530e0799aef24.html" target="element"> Business Service (copy) </a> </td>
											    <td> <a href="../elements/id-442cc2f6c3154365b45530e0799aef24.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68198917da5146edba06f127d6d6705c.html" target="element"> Business Service (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-68198917da5146edba06f127d6d6705c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-791af265eff84bde8f87006bdc7df64d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-791af265eff84bde8f87006bdc7df64d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4dd82b36b52846b6a5b7a5c8a5107bee.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4dd82b36b52846b6a5b7a5c8a5107bee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-09d24f665047432bb890dee95e32330c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-09d24f665047432bb890dee95e32330c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f19880b952ed42018ae353db099f06b2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f19880b952ed42018ae353db099f06b2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>