<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH2-F8-tier2-4outsource</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH2-F8-tier2-4outsource</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f9a9773c67894889ad5928de08bf07c6.png" alt="doc1-CH2-F8-tier2-4outsource" usemap="#id-f9a9773c67894889ad5928de08bf07c6map"/>
			   <map name="id-f9a9773c67894889ad5928de08bf07c6map">
				          <area shape="rect" coords="680,10,723,56" href="../objects/id-cc18d76b620d46078d3182112aea9888.html" target="element" >
				  		        <area shape="rect" coords="187,38,440,65" href="../objects/id-f2f74a3bbff84780b3e7bbd2587aa85b.html" target="element" >
				  						<area shape="rect" coords="384,211,443,237" href="../elements/id-a37a5a2c47d24d9d9c7ab5ef3bcf866d.html"  target="element">
				  						<area shape="rect" coords="450,137,509,163" href="../elements/id-fdd867e8e7b84736981677f4f75a9338.html"  target="element">
				  						<area shape="rect" coords="452,212,511,238" href="../elements/id-5c5d48f255114f4e99b1df75770aeccf.html"  target="element">
				  				        <area shape="rect" coords="389,168,435,211" href="../objects/id-ea609313e575404296ede1e7ed095cd7.html" target="element" >
				  				        <area shape="rect" coords="388,91,435,144" href="../objects/id-7c0987db257549fb80b4269a154c956f.html" target="element" >
				  				        <area shape="rect" coords="449,82,510,135" href="../objects/id-b23726c31494444d8fab562081a973b0.html" target="element" >
				  				        <area shape="rect" coords="455,170,504,219" href="../objects/id-0008b4a989d94613955f99384d139995.html" target="element" >

				  				<area shape="rect" coords="377,64,522,240" href="../elements/id-a419444b2dca4218b3f55da453589787.html"  target="element">
				  				<area shape="rect" coords="613,71,692,118" href="../elements/id-5d300362def54c16874e73ad142f9939.html"  target="element">
				  				<area shape="rect" coords="535,128,692,238" href="../elements/id-def5bf5484c9496abc0261bb1e4f998f.html"  target="element">
				  				<area shape="rect" coords="535,71,608,118" href="../elements/id-2ac055142727495ca00381bb15e7c942.html"  target="element">
				  				        <area shape="rect" coords="282,181,331,230" href="../objects/id-4ba9a221e2694007abe55523f94eca48.html" target="element" >
				  						<area shape="rect" coords="255,156,359,181" href="../elements/id-273bbabb360e4f61be185438ea45a7e6.html"  target="element">
				  				        <area shape="rect" coords="176,180,225,229" href="../objects/id-3ce197b7729740b3aac39da3b7b9d3cd.html" target="element" >
				  						<area shape="rect" coords="149,155,253,180" href="../elements/id-ecf7ca6917d44e6d9438f82537916912.html"  target="element">
				  				        <area shape="rect" coords="283,114,332,160" href="../objects/id-7bc2255eedb14f62b9296389ff752156.html" target="element" >
				  						<area shape="rect" coords="256,89,360,114" href="../elements/id-48e733d3fabd4f159b4622ca79e9bf17.html"  target="element">
				  						<area shape="rect" coords="151,89,248,114" href="../elements/id-9cf4cd270cc84e5299130e32eca5ab03.html"  target="element">
				  				        <area shape="rect" coords="175,113,224,159" href="../objects/id-379beda659b94ac4ba925bfc18414ea5.html" target="element" >

				  				<area shape="rect" coords="146,72,366,238" href="../elements/id-0e97bd5578564e008eb66278a947ded7.html"  target="element">

				  		<area shape="rect" coords="137,33,704,251" href="../elements/id-4c4b3d311fd94dc19dcaa6814d8e9bb0.html"  target="element">
				  				        <area shape="rect" coords="34,183,95,227" href="../objects/id-dd6d8f58a38948b9beee1b2502eb2d2f.html" target="element" >

				  				<area shape="rect" coords="17,157,110,238" href="../elements/id-3661c9ca9d8940909c31be3af65fb161.html"  target="element">
				  				        <area shape="rect" coords="25,104,107,143" href="../objects/id-9df064c54bc947f5823a5fb3d622a211.html" target="element" >

				  				<area shape="rect" coords="21,76,113,150" href="../elements/id-aabbad9f4bb344728a162fd9dac7fd99.html"  target="element">
				  				<area shape="rect" coords="18,40,80,64" href="../elements/id-fd12717bae3b421db58be7150f4c756e.html"  target="element">

				  		<area shape="rect" coords="10,33,120,251" href="../elements/id-fa9a0bbd11e043e39baed7974c63fc85.html"  target="element">
				  		        <area shape="rect" coords="808,35,936,62" href="../objects/id-6513942c9b894554beb07d76daa3680e.html" target="element" >
				  				<area shape="rect" coords="830,106,909,143" href="../elements/id-ea144973539542d8b0e0777493f29d50.html"  target="element">
				  		        <area shape="rect" coords="738,72,799,143" href="../objects/id-b2ff119e31124509ac21eb712336a931.html" target="element" >
				  				<area shape="rect" coords="830,64,909,101" href="../elements/id-bae22ad137a145068522ede4fb39c2a0.html"  target="element">
				  				<area shape="rect" coords="734,41,804,65" href="../elements/id-b5bb4fc33f194e199e90b3eaa4186e35.html"  target="element">

				  		<area shape="rect" coords="722,34,939,167" href="../elements/id-c68791de0cb04593ba1464ab3b13db39.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c68791de0cb04593ba1464ab3b13db39.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-c68791de0cb04593ba1464ab3b13db39.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b5bb4fc33f194e199e90b3eaa4186e35.html" target="element"> Tier 3 </a> </td>
													    <td> <a href="../elements/id-b5bb4fc33f194e199e90b3eaa4186e35.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bae22ad137a145068522ede4fb39c2a0.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-bae22ad137a145068522ede4fb39c2a0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-b2ff119e31124509ac21eb712336a931.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b2ff119e31124509ac21eb712336a931.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-ea144973539542d8b0e0777493f29d50.html" target="element"> email </a> </td>
													    <td> <a href="../elements/id-ea144973539542d8b0e0777493f29d50.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-6513942c9b894554beb07d76daa3680e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6513942c9b894554beb07d76daa3680e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-fa9a0bbd11e043e39baed7974c63fc85.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-fa9a0bbd11e043e39baed7974c63fc85.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fd12717bae3b421db58be7150f4c756e.html" target="element"> DGA </a> </td>
													    <td> <a href="../elements/id-fd12717bae3b421db58be7150f4c756e.html" target="element" class="i18n-elementtype-Facility">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aabbad9f4bb344728a162fd9dac7fd99.html" target="element"> DoBiz Portal </a> </td>
													    <td> <a href="../elements/id-aabbad9f4bb344728a162fd9dac7fd99.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9df064c54bc947f5823a5fb3d622a211.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9df064c54bc947f5823a5fb3d622a211.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-3661c9ca9d8940909c31be3af65fb161.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-3661c9ca9d8940909c31be3af65fb161.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-dd6d8f58a38948b9beee1b2502eb2d2f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-dd6d8f58a38948b9beee1b2502eb2d2f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-4c4b3d311fd94dc19dcaa6814d8e9bb0.html" target="element">  (copy) </a> </td>
											    <td> <a href="../elements/id-4c4b3d311fd94dc19dcaa6814d8e9bb0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0e97bd5578564e008eb66278a947ded7.html" target="element"> Federated Catalog </a> </td>
													    <td> <a href="../elements/id-0e97bd5578564e008eb66278a947ded7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-379beda659b94ac4ba925bfc18414ea5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-379beda659b94ac4ba925bfc18414ea5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-9cf4cd270cc84e5299130e32eca5ab03.html" target="element"> License Catalog </a> </td>
															    <td> <a href="../elements/id-9cf4cd270cc84e5299130e32eca5ab03.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-48e733d3fabd4f159b4622ca79e9bf17.html" target="element"> Metadata Catalog </a> </td>
															    <td> <a href="../elements/id-48e733d3fabd4f159b4622ca79e9bf17.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-7bc2255eedb14f62b9296389ff752156.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7bc2255eedb14f62b9296389ff752156.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-ecf7ca6917d44e6d9438f82537916912.html" target="element"> Format Catalog  </a> </td>
															    <td> <a href="../elements/id-ecf7ca6917d44e6d9438f82537916912.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-3ce197b7729740b3aac39da3b7b9d3cd.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3ce197b7729740b3aac39da3b7b9d3cd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-273bbabb360e4f61be185438ea45a7e6.html" target="element"> ... </a> </td>
															    <td> <a href="../elements/id-273bbabb360e4f61be185438ea45a7e6.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-4ba9a221e2694007abe55523f94eca48.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-4ba9a221e2694007abe55523f94eca48.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element"> API   </a> </td>
													    <td> <a href="../elements/id-2ac055142727495ca00381bb15e7c942.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-def5bf5484c9496abc0261bb1e4f998f.html" target="element"> Common License Service  </a> </td>
													    <td> <a href="../elements/id-def5bf5484c9496abc0261bb1e4f998f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element"> Web </a> </td>
													    <td> <a href="../elements/id-5d300362def54c16874e73ad142f9939.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a419444b2dca4218b3f55da453589787.html" target="element"> License Access </a> </td>
													    <td> <a href="../elements/id-a419444b2dca4218b3f55da453589787.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-0008b4a989d94613955f99384d139995.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0008b4a989d94613955f99384d139995.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b23726c31494444d8fab562081a973b0.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b23726c31494444d8fab562081a973b0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-7c0987db257549fb80b4269a154c956f.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-7c0987db257549fb80b4269a154c956f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ea609313e575404296ede1e7ed095cd7.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ea609313e575404296ede1e7ed095cd7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-5c5d48f255114f4e99b1df75770aeccf.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   (copy) </a> </td>
															    <td> <a href="../elements/id-5c5d48f255114f4e99b1df75770aeccf.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fdd867e8e7b84736981677f4f75a9338.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    (copy) </a> </td>
															    <td> <a href="../elements/id-fdd867e8e7b84736981677f4f75a9338.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a37a5a2c47d24d9d9c7ab5ef3bcf866d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   (copy) </a> </td>
															    <td> <a href="../elements/id-a37a5a2c47d24d9d9c7ab5ef3bcf866d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-f2f74a3bbff84780b3e7bbd2587aa85b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f2f74a3bbff84780b3e7bbd2587aa85b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-cc18d76b620d46078d3182112aea9888.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-cc18d76b620d46078d3182112aea9888.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-86a075c36180423ba1cd1c86b6038704.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-86a075c36180423ba1cd1c86b6038704.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3661c9ca9d8940909c31be3af65fb161.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-0e97bd5578564e008eb66278a947ded7.html" target="element"> Federated Catalog </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																			<tr>
																				<td> <a href="../elements/id-a6edabe2c6664a61b6979bb9a4251e07.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6edabe2c6664a61b6979bb9a4251e07.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0e97bd5578564e008eb66278a947ded7.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-48e733d3fabd4f159b4622ca79e9bf17.html" target="element"> Metadata Catalog </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7973871835c440a694900615cb9f8202.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7973871835c440a694900615cb9f8202.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0e97bd5578564e008eb66278a947ded7.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-273bbabb360e4f61be185438ea45a7e6.html" target="element"> ... </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bed531534f9349dc840683027bd07dc7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bed531534f9349dc840683027bd07dc7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0e97bd5578564e008eb66278a947ded7.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-ecf7ca6917d44e6d9438f82537916912.html" target="element"> Format Catalog  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-41419b69b8994e7e8ef92765a58b6662.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41419b69b8994e7e8ef92765a58b6662.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0e97bd5578564e008eb66278a947ded7.html" target="element"> Federated Catalog </a> </td>
																				<td> <a href="../elements/id-9cf4cd270cc84e5299130e32eca5ab03.html" target="element"> License Catalog </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-e57899b9454140ac953389d5e596823b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e57899b9454140ac953389d5e596823b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a419444b2dca4218b3f55da453589787.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-a37a5a2c47d24d9d9c7ab5ef3bcf866d.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;   (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fe92a08bccca47b6b29e341c7fe89203.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe92a08bccca47b6b29e341c7fe89203.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a419444b2dca4218b3f55da453589787.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-fdd867e8e7b84736981677f4f75a9338.html" target="element"> &#3651;&#3610;&#3629;&#3609;&#3640;&#3597;&#3634;&#3605;    (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a5cad18cfd974a0ca5e06998b8a2a18f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a5cad18cfd974a0ca5e06998b8a2a18f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a419444b2dca4218b3f55da453589787.html" target="element"> License Access </a> </td>
																				<td> <a href="../elements/id-5c5d48f255114f4e99b1df75770aeccf.html" target="element"> &#3651;&#3610;&#3588;&#3635;&#3586;&#3629;   (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>