<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fig14-Service-Cat</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fig14-Service-Cat</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f8c0e2af2b2b4b94a737faa85b1f1afa.png" alt="Fig14-Service-Cat" usemap="#id-f8c0e2af2b2b4b94a737faa85b1f1afamap"/>
			   <map name="id-f8c0e2af2b2b4b94a737faa85b1f1afamap">
				          <area shape="rect" coords="286,382,319,414" href="../objects/id-25f62609fce34b1d96fe92c5e3c4f779.html" target="element" >
				          <area shape="rect" coords="118,130,151,162" href="../objects/id-1285faf8366e4a799d3ede636aa65cbd.html" target="element" >
				  		<area shape="rect" coords="499,148,620,269" href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html"  target="element">
				  		<area shape="rect" coords="382,10,500,131" href="../elements/id-a288d90bf8254f4eb15150acc1305495.html"  target="element">
				  		<area shape="rect" coords="106,10,224,131" href="../elements/id-6c9865c1ba034590a98743c6edcd958a.html"  target="element">
				  						<area shape="rect" coords="56,531,394,611" href="../elements/id-7f01c642bf914d428bba313c152a4c2f.html"  target="element">
				  						<area shape="rect" coords="58,447,396,527" href="../elements/id-96363c2502dd42eab6d91df4e5e5d86b.html"  target="element">

				  				<area shape="rect" coords="34,418,419,623" href="../elements/id-752d69e6f7bc42b58546ef3bb9876fd8.html"  target="element">

				  		<area shape="rect" coords="10,394,443,635" href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html"  target="element">
				  		<area shape="rect" coords="179,298,274,395" href="../elements/id-cd5ae1e975a542ff9d214f6d7012b3d8.html"  target="element">
				          <area shape="rect" coords="490,442,659,623" href="../objects/id-c284665c840d4cc78216e9d2b2b36337.html" target="element" >
				  		<area shape="rect" coords="154,130,249,227" href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html"  target="element">
				  		<area shape="rect" coords="442,268,549,371" href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html"  target="element">
				  		<area shape="rect" coords="346,130,441,227" href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-c284665c840d4cc78216e9d2b2b36337.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c284665c840d4cc78216e9d2b2b36337.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-cd5ae1e975a542ff9d214f6d7012b3d8.html" target="element"> DoBizSuite </a> </td>
											    <td> <a href="../elements/id-cd5ae1e975a542ff9d214f6d7012b3d8.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
											    <td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-752d69e6f7bc42b58546ef3bb9876fd8.html" target="element"> API Service Catalog </a> </td>
													    <td> <a href="../elements/id-752d69e6f7bc42b58546ef3bb9876fd8.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-96363c2502dd42eab6d91df4e5e5d86b.html" target="element"> Data Object </a> </td>
															    <td> <a href="../elements/id-96363c2502dd42eab6d91df4e5e5d86b.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7f01c642bf914d428bba313c152a4c2f.html" target="element"> Data Object (copy) </a> </td>
															    <td> <a href="../elements/id-7f01c642bf914d428bba313c152a4c2f.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-6c9865c1ba034590a98743c6edcd958a.html" target="element"> IdM system </a> </td>
											    <td> <a href="../elements/id-6c9865c1ba034590a98743c6edcd958a.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element"> License 1 </a> </td>
											    <td> <a href="../elements/id-a288d90bf8254f4eb15150acc1305495.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element"> License 2 </a> </td>
											    <td> <a href="../elements/id-6867b8aa10274c2082ac567f8b819c0e.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-1285faf8366e4a799d3ede636aa65cbd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-1285faf8366e4a799d3ede636aa65cbd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-25f62609fce34b1d96fe92c5e3c4f779.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-25f62609fce34b1d96fe92c5e3c4f779.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-76c96f483afa48578a57a79b0ed270fa.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-76c96f483afa48578a57a79b0ed270fa.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5ed4a047fb234b9f8b291eafe3f1e03e.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-5ed4a047fb234b9f8b291eafe3f1e03e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-cd5ae1e975a542ff9d214f6d7012b3d8.html" target="element"> DoBizSuite </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4065821768f3436185f65df6b195b4a0.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-4065821768f3436185f65df6b195b4a0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de6cfeb98e58437da345d5e6cb5e488c.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-cd5ae1e975a542ff9d214f6d7012b3d8.html" target="element"> DoBizSuite </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-87699f49982247fe8e2f830602abb373.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-87699f49982247fe8e2f830602abb373.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-ce7315b8df2f4f41870cb22f2e027968.html" target="element"> DoBizSuite </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c48e472d7b84381b44d00cf9d435bf6.html" target="element"> DoBiz.Std </a> </td>
																		<td> <a href="../elements/id-4c48e472d7b84381b44d00cf9d435bf6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-488de20ed7204d5d92c28342d266d9c9.html" target="element"> DoBizSuite </a> </td>
																		<td> <a href="../elements/id-cd5ae1e975a542ff9d214f6d7012b3d8.html" target="element"> DoBizSuite </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-f021e3623c7b481b9e892c0b52802586.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f021e3623c7b481b9e892c0b52802586.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-acf6c00662824df3a35d68a8772b80ce.html" target="element"> DoBiz Support </a> </td>
																		<td> <a href="../elements/id-752d69e6f7bc42b58546ef3bb9876fd8.html" target="element"> API Service Catalog </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a5334ef94227425c9f9b8a0fee76199a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a5334ef94227425c9f9b8a0fee76199a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-752d69e6f7bc42b58546ef3bb9876fd8.html" target="element"> API Service Catalog </a> </td>
																				<td> <a href="../elements/id-96363c2502dd42eab6d91df4e5e5d86b.html" target="element"> Data Object </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-990581660b7d4d3484bd38a8ec78a877.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-990581660b7d4d3484bd38a8ec78a877.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-752d69e6f7bc42b58546ef3bb9876fd8.html" target="element"> API Service Catalog </a> </td>
																				<td> <a href="../elements/id-7f01c642bf914d428bba313c152a4c2f.html" target="element"> Data Object (copy) </a> </td>
																			</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>