<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH5-F2-IID</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH5-F2-IID</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f72a2e18b4fb4d5497f65c4b46c01958.png" alt="doc1-CH5-F2-IID" usemap="#id-f72a2e18b4fb4d5497f65c4b46c01958map"/>
			   <map name="id-f72a2e18b4fb4d5497f65c4b46c01958map">
				          <area shape="rect" coords="16,10,599,43" href="../objects/id-f183d1b25c3e47cc8c6d76ef7eee57c0.html" target="element" >
				  		<area shape="rect" coords="20,535,170,560" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				          <area shape="rect" coords="10,378,132,410" href="../objects/id-108e1bc5fed6487597b150b679becfda.html" target="element" >
				  		<area shape="rect" coords="22,498,172,523" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  		<area shape="rect" coords="21,462,172,487" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  		<area shape="rect" coords="22,423,172,448" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  		        <area shape="rect" coords="704,408,782,445" href="../objects/id-d57e204f723d48e5a7a95e3804e4b33b.html" target="element" >
				  		        <area shape="rect" coords="559,408,637,445" href="../objects/id-f1fe9a9b7bda44e482bc2ca7d6bc49f4.html" target="element" >
				  		        <area shape="rect" coords="692,443,775,552" href="../objects/id-6427544ecc924621bc6f9d72dec94aca.html" target="element" >
				  		        <area shape="rect" coords="562,441,645,548" href="../objects/id-0f11776757c0418ebb4aa239e56d90c8.html" target="element" >
				  		        <area shape="rect" coords="433,442,525,556" href="../objects/id-b6f634409cf14de0b60b237852b5384c.html" target="element" >
				  		        <area shape="rect" coords="436,408,514,445" href="../objects/id-42574fc37fe84a2ebc3651847f165f91.html" target="element" >

				  		<area shape="rect" coords="414,403,799,564" href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html"  target="element">
				  				<area shape="rect" coords="274,111,384,244" href="../elements/id-95bb2e3a387c40f5a28c1f471518f595.html"  target="element">
				  						<area shape="rect" coords="558,77,667,210" href="../elements/id-57d708e351a447abbf67a8a4ed3cf7ec.html"  target="element">
				  						<area shape="rect" coords="687,209,790,342" href="../elements/id-770071b3a90b424fb5c3ae123eba4f60.html"  target="element">
				  						<area shape="rect" coords="561,209,664,342" href="../elements/id-6abc7032223d4280bbb78889948db869.html"  target="element">
				  						<area shape="rect" coords="690,77,787,210" href="../elements/id-7a0f54a823fb401bb2901950187cbe00.html"  target="element">
				  						<area shape="rect" coords="426,77,535,210" href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html"  target="element">
				  						<area shape="rect" coords="425,209,536,342" href="../elements/id-439c591ad8bd4753a68b8616b06bbad7.html"  target="element">

				  				<area shape="rect" coords="414,65,799,354" href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html"  target="element">

				  		<area shape="rect" coords="250,51,811,364" href="../elements/id-e44c6b2f1ab7404c838c40dca0196f29.html"  target="element">
				  				<area shape="rect" coords="269,419,377,553" href="../elements/id-f74cecfc581c4b348ab932b340ef38ba.html"  target="element">

				  		<area shape="rect" coords="250,378,811,573" href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html"  target="element">
				  		        <area shape="rect" coords="39,111,128,140" href="../objects/id-8cd856af94784f4c978f2e9a6c905ca3.html" target="element" >
				  		        <area shape="rect" coords="44,139,125,214" href="../objects/id-b6a798cee8fd4abcb9c43d0dcb025cc0.html" target="element" >
				  				<area shape="rect" coords="23,211,144,348" href="../elements/id-7ec95ac84d8e445cb7432189decf36d7.html"  target="element">

				  		<area shape="rect" coords="10,51,155,354" href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7ec95ac84d8e445cb7432189decf36d7.html" target="element"> IID </a> </td>
													    <td> <a href="../elements/id-7ec95ac84d8e445cb7432189decf36d7.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-b6a798cee8fd4abcb9c43d0dcb025cc0.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b6a798cee8fd4abcb9c43d0dcb025cc0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8cd856af94784f4c978f2e9a6c905ca3.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8cd856af94784f4c978f2e9a6c905ca3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f74cecfc581c4b348ab932b340ef38ba.html" target="element"> other IID </a> </td>
													    <td> <a href="../elements/id-f74cecfc581c4b348ab932b340ef38ba.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e44c6b2f1ab7404c838c40dca0196f29.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-e44c6b2f1ab7404c838c40dca0196f29.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
													    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-439c591ad8bd4753a68b8616b06bbad7.html" target="element"> app form </a> </td>
															    <td> <a href="../elements/id-439c591ad8bd4753a68b8616b06bbad7.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html" target="element"> License </a> </td>
															    <td> <a href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-7a0f54a823fb401bb2901950187cbe00.html" target="element"> acknowledge </a> </td>
															    <td> <a href="../elements/id-7a0f54a823fb401bb2901950187cbe00.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6abc7032223d4280bbb78889948db869.html" target="element"> receipt </a> </td>
															    <td> <a href="../elements/id-6abc7032223d4280bbb78889948db869.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-770071b3a90b424fb5c3ae123eba4f60.html" target="element"> invoice </a> </td>
															    <td> <a href="../elements/id-770071b3a90b424fb5c3ae123eba4f60.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-57d708e351a447abbf67a8a4ed3cf7ec.html" target="element"> registered </a> </td>
															    <td> <a href="../elements/id-57d708e351a447abbf67a8a4ed3cf7ec.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-95bb2e3a387c40f5a28c1f471518f595.html" target="element"> DSIG IID </a> </td>
													    <td> <a href="../elements/id-95bb2e3a387c40f5a28c1f471518f595.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
											    <td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-42574fc37fe84a2ebc3651847f165f91.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-42574fc37fe84a2ebc3651847f165f91.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b6f634409cf14de0b60b237852b5384c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b6f634409cf14de0b60b237852b5384c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0f11776757c0418ebb4aa239e56d90c8.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0f11776757c0418ebb4aa239e56d90c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6427544ecc924621bc6f9d72dec94aca.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6427544ecc924621bc6f9d72dec94aca.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f1fe9a9b7bda44e482bc2ca7d6bc49f4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f1fe9a9b7bda44e482bc2ca7d6bc49f4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d57e204f723d48e5a7a95e3804e4b33b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d57e204f723d48e5a7a95e3804e4b33b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-108e1bc5fed6487597b150b679becfda.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-108e1bc5fed6487597b150b679becfda.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
											    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-f183d1b25c3e47cc8c6d76ef7eee57c0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f183d1b25c3e47cc8c6d76ef7eee57c0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4eaea800453649179225b2e46557fd6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4eaea800453649179225b2e46557fd6e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-7ec95ac84d8e445cb7432189decf36d7.html" target="element"> IID </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-ad65653d781241aeaeb4c5b3d4833880.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad65653d781241aeaeb4c5b3d4833880.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-f74cecfc581c4b348ab932b340ef38ba.html" target="element"> other IID </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dfcf2eceebd94f01bbe014ac959f4701.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfcf2eceebd94f01bbe014ac959f4701.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bb00d4c3a5b74e6eb6cdbc347969020a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb00d4c3a5b74e6eb6cdbc347969020a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e44c6b2f1ab7404c838c40dca0196f29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-922f3b713af0453fa829133654be2bd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-922f3b713af0453fa829133654be2bd5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e44c6b2f1ab7404c838c40dca0196f29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95bb2e3a387c40f5a28c1f471518f595.html" target="element"> DSIG IID </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9fa014b8c57648c898a002c4748154f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fa014b8c57648c898a002c4748154f0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e44c6b2f1ab7404c838c40dca0196f29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e7f9ed68086e4fa4a65ab735d0d5b42b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e7f9ed68086e4fa4a65ab735d0d5b42b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																				<td> <a href="../elements/id-439c591ad8bd4753a68b8616b06bbad7.html" target="element"> app form </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c71f712e7e9e4e0bbe6c2e1281f67781.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c71f712e7e9e4e0bbe6c2e1281f67781.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																				<td> <a href="../elements/id-ad2577af4bc44f97a936b9605aaa974e.html" target="element"> License </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-44d959228a4a4fb78cb8a65175df38ed.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44d959228a4a4fb78cb8a65175df38ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																				<td> <a href="../elements/id-7a0f54a823fb401bb2901950187cbe00.html" target="element"> acknowledge </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2ac8c31aeb3b43a2849a25491b4e6bdb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ac8c31aeb3b43a2849a25491b4e6bdb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																				<td> <a href="../elements/id-6abc7032223d4280bbb78889948db869.html" target="element"> receipt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-baf6bcfc2a294e44aaa746e1e39dbffe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-baf6bcfc2a294e44aaa746e1e39dbffe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																				<td> <a href="../elements/id-770071b3a90b424fb5c3ae123eba4f60.html" target="element"> invoice </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0b3df0ab4fdb4126b1ed6301728f4acb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0b3df0ab4fdb4126b1ed6301728f4acb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1c7d7abb344244af6c122affe1b2c3.html" target="element"> &#3648;&#3629;&#3585;&#3626;&#3634;&#3619;&#3629;&#3636;&#3648;&#3621;&#3655;&#3585;&#3607;&#3619;&#3629;&#3609;&#3636;&#3585;&#3626;&#3660; IID </a> </td>
																				<td> <a href="../elements/id-57d708e351a447abbf67a8a4ed3cf7ec.html" target="element"> registered </a> </td>
																			</tr>

													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>