<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc2-CH3-F2-pull1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc2-CH3-F2-pull1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f66b714429e64b908e43b2c037959079.png" alt="doc2-CH3-F2-pull1" usemap="#id-f66b714429e64b908e43b2c037959079map"/>
			   <map name="id-f66b714429e64b908e43b2c037959079map">
				          <area shape="rect" coords="140,312,384,343" href="../objects/id-d2d86326ba3f48b8b5ac40764bc4618e.html" target="element" >
				  		<area shape="rect" coords="313,281,422,306" href="../elements/id-798830b876574085a87946456b02bbc1.html"  target="element">
				  		<area shape="rect" coords="157,281,266,306" href="../elements/id-798830b876574085a87946456b02bbc1.html"  target="element">
				  				        <area shape="rect" coords="188,43,403,98" href="../objects/id-3c20aa6969be41ab9a36f29f63669585.html" target="element" >
				  						<area shape="rect" coords="54,102,163,127" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  						<area shape="rect" coords="197,126,306,235" href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html"  target="element">
				  				        <area shape="rect" coords="150,191,183,223" href="../objects/id-b649eb5816ad46158e7097d596dc7665.html" target="element" >
				  						<area shape="rect" coords="197,102,306,127" href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html"  target="element">
				  						<area shape="rect" coords="342,102,451,127" href="../elements/id-5958c8cc911e46188f766be27c44555e.html"  target="element">
				  						<area shape="rect" coords="54,126,163,235" href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html"  target="element">
				  						<area shape="rect" coords="342,126,451,235" href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html"  target="element">
				  				        <area shape="rect" coords="40,49,138,63" href="../objects/id-ede3bc2bc48846b8b775f913a821b671.html" target="element" >
				  				        <area shape="rect" coords="117,49,163,99" href="../objects/id-c981fdf7034542e2924bb22be3adf5a6.html" target="element" >

				  				<area shape="rect" coords="34,34,474,259" href="../elements/id-bc8879984040446e98809f7fe211e719.html"  target="element">

				  		<area shape="rect" coords="10,10,493,272" href="../elements/id-558bc6f53886449c81ab65feac5939cc.html"  target="element">
				  		<area shape="rect" coords="490,298,599,323" href="../elements/id-798830b876574085a87946456b02bbc1.html"  target="element">
				  		<area shape="rect" coords="671,298,780,323" href="../elements/id-aec9276de6fa438781b294c959e50f43.html"  target="element">
				          <area shape="rect" coords="386,398,422,434" href="../objects/id-07297105bd6d4cfc8da5301dc35323c8.html" target="element" >
				          <area shape="rect" coords="98,417,127,445" href="../objects/id-8300b5c4e3f44cf5b01435b2e729e447.html" target="element" >
				          <area shape="rect" coords="671,394,711,433" href="../objects/id-e6b3dad20d074542bdfccf17dc8f9968.html" target="element" >
				  		        <area shape="rect" coords="153,390,208,433" href="../objects/id-b9bb9d08844340b08edc69ce86188690.html" target="element" >
				  				<area shape="rect" coords="651,354,735,437" href="../elements/id-c274baa9e9b643358d2e2a301136f577.html"  target="element">
				  				        <area shape="rect" coords="875,393,915,432" href="../objects/id-5a869ea24238407498569becd02bb5f5.html" target="element" >

				  				<area shape="rect" coords="854,353,938,436" href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html"  target="element">
				  		        <area shape="rect" coords="669,393,709,432" href="../objects/id-1202025f6f58483cbcc4840335ec4e89.html" target="element" >
				  				        <area shape="rect" coords="588,397,625,434" href="../objects/id-91ed4582814a49f4bb59af365bb2444a.html" target="element" >
				  				        <area shape="rect" coords="553,393,590,436" href="../objects/id-c0caad436ed546a592165d6ebc4212c3.html" target="element" >

				  				<area shape="rect" coords="547,355,631,438" href="../elements/id-454fc5cb0d884c779b194d56674810c4.html"  target="element">
				  				        <area shape="rect" coords="771,392,811,434" href="../objects/id-0c546a780cd9406784912d18bfaaec7b.html" target="element" >

				  				<area shape="rect" coords="753,354,837,437" href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html"  target="element">
				  		        <area shape="rect" coords="1001,392,1035,430" href="../objects/id-951b5a06e8de4c9da8cb3cfc15005ada.html" target="element" >
				  				        <area shape="rect" coords="469,394,504,431" href="../objects/id-fbd1c53ebed845dda8109e014fdeac52.html" target="element" >

				  				<area shape="rect" coords="445,354,529,437" href="../elements/id-4b858faacbed41e6be3270053d02b927.html"  target="element">
				  		        <area shape="rect" coords="352,398,384,432" href="../objects/id-fec838864a1847dfae9bfae52e098555.html" target="element" >
				  				<area shape="rect" coords="142,352,226,435" href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html"  target="element">
				  				        <area shape="rect" coords="261,394,304,431" href="../objects/id-f08d64ef4fdc47b490969b573e34bbac.html" target="element" >

				  				<area shape="rect" coords="242,352,326,435" href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html"  target="element">
				  		        <area shape="rect" coords="592,397,629,434" href="../objects/id-85abef9e363e481a9aa30fbbd8772daf.html" target="element" >
				  				        <area shape="rect" coords="959,394,998,431" href="../objects/id-9423d477a9794ef09e92f6a18fa64a44.html" target="element" >

				  				<area shape="rect" coords="956,353,1040,436" href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html"  target="element">
				  				<area shape="rect" coords="343,353,427,436" href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html"  target="element">
				  		        <area shape="rect" coords="390,397,427,434" href="../objects/id-b8c6488dd5514ff1a52480c5f3cd765d.html" target="element" >

				  		<area shape="rect" coords="132,344,1048,445" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  		        <area shape="rect" coords="22,374,86,437" href="../objects/id-342b9152c2ce424bb39f011c3bfcb2b1.html" target="element" >
				  		        <area shape="rect" coords="34,347,74,378" href="../objects/id-7b563ec264d84cb29a428bd778b7271b.html" target="element" >

				  		<area shape="rect" coords="10,344,99,445" href="../elements/id-30120b34926b48908abba1df597cac48.html"  target="element">
				  				        <area shape="rect" coords="718,43,933,98" href="../objects/id-69aba41c2d794c6c856317233b243d5b.html" target="element" >
				  						<area shape="rect" coords="582,102,691,127" href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html"  target="element">
				  						<area shape="rect" coords="725,126,834,235" href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html"  target="element">
				  				        <area shape="rect" coords="678,191,711,223" href="../objects/id-f9df3590de144856a169428c0d350999.html" target="element" >
				  						<area shape="rect" coords="725,102,834,127" href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html"  target="element">
				  						<area shape="rect" coords="870,102,979,127" href="../elements/id-5958c8cc911e46188f766be27c44555e.html"  target="element">
				  						<area shape="rect" coords="582,126,691,235" href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html"  target="element">
				  						<area shape="rect" coords="870,126,979,235" href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html"  target="element">
				  				        <area shape="rect" coords="568,49,666,63" href="../objects/id-0b6eb12c316d454aad0eaf7fd7d24bd4.html" target="element" >
				  				        <area shape="rect" coords="645,49,691,99" href="../objects/id-94602ab118bf4ddca04188ec9be316d8.html" target="element" >

				  				<area shape="rect" coords="562,34,1003,259" href="../elements/id-bc8879984040446e98809f7fe211e719.html"  target="element">

				  		<area shape="rect" coords="538,10,1026,272" href="../elements/id-558bc6f53886449c81ab65feac5939cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-94602ab118bf4ddca04188ec9be316d8.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-94602ab118bf4ddca04188ec9be316d8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0b6eb12c316d454aad0eaf7fd7d24bd4.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0b6eb12c316d454aad0eaf7fd7d24bd4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-f9df3590de144856a169428c0d350999.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f9df3590de144856a169428c0d350999.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-69aba41c2d794c6c856317233b243d5b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-69aba41c2d794c6c856317233b243d5b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-7b563ec264d84cb29a428bd778b7271b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7b563ec264d84cb29a428bd778b7271b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-342b9152c2ce424bb39f011c3bfcb2b1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-342b9152c2ce424bb39f011c3bfcb2b1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-b8c6488dd5514ff1a52480c5f3cd765d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b8c6488dd5514ff1a52480c5f3cd765d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-9423d477a9794ef09e92f6a18fa64a44.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-9423d477a9794ef09e92f6a18fa64a44.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-85abef9e363e481a9aa30fbbd8772daf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-85abef9e363e481a9aa30fbbd8772daf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-f08d64ef4fdc47b490969b573e34bbac.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-f08d64ef4fdc47b490969b573e34bbac.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
													    <td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-fec838864a1847dfae9bfae52e098555.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fec838864a1847dfae9bfae52e098555.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-fbd1c53ebed845dda8109e014fdeac52.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-fbd1c53ebed845dda8109e014fdeac52.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-951b5a06e8de4c9da8cb3cfc15005ada.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-951b5a06e8de4c9da8cb3cfc15005ada.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-0c546a780cd9406784912d18bfaaec7b.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-0c546a780cd9406784912d18bfaaec7b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-c0caad436ed546a592165d6ebc4212c3.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c0caad436ed546a592165d6ebc4212c3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-91ed4582814a49f4bb59af365bb2444a.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-91ed4582814a49f4bb59af365bb2444a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-1202025f6f58483cbcc4840335ec4e89.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1202025f6f58483cbcc4840335ec4e89.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-5a869ea24238407498569becd02bb5f5.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-5a869ea24238407498569becd02bb5f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
													    <td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/id-b9bb9d08844340b08edc69ce86188690.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b9bb9d08844340b08edc69ce86188690.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-e6b3dad20d074542bdfccf17dc8f9968.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e6b3dad20d074542bdfccf17dc8f9968.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-8300b5c4e3f44cf5b01435b2e729e447.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8300b5c4e3f44cf5b01435b2e729e447.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-07297105bd6d4cfc8da5301dc35323c8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-07297105bd6d4cfc8da5301dc35323c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-aec9276de6fa438781b294c959e50f43.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) </a> </td>
											    <td> <a href="../elements/id-aec9276de6fa438781b294c959e50f43.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
													    <td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/id-c981fdf7034542e2924bb22be3adf5a6.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-c981fdf7034542e2924bb22be3adf5a6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ede3bc2bc48846b8b775f913a821b671.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-ede3bc2bc48846b8b775f913a821b671.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
															    <td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
															    <td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-b649eb5816ad46158e7097d596dc7665.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-b649eb5816ad46158e7097d596dc7665.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

															<tr>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
															    <td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
															    <td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element" class="i18n-elementtype-Artifact">
															    </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/id-3c20aa6969be41ab9a36f29f63669585.html" target="element">  </a> </td>
													           <td> <a href="../objects/id-3c20aa6969be41ab9a36f29f63669585.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; (copy) (copy) </a> </td>
											    <td> <a href="../elements/id-798830b876574085a87946456b02bbc1.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d2d86326ba3f48b8b5ac40764bc4618e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d2d86326ba3f48b8b5ac40764bc4618e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ba76319ed504510a7fbdb8e1faa5559.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30120b34926b48908abba1df597cac48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5dba670f9f8a4852ba5557cf073405c9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a35af779f0b842fdac332996c6958291.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-052c03ed9ef24ffca77bfa2ea790a682.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-3cdc9488b184455ca617e187f59e1ac8.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424f8cf4012f46ac83c66326d35f22be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3daad901b7647c8abcdbc61c5a63027.html" target="element"> DoBiz (copy) </a> </td>
																				<td> <a href="../elements/id-9392831c2be042e9a2dd418c2bab7a87.html" target="element"> Business Process (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0c5ed4d82ff47d9aaecce3e8d013337.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4b858faacbed41e6be3270053d02b927.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ccfbb1e4d348449294a00521f6488a04.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-71328fe691d74359a1d7c829472a5c37.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-165db4e6c2e84a89ae182bdea6e45c7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-454fc5cb0d884c779b194d56674810c4.html" target="element"> DoBiz (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-312d8bea5cb5497b8ac08a3bd4b9f8e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8f722ec6f934f1a9e59812624e0bcce.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-c1387ade68d24986915cccbf1c540ea2.html" target="element"> DoBiz (copy) (copy) (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b513c986c6c456da4826146d6d26d68.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c274baa9e9b643358d2e2a301136f577.html" target="element"> DoBiz (copy) (copy) (copy) </a> </td>
																				<td> <a href="../elements/id-4777d7cd06e9495bb7480182cb8409ad.html" target="element"> DoBiz (copy) (copy) (copy) (copy) </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84267b2b86a8422290bd392c3d04a2da.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-558bc6f53886449c81ab65feac5939cc.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8e4c293b70343a7a198359391ac8c51.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-fa4d5d1aa2344e00b908ef5b885b6755.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b956013e73534eb58c12b1a149f0a250.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-a19e4c0d422b4759883778dfb843bc2d.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51bf39a045474b6c89d2800922c2bc5d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-1b376b6efc024da2a6fe59247e3164e1.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3666; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11744247718b4384abad5bbf32be33e4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-d950908f10d34b3285d29f0050d3c89c.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3665; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fba3ed0c38a843049cdfbb145b5ce644.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-0481156a7a8f4424a3c8d6c9781f54c5.html" target="element"> License 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-404cef27f39d4e918f8401d45d3b3570.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bc8879984040446e98809f7fe211e719.html" target="element"> Application Service </a> </td>
																				<td> <a href="../elements/id-5958c8cc911e46188f766be27c44555e.html" target="element"> org1:L/&#3585;&#3666;&#3669;&#3670;&#3668;-&#3667; </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>