<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Service Process Baseline</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Service Process Baseline</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f6533e6728064f7d82f25ca8a6d7eb09.png" alt="Service Process Baseline" usemap="#id-f6533e6728064f7d82f25ca8a6d7eb09map"/>
			   <map name="id-f6533e6728064f7d82f25ca8a6d7eb09map">
				  		<area shape="rect" coords="465,550,659,605" href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html"  target="element">
				  				<area shape="rect" coords="1030,274,1150,329" href="../elements/id-eb2d031ca7b84b28a0996aea4f2bcb87.html"  target="element">
				  				<area shape="rect" coords="886,274,1006,329" href="../elements/id-f95797f5f36042b9996f36272ea386dc.html"  target="element">
				  				<area shape="rect" coords="742,274,862,329" href="../elements/id-622702cd4f8845738509881522476069.html"  target="element">
				  				<area shape="rect" coords="598,274,718,329" href="../elements/id-9847366a89fc4f1c9481c19364d69698.html"  target="element">
				  				<area shape="rect" coords="454,274,574,329" href="../elements/id-0a1525c020104fb89bdc8d079ae7470a.html"  target="element">
				  				<area shape="rect" coords="310,274,430,329" href="../elements/id-2e6c555861eb4590b4731efaeb187dec.html"  target="element">
				  				<area shape="rect" coords="166,274,286,329" href="../elements/id-a8f783894ce24e7d9beaea735d1206b2.html"  target="element">
				  				<area shape="rect" coords="22,274,142,329" href="../elements/id-69b6e321a32b41b48adc65ce8492357e.html"  target="element">

				  		<area shape="rect" coords="10,238,1163,347" href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html"  target="element">
				  		<area shape="rect" coords="465,382,659,437" href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html"  target="element">
				  		<area shape="rect" coords="465,466,659,521" href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html"  target="element">
				  				<area shape="rect" coords="1030,130,1150,185" href="../elements/id-0cabb8ad83ea45989aee354681d222e5.html"  target="element">
				  				<area shape="rect" coords="598,130,718,185" href="../elements/id-f9278d5341c842c4a6939fcecdf2140a.html"  target="element">
				  				<area shape="rect" coords="454,130,574,185" href="../elements/id-daa0fce549454fbbb989b70825a733a6.html"  target="element">
				  				<area shape="rect" coords="742,130,862,185" href="../elements/id-0d994cb96a5341dca5b701dc2f4ba007.html"  target="element">
				  				<area shape="rect" coords="310,130,430,185" href="../elements/id-3c6e63b41e89458fb44d6ae953d6d811.html"  target="element">
				  				<area shape="rect" coords="166,130,286,185" href="../elements/id-771d84f47bf0453999ac5d9a26528dec.html"  target="element">
				  				<area shape="rect" coords="886,130,1006,185" href="../elements/id-7bf907658e0940c58c1e2f6562c8a880.html"  target="element">
				  				<area shape="rect" coords="22,130,142,185" href="../elements/id-ab26ff583e0840ca84867a4b3a30865a.html"  target="element">

				  		<area shape="rect" coords="10,94,1163,215" href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html"  target="element">
				  		<area shape="rect" coords="502,10,622,65" href="../elements/id-c678fb83f03640a98cf2699a099c6461.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c678fb83f03640a98cf2699a099c6461.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
											    <td> <a href="../elements/id-c678fb83f03640a98cf2699a099c6461.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
											    <td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ab26ff583e0840ca84867a4b3a30865a.html" target="element"> &#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;    </a> </td>
													    <td> <a href="../elements/id-ab26ff583e0840ca84867a4b3a30865a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7bf907658e0940c58c1e2f6562c8a880.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;      &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
													    <td> <a href="../elements/id-7bf907658e0940c58c1e2f6562c8a880.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-771d84f47bf0453999ac5d9a26528dec.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609;    </a> </td>
													    <td> <a href="../elements/id-771d84f47bf0453999ac5d9a26528dec.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3c6e63b41e89458fb44d6ae953d6d811.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629;      </a> </td>
													    <td> <a href="../elements/id-3c6e63b41e89458fb44d6ae953d6d811.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d994cb96a5341dca5b701dc2f4ba007.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;   &#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
													    <td> <a href="../elements/id-0d994cb96a5341dca5b701dc2f4ba007.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-daa0fce549454fbbb989b70825a733a6.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629;    </a> </td>
													    <td> <a href="../elements/id-daa0fce549454fbbb989b70825a733a6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9278d5341c842c4a6939fcecdf2140a.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636;    </a> </td>
													    <td> <a href="../elements/id-f9278d5341c842c4a6939fcecdf2140a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0cabb8ad83ea45989aee354681d222e5.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;        &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
													    <td> <a href="../elements/id-0cabb8ad83ea45989aee354681d222e5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
											    <td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;   </a> </td>
											    <td> <a href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
											    <td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-69b6e321a32b41b48adc65ce8492357e.html" target="element"> &#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; </a> </td>
													    <td> <a href="../elements/id-69b6e321a32b41b48adc65ce8492357e.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a8f783894ce24e7d9beaea735d1206b2.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
													    <td> <a href="../elements/id-a8f783894ce24e7d9beaea735d1206b2.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e6c555861eb4590b4731efaeb187dec.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
													    <td> <a href="../elements/id-2e6c555861eb4590b4731efaeb187dec.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a1525c020104fb89bdc8d079ae7470a.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629; </a> </td>
													    <td> <a href="../elements/id-0a1525c020104fb89bdc8d079ae7470a.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9847366a89fc4f1c9481c19364d69698.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
													    <td> <a href="../elements/id-9847366a89fc4f1c9481c19364d69698.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-622702cd4f8845738509881522476069.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617; </a> </td>
													    <td> <a href="../elements/id-622702cd4f8845738509881522476069.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f95797f5f36042b9996f36272ea386dc.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
													    <td> <a href="../elements/id-f95797f5f36042b9996f36272ea386dc.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb2d031ca7b84b28a0996aea4f2bcb87.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
													    <td> <a href="../elements/id-eb2d031ca7b84b28a0996aea4f2bcb87.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element"> Service Request Agent </a> </td>
											    <td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2eef105ab4a8412cb0ab5896c325097d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2eef105ab4a8412cb0ab5896c325097d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-ab26ff583e0840ca84867a4b3a30865a.html" target="element"> &#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90e5ec28c90b4e6781dff703980f1bf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90e5ec28c90b4e6781dff703980f1bf1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-7bf907658e0940c58c1e2f6562c8a880.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;      &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92bff29b6d86432eab3db0b66d6399e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92bff29b6d86432eab3db0b66d6399e1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-771d84f47bf0453999ac5d9a26528dec.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be3826ddae054891853b19b994cf36f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be3826ddae054891853b19b994cf36f0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-3c6e63b41e89458fb44d6ae953d6d811.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629;      </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a7dceee1ccc4df0a79f38e42b139c7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a7dceee1ccc4df0a79f38e42b139c7e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-0d994cb96a5341dca5b701dc2f4ba007.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;   &#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b0190a0184c477a8941958039724470.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b0190a0184c477a8941958039724470.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-daa0fce549454fbbb989b70825a733a6.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a33b38d2b07242ea947dfc3f5276ac90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a33b38d2b07242ea947dfc3f5276ac90.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-f9278d5341c842c4a6939fcecdf2140a.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d6d47ff234f42279831735b736d1f17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d6d47ff234f42279831735b736d1f17.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-0cabb8ad83ea45989aee354681d222e5.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;        &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c11dccc624234a8894a6cda4ae439026.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c11dccc624234a8894a6cda4ae439026.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3a42a1d9888f4d7291937e205c5d4723.html" target="element"> &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3591;&#3634;&#3609; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-c678fb83f03640a98cf2699a099c6461.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3ee3ec2934f343d09216782dc3ff7bca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3ee3ec2934f343d09216782dc3ff7bca.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ab26ff583e0840ca84867a4b3a30865a.html" target="element"> &#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;    </a> </td>
																				<td> <a href="../elements/id-771d84f47bf0453999ac5d9a26528dec.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-82d675a0d1f9406b8074cd8cb8370ac4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82d675a0d1f9406b8074cd8cb8370ac4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7bf907658e0940c58c1e2f6562c8a880.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;      &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																				<td> <a href="../elements/id-0cabb8ad83ea45989aee354681d222e5.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;        &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6369693b92614384bf0469322558afce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6369693b92614384bf0469322558afce.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-771d84f47bf0453999ac5d9a26528dec.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609;    </a> </td>
																				<td> <a href="../elements/id-3c6e63b41e89458fb44d6ae953d6d811.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629;      </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-44dfa6f64f8b45a8b955c20fa11ba594.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-44dfa6f64f8b45a8b955c20fa11ba594.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3c6e63b41e89458fb44d6ae953d6d811.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629;      </a> </td>
																				<td> <a href="../elements/id-daa0fce549454fbbb989b70825a733a6.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9370b86ff8094e818b996b73603ddec4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9370b86ff8094e818b996b73603ddec4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0d994cb96a5341dca5b701dc2f4ba007.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;   &#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
																				<td> <a href="../elements/id-7bf907658e0940c58c1e2f6562c8a880.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;      &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-689ba225605b45febe676af93b765dbb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-689ba225605b45febe676af93b765dbb.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-daa0fce549454fbbb989b70825a733a6.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629;    </a> </td>
																				<td> <a href="../elements/id-f9278d5341c842c4a6939fcecdf2140a.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c8c2f1427c98494b8cdeb440abf1486e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8c2f1427c98494b8cdeb440abf1486e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9278d5341c842c4a6939fcecdf2140a.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636;    </a> </td>
																				<td> <a href="../elements/id-0d994cb96a5341dca5b701dc2f4ba007.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;   &#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9f5bdfa6f89b404b87069410a2283ba8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f5bdfa6f89b404b87069410a2283ba8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																		<td> <a href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;   </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55ce52a112ce48de91f090e1e0a68d84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55ce52a112ce48de91f090e1e0a68d84.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-478dbd4fe89742a0b65a30a1dd9f1c11.html" target="element"> &#3619;&#3632;&#3610;&#3610;&#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3619;&#3632;&#3610;&#3623;&#3609;&#3585;&#3634;&#3619;&#3629;&#3629;&#3585;    &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																		<td> <a href="../elements/id-15e7d49476d94084b4848c8642e2f1d3.html" target="element"> Service Request Agent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3fc755fe25254bd988d2d2c8ef0da7c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fc755fe25254bd988d2d2c8ef0da7c0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-69a9ed8e32a04f34b3ceeddb218b97c1.html" target="element"> &#3610;&#3619;&#3636;&#3585;&#3634;&#3619; &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597;   </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce7b78b651a4406ba35e6316864896d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce7b78b651a4406ba35e6316864896d0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-69b6e321a32b41b48adc65ce8492357e.html" target="element"> &#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a54080c46b04ff6aa8331c9b950981c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a54080c46b04ff6aa8331c9b950981c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-a8f783894ce24e7d9beaea735d1206b2.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8c3346d283a43d29e7011423cedc7cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8c3346d283a43d29e7011423cedc7cf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-2e6c555861eb4590b4731efaeb187dec.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c4b5595434a548e5b09cdd756d0a036a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4b5595434a548e5b09cdd756d0a036a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-0a1525c020104fb89bdc8d079ae7470a.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-627f34f849c548b4a06f32a75db83864.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-627f34f849c548b4a06f32a75db83864.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-9847366a89fc4f1c9481c19364d69698.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c66aa62612004558a2d7ac7e0c4cf3ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c66aa62612004558a2d7ac7e0c4cf3ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-622702cd4f8845738509881522476069.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-12c0218548f04eaca85ad54711d49d0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-12c0218548f04eaca85ad54711d49d0b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-f95797f5f36042b9996f36272ea386dc.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60608078be974c4aa802f9cc8f57df68.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60608078be974c4aa802f9cc8f57df68.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de4f9509a1e84346939fdc2ba4645b72.html" target="element"> &#3626;&#3609;&#3633;&#3610;&#3626;&#3609;&#3640;&#3609; &#3585;&#3634;&#3619;&#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;&#3626;&#3635;&#3588;&#3633;&#3597; </a> </td>
																		<td> <a href="../elements/id-eb2d031ca7b84b28a0996aea4f2bcb87.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-8d759df2c92445f8bd71bde773721844.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d759df2c92445f8bd71bde773721844.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69b6e321a32b41b48adc65ce8492357e.html" target="element"> &#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; </a> </td>
																				<td> <a href="../elements/id-ab26ff583e0840ca84867a4b3a30865a.html" target="element"> &#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82c98253d2784c6bba1a955f505a6fde.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82c98253d2784c6bba1a955f505a6fde.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69b6e321a32b41b48adc65ce8492357e.html" target="element"> &#3585;&#3634;&#3619;&#3626;&#3639;&#3610;&#3588;&#3657;&#3609;&#3586;&#3657;&#3629;&#3617;&#3641;&#3621; </a> </td>
																				<td> <a href="../elements/id-a8f783894ce24e7d9beaea735d1206b2.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0084f3a745c24d3c8a21cf57cc1c2974.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0084f3a745c24d3c8a21cf57cc1c2974.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a8f783894ce24e7d9beaea735d1206b2.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
																				<td> <a href="../elements/id-2e6c555861eb4590b4731efaeb187dec.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e35f63bbf52a4f4487a46623acc290a7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e35f63bbf52a4f4487a46623acc290a7.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a8f783894ce24e7d9beaea735d1206b2.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609; </a> </td>
																				<td> <a href="../elements/id-771d84f47bf0453999ac5d9a26528dec.html" target="element"> &#3618;&#3639;&#3609;&#3618;&#3633;&#3609;&#3605;&#3633;&#3623;&#3605;&#3609;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c5e52142ae9b4f2d8a348925ccc4efe1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c5e52142ae9b4f2d8a348925ccc4efe1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2e6c555861eb4590b4731efaeb187dec.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																				<td> <a href="../elements/id-3c6e63b41e89458fb44d6ae953d6d811.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629;      </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-df89699376c2422a897593c8f8e08bf8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-df89699376c2422a897593c8f8e08bf8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2e6c555861eb4590b4731efaeb187dec.html" target="element"> &#3618;&#3639;&#3656;&#3609;&#3588;&#3635;&#3586;&#3629; </a> </td>
																				<td> <a href="../elements/id-0a1525c020104fb89bdc8d079ae7470a.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-068a0b42736a4afca12f4aeef13f29e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-068a0b42736a4afca12f4aeef13f29e7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1525c020104fb89bdc8d079ae7470a.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629; </a> </td>
																				<td> <a href="../elements/id-9847366a89fc4f1c9481c19364d69698.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c0cafecf6be8438fbfea9bf07a9d9224.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c0cafecf6be8438fbfea9bf07a9d9224.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0a1525c020104fb89bdc8d079ae7470a.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629; </a> </td>
																				<td> <a href="../elements/id-daa0fce549454fbbb989b70825a733a6.html" target="element"> &#3614;&#3636;&#3592;&#3634;&#3619;&#3603;&#3634;&#3588;&#3635;&#3586;&#3629;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-98bacb70eea44062aeb8f2f748c43333.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-98bacb70eea44062aeb8f2f748c43333.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9847366a89fc4f1c9481c19364d69698.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																				<td> <a href="../elements/id-f9278d5341c842c4a6939fcecdf2140a.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-53c2c627b5ba4efcb747ae66a2375d5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-53c2c627b5ba4efcb747ae66a2375d5f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9847366a89fc4f1c9481c19364d69698.html" target="element"> &#3585;&#3634;&#3619;&#3629;&#3609;&#3640;&#3617;&#3633;&#3605;&#3636; </a> </td>
																				<td> <a href="../elements/id-622702cd4f8845738509881522476069.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b2ef56a1abd74a609ce6cd7723998cd2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b2ef56a1abd74a609ce6cd7723998cd2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-622702cd4f8845738509881522476069.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617; </a> </td>
																				<td> <a href="../elements/id-f95797f5f36042b9996f36272ea386dc.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d75c6bcddd4a47d5b8eb42a84c59deea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d75c6bcddd4a47d5b8eb42a84c59deea.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-622702cd4f8845738509881522476069.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;&#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617; </a> </td>
																				<td> <a href="../elements/id-0d994cb96a5341dca5b701dc2f4ba007.html" target="element"> &#3594;&#3635;&#3619;&#3632;&#3588;&#3656;&#3634;   &#3608;&#3619;&#3619;&#3617;&#3648;&#3609;&#3637;&#3618;&#3617;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-898550f1055d4487a70d38414d71a2b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-898550f1055d4487a70d38414d71a2b9.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f95797f5f36042b9996f36272ea386dc.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																				<td> <a href="../elements/id-7bf907658e0940c58c1e2f6562c8a880.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;      &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-79573fee8765461cb727bc8b5f46096e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79573fee8765461cb727bc8b5f46096e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f95797f5f36042b9996f36272ea386dc.html" target="element"> &#3629;&#3629;&#3585;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																				<td> <a href="../elements/id-eb2d031ca7b84b28a0996aea4f2bcb87.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d235ae1e99b84779a8c1432f022a240c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d235ae1e99b84779a8c1432f022a240c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-eb2d031ca7b84b28a0996aea4f2bcb87.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591;&#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;   &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																				<td> <a href="../elements/id-0cabb8ad83ea45989aee354681d222e5.html" target="element"> &#3592;&#3633;&#3604;&#3626;&#3656;&#3591; &#3627;&#3609;&#3633;&#3591;&#3626;&#3639;&#3629;        &#3626;&#3635;&#3588;&#3633;&#3597;    </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>