<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>doc1-CH1-F3-overview-asis 2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>doc1-CH1-F3-overview-asis 2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f65cbd5fda8845d98242f275f7437653.png" alt="doc1-CH1-F3-overview-asis 2" usemap="#id-f65cbd5fda8845d98242f275f7437653map"/>
			   <map name="id-f65cbd5fda8845d98242f275f7437653map">
				  		        <area shape="rect" coords="554,252,614,295" href="../objects/id-3223248e3aa14305a903a002ac5b002f.html" target="element" >
				  		        <area shape="rect" coords="106,253,163,297" href="../objects/id-69dde90081644a109fb25f53cc52ba9c.html" target="element" >
				  		        <area shape="rect" coords="469,256,527,292" href="../objects/id-1e07672ba495472898e1c6c61035444f.html" target="element" >
				  		        <area shape="rect" coords="182,255,237,294" href="../objects/id-67d67e8cd8b34fc6a48f29c2e3623675.html" target="element" >
				  		        <area shape="rect" coords="340,255,448,295" href="../objects/id-6afcce251b084517b25d2b9486fb8f37.html" target="element" >
				  		        <area shape="rect" coords="254,254,304,289" href="../objects/id-93996b4030fc4f3b9d0a47af44e260c4.html" target="element" >

				  		<area shape="rect" coords="93,246,649,312" href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html"  target="element">
				  		<area shape="rect" coords="12,318,85,444" href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html"  target="element">
				  		<area shape="rect" coords="12,246,85,312" href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html"  target="element">
				  		<area shape="rect" coords="10,81,83,183" href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html"  target="element">
				  		<area shape="rect" coords="11,186,84,242" href="../elements/id-064b4513af0d470eb727775c55541f5c.html"  target="element">
				  		<area shape="rect" coords="10,11,83,75" href="../elements/id-8a560d80ba674419b127602532fe7b58.html"  target="element">
				  		<area shape="rect" coords="713,10,774,446" href="../elements/id-61fca7296b7f413a983a42549447be95.html"  target="element">
				  		<area shape="rect" coords="655,11,710,445" href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html"  target="element">
				          <area shape="rect" coords="151,403,196,440" href="../objects/id-3420ec16440848cba8c83476e927b7b8.html" target="element" >
				  		        <area shape="rect" coords="179,190,217,226" href="../objects/id-1a3681ee08aa46ada57c61594e42744e.html" target="element" >
				  		        <area shape="rect" coords="174,222,243,242" href="../objects/id-24ebea66d7c341019a2eebb61b52eb28.html" target="element" >
				  		        <area shape="rect" coords="512,222,592,242" href="../objects/id-959b03ecf2024280af8697e66a0cf95b.html" target="element" >
				  		        <area shape="rect" coords="591,221,632,241" href="../objects/id-ff84aee89fab41f59c113039934220ba.html" target="element" >
				  		        <area shape="rect" coords="593,189,628,224" href="../objects/id-4236fb6def1a46b9932df2e814984f02.html" target="element" >
				  		        <area shape="rect" coords="103,220,172,240" href="../objects/id-8b5b1adf0fe34c78b7b02273ef6aa397.html" target="element" >
				  		        <area shape="rect" coords="321,190,359,226" href="../objects/id-2213a89be84140498ce8a1e6273812fe.html" target="element" >
				  		        <area shape="rect" coords="390,190,428,226" href="../objects/id-73b4458433ab46298ec37f3253cbf696.html" target="element" >
				  		        <area shape="rect" coords="449,222,509,242" href="../objects/id-1006baecd5b04e66859e4892238ae44b.html" target="element" >
				  		        <area shape="rect" coords="107,190,145,226" href="../objects/id-da995693e1a944568550a252f776fe41.html" target="element" >
				  		        <area shape="rect" coords="372,222,441,242" href="../objects/id-d7a7508b7b7a4b999c7a74449e094822.html" target="element" >
				  		        <area shape="rect" coords="304,222,373,242" href="../objects/id-c038b4eed1444559b2e98d10c413b5de.html" target="element" >
				  		        <area shape="rect" coords="255,190,293,226" href="../objects/id-f222d58f742c49c38a51d3763d8f69eb.html" target="element" >
				  		        <area shape="rect" coords="237,222,306,242" href="../objects/id-53ded6d2a8414b9ab7545fa3f24b182d.html" target="element" >
				  		        <area shape="rect" coords="526,190,564,227" href="../objects/id-ed54b0816b39453ea195d77a7bbc18cd.html" target="element" >
				  		        <area shape="rect" coords="457,190,495,226" href="../objects/id-0fad4322ad884247a38edae0907c2dc1.html" target="element" >

				  		<area shape="rect" coords="95,184,651,242" href="../elements/id-439b868d04e14c74a14084936976637b.html"  target="element">
				  		        <area shape="rect" coords="229,24,287,66" href="../objects/id-58d26f408c3c47f3b8c83f89aafd4757.html" target="element" >
				  		        <area shape="rect" coords="558,26,636,68" href="../objects/id-18063228f6c2450882ff3a003f42ca8e.html" target="element" >
				  		        <area shape="rect" coords="451,26,553,68" href="../objects/id-19596836c08a4b0caf69e7d074f9afd1.html" target="element" >
				  		        <area shape="rect" coords="348,25,445,67" href="../objects/id-58c2edba578240b0ad68f156229d40dd.html" target="element" >
				  		        <area shape="rect" coords="294,25,344,67" href="../objects/id-cb33d8dbb6904b48bdcb1e6a83124a2d.html" target="element" >
				  		        <area shape="rect" coords="163,25,224,67" href="../objects/id-dc8431c3946041a9848747857c2062b7.html" target="element" >
				  		        <area shape="rect" coords="110,24,156,66" href="../objects/id-c9b0224870bf46009d412a877be497ac.html" target="element" >

				  		<area shape="rect" coords="94,12,650,77" href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html"  target="element">
				  		        <area shape="rect" coords="580,137,618,173" href="../objects/id-ec704f606dbf4dcbb285366cf2f3efb1.html" target="element" >
				  		        <area shape="rect" coords="528,138,566,174" href="../objects/id-a6b867342007444fb149a071a1cf54b4.html" target="element" >
				  		        <area shape="rect" coords="475,138,513,174" href="../objects/id-2683a903f65b499884ad4b3566300172.html" target="element" >
				  		        <area shape="rect" coords="429,140,461,172" href="../objects/id-0bc952364cb4445cb20035e807757916.html" target="element" >
				  		        <area shape="rect" coords="373,138,411,174" href="../objects/id-d3d93f3b09e543a19a24278299ed770d.html" target="element" >
				  		        <area shape="rect" coords="322,139,360,175" href="../objects/id-27057a4aa5714af699706924244789fe.html" target="element" >
				  		        <area shape="rect" coords="272,140,310,176" href="../objects/id-8fbb6426fe464ae585c26cd75c7253a1.html" target="element" >
				  		        <area shape="rect" coords="221,136,259,172" href="../objects/id-7764d68050a8450b809d39fd8e35d6b1.html" target="element" >
				  		        <area shape="rect" coords="165,138,203,174" href="../objects/id-29bf62168c6546dba06015297a0d0199.html" target="element" >
				  		        <area shape="rect" coords="111,139,149,175" href="../objects/id-e785abb6ea6943958643d1df74dff92e.html" target="element" >
				  		        <area shape="rect" coords="523,117,569,141" href="../objects/id-fb31b84a8e204b34ad2e6e4bdc403d09.html" target="element" >
				  		        <area shape="rect" coords="423,117,465,141" href="../objects/id-b19301bf7acd4e5dbde4f201908ed896.html" target="element" >
				  		        <area shape="rect" coords="367,117,409,141" href="../objects/id-8cb4601aa1b44ea3b3ae3429ee522d1e.html" target="element" >
				  		        <area shape="rect" coords="109,117,151,141" href="../objects/id-636a5b5e42ee49a1852deb1d03ce4974.html" target="element" >
				  		        <area shape="rect" coords="576,117,628,141" href="../objects/id-b1bef62db30e42c09c7c789a676862c9.html" target="element" >
				  		        <area shape="rect" coords="213,117,255,141" href="../objects/id-03d1c4806f744961a1d76f6fcda56592.html" target="element" >
				  		        <area shape="rect" coords="314,117,356,141" href="../objects/id-1fdac550e38c4c238859b51cbdd3ed9c.html" target="element" >
				  		        <area shape="rect" coords="471,117,517,141" href="../objects/id-5b0ee4fd26e441dd9e9ea89d0735c059.html" target="element" >
				  		        <area shape="rect" coords="264,117,306,141" href="../objects/id-c257a1453eea4704bc5aaf084acaf0cf.html" target="element" >
				  		        <area shape="rect" coords="159,117,201,141" href="../objects/id-e6667da7c5174472ac3c35f9a94312ec.html" target="element" >
				  		        <area shape="rect" coords="104,87,632,123" href="../objects/id-2fa6691ed3884f42878fe93dcce0ebe7.html" target="element" >

				  		<area shape="rect" coords="93,81,651,180" href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html"  target="element">
				          <area shape="rect" coords="333,397,574,434" href="../objects/id-44945614d8604d3da44cfce228868614.html" target="element" >
				          <area shape="rect" coords="213,397,322,446" href="../objects/id-6ac4af0de5014ac78b0f2da2c9c79dde.html" target="element" >
				          <area shape="rect" coords="334,318,623,391" href="../objects/id-b3952a500cc6409c99b60bff847576f5.html" target="element" >
				          <area shape="rect" coords="174,333,263,377" href="../objects/id-dcc1f085a2b440aa9fc2d0232343d089.html" target="element" >
				          <area shape="rect" coords="94,318,647,391" href="../objects/id-843dc53d8e67485285fa370aeaf51974.html" target="element" >
				          <area shape="rect" coords="95,394,648,443" href="../objects/id-f9e757952b5e4ee9a26a645184a4e2a6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-f9e757952b5e4ee9a26a645184a4e2a6.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f9e757952b5e4ee9a26a645184a4e2a6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-843dc53d8e67485285fa370aeaf51974.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-843dc53d8e67485285fa370aeaf51974.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-dcc1f085a2b440aa9fc2d0232343d089.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-dcc1f085a2b440aa9fc2d0232343d089.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b3952a500cc6409c99b60bff847576f5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-b3952a500cc6409c99b60bff847576f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6ac4af0de5014ac78b0f2da2c9c79dde.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6ac4af0de5014ac78b0f2da2c9c79dde.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-44945614d8604d3da44cfce228868614.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-44945614d8604d3da44cfce228868614.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-ef52159230bb4318bf5563f82542f6ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-2fa6691ed3884f42878fe93dcce0ebe7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2fa6691ed3884f42878fe93dcce0ebe7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e6667da7c5174472ac3c35f9a94312ec.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e6667da7c5174472ac3c35f9a94312ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c257a1453eea4704bc5aaf084acaf0cf.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c257a1453eea4704bc5aaf084acaf0cf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5b0ee4fd26e441dd9e9ea89d0735c059.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-5b0ee4fd26e441dd9e9ea89d0735c059.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1fdac550e38c4c238859b51cbdd3ed9c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1fdac550e38c4c238859b51cbdd3ed9c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-03d1c4806f744961a1d76f6fcda56592.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-03d1c4806f744961a1d76f6fcda56592.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b1bef62db30e42c09c7c789a676862c9.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b1bef62db30e42c09c7c789a676862c9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-636a5b5e42ee49a1852deb1d03ce4974.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-636a5b5e42ee49a1852deb1d03ce4974.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8cb4601aa1b44ea3b3ae3429ee522d1e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8cb4601aa1b44ea3b3ae3429ee522d1e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-b19301bf7acd4e5dbde4f201908ed896.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-b19301bf7acd4e5dbde4f201908ed896.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-fb31b84a8e204b34ad2e6e4bdc403d09.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-fb31b84a8e204b34ad2e6e4bdc403d09.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-e785abb6ea6943958643d1df74dff92e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-e785abb6ea6943958643d1df74dff92e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-29bf62168c6546dba06015297a0d0199.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-29bf62168c6546dba06015297a0d0199.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7764d68050a8450b809d39fd8e35d6b1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-7764d68050a8450b809d39fd8e35d6b1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8fbb6426fe464ae585c26cd75c7253a1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8fbb6426fe464ae585c26cd75c7253a1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-27057a4aa5714af699706924244789fe.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-27057a4aa5714af699706924244789fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d3d93f3b09e543a19a24278299ed770d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d3d93f3b09e543a19a24278299ed770d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-0bc952364cb4445cb20035e807757916.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0bc952364cb4445cb20035e807757916.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2683a903f65b499884ad4b3566300172.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2683a903f65b499884ad4b3566300172.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-a6b867342007444fb149a071a1cf54b4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-a6b867342007444fb149a071a1cf54b4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ec704f606dbf4dcbb285366cf2f3efb1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ec704f606dbf4dcbb285366cf2f3efb1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-73cba8ca31b2443591589c0f0cc3486f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-c9b0224870bf46009d412a877be497ac.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c9b0224870bf46009d412a877be497ac.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-dc8431c3946041a9848747857c2062b7.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-dc8431c3946041a9848747857c2062b7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-cb33d8dbb6904b48bdcb1e6a83124a2d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-cb33d8dbb6904b48bdcb1e6a83124a2d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-58c2edba578240b0ad68f156229d40dd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-58c2edba578240b0ad68f156229d40dd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-19596836c08a4b0caf69e7d074f9afd1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-19596836c08a4b0caf69e7d074f9afd1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-18063228f6c2450882ff3a003f42ca8e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-18063228f6c2450882ff3a003f42ca8e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-58d26f408c3c47f3b8c83f89aafd4757.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-58d26f408c3c47f3b8c83f89aafd4757.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element">  </a> </td>
											    <td> <a href="../elements/id-439b868d04e14c74a14084936976637b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-0fad4322ad884247a38edae0907c2dc1.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-0fad4322ad884247a38edae0907c2dc1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ed54b0816b39453ea195d77a7bbc18cd.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ed54b0816b39453ea195d77a7bbc18cd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-53ded6d2a8414b9ab7545fa3f24b182d.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-53ded6d2a8414b9ab7545fa3f24b182d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-f222d58f742c49c38a51d3763d8f69eb.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-f222d58f742c49c38a51d3763d8f69eb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c038b4eed1444559b2e98d10c413b5de.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-c038b4eed1444559b2e98d10c413b5de.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d7a7508b7b7a4b999c7a74449e094822.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-d7a7508b7b7a4b999c7a74449e094822.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-da995693e1a944568550a252f776fe41.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-da995693e1a944568550a252f776fe41.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1006baecd5b04e66859e4892238ae44b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1006baecd5b04e66859e4892238ae44b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-73b4458433ab46298ec37f3253cbf696.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-73b4458433ab46298ec37f3253cbf696.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-2213a89be84140498ce8a1e6273812fe.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-2213a89be84140498ce8a1e6273812fe.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8b5b1adf0fe34c78b7b02273ef6aa397.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-8b5b1adf0fe34c78b7b02273ef6aa397.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-4236fb6def1a46b9932df2e814984f02.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-4236fb6def1a46b9932df2e814984f02.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ff84aee89fab41f59c113039934220ba.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-ff84aee89fab41f59c113039934220ba.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-959b03ecf2024280af8697e66a0cf95b.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-959b03ecf2024280af8697e66a0cf95b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-24ebea66d7c341019a2eebb61b52eb28.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-24ebea66d7c341019a2eebb61b52eb28.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1a3681ee08aa46ada57c61594e42744e.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1a3681ee08aa46ada57c61594e42744e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-3420ec16440848cba8c83476e927b7b8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3420ec16440848cba8c83476e927b7b8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element"> Legal </a> </td>
											    <td> <a href="../elements/id-9f700eda860f4288a4291a6436e6ba21.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element"> Security </a> </td>
											    <td> <a href="../elements/id-61fca7296b7f413a983a42549447be95.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element"> Service Channel </a> </td>
											    <td> <a href="../elements/id-8a560d80ba674419b127602532fe7b58.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element"> Service Process </a> </td>
											    <td> <a href="../elements/id-064b4513af0d470eb727775c55541f5c.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element"> Service Category </a> </td>
											    <td> <a href="../elements/id-3f85a70080354e30a0553f2eda91a91a.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element"> Single Platform </a> </td>
											    <td> <a href="../elements/id-1e3f691f94ff449db210c1ecebe16763.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element"> Service Support  Taskforce </a> </td>
											    <td> <a href="../elements/id-47963d14f3d149339c7c6d5170867c2b.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html" target="element"> Business Function (copy) </a> </td>
											    <td> <a href="../elements/id-2f5c694ef11c4400a15e77d5e4390220.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-93996b4030fc4f3b9d0a47af44e260c4.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-93996b4030fc4f3b9d0a47af44e260c4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-6afcce251b084517b25d2b9486fb8f37.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-6afcce251b084517b25d2b9486fb8f37.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-67d67e8cd8b34fc6a48f29c2e3623675.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-67d67e8cd8b34fc6a48f29c2e3623675.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-1e07672ba495472898e1c6c61035444f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-1e07672ba495472898e1c6c61035444f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-69dde90081644a109fb25f53cc52ba9c.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-69dde90081644a109fb25f53cc52ba9c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-3223248e3aa14305a903a002ac5b002f.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-3223248e3aa14305a903a002ac5b002f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>